<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <label for="">
        {{"NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_NAME"| translate}}: {{ patientName }}
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
    <div class="form-group">
      <label for="">
        {{"NEDSS.INVESTIGATIONS.percentage"| translate}}
        <span class="mx-4" style="font-size: larger; color: red">
          <!-- {{ precentile.value }} % -->
          {{ allControllesCount === 0 ? '0.00' : (completionPercentage | number:'1.0-2') }} %
        </span>
      </label>
      <input #precentile type="range" class="form-range bg" onkeypress="false" [readonly]="true"
        style="border-radius: 11.7px; border: 5.5px solid white" min="0" max="100" step="1" id="customRange3"
        [value]="completionPercentage" />
      <!-- value="{{controlsCount}}" formControlName="completePercentage" /> -->
    </div>
  </div>
  <div class="col-lg-4">
    {{"NEDSS.INVESTIGATIONS.Filled"| translate}}
    {{allFilledControlsCount}}
    {{"NEDSS.INVESTIGATIONS.Field"| translate}}
    {{"NEDSS.INVESTIGATIONS.From"| translate}}
    {{allControllesCount}}
    {{"NEDSS.INVESTIGATIONS.Field"| translate}}
  </div>
</div>
