@font-face {
  font-family: "kufi";
  /* src: url("../../../Fonts/NedssFonts/Cairo-VariableFont_slnt,wght.ttf"); */
  src: url("../../../Fonts/Tajawal/Tajawal-Regular.ttf");
}

body {
  /* font-family: "Droid Arabic Kufi", serif !important; */
  font-family: "Tajawal", serif !important;
  font-weight: 400 !important;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 100vh !important;
  font-size: 12px !important;
}

body.theme_7 .color-d-2 {
  font-size: 15px !important;
}

#dis {
  color: #000 !important;
  font-size: 11px !important;
}

body.blue_tone main {
  background-color: rgba(13, 110, 253, 0.08) !important;
}

body.blue_tone .bg,
body.blue_tone .active {
  background-color: #288cf1;
}

body.blue_tone #rightNav ul a:hover {
  color: #288cf1;
  padding-right: 15px;
  transition: 0.3s all;
}

body.blue_tone #rightNav ul a.active {
  color: #fff;
}

body.blue_tone .border-color {
  border-color: #288cf1 !important;
}

body.blue_tone .color {
  color: #288cf1;
}

body.blue_tone .color .accordion-collapse {
  color: #288cf1;
}

body.blue_tone .form-titles {
  background-color: #288cf1;
  color: #fff;
}

body.blue_tone .color-d-1 {
  color: #0257d5;
}

body.blue_tone .color-d-2 {
  color: #0143a3;
}

body.blue_tone .color-d-3 {
  color: #012e70;
}

body.blue_tone .color-d-4 {
  color: #01193d;
}

body.blue_tone .color-d-5 {
  color: #00040b;
}

body.blue_tone .color-l-1 {
  color: #408cfd;
}

body.blue_tone .color-l-2 {
  color: #72abfe;
}

body.blue_tone .color-l-3 {
  color: #a5c9fe;
}

body.blue_tone .color-l-4 {
  color: #d7e7ff;
}

body.blue_tone .color-l-5 {
  color: white;
}

body.blue_tone .hover:hover {
  color: #288cf1;
}

body.blue_tone th {
  background-color: rgba(13, 110, 253, 0.2);
  color: #0e4fb1;
}

body.blue_tone .img-selector {
  border-color: #288cf1;
}

body.blue_tone .help-cards .card a .bi {
  background: #288cf1;
}

body.blue_tone .top-nav a {
  color: #408cfd;
}

body.blue_tone .form-control:focus {
  background-color: rgba(13, 110, 253, 0.02) !important;
  box-shadow: 0 0 5px 0px #288cf1;
  color: #0a6cfd;
  transition: 0.3s all;
}

.bg-blue_tone {
  background-color: #288cf1;
}

body.blue_tone2 main {
  background-color: rgba(17, 178, 240, 0.08) !important;
}

body.blue_tone2 .bg,
body.blue_tone2 .active {
  background-color: #11b2f0;
}

body.blue_tone2 #rightNav ul a:hover {
  color: #11b2f0;
  padding-right: 15px;
  transition: 0.3s all;
}

body.blue_tone2 #rightNav ul a.active {
  color: #fff;
}

body.blue_tone2 .border-color {
  border-color: #11b2f0 !important;
}

body.blue_tone2 .color {
  color: #11b2f0;
}

body.blue_tone2 .color .accordion-collapse {
  color: #11b2f0;
}

body.blue_tone2 .form-titles {
  background-color: #11b2f0;
  color: #fff;
}

body.blue_tone2 .color-d-1 {
  color: #0c8fc2;
}

body.blue_tone2 .color-d-2 {
  color: #096c92;
}

body.blue_tone2 .color-d-3 {
  color: #064862;
}

body.blue_tone2 .color-d-4 {
  color: #032532;
}

body.blue_tone2 .color-d-5 {
  color: #000102;
}

body.blue_tone2 .color-l-1 {
  color: #41c2f3;
}

body.blue_tone2 .color-l-2 {
  color: #71d1f6;
}

body.blue_tone2 .color-l-3 {
  color: #a1e1f9;
}

body.blue_tone2 .color-l-4 {
  color: #d1f0fc;
}

body.blue_tone2 .color-l-5 {
  color: white;
}

body.blue_tone2 .hover:hover {
  color: #11b2f0;
}

body.blue_tone2 th {
  background-color: rgba(17, 178, 240, 0.2);
  color: #0e7fac;
}

body.blue_tone2 .img-selector {
  border-color: #11b2f0;
}

body.blue_tone2 .help-cards .card a .bi {
  background: #11b2f0;
}

body.blue_tone2 .top-nav a {
  color: #41c2f3;
}

body.blue_tone2 .form-control:focus {
  background-color: rgba(17, 178, 240, 0.02) !important;
  box-shadow: 0 0 5px 0px #11b2f0;
  color: #0fb1ef;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-blue_tone2 {
  background-color: #11b2f0;
}

body.brown_tone main {
  background-color: rgba(218, 161, 0, 0.08) !important;
}

body.brown_tone .bg,
body.brown_tone .active {
  background-color: #daa100;
}

body.brown_tone #rightNav ul a:hover {
  color: #daa100;
  padding-right: 15px;
  transition: 0.3s all;
}

body.brown_tone #rightNav ul a.active {
  color: #fff;
}

body.brown_tone .border-color {
  border-color: #daa100 !important;
}

body.brown_tone .color {
  color: #daa100;
}

body.brown_tone .color .accordion-collapse {
  color: #daa100;
}

body.brown_tone .form-titles {
  background-color: #daa100;
  color: #fff;
}

body.brown_tone .color-d-1 {
  color: #a77b00;
}

body.brown_tone .color-d-2 {
  color: #745600;
}

body.brown_tone .color-d-3 {
  color: #413000;
}

body.brown_tone .color-d-4 {
  color: #0e0a00;
}

body.brown_tone .color-d-5 {
  color: black;
}

body.brown_tone .color-l-1 {
  color: #ffc00e;
}

body.brown_tone .color-l-2 {
  color: #ffcd41;
}

body.brown_tone .color-l-3 {
  color: #ffdb74;
}

body.brown_tone .color-l-4 {
  color: #ffe8a7;
}

body.brown_tone .color-l-5 {
  color: #fff5da;
}

body.brown_tone .hover:hover {
  color: #19a12b;
}

body.brown_tone th {
  background-color: rgba(218, 161, 0, 0.2);
  color: #aa8110;
}

body.brown_tone .img-selector {
  border-color: #daa100;
}

body.brown_tone .help-cards .card a .bi {
  background: #daa100;
}

body.brown_tone .top-nav a {
  color: #ffc00e;
}

body.brown_tone .form-control:focus {
  background-color: rgba(218, 161, 0, 0.02) !important;
  box-shadow: 0 0 5px 0px #daa100;
  color: #d79f00;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-brown_tone {
  background-color: #daa100;
}

body.theme_3 main {
  background-color: rgba(220, 53, 69, 0.08) !important;
}

body.theme_3 .bg,
body.theme_3 .active {
  background-color: #dc3545;
}

body.theme_3 #rightNav ul a:hover {
  color: #dc3545;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_3 #rightNav ul a.active {
  color: #fff;
}

body.theme_3 .border-color {
  border-color: #dc3545 !important;
}

body.theme_3 .color {
  color: #dc3545;
}

body.theme_3 .color .accordion-collapse {
  color: #dc3545;
}

body.theme_3 .form-titles {
  background-color: #dc3545;
  color: #fff;
}

body.theme_3 .color-d-1 {
  color: #bd2130;
}

body.theme_3 .color-d-2 {
  color: #921925;
}

body.theme_3 .color-d-3 {
  color: #66121a;
}

body.theme_3 .color-d-4 {
  color: #3b0a0f;
}

body.theme_3 .color-d-5 {
  color: #0f0304;
}

body.theme_3 .color-l-1 {
  color: #e4606d;
}

body.theme_3 .color-l-2 {
  color: #eb8c95;
}

body.theme_3 .color-l-3 {
  color: #f3b7bd;
}

body.theme_3 .color-l-4 {
  color: #fae3e5;
}

body.theme_3 .color-l-5 {
  color: white;
}

body.theme_3 .hover:hover {
  color: #dc3545;
}

body.theme_3 th {
  background-color: rgba(220, 53, 69, 0.2);
  color: #b80f20;
}

body.theme_3 .img-selector {
  border-color: #dc3545;
}

body.theme_3 .help-cards .card a .bi {
  background: #dc3545;
}

body.theme_3 .top-nav a {
  color: #e4606d;
}

body.theme_3 .form-control:focus {
  background-color: rgba(220, 53, 69, 0.02) !important;
  box-shadow: 0 0 5px 0px #dc3545;
  color: #dc3343;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_3 {
  background-color: #dc3545;
}

body.theme_4 main {
  background-color: rgba(214, 51, 132, 0.08) !important;
}

body.theme_4 .bg,
body.theme_4 .active {
  background-color: #d63384;
}

body.theme_4 #rightNav ul a:hover {
  color: #d63384;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_4 #rightNav ul a.active {
  color: #fff;
}

body.theme_4 .border-color {
  border-color: #d63384 !important;
}

body.theme_4 .color {
  color: #d63384;
}

body.theme_4 .color .accordion-collapse {
  color: #d63384;
}

body.theme_4 .form-titles {
  background-color: #d63384;
  color: #fff;
}

body.theme_4 .color-d-1 {
  color: #b2246b;
}

body.theme_4 .color-d-2 {
  color: #881b51;
}

body.theme_4 .color-d-3 {
  color: #5d1338;
}

body.theme_4 .color-d-4 {
  color: #330a1e;
}

body.theme_4 .color-d-5 {
  color: #080205;
}

body.theme_4 .color-l-1 {
  color: #df5d9e;
}

body.theme_4 .color-l-2 {
  color: #e788b7;
}

body.theme_4 .color-l-3 {
  color: #f0b2d1;
}

body.theme_4 .color-l-4 {
  color: #f8ddea;
}

body.theme_4 .color-l-5 {
  color: white;
}

body.theme_4 .hover:hover {
  color: #d63384;
}

body.theme_4 th {
  background-color: rgba(214, 51, 132, 0.2);
  color: #af105f;
}

body .theme_4 .img-selector {
  border-color: #d63384;
}

body.theme_4 .help-cards .card a .bi {
  background: #d63384;
}

body.theme_4 .top-nav a {
  color: #df5d9e;
}

body.theme_4 .form-control:focus {
  background-color: rgba(214, 51, 132, 0.02) !important;
  box-shadow: 0 0 5px 0px #d63384;
  color: #d63183;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_4 {
  background-color: #d63384;
}

body.theme_5 main {
  background-color: rgba(33, 37, 41, 0.08) !important;
}

body.theme_5 .bg,
body.theme_5 .active {
  background-color: #212529;
}

body.theme_5 #rightNav ul a:hover {
  color: #212529;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_5 #rightNav ul a.active {
  color: #fff;
}

body.theme_5 .border-color {
  border-color: #212529 !important;
}

body.theme_5 .color {
  color: #212529;
}

body.theme_5 .color .accordion-collapse {
  color: #212529;
}

body.theme_5 .form-titles {
  background-color: #212529;
  color: #fff;
}

body.theme_5 .color-d-1 {
  color: #0a0c0d;
}

body.theme_5 .color-d-2 {
  color: black;
}

body.theme_5 .color-d-3 {
  color: black;
}

body.theme_5 .color-d-4 {
  color: black;
}

body.theme_5 .color-d-5 {
  color: black;
}

body.theme_5 .color-l-1 {
  color: #383f45;
}

body.theme_5 .color-l-2 {
  color: #4e5862;
}

body.theme_5 .color-l-3 {
  color: #65727e;
}

body.theme_5 .color-l-4 {
  color: #7e8b98;
}

body.theme_5 .color-l-5 {
  color: #9ba5ae;
}

body.theme_5 .hover:hover {
  color: #212529;
}

body.theme_5 th {
  background-color: rgba(33, 37, 41, 0.2);
  color: rgb(37, 36, 36);
}

body.theme_5 .img-selector {
  border-color: #212529;
}

body.theme_5 .help-cards .card a .bi {
  background: #212529;
}

body.theme_5 .top-nav a {
  color: #383f45;
}

body.theme_5 .form-control:focus {
  background-color: rgba(33, 37, 41, 0.02) !important;
  box-shadow: 0 0 5px 0px #212529;
  color: #202428;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_5 {
  background-color: #212529;
}

body.theme_6 main {
  background-color: rgba(108, 117, 125, 0.08) !important;
}

body.theme_6 .bg,
body.theme_6 .active {
  background-color: #6c757d;
}

body.theme_6 #rightNav ul a:hover {
  color: #6c757d;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_6 #rightNav ul a.active {
  color: #fff;
}

body.theme_6 .border-color {
  border-color: #6c757d !important;
}

body.theme_6 .color {
  color: #6c757d;
}

body.theme_6 .color .accordion-collapse {
  color: #6c757d;
}

body.theme_6 .form-titles {
  background-color: #6c757d;
  color: #fff;
}

body.theme_6 .color-d-1 {
  color: #545b62;
}

body.theme_6 .color-d-2 {
  color: #3d4246;
}

body.theme_6 .color-d-3 {
  color: #25282b;
}

body.theme_6 .color-d-4 {
  color: #0d0f10;
}

body.theme_6 .color-d-5 {
  color: black;
}

body.theme_6 .color-l-1 {
  color: #868e96;
}

body.theme_6 .color-l-2 {
  color: #a1a8ae;
}

body.theme_6 .color-l-3 {
  color: #bcc1c6;
}

body.theme_6 .color-l-4 {
  color: #d8dbdd;
}

body.theme_6 .color-l-5 {
  color: #f3f4f5;
}

body.theme_6 .hover:hover {
  color: #6c757d;
}

body.theme_6 th {
  background-color: rgba(108, 117, 125, 0.2);
  color: #616466;
}

body.theme_6 .img-selector {
  border-color: #6c757d;
}

body.theme_6 .help-cards .card a .bi {
  background: #6c757d;
}

body.theme_6 .top-nav a {
  color: #868e96;
}

body.theme_6 .form-control:focus {
  background-color: rgba(108, 117, 125, 0.02) !important;
  box-shadow: 0 0 5px 0px #6c757d;
  color: #6b747c;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_6 {
  background-color: #6c757d;
}

@media print {
  body.theme_7 main {
    background-color: transparent !important;
    border: 0 !important;
  }
}

body.theme_7 main {
  background-color: #f7f7f7;
}

body.theme_7 .active {
  font-size: 12px;
}

body.theme_7 .list-group-item.active {
  background-color: #1a73e8 !important;
  font-size: 12px;
}

body.theme_7 .bg {
  background-color: #007bff !important;
  font-size: 12px;
}

body.theme_7 .bg:hover {
}

body.theme_7 #rightNav ul a {
  margin-bottom: 7px;
  font-weight: bold !important;
}

body.theme_7 #rightNav ul a:hover {
  color: #0778be !important;
  background: rgba(255, 255, 255, 0.8) !important;
  padding-right: 15px;
  transition: 0.3s all;
  border-radius: 5px;
  margin-bottom: 7px;
}

body.theme_7 #rightNav ul a.active {
  color: #0778be !important;
  background: rgba(255, 255, 255, 0.8) !important;
  font-size: 10pt;
  border-radius: 5px;
  margin-bottom: 7px;
}

body.theme_7 .border-color {
  border-color: #6c757d !important;
  font-size: 12px;
}

body.theme_7 .color .accordion-collapse {
  color: #000 !important;
}

body.theme_7 .form-titles {
  background-color: #1a73e8 !important;
  color: #fff;
}

body.theme_7 .color-d-1 {
  color: #0c4128;
}

body.theme_7 .color-d-2 {
  color: #04160e;
}

body.theme_7 .color-d-3 {
  color: black;
}

body.theme_7 .color-d-4 {
  color: black;
}

body.theme_7 .color-d-5 {
  color: black;
}

body.theme_7 .color-l-1 {
  color: #1c975e;
}

body.theme_7 .color-l-2 {
  color: #24c278;
}

body.theme_7 .color-l-3 {
  color: #3edb92;
}

body.theme_7 .color-l-4 {
  color: #69e3aa;
}

body.theme_7 .color-l-5 {
  color: #94ebc2;
}

body.theme_7 .hover:hover {
  color: #6c757d !important;
}

body.theme_7 th {
  background-color: rgba(20, 108, 67, 0.2);
  color: #000;
}

body.theme_7 .img-selector {
  border-color: #6c757d !important;
}

body.theme_7 .help-cards .card a .bi {
  background: #1a73e8 !important;
}

.list-group-item {
  background-color: #6c757d !important;
  color: #fff;
}

body.theme_7 .top-nav a {
  color: #fff;
}

body.theme_7 .form-control:focus {
  background-color: rgba(20, 108, 67, 0.02) !important;
  box-shadow: 0 0 5px 0px #6c757d !important;
  color: #146a42;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_7 {
  /* background-color: #6c757d !important; */
}

body.theme_8 main {
  background-color: rgba(218, 161, 0, 0.08) !important;
}

body.theme_8 .bg,
body.theme_8 .active {
  background-color: #daa100;
}

body.theme_8 #rightNav ul a:hover {
  color: #daa100;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_8 #rightNav ul a.active {
  color: #fff;
}

body.theme_8 .border-color {
  border-color: #daa100 !important;
}

body.theme_8 .color {
  color: #daa100;
}

body.theme_8 .color .accordion-collapse {
  color: #daa100;
}

body.theme_8 .form-titles {
  background-color: #daa100;
  color: #fff;
}

body.theme_8 .color-d-1 {
  color: #a77b00;
}

body.theme_8 .color-d-2 {
  color: #745600;
}

body.theme_8 .color-d-3 {
  color: #413000;
}

body.theme_8 .color-d-4 {
  color: #0e0a00;
}

body.theme_8 .color-d-5 {
  color: black;
}

body.theme_8 .color-l-1 {
  color: #ffc00e;
}

body.theme_8 .color-l-2 {
  color: #ffcd41;
}

body.theme_8 .color-l-3 {
  color: #ffdb74;
}

body.theme_8 .color-l-4 {
  color: #ffe8a7;
}

body.theme_8 .color-l-5 {
  color: #fff5da;
}

body.theme_8 .hover:hover {
  color: #daa100;
}

body.theme_8 th {
  background-color: rgba(218, 161, 0, 0.2);
  color: #a57e14;
}

body.theme_8 .img-selector {
  border-color: #daa100;
}

body.theme_8 .help-cards .card a .bi {
  background: #daa100;
}

body.theme_8 .top-nav a {
  color: #ffc00e;
}

body.theme_8 .form-control:focus {
  background-color: rgba(218, 161, 0, 0.02) !important;
  box-shadow: 0 0 5px 0px #daa100;
  color: #d79f00;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_8 {
  background-color: #daa100;
}

body.theme_9 main {
  background-color: rgba(176, 160, 134, 0.08) !important;
}

body.theme_9 .bg,
body.theme_9 .active {
  background-color: #b0a086;
}

body.theme_9 #rightNav ul a:hover {
  color: #b0a086;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_9 #rightNav ul a.active {
  color: #fff;
}

body.theme_9 .border-color {
  border-color: #b0a086 !important;
}

body.theme_9 .color {
  color: #b0a086;
}

body.theme_9 .color .accordion-collapse {
  color: #b0a086;
}

body.theme_9 .form-titles {
  background-color: #b0a086;
  color: #fff;
}

body.theme_9 .color-d-1 {
  color: #9c8867;
}

body.theme_9 .color-d-2 {
  color: #7e6d52;
}

body.theme_9 .color-d-3 {
  color: #5f523e;
}

body.theme_9 .color-d-4 {
  color: #40382a;
}

body.theme_9 .color-d-5 {
  color: #211d16;
}

body.theme_9 .color-l-1 {
  color: #c4b8a5;
}

body.theme_9 .color-l-2 {
  color: #d8d0c4;
}

body.theme_9 .color-l-3 {
  color: #ece9e3;
}

body.theme_9 .color-l-4 {
  color: white;
}

body.theme_9 .color-l-5 {
  color: white;
}

body.theme_9 .hover:hover {
  color: #b0a086;
}

body.theme_9 th {
  background-color: rgba(176, 160, 134, 0.2);
  color: #91641d;
}

body.theme_9 .img-selector {
  border-color: #b0a086;
}

body.theme_9 .help-cards .card a .bi {
  background: #b0a086;
}

body.theme_9 .top-nav a {
  color: #c4b8a5;
}

body.theme_9 .form-control:focus {
  background-color: rgba(176, 160, 134, 0.02) !important;
  box-shadow: 0 0 5px 0px #b0a086;
  color: #af9f84;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_9 {
  background-color: #b0a086;
}

body.theme_10 main {
  background-color: rgba(171, 211, 191, 0.08) !important;
}

body.theme_10 .bg,
body.theme_10 .active {
  background-color: #abd3bf;
}

body.theme_10 #rightNav ul a:hover {
  color: #abd3bf;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_10 #rightNav ul a.active {
  color: #fff;
}

body.theme_10 .border-color {
  border-color: #abd3bf !important;
}

body.theme_10 .color {
  color: #abd3bf;
}

body.theme_10 .color .accordion-collapse {
  color: #abd3bf;
}

body.theme_10 .form-titles {
  background-color: #abd3bf;
  color: #fff;
}

body.theme_10 .color-d-1 {
  color: #8ac1a6;
}

body.theme_10 .color-d-2 {
  color: #68b08c;
}

body.theme_10 .color-d-3 {
  color: #4f9673;
}

body.theme_10 .color-d-4 {
  color: #3d7559;
}

body.theme_10 .color-d-5 {
  color: #2c5340;
}

body.theme_10 .color-l-1 {
  color: #cce5d9;
}

body.theme_10 .color-l-2 {
  color: #eef6f2;
}

body.theme_10 .color-l-3 {
  color: white;
}

body.theme_10 .color-l-4 {
  color: white;
}

body.theme_10 .color-l-5 {
  color: white;
}

body.theme_10 .hover:hover {
  color: #abd3bf;
}

body.theme_10 th {
  background-color: rgba(171, 211, 191, 0.2);
  color: #23a062;
}

body.theme_10 .img-selector {
  border-color: #abd3bf;
}

body.theme_10 .help-cards .card a .bi {
  background: #abd3bf;
}

body.theme_10 .top-nav a {
  color: #cce5d9;
}

body.theme_10 .form-control:focus {
  background-color: rgba(171, 211, 191, 0.02) !important;
  box-shadow: 0 0 5px 0px #abd3bf;
  color: #a9d2be;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_10 {
  background-color: #abd3bf;
}

body.theme_11 main {
  background-color: rgba(121, 105, 217, 0.08) !important;
}

body.theme_11 .bg,
body.theme_11 .active {
  background-color: #7969d9;
}

body.theme_11 #rightNav ul a:hover {
  color: #7969d9;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_11 #rightNav ul a.active {
  color: #fff;
}

body.theme_11 .border-color {
  border-color: #7969d9 !important;
}

body.theme_11 .color {
  color: #7969d9;
}

body.theme_11 .color .accordion-collapse {
  color: #7969d9;
}

body.theme_11 .form-titles {
  background-color: #7969d9;
  color: #fff;
}

body.theme_11 .color-d-1 {
  color: #5540cf;
}

body.theme_11 .color-d-2 {
  color: #3f2cb0;
}

body.theme_11 .color-d-3 {
  color: #312287;
}

body.theme_11 .color-d-4 {
  color: #22185e;
}

body.theme_11 .color-d-5 {
  color: #130e35;
}

body.theme_11 .color-l-1 {
  color: #9d92e3;
}

body.theme_11 .color-l-2 {
  color: #c2baee;
}

body.theme_11 .color-l-3 {
  color: #e6e3f8;
}

body.theme_11 .color-l-4 {
  color: white;
}

body.theme_11 .color-l-5 {
  color: white;
}

body.theme_11 .hover:hover {
  color: #7969d9;
}

body.theme_11 th {
  background-color: rgba(121, 105, 217, 0.2);
  color: #2f17b6;
}

body.theme_11 .img-selector {
  border-color: #7969d9;
}

body.theme_11 .help-cards .card a .bi {
  background: #7969d9;
}

body.theme_11 .top-nav a {
  color: #9d92e3;
}

body.theme_11 .form-control:focus {
  background-color: rgba(121, 105, 217, 0.02) !important;
  box-shadow: 0 0 5px 0px #7969d9;
  color: #7767d8;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_11 {
  background-color: #7969d9;
}

body.theme_12 main {
  background-color: rgba(52, 78, 65, 0.08) !important;
}

body.theme_12 .bg,
body.theme_12 .active {
  background-color: #344e41;
}

body.theme_12 #rightNav ul a:hover {
  color: #344e41;
  padding-right: 15px;
  transition: 0.3s all;
}

body.theme_12 #rightNav ul a.active {
  color: #fff;
}

body.theme_12 .border-color {
  border-color: #344e41 !important;
}

body.theme_12 .color {
  color: #344e41;
}

body.theme_12 .color .accordion-collapse {
  color: #344e41;
}

body.theme_12 .form-titles {
  background-color: #344e41;
  color: #fff;
}

body.theme_12 .color-d-1 {
  color: #202f28;
}

body.theme_12 .color-d-2 {
  color: #0b110e;
}

body.theme_12 .color-d-3 {
  color: black;
}

body.theme_12 .color-d-4 {
  color: black;
}

body.theme_12 .color-d-5 {
  color: black;
}

body.theme_12 .color-l-1 {
  color: #486d5b;
}

body.theme_12 .color-l-2 {
  color: #5d8b74;
}

body.theme_12 .color-l-3 {
  color: #77a48e;
}

body.theme_12 .color-l-4 {
  color: #95b9a7;
}

body.theme_12 .color-l-5 {
  color: #b4cdc1;
}

body.theme_12 .hover:hover {
  color: #344e41;
}

body.theme_12 th {
  background-color: rgba(52, 78, 65, 0.2);
  color: #1b2922;
}

body.theme_12 .img-selector {
  border-color: #344e41;
}

body.theme_12 .help-cards .card a .bi {
  background: #344e41;
}

body.theme_12 .top-nav a {
  color: #486d5b;
}

body.theme_12 .form-control:focus {
  background-color: rgba(52, 78, 65, 0.02) !important;
  box-shadow: 0 0 5px 0px #344e41;
  color: #334c40;
  position: relative;
  top: -5px;
  padding-bottom: 10px;
  transition: 0.3s all;
}

.bg-theme_12 {
  background-color: #344e41;
}

.main-container {
  display: flex;
}

.main-container #rightNav {
  width: 260px;
  transition: 0.3s all;
  background-color: #0778be;
}

/* .main-container main {
  width: calc(100% - 0px);
} */
.main-container.nav-collapsed .main-page {
  width: calc(100% - 75px);
}

.main-container .main-page {
  width: calc(100% - 260px);
}

.bi {
  font: normal normal normal 15px/1 FontAwesome !important;
}

.main-container.nav-collapsed #rightNav {
  width: 75px;
}

.main-container.nav-collapsed #rightNav nav ul {
  margin: 0;
}

.main-container.nav-collapsed #rightNav .menu-text {
  display: none;
}

.table_report {
  overflow-x: auto;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
}

.btn:hover {
  background-color: #6c757d !important;
}

.text-start {
  border-bottom: 1px solid #ddd;
  border-radius: 10%;
}

.main-container.nav-collapsed #rightNav a::after {
  content: "";
}

.main-container.nav-collapsed #rightNav a .bi {
  display: block;
  text-align: center;
  font-size: 15pt;
}

.text-dark {
  color: #000;
}

.text-dark a {
  color: #000;
}

.titles {
  padding-top: 10px;
  font-size: 25px;
}

.shadow {
  box-shadow: 0px 1px 8px rgba(10, 75, 109, 0.0784313725);
}

.mat-mdc-table .mdc-data-table__header-row {
  height: 40px !important;
}

.card {
  border-top-right-radius: 0;
}

.card.rounded {
  border-top-right-radius: 15px;
}

.form-titles {
  width: fit-content;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

a {
  text-decoration: none;
}

.font-weight-bold,
.fwb {
  font-weight: bold;
  font-size: 15px;
}

.fzs {
  font-size: small;
}

.fzs label {
  font-size: small;
}

.logo {
  height: 100px;
}

.pr-1 {
  padding-right: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.mr-1 {
  margin-right: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.pr-2 {
  padding-right: 2em;
}

.pl-2 {
  padding-left: 2em;
}

.mr-2 {
  margin-right: 2em;
}

.ml-2 {
  margin-left: 2em;
}

.pr-3 {
  padding-right: 3em;
}

.pl-3 {
  padding-left: 3em;
}

.mr-3 {
  margin-right: 3em;
}

.ml-3 {
  margin-left: 3em;
}

.pr-4 {
  padding-right: 4em;
}

.pl-4 {
  padding-left: 4em;
}

.mr-4 {
  margin-right: 4em;
}

.ml-4 {
  margin-left: 4em;
}

.pr-5 {
  padding-right: 5em;
}

.pl-5 {
  padding-left: 5em;
}

.mr-5 {
  margin-right: 5em;
}

.ml-5 {
  margin-left: 5em;
}

.border-left {
  border-left: 1px solid #ccc;
}

.border-right {
  border-right: 1px solid #ccc;
}

#rightNav {
  overflow-y: auto;
  position: relative;
  top: 0;
  right: 0;
}

.ar #rightNav #menuToggle {
  padding-right: 0.5em;
  padding-left: unset;
}

#rightNav #menuToggle {
  background-color: #0778be;
  font-size: unset;
  padding-left: 0.5em;
}

#rightNav #menuToggle .bi {
  color: #fff !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ar #rightNav #menuToggle .menu-text {
  color: #fff !important;
  margin-right: 10px !important;
}

#rightNav #menuToggle .menu-text {
  margin-left: 10px !important;
  max-width: 60px;
}

/* .ng-star-inserted input {
  padding: 5px 10px 5px 10px !important;
} */

.info-box-content {
  margin-left: unset !important;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: #000 !important;
}

#rightNav nav ul {
  list-style: none;
  padding: 0;
  margin: 0 10px;
}

#rightNav nav ul a {
  display: block;
  color: #fff !important;
  padding: 10px 7px;
  font-size: 10pt;
}

a:has(.bi-file-earmark-spreadsheet-fill) {
  position: relative;
}

.ar a:has(.bi-file-earmark-spreadsheet-fill):not(.no-sidebar-arrow)::after {
  content: "\f284";
  font-family: bootstrap-icons;
  display: inline-block;
  left: 6px;
  top: 9px;
  bottom: 0;
  position: absolute;
}

#rightNav nav ul a .bi {
  font-size: 12pt;
}

#rightNav nav ul a .bi::after {
  margin-left: 15px;
}

#rightNav nav ul a.active {
  color: #0778be;
  font-weight: bold;
}

.top-nav {
  /* margin-right: -24px;
  margin-left: -8px; */
  text-align: left;
  box-shadow: 3px 1px -5px 0px #ccc;
  background: #0778be;
  padding: 10px 0;
  border-bottom: 1px solid #fff;
}

.top-nav a {
  color: #1a2538;
  font-size: 14px;
}

/* .top-nav .bi {
  font-size: 25px;
  margin-left: 25px;
  font-weight: bold;
}
.top-nav .pi {
  margin-left: 25px;
  font-size: 14px;
} */
.top-nav .chat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fefefe;
  border-radius: 6px;
  width: 37px;
  height: 37px;
}

.top-nav .chat .bi {
  font-size: 14px !important;
}

.top-nav .notification {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fefefe;
  border-radius: 6px;
  width: 37px;
  height: 37px;
}

.top-nav .notification .pi {
  font-size: 14px;
}

.top-nav .change-lang {
  font-size: 14px;
  background-color: transparent;
  box-shadow: none;
  color: #fff;
  border: 1px solid #fefefe;
  border-radius: 6px;
  width: 37px;
  height: 37px;
  margin-left: 15px;
}

.top-nav .change-theme {
  font-size: 14px;
  background-color: transparent;
  box-shadow: none;
  color: #fff !important;
  border: 1px solid #fefefe !important;
  border-radius: 6px;
  width: 37px;
  height: 37px;
  margin-left: 15px;
}

.top-nav .change-theme .pi {
  font-size: 14px;
}

.top-nav .dropdown-toggle {
  font-weight: bold;
  color: #fff;
}

.top-nav .avatar-img {
  height: 29px;
  width: 29px;
}

.top-header-logo {
  max-width: 40px;
}

.sub-nav a {
  font-size: 12px;
}

.sub-nav a.active {
  font-weight: bold;
}

.sub-nav a::after {
  content: "\f284";
  font-family: bootstrap-icons;
  display: inline-block;
  float: left;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  display: block;
  position: relative;
  color: #04160e;
}

.form-control {
  border: 1px solid #b3b0b0;
  margin-bottom: 15px;
  position: relative;
  font-size: 9pt !important;
  border-radius: unset !important;
}

.accordion-item button {
  font-size: 14px;
}

.info-box-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.form-control[type="search"] {
  font-size: 12px;
  font-weight: bold;
  border-radius: 0;
}

/* background-image: url("../../../Images/search.svg");
  background-position-x: 1%;
  background-position-y: 5px;
  background-repeat: no-repeat;
}

select.form-control {
  appearance: auto;
}

textarea.form-control {
  height: 8em !important;
}

.accordion .accordion-button:not(.collapsed) {
  background-color: #fff !important;
}

.img-selector {
  border-style: dashed;
  border-width: 5px;
  width: 200px;
  text-align: center;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

.img-selector .bi {
  font-size: 50pt;
}

.has-labels label {
  display: inline-block;
  padding-left: 1em;
  margin-bottom: 1em;
}

.has-labels label:nth-child(even)::after {
  width: 1px;
  height: 10px;
  display: inline-block;
  background-color: rgba(204, 204, 204, 0.3);
  content: "";
  margin-right: 1em;
  margin-left: 1em;
}

.has-labels label:nth-child(even)::before {
  width: 1px;
  height: 10px;
  display: inline-block;
  background-color: rgba(204, 204, 204, 0.3);
  content: "";
  margin-right: 1em;
  margin-left: 1em;
}

label .text-muted {
  font-weight: normal !important;
  margin-right: 1em;
}

/** ===================================================
 *  [KEYFRAMES Animations]
 *  =================================================== **/
@keyframes _move_labels {
  from {
    top: -10px;
    opacity: 0;
    rotate: -180deg;
  }

  to {
    top: 0;
    opacity: 1;
    rotate: 0deg;
  }
}

@keyframes _move_inputs {
  0% {
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
  }

  10% {
    background-color: rgba(190, 190, 190, 0.1607843137);
  }

  100% {
    opacity: 1;
    visibility: visible;
    background-color: inherit;
  }
}

.table-reponsive .bi {
  font-size: 12pt;
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 0px;
  display: inline-block;
  color: #1a73e8;
}

.table-reponsive .pi {
  font-size: 12pt;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  display: inline-block;
  color: #1a73e8;
}

.table-reponsive {
  background-color: #fff;
}

.table th,
.table td {
  font-size: 9pt;
  padding: 5px 10px;
  text-align: center;
}

.table th .btn-sm,
.table td .btn-sm {
  color: #fff;
  font-size: 9pt;
}

.table .bi {
  font-size: 13px;
}

.align-middle td,
.align-middle th {
  vertical-align: middle;
}

.help-cards .card {
  margin-bottom: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0;
  background-color: #fff;
}

.help-cards .card .card-body {
  padding: 0;
}

.help-cards .card a {
  font-size: 12pt;
  font-weight: bold;
  display: block;
  width: 100%;
}

.help-cards .card a .card__text {
  display: flex;
  line-height: 3em;
  padding: 5px;
  color: #4b4b4b;
}

.help-cards .card a .bi {
  color: #fff;
  display: inline-block;
  float: right;
  width: 50px;
  height: 53.5px;
  line-height: 3em;
  text-align: center;
  font-size: 24px !important;
  padding-top: 4%;
}

.help-cards .card:hover {
  background-color: #f8f8f8;
  box-shadow: 0 1px 2px #ccc;
}

#colorChooser {
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0.8;
}

#colorChooser a {
  width: 20px;
  height: 20px;
  display: none;
  content: "";
  border: 1px solid #ccc;
  margin-left: 2px;
  font-size: 1px;
}

body.login {
  min-height: 100vh;
  background-image: url("../../../Images/medical-12.jpg");
  background-size: cover;
}

body.login .copyrights {
  text-shadow: 0 1px 1px #000;
}

/**nav tabs*/

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid #ebe9e9;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  width: auto;
  font-size: 14px;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-weight: 600;
  transition-duration: 0.2s;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.nav-tabs .nav-link.disabled {
  color: #aecbe5;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #495057 !important;
  background-color: #ffffff !important;
  border-color: #dee2e6 #dee2e6 #ffffff !important;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}

/**card*/

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 0) calc(0.25rem - 0) 0 0;
}

.card-header + .list-group .list-group-item:first-child {
  border-top: 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: transparent;
  border-top: 0;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 0) calc(0.25rem - 0);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: calc(0.25rem - 0);
  border-top-right-radius: calc(0.25rem - 0);
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: calc(0.25rem - 0);
  border-bottom-left-radius: calc(0.25rem - 0);
}

.card-deck .card {
  margin-bottom: 7.5px;
}

.card-group > .card {
  margin-bottom: 7.5px;
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

/* .card-primary:not(.card-outline)>.card-header {
  background-color: #212529;
} */

ul.nav-tabs.nav {
  background-color: #007bff;
}

.card-primary:not(.card-outline) > .card-header,
.card-primary:not(.card-outline) > .card-header a {
  color: #fff;
}

.card-primary:not(.card-outline) > .card-header a.active {
  color: #1f2d3d;
}

.card-primary.card-outline {
  border-top: 3px solid #007bff;
}

.card-primary.card-outline-tabs > .card-header a:hover {
  border-top: 3px solid #dee2e6;
}

.card-primary.card-outline-tabs > .card-header a.active {
  border-top: 3px solid #007bff;
}

.bg-primary .btn-tool,
.bg-gradient-primary .btn-tool,
.card-primary:not(.card-outline) .btn-tool {
  color: rgba(255, 255, 255, 0.8);
}

.bg-primary .btn-tool:hover,
.bg-gradient-primary .btn-tool:hover,
.card-primary:not(.card-outline) .btn-tool:hover {
  color: #ffffff;
}

.card.bg-primary .bootstrap-datetimepicker-widget .table td,
.card.bg-primary .bootstrap-datetimepicker-widget .table th,
.card.bg-gradient-primary .bootstrap-datetimepicker-widget .table td,
.card.bg-gradient-primary .bootstrap-datetimepicker-widget .table th {
  border: none;
}

.card.bg-primary
  .bootstrap-datetimepicker-widget
  table
  thead
  tr:first-child
  th:hover,
.card.bg-primary .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-primary .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-primary .bootstrap-datetimepicker-widget table td.minute:hover,
.card.bg-primary .bootstrap-datetimepicker-widget table td.second:hover,
.card.bg-gradient-primary
  .bootstrap-datetimepicker-widget
  table
  thead
  tr:first-child
  th:hover,
.card.bg-gradient-primary .bootstrap-datetimepicker-widget table td.day:hover,
.card.bg-gradient-primary .bootstrap-datetimepicker-widget table td.hour:hover,
.card.bg-gradient-primary
  .bootstrap-datetimepicker-widget
  table
  td.minute:hover,
.card.bg-gradient-primary
  .bootstrap-datetimepicker-widget
  table
  td.second:hover {
  background: #0067d6;
  color: #ffffff;
}

.card.bg-primary .bootstrap-datetimepicker-widget table td.today::before,
.card.bg-gradient-primary
  .bootstrap-datetimepicker-widget
  table
  td.today::before {
  border-bottom-color: #ffffff;
}

.card.bg-primary .bootstrap-datetimepicker-widget table td.active,
.card.bg-primary .bootstrap-datetimepicker-widget table td.active:hover,
.card.bg-gradient-primary .bootstrap-datetimepicker-widget table td.active,
.card.bg-gradient-primary
  .bootstrap-datetimepicker-widget
  table
  td.active:hover {
  background: #3395ff;
  color: #ffffff;
}

.mat-mdc-text-field-wrapper:not(.mdc-text-field--outlined)
  .mat-mdc-form-field-infix {
  padding-top: 5px;
}

.mat-mdc-input-element
  .mat-datepicker-input
  .form-control
  .ng-tns-c40-1
  .ng-valid
  .mat-mdc-form-field-input-control
  .mdc-text-field__input
  .cdk-text-field-autofill-monitored
  .ng-touched
  .ng-dirty {
  padding-top: 5px;
}

mdc-floating-label .mat-mdc-floating-label .ng-tns-c40-1 .ng-star-inserted {
  float: right;
}

.form-control-ar {
  border: 1px solid #ced4da;
  padding: 0.4rem 0.75rem !important;
  margin-bottom: 15px;
  border-radius: 6px !important;
  position: relative;
  font-size: 12pt !important;
  text-align: right !important;
}

.form-control-en {
  border: 1px solid #ced4da;
  padding: 0.4rem 0.75rem !important;
  /* height: 71% !important; */
  margin-bottom: 15px;
  border-radius: 6px !important;
  position: relative;
  font-size: 12pt !important;
  text-align: left !important;
}

.ar .p-dialog.p-confirm-dialog .p-confirm-dialog-message {
  margin-right: 1rem;
}

.ar .p-dialog .p-dialog-footer button {
  margin: 0 0 0 0.5rem;
}

.ar .p-dialog .p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
}

.ar .p-button .p-button-icon-left {
  margin-left: 0.5rem;
  margin-right: unset;
}

.p-dialog.p-confirm-dialog {
  padding: 0;
}

/* @media (min-width: 576px) {

} */
/* @media (min-width: 576px) {

} */
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
  }

  .main-container.nav-collapsed #rightNav .menu-text {
    display: none !important;
  }

  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
  }

  .card-deck .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-right: 7.5px;
    margin-bottom: 0;
    margin-left: 7.5px;
  }

  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .card-group > .card {
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group > .card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group > .card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  .card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }

  /* .main-container.nav-collapsed #rightNav a .menu-text {
    display: none !important;
  } */
}

@media screen and (max-width: 767px) {
  .top-header-logo {
    display: none;
  }

  .top-nav .notification {
    margin-left: 7px;
  }

  .top-nav .change-lang {
    margin-left: 7px;
  }

  .top-nav .change-theme {
    margin-left: 7px;
  }

  .top-nav .chat {
    margin-left: 7px;
  }

  .nav-tabs .nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
}
