<form class="cp-form" [formGroup]="changePasswordForm">
  <div class="cp-field">
    <label>{{ "NEDSS.HOME.CHANGE_PASSWORD.CURRENT_PASSWORD" | translate }}<span class="cp-req">*</span></label>
    <div class="cp-input">
      <input [type]="show.current ? 'text' : 'password'" class="form-control" formControlName="currentPassword"
        autocomplete="current-password" />
      <button type="button" class="cp-eye" (click)="toggle('current')" tabindex="-1"
        [attr.aria-label]="show.current ? 'hide' : 'show'">
        <i class="pi" [ngClass]="show.current ? 'pi-eye-slash' : 'pi-eye'"></i>
      </button>
    </div>
    <small *ngIf="changePasswordForm.controls['currentPassword'].touched && changePasswordForm.controls['currentPassword'].errors"
      class="cp-error">{{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}</small>
  </div>

  <div class="cp-field">
    <label>{{ "NEDSS.HOME.CHANGE_PASSWORD.NEW_PASSWORD" | translate }}<span class="cp-req">*</span></label>
    <div class="cp-input">
      <input [type]="show.next ? 'text' : 'password'" class="form-control" formControlName="newPassword"
        autocomplete="new-password" />
      <button type="button" class="cp-eye" (click)="toggle('next')" tabindex="-1"
        [attr.aria-label]="show.next ? 'hide' : 'show'">
        <i class="pi" [ngClass]="show.next ? 'pi-eye-slash' : 'pi-eye'"></i>
      </button>
    </div>
    <small *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors"
      class="cp-error">{{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}</small>
    <ul class="cp-rules">
      <li *ngFor="let rule of rules" [class.cp-rule--met]="rule.met">
        <i class="pi" [ngClass]="rule.met ? 'pi-check-circle' : 'pi-circle'"></i>
        <span>{{ rule.labelKey | translate }}</span>
      </li>
    </ul>
  </div>

  <div class="cp-field">
    <label>{{ "NEDSS.HOME.CHANGE_PASSWORD.CONFIREM_PASSWORD" | translate }}<span class="cp-req">*</span></label>
    <div class="cp-input">
      <input [type]="show.confirm ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
        autocomplete="new-password" />
      <button type="button" class="cp-eye" (click)="toggle('confirm')" tabindex="-1"
        [attr.aria-label]="show.confirm ? 'hide' : 'show'">
        <i class="pi" [ngClass]="show.confirm ? 'pi-eye-slash' : 'pi-eye'"></i>
      </button>
    </div>
    <small *ngIf="changePasswordForm.controls['confirmPassword'].touched && changePasswordForm.controls['confirmPassword'].errors"
      class="cp-error">{{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}</small>
  </div>
</form>
