.details-card-title {
  position: relative;
}
.details-card-title:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translateX(-50%);
  width: 60%;
  height: 1px;
  background-color: #ccc;
}
.fw-14 {
  font-size: 14px;
}
