<div class="row">
  <div class="d-flex flex-wrap align-items-center justify-content-between">
    <h2 class="titles">
      {{
      "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.INVESTIGATION-DETAILES"
      | translate
      }}
    </h2>

    <div class="d-flex align-items-center gap-3">
      <a
        [routerLink]="canContinueInvestigation() ? '../../compelete-investigation' : null"
        [attr.aria-disabled]="canContinueInvestigation() ? null : true"
        [class.disabled]="!canContinueInvestigation()"
        class="btn bg text-light"
      >
        {{
        "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.COMPLETETHEINVESTIGATION"
        | translate
        }}
      </a>
      <a class="btn bg text-light" data-bs-toggle="modal" data-bs-target="#modalId">
        {{
        "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.NOTINFERRING"
        | translate
        }}
      </a>
    </div>
  </div>

  <div class="col-12 mt-4">
    <div class="card rounded shadow">
      <h6 class="mx-auto my-3">
        <span class="details-card-title">
          {{
          "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.INCIDENTSOURCE-DETAILES"
          | translate
          }}
        </span>
      </h6>
      <div class="card-body bg-dark-mode">
        <div class="row">
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.GOVERBMENT"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.incidentGovernmentName }}
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.INCIDENTHEALTHADMINISTRATION"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14">
            {{ data.incidentHealthAdministrationName }}
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.INCIDENTSOURCE"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.incidentSourceName }}
          </div>
          <br />
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.INCIDENTDATE"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.incidentDate }}</div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.INCIDENTDEPARTMENT"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.incidentDepartmentName }}
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3"></div>
          <div class="col-6 col-md-2"></div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.FIRSTNAME"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.firstName }}</div>
          <br />
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.SECONDNAME"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.secondName }}</div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.THIRDNAME"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.thirdName }}</div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.FAMILYNAME"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.familyName }}</div>
          <br />
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.NATIONALITY"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.nationalityName }}
          </div>

          <ng-container *ngIf="data.nationalityId == 1">
            <div class="col-6 col-md-2 text-primary fw-14 mb-3">
              {{
              "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.NATIONALITYID"
              | translate
              }}
            </div>
            <div class="col-6 col-md-2 fw-14 mb-3">{{ data.nationalId }}</div>
          </ng-container>
          <ng-container *ngIf="data.nationalityId != 1">
            <div class="col-6 col-md-2 text-primary fw-14 mb-3">
              {{
              "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.PASSPORTNO"
              | translate
              }}
            </div>
            <div class="col-6 col-md-2 fw-14 mb-3">{{ data.passportNo }}</div>
            <br />
          </ng-container>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{ "NOUR.word57" | translate }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            <a class="text-dark">{{ data.phoneNo1 }}</a>
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.PHONENO2"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            <a class="text-dark">{{ data.phoneNo2 }}</a>
          </div>
          <br />
          <hr />
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.PATIENTDISEASES"
            | translate
            }}
          </div>
          <div class="col-4 fw-14 mb-3">
            <a class="colorWait text-dark">{{ data.patientDiseasesNames }}</a>
          </div>
          <div *ngIf="data?.finalDiagonisticsData?.length" class="col-12 col-md-12">
            <div class="row">
              <div class="col-12 col-md-2 text-primary fw-14 mb-3">
                {{
                "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.FINALDIAGONISTICS"
                | translate
                }}
              </div>
              <div class="col-10 fw-14 mb-3">
                <div class="row" *ngFor="let dieases of data.finalDiagonisticsData">
                  <a *ngIf="dieases.caseResultCategory" class="col-2 text-dark">{{ dieases.caseResultCategory }}</a>
                  <a *ngIf="dieases.finalResult" class="col-10 text-dark">{{
                    dieases.finalResult
                    }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mt-4">
    <div class="card rounded shadow">
      <h6 class="mx-auto my-3">
        <span class="details-card-title">
          {{
          "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.RESIDENCEDETAILS"
          | translate
          }}
        </span>
      </h6>
      <div class="card-body">
        <div class="row">
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.GOVERBMENT"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.homeGovernmentName }}
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.HOMEPRINCIPALITY"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.homePrincipalityName }}
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.HOMECITY"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.homeCityName }}</div>
          <br />
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.HOMEHEALTHADMINISTRATION"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.homeHealthAdministrationName }}
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.HOMEHEALTHOFFICE"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">
            {{ data.homeHealthOfficeName }}
          </div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3"></div>
          <div class="col-6 col-md-2"></div>
          <br />
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.LIVINGADDRESS"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.livingAddress }}</div>
          <div class="col-6 col-md-2 text-primary fw-14 mb-3">
            {{
            "NEDSS.INVESTIGATIONS.INVESTIGATIONS_DETAILES.WORKADDRESS"
            | translate
            }}
          </div>
          <div class="col-6 col-md-2 fw-14 mb-3">{{ data.workAddress }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-12 mt-0">
      <h2 class="titles">محل الاقامة</h2>
      <div class="card  shadow rounded color">
          <div class="card-body">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="">المحافظة</label>
                          <select name="" id="" class="form-control">
                              <option value=""></option>
                              <option value=""></option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="">الادارة</label>
                          <select name="" id="" class="form-control">
                              <option value=""></option>
                              <option value=""></option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="">المدينة/القسم</label>
                          <select name="" id="" class="form-control">
                              <option value=""></option>
                              <option value=""></option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="">مكتب الصحة التابع له</label>
                          <select name="" id="" class="form-control">
                              <option value=""></option>
                              <option value=""></option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="">المنطقة/القرية</label>
                          <select name="" id="" class="form-control">
                              <option value=""></option>
                              <option value=""></option>
                          </select>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="form-group">
                          <label for="">العنوان بالتفصيل</label>
                          <textarea name="" id="" class="form-control"></textarea>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <button type="submit"
                  class="btn bg pr-4 pl-4 rounded-4 text-white m-auto d-block btn-lg">حفظ</button>
          </div>
      </div>
  </div> -->
</div>

<!-- Modal -->
<div class="modal fade" id="modalId" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">
          {{
          "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.NOTINFERING"
          | translate
          }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="notFoundForm" (ngSubmit)="updateInvestigatio()">
        <div class="modal-body color">
          <div class="row">
            <div class="col-12 fwb color-d-1">
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.REASON" | translate
              }}
            </div>
            <div class="mt-3">
              <div class="col-11 mt-2 has-labels ms-2">
                <label for="InvestigationType" class="d-flex align-items-center gap-2">
                  <input type="radio" value="1" class="investigationsUpdateData" name="notInvestigationType"
                    id="InvestigationType" formControlName="notInvestigationType" />

                  {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.NUMBER"
                  | translate
                  }}
                </label>
                <label for="InvestigationType2" class="d-flex align-items-center gap-2">
                  <input type="radio" value="2" class="investigationsUpdateData" name="notInvestigationType"
                    id="InvestigationType2" formControlName="notInvestigationType" />

                  {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.ADDRESS"
                  | translate
                  }}
                </label>
                <label for="InvestigationType3" class="d-flex align-items-center gap-2">
                  <input type="radio" value="3" class="investigationsUpdateData" name="notInvestigationType"
                    id="InvestigationType3" formControlName="notInvestigationType" />

                  {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.OTHER"
                  | translate
                  }}
                </label>
              </div>
              <div class="col-11 has-labels ms-2">
                <label for="InvestigationType4" class="d-flex align-items-center gap-2">
                  <input type="radio" class="investigationsUpdateData" name="notInvestigationType"
                    id="InvestigationType4" value="4" formControlName="notInvestigationType" />

                  {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.EDITGOVERNMENT"
                  | translate
                  }}
                </label>
                <label for="InvestigationType5" class="d-flex align-items-center gap-2">
                  <input type="radio" class="investigationsUpdateData" name="notInvestigationType"
                    id="InvestigationType5" value="5" formControlName="notInvestigationType" />

                  {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.EDITOTHERADMININSAMEGOVR"
                  | translate
                  }}
                </label>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6 mt-3" *ngIf="notFoundForm?.value?.notInvestigationType == 4">
                  <div class="form-group">
                    <label for="" class="form-label">
                      {{
                      "NEDSS.HOME.GENERAL_DATA_RESIDENCEINFO.GOVERNMENT"
                      | translate
                      }}
                    </label>
                    <div *ngIf="currentLang == 'ar'">
                      <p-dropdown (onChange)="onGovernmentChanged()" [options]="governments"
                        [(ngModel)]="selectedGovernmentId" optionLabel="arabicName" optionValue="id" autoWidth="false"
                        [style]="{ width: '100%' }" formControlName="homeGovernmentId" [filter]="true"
                        filterBy="arabicName">
                      </p-dropdown>
                    </div>
                    <div *ngIf="currentLang == 'en'">
                      <p-dropdown (onChange)="onGovernmentChanged()" [options]="governments"
                        [(ngModel)]="selectedGovernmentId" optionLabel="englishName" optionValue="id" autoWidth="false"
                        [style]="{ width: '100%' }" formControlName="homeGovernmentId" [filter]="true"
                        filterBy="englishName">
                      </p-dropdown>
                    </div>
                    <!-- <ng-multiselect-dropdown
                      [settings]="singleDropdownSettings"
                      [data]="governments"
                      formControlName="homeGovernmentId"
                      [(ngModel)]="selectedGovernmentId"
                      (onSelect)="onGovernmentChanged()"
                      (onDeSelect)="onGovernmentChanged()"
                    >
                    </ng-multiselect-dropdown> -->
                  </div>
                </div>
                <div class="col-lg-6 mt-3" *ngIf="
                    notFoundForm?.value?.notInvestigationType == 4 ||
                    notFoundForm?.value?.notInvestigationType == 5
                  ">
                  <div class="form-group">
                    <label for="" class="form-label">
                      {{
                      "NEDSS.HOME.GENERAL_DATA_RESIDENCEINFO.ADMINISTRATION"
                      | translate
                      }}
                    </label>
                    <div *ngIf="currentLang == 'ar'">
                      <p-dropdown (onChange)="onHealthAdministrationChanged()" [options]="healthAdministrations"
                        [(ngModel)]="selectedHealthAdministration" optionLabel="arabicName" optionValue="id"
                        autoWidth="false" [style]="{ width: '100%' }" formControlName="homeHealthAdministration"
                        [filter]="true" filterBy="arabicName">
                      </p-dropdown>
                    </div>
                    <div *ngIf="currentLang == 'en'">
                      <p-dropdown (onChange)="onHealthAdministrationChanged()" [options]="healthAdministrations"
                        [(ngModel)]="selectedHealthAdministration" optionLabel="englishName" optionValue="id"
                        autoWidth="false" [style]="{ width: '100%' }" formControlName="homeHealthAdministration"
                        [filter]="true" filterBy="englishName">
                      </p-dropdown>
                    </div>
                    <!-- <ng-multiselect-dropdown
                      [settings]="singleDropdownSettings"
                      [data]="healthAdministrations"
                      formControlName="homeHealthAdministration"
                      [(ngModel)]="selectedHealthAdministration"
                      (onSelect)="onHealthAdministrationChanged()"
                      (onDeSelect)="onHealthAdministrationChanged()"
                    >
                    </ng-multiselect-dropdown> -->
                  </div>
                </div>
                <div class="col-lg-6 mt-3" *ngIf="
                    notFoundForm?.value?.notInvestigationType == 4 ||
                    notFoundForm?.value?.notInvestigationType == 5
                  ">
                  <div class="form-group">
                    <label for="" class="form-label">
                      {{
                      "NEDSS.HOME.GENERAL_DATA_RESIDENCEINFO.STATEANDCITY"
                      | translate
                      }}
                    </label>
                    <div *ngIf="currentLang == 'ar'">
                      <p-dropdown (onChange)="onCityChanged()" [options]="cities" [(ngModel)]="selectedCity"
                        optionLabel="arabicName" optionValue="id" autoWidth="false" [style]="{ width: '100%' }"
                        formControlName="homeCityId" [filter]="true" filterBy="arabicName">
                      </p-dropdown>
                    </div>
                    <div *ngIf="currentLang == 'en'">
                      <p-dropdown (onChange)="onCityChanged()" [options]="cities" [(ngModel)]="selectedCity"
                        optionLabel="englishName" optionValue="id" autoWidth="false" [style]="{ width: '100%' }"
                        formControlName="homeCityId" [filter]="true" filterBy="englishName">
                      </p-dropdown>
                    </div>
                    <!-- <ng-multiselect-dropdown
                      [settings]="singleDropdownSettings"
                      [data]="cities"
                      [(ngModel)]="selectedCity"
                      formControlName="homeCityId"
                      (onSelect)="onCityChanged()"
                      (onDeSelect)="onCityChanged()"
                    >
                    </ng-multiselect-dropdown> -->
                  </div>
                </div>
                <div class="col-lg-6 mt-3" *ngIf="
                    notFoundForm?.value?.notInvestigationType == 4 ||
                    notFoundForm?.value?.notInvestigationType == 5
                  ">
                  <div class="form-group">
                    <label for="" class="form-label">
                      {{
                      "NEDSS.HOME.GENERAL_DATA_RESIDENCEINFO.HEALTHOFFICE"
                      | translate
                      }}
                    </label>
                    <div *ngIf="currentLang == 'ar'">
                      <p-dropdown [options]="healthOffices" [(ngModel)]="selectedHealthOfficeId"
                        optionLabel="arabicName" optionValue="id" autoWidth="false" [style]="{ width: '100%' }"
                        formControlName="homeHealthOffice" [filter]="true" filterBy="arabicName">
                      </p-dropdown>
                    </div>
                    <div *ngIf="currentLang == 'en'">
                      <p-dropdown [options]="healthOffices" [(ngModel)]="selectedHealthOfficeId"
                        optionLabel="englishName" optionValue="id" autoWidth="false" [style]="{ width: '100%' }"
                        formControlName="homeHealthOffice" [filter]="true" filterBy="englishName">
                      </p-dropdown>
                    </div>
                    <!-- <ng-multiselect-dropdown
                      [settings]="singleDropdownSettings"
                      [data]="healthOffices"
                      formControlName="homeHealthOffice"
                      [(ngModel)]="selectedHealthOffice"
                    >
                    </ng-multiselect-dropdown> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3" *ngIf="notFoundForm?.value?.notInvestigationType == 1">
              <div class="form-group">
                <label for="phoneNumber" class="fwb color-d-1 colorWait mb-2">
                  {{ "NOUR.word57" | translate }}
                </label>
                <input type="text" class="w-100" pInputText formControlName="phoneNo1" [(ngModel)]="phone"
                  id="phoneNumber" (keypress)="generalDataService.onPhoneNumberKeyPress($event)" (blur)="
                    generalDataService.isPhoneNumber1Valid =
                      generalDataService.validatePhoneNumber1(phone, false)
                  " />
                <small *ngIf="!generalDataService.isPhoneNumber1Valid" class="form-text text-danger mess-color">
                  {{ generalDataService.phoneNo1ValidationMessage | translate }}
                </small>
              </div>
            </div>

            <div class="col-12 mt-3" *ngIf="notFoundForm?.value?.notInvestigationType == 2">
              <div class="form-group">
                <label for="livingAddress1" class="fwb color-d-1 colorWait mb-2">
                  {{
                  "NEDSS.HOME.GENERAL_DATA_RESIDENCEINFO.DETAILADDRESS"
                  | translate
                  }}
                </label>

                <textarea [(ngModel)]="Address" class="w-100" pInputText rows="2" id="livingAddress1"
                  formControlName="livingAddress" (blur)="
                    generalDataService.isAdressValid =
                      generalDataService.validateAddress(
                        patient.livingAddress,
                        false
                      )
                  ">
                </textarea>
                <small *ngIf="!generalDataService.isAdressValid" class="form-text text-danger mess-color">
                  {{ generalDataService.addressValidationMessage | translate }}
                </small>
              </div>
            </div>

            <div class="col-12 mt-3">
              <div class="form-group">
                <label for="desc" class="fwb color-d-1 colorWait mb-2">
                  {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.DESCRIPTION"
                  | translate
                  }}
                </label>
                <textarea name="" id="desc" rows="2" class="w-100" pInputText
                  formControlName="notInvestigationReason"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="d-flex align-items-center justify-content-end gap-3 w-100">
            <div>
              <button type="submit" class="btn bg text-light" data-bs-dismiss="modal">
                {{
                "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.SAVENOTINFERING"
                | translate
                }}
              </button>
            </div>
            <div>
              <button type="button" class="btn border border-color" data-bs-dismiss="modal">
                {{
                "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.Exit" | translate
                }}
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
