<form [formGroup]="tuberculosisForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-lg-12">
      <div class="card shadow mt-4 color mb-4">
        <div class="card-body">
          <div id="jump_to_this_location"></div>
          <h5 class="titles">
            <h5 style="text-align: center; border: 1px solid; padding: 1%">
              {{"NEDSS.INVESTIGATIONS.PAGES.Tuberculosis"| translate}}
            </h5>
          </h5>
          <br />
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label for="">
                  {{"NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_NAME"| translate}}: {{patientName}}
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label for="">
                  {{"NEDSS.INVESTIGATIONS.percentage"| translate}}
                  <span class="mx-4" style="font-size: larger; color: red">
                    <!-- {{ precentile.value }} % -->
                    {{ allControllesCount === 0 ? '0.00' : ((allFilledControlsCount / allControllesCount) * 100 |
                    number:'1.0-2') }} %
                  </span>
                </label>
                  <input #precentile type="range" class="form-range bg" onkeypress="false" [readonly]="true"
                  style="border-radius: 11.7px; border: 5.5px solid white" min="0" max="100" step="1" id="customRange3"
                  [value]="allControllesCount ? (allFilledControlsCount / allControllesCount) * 100 : 0" />
              </div>
            </div>
            <div class="col-lg-4">
              {{"NEDSS.INVESTIGATIONS.Filled"| translate}}
              {{allFilledControlsCount}}
              {{"NEDSS.INVESTIGATIONS.Field"| translate}}
              {{"NEDSS.INVESTIGATIONS.From"| translate}}
              {{allControllesCount}}
              {{"NEDSS.INVESTIGATIONS.Field"| translate}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="mt-4 color mb-4">
                <div class="row">
                  <div class="col-12 card card-body rounded-2 mx-2 mb-4 card-alt bg-dark-mode">
                    <div class="row">
                      <div class="col-12 title fs-6 fwb">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit">
                            {{ "NEDSS.COMPLETE_INVESTEGATION.Clinical_Data" | translate }}
                          </font>
                        </font>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Diagnosis_Pneumonia" | translate }}
                              </font>
                            </font>
                          </label>
                          <select formControlName="diagnosisPneumonia" name="diagnosisPneumonia" id=""
                            class="form-control" (blur)="calculateCompletionPercentage()"
                            (blur)="calculateCompletionPercentage()">
                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-6 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.If_Yes_Date_Diagnosis_Pneumonia" | translate }}
                              </font>
                            </font>
                          </label>
                          <app-date-field formControlName="dateDiagnosisPneumonia" (blurred)="calculateCompletionPercentage()"></app-date-field>
                        </div>
                      </div>
                      <!-- /.col-lg-6 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.If_Yes_Diagnosis_Made" | translate }}
                              </font>
                            </font>
                          </label>
                          <select formControlName="diagnosisWasMade" name="" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()">
                            <option value="1"> {{ "NEDSS.COMPLETE_INVESTEGATION.X_Ray" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.CT_Scan" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-6 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.PNEUMONIA_TYPE" | translate }}
                              </font>
                            </font>
                          </label>
                          <select formControlName="pneumonia" name="" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()">
                            <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.Single" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.Double" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-6 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Reservation_Intensive_Care_Unit" | translate }}
                              </font>
                            </font>
                          </label>
                          <select formControlName="reservationIntensiveCareUnit" name="presenceVesicularRash" id=""
                            class="form-control" (blur)="calculateCompletionPercentage()"
                            (blur)="calculateCompletionPercentage()">
                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-6 -->
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.If_Yes__Date_Reservation" | translate }}
                              </font>
                            </font>
                          </label>
                          <app-date-field formControlName="dateReservation" (blurred)="calculateCompletionPercentage()"></app-date-field>
                        </div>
                      </div>
                      <!-- /.col-lg-3 -->
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Number_DaysCustody" | translate }}
                              </font>
                            </font>
                          </label>
                          <input formControlName="numberdaysCustody" type="number" name="" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()" />
                        </div>
                      </div>
                      <!-- /.col-lg-3 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Oxygen_Use" | translate }}
                              </font>
                            </font>
                          </label>
                          <select formControlName="oxygenUse" name="presenceVesicularRash" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()">
                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-6 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.In_Case_Yes_Type" | translate }}
                              </font>
                              <!-- <font style="vertical-align: inherit;">Type</font> -->
                            </font>
                          </label>
                          <select formControlName="typeOxygen" name="" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()">
                            <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.Nose_Mask" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.Face_Mask" | translate }}</option>
                            <option value="3">{{ "NEDSS.COMPLETE_INVESTEGATION.Reservoir_Mask" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-6 -->
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Use_Respirator" | translate }}
                              </font>
                            </font>
                          </label>
                          <select formControlName="useRespirator" name="" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()">
                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-3 -->
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.RESPIRATOR_TYPE_IF_YES" | translate }}
                              </font>
                              <!-- <font style="vertical-align: inherit;">his type</font> -->
                            </font>
                          </label>
                          <select formControlName="typeRespirator" name="" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()">
                            <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.Penetration" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.Non_Penetration" | translate }}</option>
                          </select>
                        </div>
                      </div>
                      <!-- /.col-lg-3 -->
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Date_Placed_On_Device" | translate }}
                              </font>
                            </font>
                          </label>
                          <app-date-field formControlName="statusHistoryDevice" (blurred)="calculateCompletionPercentage()"></app-date-field>
                        </div>
                      </div>
                      <!-- /.col-lg-3 -->
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Number_Days_Placement_Device" | translate }}
                              </font>
                            </font>
                          </label>
                          <input formControlName="noDaysPlacementDevice" type="number" name="" id=""
                            class="form-control" (blur)="calculateCompletionPercentage()"
                            (blur)="calculateCompletionPercentage()" />
                        </div>
                      </div>
                      <!-- /.col-lg-3 -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="">
                            <font style="vertical-align: inherit">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Condition_Assessment" | translate }}
                              </font>
                            </font>
                          </label>
                          <select formControlName="conditionAssessment" name="" id="" class="form-control"
                            (blur)="calculateCompletionPercentage()" (blur)="calculateCompletionPercentage()">
                            <option value="1">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Simple" | translate }}
                              </font>
                            </option>
                            <option value="2">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Medium" | translate }}
                              </font>
                            </option>
                            <option value="3">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Severe" | translate }}
                              </font>
                            </option>
                            <option value="4">
                              <font style="vertical-align: inherit">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.Critical" | translate }}
                              </font>
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <!-- / .row -->
                  </div>
                  <!-- / .col-12 -->

                  <div class="row color">
                    <div class="col-12 card card-body rounded-2 mx-2 mb-4 card-alt bg-dark-mode">
                      <div class="row">
                        <div class="col-12 title fs-6 fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.CLINICAL_CONDITION_TITLE" | translate }}</div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.CLINICAL_EXAM_PERFORMED" | translate }}</label>
                            <select formControlName="clinicalExaminationPerformed" name="clinicalExaminationPerformed"
                              id="clinicalExaminationPerformed" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                              <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                              <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.DIAGNOSIS_CONDITION" | translate }}</label>
                            <select formControlName="diagnoseCondition" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.DIAGNOSIS_SMEAR_POSITIVE" | translate }}</option>
                              <option value="2">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.DIAGNOSIS_SMEAR_NEGATIVE" | translate }}
                              </option>
                              <option value="3">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.DIAGNOSIS_EXTRAPULMONARY" | translate }}</option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="tuberculosisTypeMs">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.TUBERCULOSIS_TYPE" | translate }}</label>
                            <p-multiSelect inputId="tuberculosisTypeMs" [options]="tuberculosisTypeOptions"
                              formControlName="tuberculosisType" optionLabel="label" optionValue="value"
                              [style]="{ width: '100%' }" [filter]="true"
                              [filterPlaceHolder]="'NEDSS.COMMON.SEARCH' | translate" panelStyleClass="tb-multiselect-type-panel"
                              (onChange)="calculateCompletionPercentage()">
                            </p-multiSelect>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.IF_OTHER_SPECIFY" | translate }}</label>
                            <select formControlName="anotherCaseTuberculosis" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                              <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                              <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SPUTUM_AFB_RESULT" | translate }}</label>
                            <select formControlName="resultSputumPositive" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                              <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                              <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.IF_YES_DATE_LAST_SAMPLE" | translate }}
                                </font>
                              </font>
                            </label>
                            <app-date-field formControlName="dateLastPositiveAfb" (blurred)="calculateCompletionPercentage()"></app-date-field>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.XPERT_GENE_POSITIVE" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="resultPositiveXpert" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.IF_YES_DATE_LAST_SAMPLE" | translate }}
                                </font>
                              </font>
                            </label>
                            <app-date-field formControlName="dateLastSampleXpert" (blurred)="calculateCompletionPercentage()"></app-date-field>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.CULTURE_SENT" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="farmSentPatient" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.IF_YES_DATE_LAST_SAMPLE" | translate }}
                                </font>
                              </font>
                            </label>
                            <app-date-field formControlName="dateLastSamplefarm" (blurred)="calculateCompletionPercentage()"></app-date-field>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="treatmentPatientUsingMs">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.TREATMENT_IN_USE" | translate }}
                                </font>
                              </font>
                            </label>
                            <p-multiSelect inputId="treatmentPatientUsingMs" [options]="treatmentPatientUsingOptions"
                              formControlName="treatmentPatientUsing" optionLabel="label" optionValue="value"
                              [style]="{ width: '100%' }" [filter]="true" [filterPlaceHolder]="'NEDSS.COMMON.SEARCH' | translate"
                              panelStyleClass="tb-multiselect-type-panel" placeholder="" defaultLabel=""
                              (onChange)="calculateCompletionPercentage()">
                            </p-multiSelect>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6 border-right">
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="">
                                  <font style="vertical-align: inherit">
                                    <font style="vertical-align: inherit">
                                      {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.TREATMENT_START_DATE" | translate }}
                                    </font>
                                  </font>
                                </label>
                                <app-date-field formControlName="treatmentStartDate" (blurred)="calculateCompletionPercentage()"></app-date-field>
                              </div>
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="">
                                  <font style="vertical-align: inherit">
                                    <font style="vertical-align: inherit">
                                      {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.TREATMENT_DURATION" | translate }}
                                    </font>
                                  </font>
                                </label>
                                <input formControlName="durationTreatment" type="number" name="" id=""
                                  class="form-control" (blur)="calculateCompletionPercentage()" />
                              </div>
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-12">
                              <div class="form-group">
                                <label for="">
                                  <font style="vertical-align: inherit">
                                    <font style="vertical-align: inherit">
                                      {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.FOLLOW_UP_PLACE" | translate }}
                                    </font>
                                  </font>
                                </label>
                                <input formControlName="followUpPlace" type="text" name="" id="" class="form-control"
                                  (blur)="calculateCompletionPercentage()" />
                              </div>
                            </div>
                            <!-- /.col-lg-12 -->
                          </div>
                          <!-- / .row -->
                        </div>
                        <!-- / .col-lg-6 border-right -->

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.PATIENT_SMOKES" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="patientSmoke" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-3 -->
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.IF_YES_SMOKING_DURATION" | translate }}
                                </font>
                                <!-- <font style="vertical-align: inherit;">Indicate the duration of smoking</font> -->
                              </font>
                            </label>
                            <input formControlName="durationSmoking" type="text" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()" />
                          </div>
                        </div>
                        <!-- /.col-lg-3 -->
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SMOKING_TYPE" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="smokingType" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SMOKING_CIGARETTE" | translate }}
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SMOKING_SHISHA" | translate }}
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SMOKING_OTHER" | translate }}
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-3 -->
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SMOKING_TIMES_PER_DAY" | translate }}
                                </font>
                              </font>
                            </label>
                            <input formControlName="numberSmokingTimes" type="number" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()" />
                          </div>
                        </div>
                        <!-- /.col-lg-3 -->

                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.HIV_TEST_DONE" | translate }}
                                  (AIDS)
                                </font>
                              </font>
                            </label>
                            <select formControlName="patientTestedAids" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.IF_YES_STATE_RESULT" | translate }}
                                </font>
                                <!-- <font style="vertical-align: inherit;">State the result</font> -->
                              </font>
                            </label>
                            <select formControlName="resultAids" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMMON.POSITIVE" | translate }}
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMMON.NEGATIVE" | translate }}
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.PREVIOUS_TB_HOSPITALIZATION" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="isPatientTuberculosis" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.BCG_VACCINATION_STATUS" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="vaccinationStatusBcg" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                      </div>
                      <!-- / .row -->
                    </div>
                    <!-- / .col-12 -->
                  </div>
                  <!-- / .row -->

                  <div class="row color">
                    <div class="col-12 card card-body rounded-2 mx-2 mb-4 card-alt bg-dark-mode">
                      <div class="row">
                        <div class="col-12 title fs-6 fwb">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">
                              {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.PREVENTIVE_MEASURES_TITLE" | translate }}
                            </font>
                          </font>
                        </div>
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.TB_PROGRAM_NOTIFIED" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="tuberculosisInformed" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.CONTACTS_EPI_SURVEY" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="epidemiologicalSurveyContacts" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.PREVIOUS_TB_IN_RECORD" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="isTuberculosisPatientRecord" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                          <div class="form-group">
                            <label for="">
                              <font style="vertical-align: inherit">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.IF_YES_RECORD_OUTCOME" | translate }}
                                </font>
                              </font>
                            </label>
                            <select formControlName="resultPatientRecord" name="" id="" class="form-control"
                              (blur)="calculateCompletionPercentage()">
                              <option value="1">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.RECORD_OUTCOME_ON_TREATMENT" | translate }}
                                </font>
                              </option>
                              <option value="2">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.RECORD_OUTCOME_CURED" | translate }}
                                </font>
                              </option>
                              <option value="3">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.RECORD_OUTCOME_LEFT" | translate }}
                                </font>
                              </option>
                              <option value="4">
                                <font style="vertical-align: inherit">
                                  {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.RECORD_OUTCOME_OTHER" | translate }}
                                </font>
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- /.col-lg-6 -->
                      </div>
                      <!-- / .row -->
                    </div>
                    <!-- / .col-12 -->
                  </div>
                  <!-- / .row -->
                  <!-- بداية التوقيعات
            !!--############################################################ -->
                  <div class="row">
                    <div class="col-lg-12 mt-4 mb-4">
                      <hr />
                    </div>
                    <!-- / .col-lg-12 -->
                    <div class="col-lg-6 mb-6">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">
                              {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SURVEY_DATE" | translate }}
                            </font>
                          </font>
                        </label>
                        <app-date-field formControlName="surveyDate" (blurred)="calculateCompletionPercentage()"></app-date-field>
                      </div>
                    </div>
                    <!-- / .col-lg-6 -->
                    <div class="col-lg-6 mb-6"></div>
                    <!-- / .col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">
                              {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.HEALTH_MONITOR_NAME" | translate }}
                            </font>
                          </font>
                        </label>
                        <input formControlName="nameHealthMonitor" type="text" name="" id="" class="form-control"
                          (blur)="calculateCompletionPercentage()" />
                      </div>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6 mb-6">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.SURVEILLANCE_OFFICER" | translate }}
                          </font>
                        </label>
                        <input formControlName="monitoringOfficer" type="text" name="" id="" class="form-control"
                          (blur)="calculateCompletionPercentage()" />
                      </div>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6 mb-4"></div>
                    <div class="col-lg-6 mb-4">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">
                              {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.APPROVED_BY" | translate }}
                            </font>
                          </font><br />
                          <font style="vertical-align: inherit">
                            {{ "NEDSS.COMPLETE_INVESTEGATION.TUBERCULOSIS.HOSPITAL_DIRECTOR" | translate }}
                          </font>
                        </label>
                        <input formControlName="directorAdministration" type="text" name="" id="" class="form-control"
                          (blur)="calculateCompletionPercentage()" />
                      </div>
                    </div>
                    <!-- /.col-lg-6 -->
                  </div>
                  <!--  / نهاية التوقيعات
            !!--############################################################ -->
                </div>
                <div class="card-footer text-start">
                  <button type="submit" class="btn bg rounded-2 text-light">
                    <font style="vertical-align: inherit">
                      {{ "NEDSS.COMMON.SAVE" | translate }}
                    </font>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>
