<form [formGroup]="epidmiologicalForm" (ngSubmit)="show()" id="epidmiolog">
  <h2 class="titles">
    {{
    "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.EPIDEMIOLOGICAL-THRESHOLDS"
    | translate
    }}
  </h2>
  <div class="card color shadow small-screen-card">
    <div class="card-body bg-dark-mode">
      <div class="row">
        <div class="row col-11 m-auto pt-2 mb-4 align-items-center">
          <!-- <div class="col-8 has-labels">
            <label for="way1">
              <input type="radio" name="methodType" id="way1" value="1" formControlName="methodType" />
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.FIXEDWAY"
              | translate
              }}
            </label>
            <label for="way2">
              <input type="radio" name="methodType" id="way2" value="2" formControlName="methodType" />
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.C2WAY" | translate
              }}
            </label>
            <label for="way3">
              <input type="radio" name="methodType" id="way3" value="3" formControlName="methodType" />
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.DATELIMITMETHOD"
              | translate
              }}
            </label>
          </div> -->

          <!-- <div class="btn-group btn-group-toggle col-8 has-labels" data-toggle="buttons">
            <label class="btn btn-secondary active" for="way1">
              <input type="radio" name="options" id="way1" value="1" formControlName="methodType" checked> {{"NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.FIXEDWAY" | translate }}
            </label>
            <label class="btn btn-secondary" for="way2">
              <input type="radio" name="options" id="way2" value="2" formControlName="methodType" > {{"NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.C2WAY" | translate }}
            </label>
            <label class="btn btn-secondary" for="way3">
              <input type="radio" name="options" id="way3" value="3" formControlName="methodType" > {{ "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.DATELIMITMETHOD" | translate }}
            </label>
          </div> -->

          <div class="col-12 col-md-3 justify-content-end">
            <h6>
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.SHOWEPIDEMIOLOGICAL-THRESHOLDSBY"
              | translate
              }}
            </h6>
          </div>
          <div class="col-8 radio-inputs">
            <label class="radio">
              <input type="radio" name="methodType" value="1" checked="" formControlName="methodType" />
              <span class="name">
                {{
                "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.FIXEDWAY"
                | translate
                }}</span>
            </label>
            <label class="radio">
              <input type="radio" name="methodType" value="2" formControlName="methodType" />
              <span class="name">
                {{
                "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.C2WAY"
                | translate
                }}
              </span>
            </label>

            <label class="radio">
              <input type="radio" name="methodType" value="3" formControlName="methodType" />
              <span class="name">
                {{
                "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.DATELIMITMETHOD"
                | translate
                }}
              </span>
            </label>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="" class="form-label">
              {{ "NEDSS.EVENTS.GOVERNMENT" | translate }} <span class="text-danger">*</span>
            </label>

            <div *ngIf="currentLang == 'ar'">
              <p-dropdown [options]="governments" [(ngModel)]="selectedGovernment" (onChange)="governmentSelected()"
                [ngModelOptions]="{ standalone: true }" optionLabel="arabicName" optionValue="id"
                [style]="{width:'100%'}" [appDropdownLoading]="governmentsLoading"></p-dropdown>

              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="governmentSelected()"
                tabindex="-1"
                [(ngModel)]="selectedGovernment"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of governments"
                  [ngValue]="item.id"
                >
                  {{ item.arabicName }}
                </option>
              </select> -->
            </div>
            <div *ngIf="currentLang == 'en'">
              <p-dropdown [options]="governments" [(ngModel)]="selectedGovernment" (onChange)="governmentSelected()"
                [ngModelOptions]="{ standalone: true }" optionLabel="englishName" optionValue="id"
                [style]="{width:'100%'}" [appDropdownLoading]="governmentsLoading"></p-dropdown>

              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="governmentSelected()"
                tabindex="-1"
                [(ngModel)]="selectedGovernment"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of governments"
                  [ngValue]="item.id"
                >
                  {{ item.englishName }}
                </option>
              </select> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="" class="form-label">
              {{ "NEDSS.EVENTS.HEALTH_ADMINSTRATION" | translate }} <span class="text-danger">*</span>
            </label>
            <div *ngIf="currentLang == 'ar'">
              <p-dropdown [options]="healthAdministration" [(ngModel)]="selectedHealthAdministration"
                (onChange)="healthAdministrationSelected()" [ngModelOptions]="{ standalone: true }"
                optionLabel="arabicName" optionValue="id" [style]="{width:'100%'}"
                [appDropdownLoading]="healthAdministrationLoading"></p-dropdown>

              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="healthAdministrationSelected()"
                tabindex="-1"
                [(ngModel)]="selectedHealthAdministration"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of healthAdministration"
                  [ngValue]="item.id"
                >
                  {{ item.arabicName }}
                </option>
              </select> -->
            </div>
            <div *ngIf="currentLang == 'en'">
              <p-dropdown [options]="healthAdministration" [(ngModel)]="selectedHealthAdministration"
                (onChange)="healthAdministrationSelected()" [ngModelOptions]="{ standalone: true }"
                optionLabel="englishName" optionValue="id" [style]="{width:'100%'}"
                [appDropdownLoading]="healthAdministrationLoading"></p-dropdown>

              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="healthAdministrationSelected()"
                tabindex="-1"
                [(ngModel)]="selectedHealthAdministration"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of healthAdministration"
                  [ngValue]="item.id"
                >
                  {{ item.englishName }}
                </option>
              </select> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="" class="form-label">
              {{ "NEDSS.EVENTS.FINALDIAGONISTICS" | translate }} <span class="text-danger">*</span>
            </label>
            <div *ngIf="currentLang == 'ar'">
              <p-dropdown [options]="Diseasies" [(ngModel)]="selectedDiseaseId" (onChange)="diseasesSelected()"
                [ngModelOptions]="{ standalone: true }" optionLabel="arabicName" optionValue="id"
                [style]="{width:'100%'}" [appDropdownLoading]="diseasesLoading"></p-dropdown>

              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="diseasesSelected()"
                tabindex="-1"
                [(ngModel)]="selectedDiseaseId"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of Diseasies"
                  [ngValue]="item.id"
                >
                  {{ item.arabicName }}
                </option>
              </select> -->
            </div>
            <div *ngIf="currentLang == 'en'">
              <p-dropdown [options]="Diseasies" [(ngModel)]="selectedDiseaseId" (onChange)="diseasesSelected()"
                [ngModelOptions]="{ standalone: true }" optionLabel="englishName" optionValue="id"
                [style]="{width:'100%'}" [appDropdownLoading]="diseasesLoading"></p-dropdown>

              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="diseasesSelected()"
                tabindex="-1"
                [(ngModel)]="selectedDiseaseId"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of Diseasies"
                  [ngValue]="item.id"
                >
                  {{ item.englishName }}
                </option>
              </select> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="" class="form-label">
              {{ "NEDSS.EVENTS.CASE_CATEGORY" | translate }} <span class="text-danger">*</span>
            </label>
            <div *ngIf="currentLang == 'ar'">
              <p-dropdown [options]="Categories" [(ngModel)]="selectedCategoryId"
                (onChange)="caseResultCategorySelected()" [ngModelOptions]="{ standalone: true }"
                optionLabel="arabicName" optionValue="id" [style]="{width:'100%'}"
                [appDropdownLoading]="caseCategoriesLoading"></p-dropdown>

              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="caseResultCategorySelected()"
                tabindex="-1"
                [(ngModel)]="selectedCategoryId"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of Categories"
                  [ngValue]="item.id"
                >
                  {{ item.arabicName }}
                </option>
              </select> -->
            </div>
            <div *ngIf="currentLang == 'en'">
              <p-dropdown [options]="Categories" [(ngModel)]="selectedCategoryId"
                (onChange)="caseResultCategorySelected()" [ngModelOptions]="{ standalone: true }"
                optionLabel="englishName" optionValue="id" [style]="{width:'100%'}"
                [appDropdownLoading]="caseCategoriesLoading"></p-dropdown>
              <!-- <select
                class="form-control select2 select2-hidden-accessible"
                (change)="caseResultCategorySelected()"
                tabindex="-1"
                [(ngModel)]="selectedCategoryId"
                aria-hidden="true"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  value="item.id"
                  *ngFor="let item of Categories"
                  [ngValue]="item.id"
                >
                  {{ item.englishName }}
                </option>
              </select> -->
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="">
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.EXITRESULT"
              | translate
              }} <span class="text-danger">*</span>
            </label>
            <!-- optionLabel="arabicName"
                optionValue="id" -->
            <p-dropdown [options]="resultOptions" formControlName="resultID" [style]="{width: '100%'}">
            </p-dropdown>
            <!-- <select
              name=""
              id=""
              class="form-control"
              formControlName="resultID"
            >
              <option value="1">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">
                    {{
                    "NOUR.word25" | translate
                  }}</font>
                </font>
              </option>
              <option value="2">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">
                    {{ "NOUR.word26" | translate }}</font
                  >
                </font>
              </option>
              <option value="3">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">{{
                    "NOUR.word27" | translate
                  }}</font>
                </font>
              </option>
            </select> -->
          </div>
        </div>
        <div class="col-lg-4" *ngIf="epidmiologicalForm.value.methodType == 3">
          <div class="form-group">
            <label for="">
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.CALCULATIONMETHOD"
              | translate
              }} <span class="text-danger">*</span>
            </label>
            <p-dropdown [options]="calculationMethodOptions" formControlName="yearsCount" [style]="{width: '100%'}">
            </p-dropdown>
            <!-- <select
              name=""
              id=""
              class="form-control"
              formControlName="yearsCount"
            >
              <option value="3">
                {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.THREEYEARS"
                    | translate
                }}
              </option>
              <option value="5">
                {{
                  "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.FIVEYEARS"
                    | translate
                }}
              </option>
            </select> -->
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="startDate">
              {{ "NEDSS.EVENTS.FROM_DATE" | translate }} <span class="text-danger">*</span>
            </label> 
            <mat-form-field appearance="fill">
              <mat-label>
                {{
                "NEDSS.GENERAL_DATA_SIDEMENU.DATEPLACEHOLDER" | translate
                }}</mat-label>
                <input [min]="minDate" 
                  [max]="maxDate" matInput 
                  [matDatepicker]="picker"
                  [class]="'form-control-' + currentLang" formControlName="date" />


              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-4 has-labels">
          <label for="">
            {{
            "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.TIMEPEROID"
            | translate
            }} <span class="text-danger">*</span>
          </label>
          <label for="days" *ngIf="epidmiologicalForm.value.methodType != 3">
            <input *ngIf="epidmiologicalForm.value.methodType != 3" type="radio" name="dataPoint" id="days" value="1"
              formControlName="dataPoint" />
            {{ "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.DAYS" | translate }}
          </label>
          <label for="weeks">
            <input type="radio" name="dataPoint" id="weeks" value="2" formControlName="dataPoint" />
            {{
            "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.WEEKS" | translate
            }}
          </label>
          <label for="months" *ngIf="epidmiologicalForm.value.methodType != 2">
            <input type="radio" name="dataPoint" id="months" value="3" formControlName="dataPoint" />
            {{
            "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.MONTH" | translate
            }}
          </label>
        </div>
        <div class="col-lg-4" *ngIf="epidmiologicalForm.value.methodType == 1">
          <div class="form-group">
            <label for="">
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.RESULTS"
              | translate
              }} <span class="text-danger">*</span>
            </label>
            <input type="text" pInputText formControlName="cases" [style]="{ width : '100%' }" />
            <!-- <input
              type="text"
              name=""
              id=""
              class="form-control"
              formControlName="cases"
            /> -->
          </div>
        </div>
        <div class="col-lg-4" *ngIf="epidmiologicalForm.value.methodType == 1">
          <div class="form-group">
            <label for="">
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.CASESRATIO"
              | translate
              }} <span class="text-danger">*</span>
            </label>

            <p-dropdown [options]="casesRatioOptions" formControlName="incidence"
              [style]="{width: '100%'}"></p-dropdown>
            <!-- <select
              name=""
              id=""
              class="form-control"
              formControlName="incidence"
            >
              <option value="100000">100.000</option>
              <option value="10000">10.000</option>
              <option value="1000">1000</option>
            </select> -->
          </div>
        </div>
        <div class="col-lg-4" *ngIf="epidmiologicalForm.value.methodType != 1">
          <div class="form-group">
            <label for="">
              {{
              "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.STANDARDDEVIATION"
              | translate
              }} <span class="text-danger">*</span>
            </label>
            <p-dropdown [options]="standardDeviationOptions" formControlName="standaredDeviation"
              [style]="{width: '100%'}"></p-dropdown>
            <!-- <select
              name=""
              id=""
              class="form-control"
              formControlName="standaredDeviation"
            >
              <option value="-2">-2sd</option>
              <option value="-1">-1sd</option>
              <option value="1">1sd</option>
              <option value="2">2sd</option>
              <option value="3">3sd</option>
            </select> -->
          </div>
        </div>
        <!-- <div class="col-lg-4"></div> -->
        <!-- <div class="form-group"> -->
        <!-- <div class="col-2"> الفترة الزمنية </div> -->
        <div class="col-lg-4" *ngIf="epidmiologicalForm.value.methodType != 1">
          <div class="form-group">
            <label for="">
              {{ "NEDSS.REPORTS.percentage" | translate }}
              <span class="mx-4" style="font-size: larger; color: red">
                {{ precentile.value }} %
              </span>
            </label>
            <input #precentile type="range" class="form-range bg"
              style="border-radius: 11.7px; border: 5.5px solid white" min="0" max="100" step="1" id="customRange3"
              formControlName="precentile" />
          </div>
        </div>

        <div>
          <div class="form-group">
            <div class="form-group">
              <label for="NotificationMessageArabic">
                {{
                "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.NOTIFICATIONMESSAGEARABIC"
                | translate
                }} <span class="text-danger">*</span>
              </label>
              <input type="text" pInputText name="NotificationMessageArabic" id="NotificationMessageArabic"
                formControlName="notificationMessageArabic" [style]="{ width : '100%' }" />
              <small *ngIf="
              !isMessageValid(
                epidmiologicalForm.controls.notificationMessageArabic.value
              )
            " class="form-text text-danger mess-color">
                {{ "NEDSS.COMMON.INVALID_MESSAGE_CHARACTERS" | translate }}
              </small>
              <!--<input
                type="text"
                name="NotificationMessageArabic"
                id="NotificationMessageArabic"
                class="form-control"
                formControlName="notificationMessageArabic"
              /> -->
            </div>
            <div class="form-group">
              <label for="NotificationMessageEnglish">
                {{
                "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.NOTIFICATIONMESSAGEENGLISH"
                | translate
                }} <span class="text-danger">*</span>
              </label>
              <input type="text" pInputText name="NotificationMessageEnglish" id="NotificationMessageEnglish"
                formControlName="notificationMessageEnglish" [style]="{ width : '100%' }" />

              <small *ngIf="
                  !isMessageValid(
                    epidmiologicalForm.controls.notificationMessageEnglish.value
                  )
                " class="form-text text-danger mess-color">
                {{ "NEDSS.COMMON.INVALID_MESSAGE_CHARACTERS" | translate }}
              </small>
              <!-- <input
              type="text"
              name="NotificationMessageEnglish"
              id="NotificationMessageEnglish"
              class="form-control"
              formControlName="notificationMessageEnglish"
            /> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-center mt-3">
          <!-- data-bs-target="#addusers" data-bs-toggle="modal" -->
          <button type="button" (click)="showUserModal()"
            class="btn bg btn-lg pr-5 pl-5 text-white rounded-5 mb-2">
            <span class="bi bi-clipboard-pulse"></span>
            {{ "NEDSS.HOME.CONTROL_PANEL.CODES.USERS" | translate }}
          </button>
          <!-- <div class="card flex justify-content-center">
            <p-toast></p-toast>
            <p-button  icon="pi pi-info-circle">
              
            </p-button>
          </div> -->
        </div>
        <div class="col-lg-6 text-center mt-3">
          <button type="button" (click)="save()" class="btn bg btn-lg pr-5 pl-5 text-white rounded-5 mb-2">
            <span class="bi bi-clipboard-pulse"></span>
            {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive table-none-scroll table_report px-2 mt-4" id="myTableElementId">
    <p-table class="table" [style.direction]="dir" [value]="tttt" [paginator]="false">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "NEDSS.EVENTS.GOVERNMENT" | translate }}</th>
          <th>
            {{
            "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.HEALTHADMINSTRATION"
            | translate
            }}
          </th>
          <th>
            {{
            "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.DISEASE" | translate
            }}
          </th>
          <th>
            {{
            "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.METHOD" | translate
            }}
          </th>
          <th>
            {{
            "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.ACTIONS" | translate
            }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td><span [innerHTML]="item.governmentName"> </span></td>
          <td>
            <span [innerHTML]="item.healthAdministrationName"> </span>
          </td>
          <td><span [innerHTML]="item.diseaseGroupName"> </span></td>
          <td><span [innerHTML]="item.methodTypeName"> </span></td>
          <td>
            <a (click)="getById(item.id)" class="text-primary pi pi-pencil"></a>
            &nbsp;&nbsp;
            <a data-bs-target="#exampleModal2" data-bs-toggle="modal" (click)="nameToDelete(item)"
              class="text-danger mess-color bi bi-trash-fill"></a>
            &nbsp;&nbsp;
            <a data-bs-target="#exampleModal0" data-bs-toggle="modal" (click)="start(item.id)" title="start"
              class="text-primary bi bi-google-play"></a>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div class="col-11 col-lg-12" style="margin-bottom: 4px">
      <p-paginator *ngIf="!noData" [rows]="patientsFilter.pageSize" [totalRecords]="pages"
        (onPageChange)="paginate($event)" [first]="first" [currentPageReportTemplate]="
          'NEDSS.COMMON.CURRENT_PAGE_REPORT' | translate
        " [showCurrentPageReport]="true" [rowsPerPageOptions]="[
          10,
          20,
          30,
          40,
          50,
          70,
          100,
          200,
          500,
          1000,
          2000,
          pages >= 5000 ? pages : 5000
        ]"></p-paginator>
    </div>
    <div class="row" [hidden]="!noData">
      <div class="no-data content-center">
        <img src="../../../../../../../Content/Images/svg/no-data.svg" />

        <span>{{ "NEDSS.COMMON.NO_CONTENT" | translate }}</span>
      </div>
    </div>

    <div class="col-lg-5 p-4 pb-0"></div>
    <div class="col-lg-5 p-4 pb-0"></div>
  </div>
</form>

<!-- confirm - modal -->

<div class="modal fade opast small-modal" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bord-round">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ "NEDSS.COMMON.SURE_DELETE_ATTENTION" | translate }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ "NEDSS.COMMON.SURE_DELETE" | translate
        }}<strong style="color: red"> {{ underDeleting.arabicName }} </strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          {{ "NEDSS.COMMON.CANCEL" | translate }}
        </button>
        <button type="button" class="btn btn-secondary" (click)="delete(underDeleting.id)" data-bs-dismiss="modal">
          {{ "NEDSS.COMMON.DELETE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- confirm - modal -->

<div class="modal fade opast small-modal" id="exampleModal0" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog bord-round">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title color" id="exampleModalLabel">
          {{
          "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.EPIDEMIOLOGICALTHRESHOLDSRESULT"
          | translate
          }}
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        <font class="col-lg-12 px-2 color">
          {{
          "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.OUTBREAKHASOCCURRED"
          | translate
          }}:
          <span style="color: black">
            {{ OperationResult.hasOutbreak ? "يوجد" : "لا يوجد" }}
          </span>
        </font>

        <font class="col-lg-12 px-2 color">
          {{
          "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.EPIDEMIOLOGICAL-THRESHOLD"
          | translate
          }}
          :
          <span style="color: black"> {{ OperationResult.threshold }} </span>
        </font>
        <font class="col-lg-12 px-2 color">
          {{ "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.VALUE" | translate }}:
          <span style="color: black"> {{ OperationResult.value }} </span>
        </font>
        <font class="col-lg-12 px-2 color">
          {{
          "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.AVERAGE" | translate
          }}
          :
          <span style="color: black"> {{ OperationResult.mean }} </span>
        </font>
        <font class="col-lg-12 px-2 color">
          {{
          "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.STANDARDDEVIATION"
          | translate
          }}
          :
          <span style="color: black">
            {{ OperationResult.standardDeviation }}
          </span>
        </font>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg btn-lg text-white rounded-5" data-bs-dismiss="modal">
          {{ "NEDSS.COMMON.CLOSE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade opast small-modal" id="addusers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" *ngIf="viewUsers">
  <div class="modal-dialog bord-round" role="document">
    <div class="modal-content">
      <div class="modal-header bord-round">
        <h5 class="modal-title" id="exampleModalLabel">
          {{
          "NEDSS.HOME.USERS.EPIDEMIOLOGICAL-THRESHOLDS.ADDMEMBERS" | translate
          }}
        </h5>
        <button type="button" class="btn btn-outline-danger bi bi-x-circle" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <app-chat-filter [selectedUsers]="availableUsers" (usersOut)="UpdateUsers($event)"></app-chat-filter>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="close-add-user" data-bs-dismiss="modal">
          {{ "NEDSS.CHAT.CANCEL" | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="addUsers()">
          {{ "NEDSS.COMMON.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div> -->

