<div class="sub-nav rounded list-group shadow larg-screen-nav-codes">
  <a
    class="list-group-item"
    routerLink="./dashBoardControlers"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DASHBOARDCONTROL" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./organization"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.ORGANIZATION" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./dependency"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DEPENDENCY" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./government"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.GOVERNMENTS" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./health-administration"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.HEALTH_ADMINISTRATION" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./incident-source-type"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.INCIDENT_SOURCE_TYPE" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./incident-source"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.INCIDENT_SOURCES" | translate }}</a
  >
  <a class="list-group-item" routerLink="./city" routerLinkActive="active">{{
    "NEDSS.HOME.CONTROL_PANEL.CODES.CITY" | translate
  }}</a>
  <!-- <a class="list-group-item" routerLink="./health-office" routerLinkActive="active">{{'NEDSS.HOME.CONTROL_PANEL.CODES.HEALTH_OFFICE'|translate}}</a> -->
  <a
    class="list-group-item"
    routerLink="./principality"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.PRINCIPALITY" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./disease-category"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASE_CATEGORY" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./disease-group"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.PRIMARY_DIAGNOSIS" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./diseases"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.FINAL_DIAGNOSIS" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./disease-checks"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASES_CHECKS" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./patient-job-category"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.PATIENT_JOB_CATEGORY" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./patient-job"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.PATIENT_JOB" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./device-category"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DEVICE_CATEGORY" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./device-type"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DEVICE_TYPE" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./disease-lab-checks"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASE_LAB_CHECKS" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./disease-lab-checks-result"
    routerLinkActive="active"
    >{{
      "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASE_LAB_CHECKS_RESULT" | translate
    }}</a
  >
  <a
    class="list-group-item"
    routerLink="./lab-places"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.LAB_PLACES" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./unit-responsibility-level"
    routerLinkActive="active"
    >{{
      "NEDSS.HOME.CONTROL_PANEL.CODES.UNIT_RESPONSIBILITY_LEVEL" | translate
    }}</a
  >
  <!-- <a class="list-group-item" routerLink="./user-group" routerLinkActive="active">{{'NEDSS.HOME.CONTROL_PANEL.CODES.USER_GROUP'|translate}}</a> -->
  <a
    class="list-group-item"
    routerLink="./position"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.POSITIONS" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./department"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DEPARTMENT" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./nationality"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.NATIONALITY" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./final-result"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.FINAL_RESULT" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./case-result-category"
    routerLinkActive="active"
    >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.CASE_RESULT_CATEGORY" | translate }}</a
  >
  <a
    class="list-group-item"
    routerLink="./clinical-symptoms"
    routerLinkActive="active"
    >{{
      "NEDSS.HOME.CONTROL_PANEL.CODES.CLINICAL_SYMPTOMS" | translate
    }}</a
  >
</div>

<!-- /////  small screen dropdown list -->

<label class="popup small-screen-nav-codes sub-nav rounded list-group">
  <input type="checkbox" />
  <div class="burger" tabindex="0">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class="popup-window">
    <!-- <legend>Actions</legend> -->
    <ul>
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./dashBoardControlers"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.DASHBOARDCONTROL" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./organization"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.ORGANIZATION" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./dependency"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DEPENDENCY" | translate }}</a
            >
          </span>
        </button>
      </li>
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./government"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.GOVERNMENTS" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./health-administration"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.HEALTH_ADMINISTRATION"
                  | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./incident-source-type"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.INCIDENT_SOURCE_TYPE"
                  | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./incident-source"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.INCIDENT_SOURCES" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./city"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.CITY" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./principality"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.PRINCIPALITY" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./disease-category"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASE_CATEGORY" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./disease-group"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.PRIMARY_DIAGNOSIS" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./diseases"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.FINAL_DIAGNOSIS" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./disease-checks"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASES_CHECKS" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./patient-job-category"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.PATIENT_JOB_CATEGORY"
                  | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./patient-job"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.PATIENT_JOB" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./device-category"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.DEVICE_CATEGORY" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./device-type"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DEVICE_TYPE" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./disease-lab-checks"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASE_LAB_CHECKS" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./disease-lab-checks-result"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.DISEASE_LAB_CHECKS_RESULT"
                  | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./lab-places"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.LAB_PLACES" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./unit-responsibility-level"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.UNIT_RESPONSIBILITY_LEVEL"
                  | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./position"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.POSITIONS" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./department"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.DEPARTMENT" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./nationality"
              routerLinkActive="active"
              >{{ "NEDSS.HOME.CONTROL_PANEL.CODES.NATIONALITY" | translate }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./final-result"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.FINAL_RESULT" | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./case-result-category"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.CASE_RESULT_CATEGORY"
                  | translate
              }}</a
            >
          </span>
        </button>
      </li>
      <hr />
      <li>
        <button>
          <span>
            <a
              class="list-group-item"
              routerLink="./clinical-symptoms"
              routerLinkActive="active"
              >{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.CLINICAL_SYMPTOMS" | translate
              }}</a
            >
          </span>
        </button>
      </li>
    </ul>
  </nav>
</label>
