.governmentRowColor {
  background-color: #87ceea;
}

.governmentTextColor {
  color: #7f2f3d;
  font-weight: 600;
}

.countRowColor {
  background-color: #fffee0;
}

.countTextColor {
  font-weight: 600;
}

.ministry-title h6 {
  color: #0778be;
  text-align: center;
  font-size: 14px;
}

.ar #pdfTables table thead > tr > th {
  text-align: left !important;
}

#pdfTables table thead > tr > th {
  text-align: right !important;
}

#pdfTables table td {
  text-align: right !important;
}

.fs-13 {
  font-size: 13px;
}

@media print {
  @page {
    size: landscape !important;
  }

  #pdfTable {
    display: block;
    width: 100%; /* Adjusts to fit the page width */
    transform: scale(0.8); /* Scale down to fit more on a single page */
    transform-origin: top left;
  }
  /* Page break before each new section */
  .page-break {
    page-break-before: always;
  }
  /* Adjust font and spacing for print */
  * {
    font-size: 10pt;
    line-height: 1.2;
  }
}
