.table_report {
    overflow-x: auto;
}


 .active-link {
    background-color:  bg-secondary;
}

.no-data.content-center .pi-spinner {
    font-size: 1.75rem;
    color: #6c757d;
    margin-inline-end: 8px;
    vertical-align: middle;
}
