  /* Absolute Center Spinner */

  .infinity-loading-bg {
      position: fixed;
      z-index: 999;
      height: 2em;
      width: 2em;
      overflow: show;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
  }

  .infinity-loading-bg svg {
      position: absolute;
      left: 50%;
      top: 50%
  }

  /* Transparent Overlay */

  .infinity-loading-bg:before {
      content: '';
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #007bff;
  }

  #infinity-loading-outline {
      stroke-dasharray: 2.43px, 243px;
      stroke-dashoffset: 0;
      animation: anim 1.3s linear infinite;
  }

  @keyframes anim {
      12.5% {
          stroke-dasharray: 34.02px, 243px;
          stroke-dashoffset: -26.73px;
      }

      43.75% {
          stroke-dasharray: 85.05px, 243px;
          stroke-dashoffset: -85.05px;
      }

      100% {
          stroke-dasharray: 2.43px, 243px;
          stroke-dashoffset: -240.57px;
      }
  }

  /*not specific to notifications*/
  .no-padding {
      padding: 0 !important
  }