<h2 class="titles">
  {{ "NEDSS.HOME.CONTROL_PANEL.PASSWORD_EXPIRY_DAYS" | translate }}
</h2>

<form (ngSubmit)="save()" #userForm="ngForm" novalidate>
  <div class="card shadow color">
    <div class="card-body bg-dark-mode">
      <div class="row">
        <div class="col-lg-4">
          <div class="form-group">
            <label for="expiryDays">
              {{ "NEDSS.HOME.CONTROL_PANEL.PASSWORD_EXPIRY_DAYS" | translate }}
              <span class="text-muted">{{ "NEDSS.HOME.CONTROL_PANEL.PASSWORD_EXPIRY_DAYS_HINT" | translate }}</span>
              <span class="text-danger">*</span>
            </label>
            <input type="text" name="expiryDays" [(ngModel)]="expiryDays" class="form-control"
              (keypress)="onNumberKeyPress($event)" required>
            <div *ngIf="userForm.controls.expiryDays?.touched && userForm.controls.expiryDays?.errors?.required"
              class="form-text text-danger">
              {{"NEDSS.COMMON.FILEDREQUIRED" | translate}}
            </div>
            <div *ngIf="!isValid" class="form-text text-danger">
              {{"NEDSS.COMMON.INVALID_NUMBER" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer text-start" style="text-align:center !important">
        <button type="submit" [disabled]="userForm.invalid" class="btn bg text-white rounded-2">
          {{ "NEDSS.COMMON.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
