.main-title{
  background-color: #bbb7b7;
  padding: 0rem;
  margin: 0;
  border: 1px solid #ccc;
}

.report-body{
  background-color: #fff !important;
  flex-direction: column;
}
.main-container{
  display: flex;

  flex-direction: row;
}
 .main-title{
  width: 100%;
}
.sub-container{
  display: flex;

}
