.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.dropdown{
  list-style-type: none;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}



#checkboxes label {
  width: 80%;
  display: block;
}

#checkboxes label:hover {
  color: rgb(255, 255, 255);
  background-color: #1e90ff;
}

ul{
  position: absolute;
  z-index: 10000;
    background: white;
    width: 35%;
    border: 1px solid gray;
    border-radius: 5px;
}
.table_report {
  overflow-x: auto;
}
