<form [formGroup]="meningealForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4 color mb-4">
        <div class="card-body">
          <div id="jump_to_this_location"></div>
          <h5 class="text-center border p-2">{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.TITLE" | translate }}</h5>

          <div class="row mt-3">
            <div class="col-lg-12"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.PATIENT_NAME" | translate }}: {{ patientName }}</label></div>
            <div class="col-lg-4 mt-2">
              <label>
                {{ "NEDSS.INVESTIGATIONS.percentage" | translate }}:
                <span class="mx-2 text-danger">{{ allControllesCount === 0 ? '0.00' : ((allFilledControlsCount / allControllesCount) * 100 | number:'1.0-2') }}%</span>
              </label>
              <input type="range" class="form-range bg" [readonly]="true"
                style="border-radius: 11.7px; border: 5.5px solid white"
                min="0" max="100" step="1"
                [value]="allControllesCount ? (allFilledControlsCount / allControllesCount) * 100 : 0" />
            </div>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.FORM_METADATA" | translate }}</h6>
            <div class="row">
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.DISEASE_TYPE" | translate }}</label><select class="form-control" formControlName="diseaseType" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of diseaseTypeOptions" [value]="item">{{ diseaseTypeLabel(item) }}</option></select></div>
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.INVESTIGATION_DATE" | translate }}</label><app-date-field formControlName="investigationDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>
            </div>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.DEMOGRAPHIC_DATA" | translate }}</h6>
            <div class="row">
              <div class="col-12">
                <div class="alert alert-info py-2 mb-3">
                  {{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.SCHOOL_OR_GATHERING_NOTE" | translate }}
                </div>
              </div>
              <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.SCHOOL_OR_GATHERING_NAME" | translate }}</label><input class="form-control" formControlName="schoolOrGatheringName" (blur)="calculateCompletionPercentage()" /></div>
              <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.LAST_VISIT_DATE" | translate }}</label><app-date-field formControlName="lastVisitDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>
              <div class="col-lg-6">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.SCHOOL_GOVERNORATE" | translate }}</label>
                <select class="form-control" [appDropdownLoading]="governoratesLoading" formControlName="schoolGovernorate" (change)="calculateCompletionPercentage()">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let item of governorates" [value]="item.id">
                    {{ currentLang === 'ar' ? item.arabicName : item.englishName }}
                  </option>
                </select>
              </div>
              <div class="col-lg-6">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.SCHOOL_ADMINISTRATION_AREA" | translate }}</label>
                <select class="form-control" [appDropdownLoading]="schoolDistrictsLoading" formControlName="schoolAdministrationArea" (change)="calculateCompletionPercentage()">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let item of schoolDistricts" [value]="item.id">
                    {{ currentLang === 'ar' ? item.arabicName : item.englishName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.TRAVELED_ABROAD" | translate }}</label><select class="form-control" formControlName="traveledAbroad" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
              <div class="col-lg-4">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.COUNTRY" | translate }}</label>
                <select class="form-control" [appDropdownLoading]="countriesLoading" formControlName="travelDestinationCountry" (change)="calculateCompletionPercentage()">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let item of countries" [value]="item.id">
                    {{ currentLang === 'ar' ? item.arabicName : item.englishName }}
                  </option>
                </select>
              </div>
              <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.ARRIVAL_DATE" | translate }}</label><app-date-field formControlName="arrivalDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>
            </div>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.VACCINATION_STATUS" | translate }}</h6>
            <div class="row">
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.HIB_VACCINATION" | translate }}</label><select class="form-control" formControlName="vaccinationHibStatus" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoUnknownOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.LAST_DOSE_DATE" | translate }}</label><app-date-field formControlName="vaccinationHibLastDoseDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>

              <div class="col-lg-6 mt-2"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.MENINGOCOCCAL_VACCINATION_SCHOOLS" | translate }}</label><select class="form-control" formControlName="vaccinationMeningococcalSchoolsStatus" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoUnknownOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
              <div class="col-lg-6 mt-2"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.LAST_DOSE_DATE" | translate }}</label><app-date-field formControlName="vaccinationMeningococcalSchoolsLastDoseDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>

              <div class="col-lg-6 mt-2"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.MENINGOCOCCAL_VACCINATION_TRAVELERS" | translate }}</label><select class="form-control" formControlName="vaccinationMeningococcalTravelersStatus" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoUnknownOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
              <div class="col-lg-6 mt-2"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.LAST_DOSE_DATE" | translate }}</label><app-date-field formControlName="vaccinationMeningococcalTravelersLastDoseDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>
            </div>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.RISK_FACTORS" | translate }}</h6>
            <div class="row">
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_WITH_SIMILAR_CASE" | translate }}</label><select class="form-control" formControlName="contactWithSimilarCase" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoUnknownOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
            </div>
            <div class="row mt-2">
              <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_PATIENT_NAME" | translate }}</label><input class="form-control" formControlName="contactPatientName" (blur)="calculateCompletionPercentage()" /></div>
              <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_RELATIONSHIP" | translate }}</label><input class="form-control" formControlName="contactRelationship" (blur)="calculateCompletionPercentage()" /></div>
              <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_HOSPITALIZED" | translate }}</label><select class="form-control" formControlName="contactHospitalized" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoUnknownOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_HOSPITAL_NAME" | translate }}</label><input class="form-control" formControlName="contactHospitalName" (blur)="calculateCompletionPercentage()" /></div>
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_HOSPITAL_ADMISSION_DATE" | translate }}</label><app-date-field formControlName="contactHospitalAdmissionDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_FINAL_DIAGNOSIS" | translate }}</label><input class="form-control" formControlName="contactFinalDiagnosis" (blur)="calculateCompletionPercentage()" /></div>
            </div>
            <div class="row mt-3">
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_TRAVELED_ABROAD" | translate }}</label><select class="form-control" formControlName="contactTraveledAbroad" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
              <div class="col-lg-3">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.COUNTRY" | translate }}</label>
                <select class="form-control" [appDropdownLoading]="countriesLoading" formControlName="contactTravelCountry" (change)="calculateCompletionPercentage()">
                  <option [ngValue]="null"></option>
                  <option *ngFor="let item of countries" [value]="item.id">
                    {{ currentLang === 'ar' ? item.arabicName : item.englishName }}
                  </option>
                </select>
              </div>
              <div class="col-lg-3"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.ARRIVAL_DATE" | translate }}</label><app-date-field formControlName="contactArrivalDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>
            </div>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CASE_MOVEMENTS" | translate }}</h6>
            <textarea rows="3" class="form-control" formControlName="caseMovements" (blur)="calculateCompletionPercentage()"></textarea>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.DIRECT_CONTACTS_LIST" | translate }}</h6>
            <div class="row"><div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.TOTAL_CONTACTS_COUNT" | translate }}</label><input type="number" class="form-control" formControlName="totalContactsCount" (blur)="calculateCompletionPercentage()" /></div></div>
            <div formArrayName="contacts" class="mt-3 table-responsive">
              <table class="table table-bordered table-striped align-middle">
                <thead>
                  <tr>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_SEQ" | translate }}</th>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.PATIENT_NAME" | translate }}</th>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.AGE" | translate }}</th>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_RELATIONSHIP_TO_CASE" | translate }}</th>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_VACCINATION_STATUS" | translate }}</th>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_CHEMOPROPHYLAXIS_GIVEN" | translate }}</th>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_DRUG_USED" | translate }}</th>
                    <th>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CONTACT_DOSE" | translate }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i">
                    <td><input type="number" class="form-control" formControlName="contactSeq" readonly /></td>
                    <td><input class="form-control" formControlName="contactName" (blur)="calculateCompletionPercentage()" /></td>
                    <td><input type="number" class="form-control" formControlName="contactAge" (blur)="calculateCompletionPercentage()" /></td>
                    <td><input class="form-control" formControlName="contactRelationshipToCase" (blur)="calculateCompletionPercentage()" /></td>
                    <td><input class="form-control" formControlName="contactVaccinationStatus" (blur)="calculateCompletionPercentage()" /></td>
                    <td><select class="form-control" formControlName="contactChemoprophylaxisGiven" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></td>
                    <td><input class="form-control" formControlName="contactDrugUsed" (blur)="calculateCompletionPercentage()" /></td>
                    <td><input class="form-control" formControlName="contactDose" (blur)="calculateCompletionPercentage()" /></td>
                    <td class="text-center">
                      <button class="btn btn-danger" type="button" (click)="removeContact(i)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <button class="btn bg rounded-2 text-light" type="button" (click)="addContact()">
                {{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.ADD_CONTACT" | translate }}
              </button>
            </div>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.COMPLICATIONS_FOLLOW_UP" | translate }}</h6>
            <div formArrayName="followUpRounds" class="accordion" id="meningealFollowupAccordion">
              <div class="accordion-item" *ngFor="let round of followUpRounds.controls; let i = index" [formGroupName]="i">
                <h2 class="accordion-header" [id]="'headingFollowUp' + i">
                  <button class="accordion-button" [class.collapsed]="i !== 0" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapseFollowUp' + i" [attr.aria-controls]="'collapseFollowUp' + i"
                    [attr.aria-expanded]="i === 0 ? 'true' : 'false'">
                    {{ getRoundLabel(round.value.round) | translate }}
                  </button>
                </h2>
                <div [id]="'collapseFollowUp' + i" class="accordion-collapse collapse" [class.show]="i === 0"
                  [attr.aria-labelledby]="'headingFollowUp' + i" data-bs-parent="#meningealFollowupAccordion">
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.FOLLOWUP_DONE" | translate }}</label><select class="form-control" formControlName="followupDone" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
                      <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.COMPLICATIONS_OCCURRED" | translate }}</label><select class="form-control" formControlName="complicationsOccurred" (change)="calculateCompletionPercentage()"><option [ngValue]="null"></option><option *ngFor="let item of yesNoOptions" [value]="item">{{ yesNoLabel(item) }}</option></select></div>
                      <div class="col-lg-4"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.COMPLICATION_DATE" | translate }}</label><app-date-field formControlName="complicationDate" (changed)="calculateCompletionPercentage()"></app-date-field></div>
                    </div>

                    <div class="row mt-3" *ngFor="let group of complicationGroups">
                      <div class="col-12 title fs-6 fwb">
                        {{ label(group.titleAr, group.titleEn) }}
                      </div>
                      <div class="col-lg-3 mt-1" *ngFor="let item of group.items">
                        <label class="d-flex align-items-center">
                          <input class="mx-1" type="checkbox" [checked]="hasComplication(i, item)"
                            (change)="toggleComplication(i, item, $any($event.target).checked)" />
                          {{ ("NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.COMPLICATIONS." + item) | translate }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CASE_SUMMARY_NOTES" | translate }}</h6>
            <div class="row">
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.CASE_SUMMARY" | translate }}</label><textarea rows="3" class="form-control" formControlName="caseSummary" (blur)="calculateCompletionPercentage()"></textarea></div>
              <div class="col-lg-6"><label>{{ "NEDSS.COMPLETE_INVESTEGATION.MENINGEAL.NOTES" | translate }}</label><textarea rows="3" class="form-control" formControlName="notes" (blur)="calculateCompletionPercentage()"></textarea></div>
            </div>
          </div>
        </div>
        <div class="card-footer text-start">
          <button type="submit" class="btn bg rounded-2 text-light">
            {{ "NEDSS.COMMON.SAVE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
