.content {
  padding: 15px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.box.box-primary {
  border-top-color: #222533;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.box-header.with-border {
  border-bottom: 1px solid #d8e2e7;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header {
  padding: 10px !important;
}

.box-body {
  border-radius: 0 0 3px 3px !important;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.ui-accordion {
  border: 1px solid #f4f4f4;
}

.notigybg {
  background: #fafafa;
  display: flex;
  padding: 10px;
  flex-direction: row-reverse;
  overflow: hidden;
  font-weight: bold;
}

.notifyleft {
  width: 8%;
  float: left;
}

.notifymiddle {
  width: 70%;
  float: left;
}

.notifyright {
  width: 18%;
  float: left;
}

.accordianheader {
  color: #000;
  background: #fff;
  padding: 10px 10px;
  margin-bottom: 0px;
  border-top: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
}

.noteDM10 {
  padding-top: 10px;
}

.note-content {
  padding-left: 8.5%;
  padding-bottom: 15px;
}

.ui-widget-content {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

.readbg {
  background: #fff;
}

.accordianheader {
  color: #000;
  background: #fff;
  padding: 10px 10px;
  margin-bottom: 0px;
  border-top: 1px solid #ddd;
  position: relative;
  overflow: hidden;
  outline: 0;
  cursor: pointer;
}

.note-content {
  padding-left: 8.5%;
  padding-bottom: 15px;
}

.cDate {
  color: #fff;
  display: block;
  width: 25% !important;
  text-align: center;
  font-size: smaller;
  margin-left: 1%;
}

.title {
  margin-right: 16%;
  margin-left: 28%;
  display: block;
  width: 60% !important;
  text-align: center;
  font-size: smaller;
}
.seen {
  margin-right: 3%;
  display: block;
  width: 19% !important;
  text-align: center;
  font-size: smaller;
}

.btn-link {
  display: flex;
  width: 100%;
}

.accordion {
  max-height: 27rem;
  overflow-y: scroll;
  font-size: smaller;
}

/* @media screen and (max-width:480px) and (min-width: 341px) {
  .notifica-card{
    width: 90vw !important;
  }

} */
.notification-wrapper {
  cursor: pointer;
  border-bottom: 1px solid #ededed;
}
.is-seen {
  position: relative;
}
.is-seen:before {
  content: "";
  position: absolute;
  top: -10px;
  right: -21px;
  width: 2px;
  height: 100%;
  background-color: #0778be;
}
.notification-date span {
  color: #aaaaaa;
}
.width-5 {
  width: 5%;
}
.width-95 {
  width: 95%;
}
.btn-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cecece !important;
  border-color: #cecece !important;
  color: #fff !important;
  padding: 6px;
}
.btn-delete i {
  font-size: 11px;
  color: #fff !important;
}
.notification-date {
  gap: 7px;
}
.notification-date i {
  color: #aaaaaa;
  font-size: 13px;
}
.btn-danger {
  background-color: #dc3545 !important;
  border: #dc3545 !important;
  color: #fff;
  gap: 6px;
}
