input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

* {
  margin: 0px;
  padding: 0;
}

@media print {
  * {
    margin: 0px !important;
    padding: 0 !important;
  }

  .actions {
    display: none;
  }
}

input:focus {

  outline: 0px
}

.control-container {
  position: relative;
  cursor: pointer;

}

.control-container :hover>.actions {
  display: block;
}

.actions {
  position: absolute;
  top: 0;
  left: -30px;
  display: none;
  z-index: 1000;
  cursor: pointer;

}

.actions i {
  display: inline;
  margin: 0 .5rem;
}
