
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}
.main-container {
  padding: 20px;
background-color: #fff;
  justify-content: center;
  flex-direction: row;
}

.main-container,
.sub-container {
  display: flex;

  cursor: pointer;
  position: relative;
}
  .main-container:hover .actions,
.sub-container:hover .actions{
  display: block;
}
.main-container:hover .main-actions,
.sub-container:hover .main-actions {
  display: block;
}




 .sub-container {
  flex-direction: column;

 }

.actions {
  position: absolute;
  top: -16px;

  left: 0;
  display: none;
  cursor: pointer;
  z-index: 10000;

}
.actions i{
  display: inline;
  margin: 0 .5rem;
}

.main-actions {
  position: absolute;
  top: -16px;
  right: 0;
  display: none;
  cursor: pointer;
  z-index: 10000;

}

.main-actions i{
  display: inline;
  margin: 0 .5rem;
}
* {
  font-size: 11px;
}

#sub-container-model * {
  font-size: 1rem !important;
}
@media print {

  .actions{
    display: none;
  }
  .main-actions{
    display: none;
  }
  *{
    background-color: aqua;
  }
}

.control-drag{
  cursor: pointer;
}
.form-section{
  overflow: auto;
}
