<div class="bg-white my-4">
  <div class="w-100">
    <button
      (click)="FEVERStatus = !FEVERStatus"
      class="toggelBtn shadow-sm border-0 w-100 btn-clin d-flex gap-2 align-items-center"
      type="button"
    >
      <span style="flex-grow: 1" class="fw-bold fs-6">
        {{ "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.FEVERDURATION" | translate }}
      </span>
      <span
        [class]="'pi mx-2 ' + (FEVERStatus ? 'pi-chevron-up' : 'pi-chevron-down')"
        style="width: 24px"
      ></span>
    </button>
  </div>
  <div
    id="craiteria"
    class="row craiteria bg-dark-mode p-3 justify-content-around"
    [ngStyle]="FEVERStatus ? { display: 'flex' } : { display: 'none' }"
  >
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="form-group">
        <label for="">
          {{ "NOUR.word143" | translate }}
          <span *ngIf="!!patient.feverSymptoms.feverDuration" class="text-danger mess-color">*</span>
          <span class="text-muted"> </span>
        </label>
        <input
          [(ngModel)]="patient.feverSymptoms.feverDuration"
          name="feverDuration"
          type="number"
          class="form-control w-100"
          [required]="!FEVERStatus"
          pInputText
          (blur)="
            generalDataService.isFeverDurationValid =
              generalDataService.isNumberPositiveAndLessThanMax(
                patient.feverSymptoms.feverDuration,
                3
              )
          "
        />
        <small *ngIf="!generalDataService.isFeverDurationValid" class="form-text text-danger mess-color">
          {{
            "NEDSS.COMMON.MAX_DIGITS_VALIDATION"
              | translate : { fieldName: FEVER_DURATION_DAYS, maxDigits: 3 }
          }}
        </small>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="form-group">
        <label for="">
          {{ "NOUR.Fever_Duration" | translate }}
          <span *ngIf="!!patient.feverSymptoms.feverDuration" class="text-danger mess-color">*</span>
          <span class="text-muted"> </span>
        </label>
        <p-dropdown
          [options]="feverDurationTypes"
          (onChange)="onfeverDurationTypeChange()"
          [(ngModel)]="patient.feverSymptoms.feverDurationType"
          [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'"
          optionValue="id"
          autoWidth="false"
          [style]="{ width: '100%' }"
          name="feverDurationType"
          [required]="!!patient.feverSymptoms.feverDuration"
          [filter]="true"
          [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'"
          #feverDurationType
        ></p-dropdown>
        <small
          *ngIf="!patient.feverSymptoms.feverDurationType && isfeverDurationTypeChanged"
          class="form-text text-danger mess-color"
        >
          {{ "NEDSS.HOME.CONTROL_PANEL.SPECIAL_SYMPTOMS_ADD.filedRequired" | translate }}
        </small>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
      <div class="form-group">
        <label for="">
          {{ "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.FEVER_MAX_TEMP" | translate }}
          <span *ngIf="!!patient.feverSymptoms.feverDuration" class="text-danger mess-color">*</span>
        </label>
        <input
          [(ngModel)]="patient.feverSymptoms.feverMaxTemp"
          type="number"
          step="0.1"
          class="form-control feverMaxTemptyle mt-1 w-100"
          [required]="!!patient.feverSymptoms.feverDuration"
          pInputText
          (blur)="
            generalDataService.isFeverMaxTemperatureValid =
              generalDataService.validateFeverMaxTemperature(
                patient.feverSymptoms.feverMaxTemp
              )
          "
        />
        <small *ngIf="!generalDataService.isFeverMaxTemperatureValid" class="form-text text-danger mess-color">
          {{ "NEDSS.COMMON.FEVER_TEMPERATURE_VALIDATION" | translate }}
        </small>
      </div>
    </div>
  </div>
</div>

<div class="bg-white my-4">
  <div class="w-100">
    <button class="toggelBt shadow-sm border-0 w-100 btn-clin d-flex gap-2 align-items-center" type="button">
      <span style="flex-grow: 1" class="fw-bold fs-6">
        {{ "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.GENERALDESIEASE" | translate }}
      </span>
    </button>
  </div>
  <div class="row craiteria bg-dark-mode p-3 justify-content-around">
    <div class="col-12 mt-2">
      <div class="row">
        <div class="col-12 mt-2">
          <div class="fwb spaceLable color-d-3">
            {{
            "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.EXISTING_SYMPTOMS"
            | translate
            }}
          </div>
        </div>
        <div class="col-6 mt-2">
          <ng-multiselect-dropdown class="w-100" [settings]="multipleDropdownSettings" [data]="existingSymptomsOptions"
            [(ngModel)]="existingSymptomsSelection" (onSelect)="onExistingSymptomSelect($event)"
            (onDeSelect)="onExistingSymptomDeSelect($event)" (onSelectAll)="onExistingSymptomsSelectAll($event)"
            (onDeSelectAll)="onExistingSymptomsDeSelectAll()" name="existingSymptoms">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </div>

    <div class="col-12 mt-2">
      <div class="col-12 mt-2">
        <div class="fwb spaceLable color-d-3">
          {{
          "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.AreThereChronicDiseases"
          | translate
          }}
        </div>
        <div class="has-labels">
          <label for="">
            <input [(ngModel)]="patient.haveChronicDisease" name="ChronicDiseases" type="radio" [value]="true"
              (change)="scrollToChronicSection()" />
            {{ "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.YES" | translate }}
          </label>
          <label for="">
            <input [(ngModel)]="patient.haveChronicDisease" name="ChronicDiseases" type="radio" [value]="false" />
            {{ "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.NO" | translate }}
          </label>
        </div>
      </div>

      <div class="col-12 mt-3" *ngIf="patient.haveChronicDisease === true" #chronicSection>
        <div class="fwb spaceLable color-d-3">
          {{
          "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.ChronicDiseases"
          | translate
          }}
        </div>
        <div class="chronic-grid">
          <label *ngFor="let dieases of chronicDiseases; let i = index" class="chronic-item text-muted">
            <input class="form-check-input" type="checkbox" [(ngModel)]="selectedChronicDiseases[dieases.id]"
              [name]="'chronic_' + dieases.id" (change)="itemsCheck(dieases.id)" (blur)="
              generalDataService.isChronicDiseaseValid =
                generalDataService.validateChronicDisease(
                  patient.chronicDiseasesIds,
                  patient.anotherChronicDisease,
                  patient.haveChronicDisease
                )
            " />
            <span>{{ dieases.name }}</span>
          </label>
        </div>
      </div>

      <div class="col-12 mt-3" *ngIf="patient.haveChronicDisease === true">
        <div class="fwb spaceLable color-d-3">
          {{
          "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.AnotherChronicDiseases"
          | translate
          }}
        </div>
        <textarea rows="3" pInputTextarea [(ngModel)]="patient.anotherChronicDisease" class="w-100" (onBlur)="
            generalDataService.isChronicDiseaseValid =
              generalDataService.validateChronicDisease(
                patient.chronicDiseasesIds,
                patient.anotherChronicDisease,
                patient.haveChronicDisease
              )
          "></textarea>
      </div>

      <div class="col-12" *ngIf="!generalDataService.isChronicDiseaseValid">
        <small class="form-text text-danger mess-color">
          {{ "NEDSS.COMMON.FILEDBOTHREQUIRED" | translate }}
        </small>
      </div>
    </div>
  </div>
</div>