.governmentRowColor {
  background-color: #87ceea;
}

.governmentTextColor {
  color: #7f2f3d;
  font-weight: 600;
}

.countRowColor {
  background-color: #fffee0;
}
.totalCountRowColor{
  background-color: #ffb703 !important;
}
.countTextColor {
  font-weight: 600;
}

.ministry-title h6 {
  color: #0778be;
  text-align: center;
  font-size: 14px;
}

.ar #pdfTables table thead > tr > th {
  text-align: left !important;
}

#pdfTables table thead > tr > th {
  text-align: right !important;
}

#pdfTables table td {
  text-align: right !important;
  border-width: 1px;
}

.fs-13 {
  font-size: 13px;
}

@media print {
  @page {
    size: landscape !important;
  }
  .transparent-bg {
    background-color: transparent !important;
  }
  .text-center {
    text-align: center !important;
  }
}
