<form [formGroup]="tetanusForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4 color">
        <div class="card-body">
          <h5 style="text-align: center; border: 1px solid; padding: 1%">
            {{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.PAGE_TITLE" | translate }}
          </h5>
          <br />
          <app-investigation-summary [patientName]="patientName" [allFilledControlsCount]="allFilledControlsCount"
            [allControllesCount]="allControllesCount">
          </app-investigation-summary>

          <div class="col-12">
            <div class="row color">
              <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                <div class="row">
                  <div class="col-12 title fs-6 fwb">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.EPIDEMIOLOGICAL_INVESTIGATION" | translate }}
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.BIRTH_TYPE" | translate }}</label>
                      <select formControlName="typeBirth" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()">
                        <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.NATURAL" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.CESAREAN" | translate }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.DELIVERY_ATTENDANT" | translate }}</label>
                      <input formControlName="deliveryAttendant" type="text" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.DATE_BIRTH" | translate }}</label>
                      <app-date-field formControlName="dateBirth" (blurred)="calculateCompletionPercentage()"></app-date-field>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.MOTHER_IMMUNIZATION_STATUS" | translate }}</label>
                      <select formControlName="statusMother" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()">
                        <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                        <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="row color">
              <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                <div class="row">
                  <div class="col-12 title fs-6 fwb">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.PREVENTIVE_MEASURES" | translate }}
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.MOTHER_VACCINATED_DURING_PREGNANCY" | translate }}</label>
                      <select formControlName="motherVaccinated" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()">
                        <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                        <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6" [appShowIf]="tetanusForm.get('motherVaccinated')?.value == 1">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.IF_YES_NUMBER_DOSES" | translate }}</label>
                      <select formControlName="numberServings" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.PLACE_BIRTH" | translate }}</label>
                      <select formControlName="placeBirth" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()">
                        <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.HOSPITAL" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.HOME" | translate }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.OTHER_SPECIFY" | translate }}</label>
                      <input formControlName="placeBirthOther" type="text" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.CORD_CUTTING_METHOD" | translate }}</label>
                      <select formControlName="cordCuttingMethod" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()">
                        <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.STERILE_MEDICAL_INSTRUMENT" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.OTHER_CONTAMINATED_TOOLS" | translate }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.CORD_TYING_TYPE" | translate }}</label>
                      <select formControlName="cordTyingType" name="" id="" class="form-control"
                        (blur)="calculateCompletionPercentage()">
                        <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.MEDICAL_CLAMP" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.ORDINARY_THREAD" | translate }}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.INVESTIGATION_DATE" | translate }}</label>
                      <app-date-field formControlName="investigationDate" (blurred)="calculateCompletionPercentage()"></app-date-field>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.HEALTH_OBSERVER_NAME" | translate }}</label>
                      <input type="text" name="" id="" class="form-control" formControlName="healthObserverName"
                        (blur)="calculateCompletionPercentage()" />
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.SURVEILLANCE_OFFICER" | translate }}</label>
                      <input type="text" name="" id="" class="form-control" formControlName="surveillanceOfficerName"
                        (blur)="calculateCompletionPercentage()" />
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.TETANUS.APPROVED_BY_ADMIN_DIRECTOR" | translate }}</label>
                      <input type="text" name="" id="" class="form-control"
                        formControlName="administrationDirectorName" (blur)="calculateCompletionPercentage()" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-start pt-4">
          <button type="submit" class="btn bg rounded-2 text-light mb-5">
            {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
