<div class="row">
  <div class="col-12">
    <div class="card shadow mt-4 color">
      <div class="card-body">
        <h5 style="text-align: center; border: 1px solid; padding: 1%">
          {{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.FORM_TITLE" | translate }}
        </h5>
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>
                {{"NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_NAME"| translate}}: {{ patientName }}
              </label>
            </div>
          </div>
        </div>

        <div class="card card-body bg-dark-mode rounded-2 mb-4 card-alt severe-fp-samples">
          <div class="title fs-6 fwb mb-2">
            {{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.CASE_DETAILS_SECTION" | translate }}
          </div>
          <div class="row severe-fp-grid">
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.CASE_COUNT" | translate }}</label>
                <input type="number" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.caseCount" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.FOOD_EXPOSURE_COUNT" | translate }}</label>
                <input type="number" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.foodExposureCount" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.FOOD_INTAKE_TIME" | translate }}</label>
                <input type="datetime-local" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.foodIntakeTime" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.SYMPTOMS_ONSET_TIME" | translate }}</label>
                <input type="datetime-local" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.symptomsOnsetTime" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.EXPOSURE_LOCATION" | translate }}</label>
                <ng-multiselect-dropdown
                  class="w-100"
                  [settings]="multipleDropdownSettings"
                  [data]="exposureLocations"
                  [(ngModel)]="selectedExposureLocations"
                  (onSelect)="calculateCompletionPercentage()"
                  (onDeSelect)="calculateCompletionPercentage()"
                  (onSelectAll)="calculateCompletionPercentage()"
                  (onDeSelectAll)="calculateCompletionPercentage()"
                  name="exposureLocation"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngIf="isChecked(selectedExposureLocations, 'OTHER')">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.IF_OTHER_SPECIFY" | translate }}</label>
                <input type="text" maxlength="200" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.exposureLocationOther" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.FOOD_TYPE" | translate }}</label>
                <ng-multiselect-dropdown
                  class="w-100"
                  [settings]="multipleDropdownSettings"
                  [data]="foodTypeOptions"
                  [(ngModel)]="selectedFoodTypes"
                  (onSelect)="calculateCompletionPercentage()"
                  (onDeSelect)="calculateCompletionPercentage()"
                  (onSelectAll)="calculateCompletionPercentage()"
                  (onDeSelectAll)="calculateCompletionPercentage()"
                  name="foodTypes"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngIf="isChecked(selectedFoodTypes, 'OTHER')">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.IF_OTHER_SPECIFY" | translate }}</label>
                <input type="text" maxlength="200" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.foodTypeOther" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.FOOD_SOURCE" | translate }}</label>
                <ng-multiselect-dropdown
                  class="w-100"
                  [settings]="multipleDropdownSettings"
                  [data]="foodSourceOptions"
                  [(ngModel)]="selectedFoodSources"
                  (onSelect)="calculateCompletionPercentage()"
                  (onDeSelect)="calculateCompletionPercentage()"
                  (onSelectAll)="calculateCompletionPercentage()"
                  (onDeSelectAll)="calculateCompletionPercentage()"
                  name="foodSources"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.PREPARATION_TO_INTAKE_DURATION" | translate }}</label>
                <input type="text" maxlength="100" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.preparationToIntakeDuration" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.WATER_SOURCE" | translate }}</label>
                <ng-multiselect-dropdown
                  class="w-100"
                  [settings]="multipleDropdownSettings"
                  [data]="waterSourceOptions"
                  [(ngModel)]="selectedWaterSources"
                  (onSelect)="calculateCompletionPercentage()"
                  (onDeSelect)="calculateCompletionPercentage()"
                  (onSelectAll)="calculateCompletionPercentage()"
                  (onDeSelectAll)="calculateCompletionPercentage()"
                  name="waterSourceType"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngIf="isChecked(selectedWaterSources, 'OTHER')">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.IF_OTHER_SPECIFY" | translate }}</label>
                <input type="text" maxlength="200" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.waterSourceOther" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.GENERAL_CASE_STATUS" | translate }}</label>
                <input type="text" maxlength="250" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.generalCaseStatus" />
              </div>
            </div>
          </div>
        </div>

        <div class="card card-body bg-dark-mode rounded-2 mb-4 card-alt severe-fp-samples">
          <div class="title fs-6 fwb mb-2">
            {{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.SAMPLES_SECTION" | translate }}
          </div>
          <div class="row severe-fp-grid">
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.HUMAN_SAMPLES" | translate }}</label>
                <ng-multiselect-dropdown
                  class="w-100 severe-fp-samples-msd"
                  [settings]="samplesDropdownSettings"
                  [data]="humanSampleOptions"
                  [(ngModel)]="selectedHumanSamples"
                  (onSelect)="calculateCompletionPercentage()"
                  (onDeSelect)="calculateCompletionPercentage()"
                  (onSelectAll)="calculateCompletionPercentage()"
                  (onDeSelectAll)="calculateCompletionPercentage()"
                  name="humanSamples"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngIf="isChecked(selectedHumanSamples, 'OTHER')">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.IF_OTHER_SPECIFY" | translate }}</label>
                <input type="text" maxlength="200" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.humanSamplesOther" />
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.ENVIRONMENTAL_SAMPLES" | translate }}</label>
                <ng-multiselect-dropdown
                  class="w-100 severe-fp-samples-msd"
                  [settings]="samplesDropdownSettings"
                  [data]="environmentalSampleOptions"
                  [(ngModel)]="selectedEnvironmentalSamples"
                  (onSelect)="calculateCompletionPercentage()"
                  (onDeSelect)="calculateCompletionPercentage()"
                  (onSelectAll)="calculateCompletionPercentage()"
                  (onDeSelectAll)="calculateCompletionPercentage()"
                  name="environmentalSamples"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <div class="col-lg-3 col-md-6" *ngIf="isChecked(selectedEnvironmentalSamples, 'OTHER')">
              <div class="form-group">
                <label>{{ "NEDSS.COMPLETE_INVESTEGATION.SEVERE_FOOD_POISONING.IF_OTHER_SPECIFY" | translate }}</label>
                <input type="text" maxlength="200" class="form-control" (blur)="calculateCompletionPercentage()"
                  [(ngModel)]="SevereFoodPoisoningData.environmentalSamplesOther" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-start">
        <button type="submit" class="btn bg rounded-2 text-light" (click)="save()">
          {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
