::ng-deep
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 16px !important;
}

::ng-deep
  .multiselect-dropdown[_ngcontent-epi-c29]
  .disabled[_ngcontent-epi-c29]
  > span[_ngcontent-epi-c29] {
  background-color: white !important;
}

::ng-deep .disabled {
  background-color: white !important;
}

.singleselect .multiselect-item-checkbox {
  padding: 0px !important;
}

.singleselect input[type="checkbox"] + div:before {
  display: none;
}

.singleselect input[type="checkbox"] + div:after {
  display: none;
}

.singleselect input[type="checkbox"] + div {
  padding: 6px 10px !important;
}

.singleselect input[type="checkbox"]:checked + div {
  background-color: #337ab7 !important;
  color: #fff !important;
}

.form-control-ar {
  border: 1px solid #ced4da;
  padding: 0.4rem 0.75rem !important;
  margin-bottom: 15px;
  border-radius: 6px !important;
  position: relative;
  font-size: 12pt !important;
  text-align: right !important;
}
.form-control-en {
  border: 1px solid #ced4da;
  padding: 0.4rem 0.75rem !important;
  /* height: 71% !important; */
  margin-bottom: 15px;
  border-radius: 6px !important;
  position: relative;
  font-size: 12pt !important;
  text-align: left !important;
}
.ng-tns-c40-1 .ng-star-inserted {
  text-align: right !important;
  float: right;
}

.table-color table thead tr th {
  color: white !important;
  background-color: #2e9afe !important;
}
body .dark-mode .national {
  background: var(--dark-color) !important;
}

:host ::ng-deep input.p-inputtext.w-100 {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
