<div class="card shadow mb-4">
  <div class="card-body bg-dark-mode">
    <div class="row">
      <div class="col-lg-4" *ngIf="activeUSerService.getAccessibleParts?.showGovernments">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.HOME.GENERAL_DATA_COMPLETION.GOVERBMENT" | translate }}
            <span class="text-danger mess-color">*</span>
          </label>
          <p-dropdown (onChange)="onGovernmentChanged()" [options]="governments" [(ngModel)]="selectedGovernmentId"
            [disabled]="!activeUSerService.getAccessibleParts?.enableGovernments"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id" autoWidth="false"
            [style]="{ width: '100%' }" name="governments" [required]="true" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'" (onBlur)="
              generalDataService.isIncidentGovernmentValid =
                generalDataService.checkIncidentGovernmentValid(
                  selectedGovernmentId
                )
            ">
          </p-dropdown>
          <div *ngIf="generalDataService.showValidationErrors && !generalDataService.isIncidentGovernmentValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </div>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="activeUSerService.getAccessibleParts?.showDepartments">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.HOME.GENERAL_DATA_COMPLETION.HEALTHADMIN" | translate }}
            <span class="text-danger mess-color">*</span>
          </label>
          <p-dropdown (onChange)="onHealthAdministrationChanged()" [options]="healthAdministration"
            [(ngModel)]="selectedHealthAdministrationId" [disabled]="
                !activeUSerService.getAccessibleParts?.enableDepartments
              " [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id"
            autoWidth="false" [style]="{ width: '100%' }" name="healthAdministration" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'" (onBlur)="
                generalDataService.isIncidentHealthAdministrationValid =
                  generalDataService.checkIncidentHealthAdministrationValid(
                    selectedHealthAdministrationId
                  )
              ">
          </p-dropdown>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isIncidentHealthAdministrationValid"
            class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="activeUSerService.getAccessibleParts?.showUniversities">
        <div class="form-group">
          <label for="govenmentId">
            {{
            "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_UNIVERSITY" | translate
            }}
            <span class="text-danger mess-color">*</span>
          </label>
          <p-dropdown (onChange)="branchSelected()" [options]="branches" [(ngModel)]="SelectedbranchId"
            [disabled]="!activeUSerService.getAccessibleParts?.enableUniversities"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id" autoWidth="false"
            [style]="{ width: '100%' }" name="branches" [required]="true" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'" (onBlur)="
              generalDataService.isUniversityValid =
                generalDataService.validateField(SelectedbranchId)
            ">
          </p-dropdown>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isUniversityValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="activeUSerService.getAccessibleParts?.showBranches">
        <div class="form-group">
          <label for="govenmentId">
            {{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_BRANCH" | translate }}
            <span class="text-danger mess-color">*</span>
          </label>
          <p-dropdown (onChange)="branchSelected()" [options]="branches" [(ngModel)]="SelectedbranchId"
            [disabled]="!activeUSerService.getAccessibleParts?.enableBranches"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id" autoWidth="false"
            [style]="{ width: '100%' }" name="branches" [required]="true" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'" (onBlur)="
              generalDataService.isBranchValid =
                generalDataService.validateField(SelectedbranchId)
            ">
          </p-dropdown>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isBranchValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="activeUSerService.getAccessibleParts?.showAreas">
        <div class="form-group">
          <label for="govenmentId">
            {{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_AREA" | translate }}
            <span class="text-danger mess-color">*</span>
          </label>
          <p-dropdown (onChange)="areaSelected()" [options]="areas" [(ngModel)]="SelectedareaId"
            [disabled]="!activeUSerService.getAccessibleParts?.enableAreas"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id" autoWidth="false"
            [style]="{ width: '100%' }" name="areas" [required]="true" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'" (onBlur)="
              generalDataService.isAreaValid =
                generalDataService.validateField(SelectedareaId)
            ">
          </p-dropdown>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isAreaValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="activeUSerService.getAccessibleParts?.showSources">
        <div class="form-group">
          <label for="">
            {{
            "NEDSS.HOME.GENERAL_DATA_COMPLETION.INCIDENT_SOURCE" | translate
            }}
            <span class="text-danger mess-color">*</span>
          </label>
          <p-dropdown (onChange)="onIncidentSourceChanged()" [options]="incidentSources"
            [(ngModel)]="selectedIncidentSourceId" [disabled]="!activeUSerService.getAccessibleParts?.enableSources"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id" autoWidth="false"
            [style]="{ width: '100%' }" name="incidentSources" [required]="true" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'" (onBlur)="
                generalDataService.isIncidentSourceValid =
                  generalDataService.checkIncidentSourceValid(
                    selectedIncidentSourceId
                  )
              ">
          </p-dropdown>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isIncidentSourceValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4 mt-2">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.HOME.GENERAL_DATA_COMPLETION.DEPARTMENT" | translate }}
            <span class="text-danger mess-color">*</span>
          </label>
          <p-dropdown
            inputId="incidentDepartment"
            (onChange)="onDepartmentChanged()"
            [options]="departments"
            [(ngModel)]="selectedDepartmentId"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'"
            optionValue="id"
            autoWidth="false"
            [style]="{ width: '100%' }"
            name="incidentDepartment"
            [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'"
            [showClear]="false"
            (onBlur)="
              generalDataService.isIncidentDepartmentValid =
                generalDataService.checkIncidentDepartmentValid(
                  selectedDepartmentId
                )
            "
          >
          </p-dropdown>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isIncidentDepartmentValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4 mt-2">
        <div class="form-group">
          <label for="">
            {{
            "NEDSS.HOME.GENERAL_DATA_COMPLETION.DATE_DISCOVER_STATUS"
            | translate
            }}
            <span class="text-danger mess-color">*</span>
          </label>
          <mat-form-field appearance="fill">
            <mat-label>
              {{
              "NEDSS.GENERAL_DATA_SIDEMENU.DATEPLACEHOLDER" | translate
              }}</mat-label>
            <input [min]="minDate" [max]="maxDate" matInput [matDatepicker]="picker" tabindex="4"
              [(ngModel)]="patient.caseDiscoveryDate" (blur)="
                generalDataService.isCaseDiscoveryDateValid =
                  generalDataService.checkCaseDiscoveryDateValid(
                    patient.caseDiscoveryDate
                  )
              " />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isCaseDiscoveryDateValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4 mt-2">
        <div class="form-group">
          <label for="">
            {{
            "NEDSS.HOME.GENERAL_DATA_COMPLETION.TIME_DISCOVER_STATUS"
            | translate
            }}
          </label>
          <input type="time" dateFormat="dd/mm/yyyy" [(ngModel)]="patient.caseDiscoveryTime" tabindex="5"
            style="width: 100%" [class]="'form-control-' + currentLang" class="datePicker" placeholder="dd/mm/yyyy" />
        </div>
        <small *ngIf="!isDiscoveryTimeValid()" class="form-text text-danger mess-color">
          {{ "NEDSS.COMMON.DISCOVERY_TIME_VALIDATION" | translate }}
        </small>
      </div>

      <div class="col-lg-4">
        <div class="form-group">
          <label for="" class="form-label">
            {{ "NEDSS.HOME.GENERAL_DATA_COMPLETION.NATIONATILY" | translate }}
            <span class="text-danger mess-color">*</span>
          </label>

          <p-dropdown (onChange)="onNationalityChanged()" [options]="nationalities"
            [(ngModel)]="selectedNationalityId"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id" autoWidth="false"
            [style]="{ width: '100%' }" name="nationalities" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'" (onBlur)="
              generalDataService.isNationalityValid =
                generalDataService.checkNationalityValid(
                  selectedNationalityId
                )
            ">
          </p-dropdown>
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isNationalityValid" class="form-text text-danger mess-color">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="patient.nationalityId == NationalityEnum.Egyptian">
        <div class="form-group">
          <label for="nationalityId" class="form-label">
            {{ "NEDSS.HOME.GENERAL_DATA_COMPLETION.NATIONAL_ID" | translate }}
            <span *ngIf="patient.incidentDepartmentId == departmentEnum.Internal || patient.incidentDepartmentId == departmentEnum.ICU"
              class="text-danger mess-color">*</span>
          </label>
          <input
            type="text"
            name="nationalId"
            [(ngModel)]="patient.nationalId"
            (ngModelChange)="onNationalIdChanged($event, true)"
            #nationalId="ngModel"
            class="w-100"
            maxlength="14"
            (keypress)="generalDataService.onIdentityCardKeyPress($event)"
            pInputText
            (blur)="
              generalDataService.isCardIdValid =
                generalDataService.checkCardIdValid(
                  patient.incidentDepartmentId,
                  patient.nationalityId,
                  patient.nationalId
                )
            "
          />
          <small
            *ngIf="generalDataService.showValidationErrors && !generalDataService.isCardIdValid"
            class="form-text text-danger mess-color"
          >
            {{ generalDataService.cardIdValidationMessage | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="
          patient.nationalityId != NationalityEnum.Egyptian &&
          patient.nationalityId != NationalityEnum.NotSelected &&
          patient.nationalityId
        ">
        <div class="form-group">
          <label for="" class="form-label">
            {{ "NEDSS.HOME.GENERAL_DATA_COMPLETION.PASSPOR_NO" | translate }}

            <span *ngIf="patient.incidentDepartmentId == departmentEnum.Internal"
              class="text-danger mess-color">*</span>
          </label>
          <!-- <input
            (focusout)="onPassportNoChanged($event)"
            onKeyPress="if(this.value.length==20) return false;"
            type="text"
            tabindex="8"
            [(ngModel)]="patient.passportNo"
            class="form-control"
            (blur)="
              generalDataService.isPassportIdValid =
                generalDataService.checkPassportIdValid(
                  patient.nationalityId,
                  patient.passportNo
                )
            "
          /> -->
          <input type="text" name="passportNo" [(ngModel)]="patient.passportNo" #passportNo="ngModel" class="w-100"
            maxlength="20" (focusout)="onPassportNoChanged($event)" keypress="if(this.value.length==20) return false;"
            pInputText (blur)="
              generalDataService.isPassportIdValid =
                generalDataService.checkPassportIdValid(
                  patient.nationalityId,
                  patient.passportNo,
                  patient.incidentDepartmentId == departmentEnum.Internal
                )
            " />
          <small *ngIf="generalDataService.showValidationErrors && !generalDataService.isPassportIdValid" class="form-text text-danger">
            {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
          </small>
        </div>
      </div>

      <div class="col-lg-4" *ngIf="patient.nationalityId == NationalityEnum.Egyptian">
        <div class="form-group">
          <label for="">
            {{
            "NEDSS.HOME.GENERAL_DATA_COMPLETION.RELATION_SHIO_DEGREEID"
            | translate
            }}
          </label>
          <p-dropdown (onChange)="onRelationShipDegreeIdChange()" [options]="relations"
            [(ngModel)]="patient.relationShipDegreeId"
            [optionLabel]="currentLang === 'ar' ? 'arabicName' : 'englishName'" optionValue="id" autoWidth="false"
            [style]="{ width: '100%' }" name="relations" [filter]="true"
            [filterBy]="currentLang === 'ar' ? 'arabicName' : 'englishName'">
          </p-dropdown>
        </div>
      </div>

      <div *ngIf="Allpatients != undefined && Allpatients.length > 0"
        class="table-responsive table-none-scroll mt-4 shadow border rounded">
        <div class="row" id="myTableElementId">
          <div class="col-lg-4 p-4 pb-0"></div>
          <div class="col-12">
            <table class="table table-hover table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ "NEDSS.EVENTS.FIRST_NAME" | translate }}</th>

                  <th>{{ "NEDSS.EVENTS.GOVERNMENT" | translate }}</th>
                  <th>{{ "NEDSS.EVENTS.CITY" | translate }}</th>

                  <th>
                    {{
                    "NEDSS.HOME.GENERAL_DATA_COMPLETION.INCIDENT_SOURCE"
                    | translate
                    }}
                  </th>
                  <th>
                    {{
                    "NEDSS.HOME.GENERAL_DATA_DIAGONOSISTIC_INFO.START_DISEASES"
                    | translate
                    }}
                  </th>
                  <th>
                    {{
                    "NEDSS.HOME.GENERAL_DATA_DIAGONOSISTIC_INFO.FINALDIGONISTICS"
                    | translate
                    }}
                  </th>
                  <th>
                    {{
                    "NEDSS.HOME.GENERAL_DATA_COMPLETION.DATE_DISCOVER_STATUS"
                    | translate
                    }}
                  </th>
                  <th>{{ "NEDSS.EVENTS.ACTIONS" | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <ng-container>
                  <tr *ngFor="let op of Allpatients">
                    <td>
                      {{ formatPatientName(op) }}
                    </td>
                    <td>{{ op.homeGovernmentName }}</td>
                    <td>{{ op.homeCityName }}</td>
                    <td>{{ op.incidentSourceName }}</td>
                    <td>
                      <!-- <span *ngFor="let item of op.patientDiseases">
                        <span *ngIf="item.arabicName != ''">
                          {{ item.arabicName }},
                        </span>
                      </span> -->
                      <span>
                        {{op.patientDiseasesNames}}
                      </span>
                    </td>

                    <td>
                      <!-- <span *ngFor="let item of op.patientDiseases">
                        <span *ngIf="item.finalDiagonistics != ''">
                          {{ item.finalDiagonistics }},
                        </span>
                      </span> -->
                      <span>
                        {{op.finalDiagonistics}}
                      </span>
                    </td>

                    <td>{{ op.caseDiscoveryDate | date : "dd/MM/yyyy" }}</td>

                    <td>
                      <a (click)="editPationt(op)" data-bs-toggle="modal" data-bs-target="#AddEvent"
                        class="text-primary fzs">
                        <i class="bi bi-pencil"></i>
                      </a>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>