<br>
<h3 class="fw-bold">Users</h3>
<br>
<ng-container *ngFor="let u of users; let i = index;">
  <div class="p-2 m-1 border bg-success bg-opacity-10 rounded rounded-3 row" style="overflow: hidden;">

    <div class="col-3">
      <img [src]="u.profilePic==null?defaultImage:u.profilePic" alt="" width="50px" height="50px"
        class="rounded-circle float-end">
    </div>
    <div class="col-8">
      <span class="" style="float:right;">{{u.fullName}}</span>
    </div>
    <div class="col-1">
      <a class="text-danger bi bi-trash-fill" style="float:left;" (click)="deleteUser(u.id)">
      </a>
    </div>

  </div>

</ng-container>