<div class="forgot-password-container">
        <h2>{{"NEDSS.HOME.LOGIN.FORGET_PASSWORD" | translate}}</h2>
        <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                        <label for=""> {{ "NEDSS.HOME.CHANGE_PASSWORD.NEW_PASSWORD" | translate }}<span
                                        class="required-star">*</span></label>
                        <input type="password" name="password" id="password" class="form-control"
                                formControlName="newPassword">
                        <small *ngIf="changePasswordForm.controls['newPassword'].touched &&
      changePasswordForm.controls['newPassword'].errors" class="form-text  text-danger">
                                {{"NEDSS.COMMON.FILEDREQUIRED" | translate}}</small>
                </div>

                <div class="form-group">
                        <label for="">{{ "NEDSS.HOME.CHANGE_PASSWORD.CONFIREM_PASSWORD" | translate }}<span
                                        class="required-star">*</span></label>
                        <input type="password" name="password" id="password" class="form-control"
                                formControlName="confirmPassword">
                        <small *ngIf="changePasswordForm.controls['confirmPassword'].touched &&
      changePasswordForm.controls['confirmPassword'].errors" class="form-text  text-danger">
                                {{ "NEDSS.COMMON.FILEDREQUIRED" | translate}}</small>
                </div>
                <button type="submit"> {{ "NEDSS.COMMON.SAVE" | translate}}</button>
        </form>
</div>