<h2 class="titles">
  {{ "NEDSS.HOME.CONTROL_PANEL.CHARTS_TAB_VISIBILITY" | translate }}
</h2>

<form (ngSubmit)="save()" #userForm="ngForm" novalidate>
  <div class="card shadow color">
    <div class="card-body bg-dark-mode">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>
              {{ "NEDSS.HOME.CONTROL_PANEL.CHARTS_TAB_VISIBILITY" | translate }}
              <span class="text-muted">{{ "NEDSS.HOME.CONTROL_PANEL.CHARTS_TAB_VISIBILITY_HINT" | translate }}</span>
            </label>
            <div class="form-check form-switch">
              <input type="checkbox" class="form-check-input" id="chartsTabEnabled" name="chartsTabEnabled"
                [(ngModel)]="enabled" />
              <label class="form-check-label" for="chartsTabEnabled">
                {{ "NEDSS.HOME.CONTROL_PANEL.CHARTS_TAB_ENABLED_LABEL" | translate }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-footer text-start" style="text-align:center !important">
        <button type="submit" class="btn bg text-white rounded-2">
          {{ "NEDSS.COMMON.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</form>
