li:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #007bff;
  border-radius: 5px;
  padding: 6px;
  padding-bottom: 0px;
  width: 90%;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;


}

li {
  transition: all .2s;
}

li h4,
li h5 {
  margin-bottom: 0;
}

.noConversation {
  text-align: center;
  align-self: center;

}

.attachBtn {

  border: none;
  background: transparent;
  color: #007bff;
}

hr {
  width: 90%;
}

.Chats {
  max-height: 30rem;
  width: 116%;
  height: 99%;
  overflow-x: hidden !important;
  overflow: auto;
}

.chatsHead {
  display: inline-flex;
  align-items: baseline;
  margin-top: .6rem;
}

.Chatscontainer {
  height: 100%;
  max-width: 16rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  overflow-x: hidden;
}

.moreBtn {
  border: none;
  background: transparent;
  color: #007bff;
}

.searchBtn:focus {
  box-shadow: none !important;
  color: #007bff;
}

.searchBtn {
  border: 2px solid #007bff;
  border-left: none;
  color: #007bff;
  display: flex;
  align-items: center;
}

.searchinput {
  border: 2px solid #007bff;
  border-right: none;
  border-radius: 5px 0px 0px 5px !important;
  color: #007bff;
  display: flex;
  align-items: center;
}

.searchinput:focus {
  border: 2px solid #007bff !important;
  border-right: none !important;
  box-shadow: none !important;
  border-radius: 5px 0px 0px 5px !important;
  color: #007bff !important;
  display: flex !important;
  align-items: center !important;
}

.ConversationContianer {
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chatbody {
  background-color: rgba(240, 118, 74, 0.201);
  overflow: scroll;
  width: 102%;
  display: grid !important
}

.card-header img {
  width: 5rem;
}

.card-header h3 {
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0;
}

.card {
  overflow: hidden;
  max-height: 50rem;
}

.sentmessage {
  background-color: burlywood;
  float: right;
  padding: 2%;
  padding-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  width: 20rem;
  margin-bottom: 4%;
}

.receviedmessage {
  background-color: #ff8c00a1;
  padding: 2%;
  float: left !important;
  margin-right: 60%;
  padding-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  width: 20rem;
  margin-bottom: 4%;
}

.sendMessageBtn {
  border-radius: 25px;
  width: 14%;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: antiquewhite;
  background-color: #007bff;
  margin-right: 2%;
}

.sendMessageinput:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #007bff !important;
}

.sendMessageinput:focus-visible {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #007bff !important;
}

.sendMessageinput {
  border-radius: 25px;
  border: 2px solid #007bff;
}

controls option {
  background-color: gray !important;
}

.controls {
  width: 75%;
  height: 1.6rem;
  font-size: 14px;
  padding: 0;
  margin-bottom: 0;
  color: white !important;
  background-color: gray !important;
}

.table-wrapper {
  max-height: 50%;
}