.profile-section .card {
  padding: 40px 20px;
}
.profile-section .card .main-title {
  color: #0778be;
  font-weight: bolder;
}
.profile-section .card .change-img-link {
  color: #0778be;
}
.profile-section .card .value {
  font-size: 13px;
}
.profile-section .profile-img {
  max-width: 120px;
  text-align: center;
  margin: auto;
}
.profile-section .profile-img img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}
