<div class="row mb-4">
  <div class="col-12">
    <div class="card shadow mt-4 color">
      <div class="card-body">
        <h5 style="text-align: center; border: 1px solid; padding: 1%">
          {{ "NEDSS.COMPLETE_INVESTEGATION.LEPER.TITLE" | translate }}
        </h5>
        <br />
        <app-investigation-summary [patientName]="patientName" [allFilledControlsCount]="allFilledControlsCount"
          [allControllesCount]="allControllesCount">
        </app-investigation-summary>

        <div class="row color">
          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                {{ "NEDSS.COMPLETE_INVESTEGATION.LEPER.CONTACTS_SECTION" | translate }}
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.LEPER.NUMBER_CONTACTS" | translate }}</label>
                  <input type="number" min="0" class="form-control" name="numberContacts"
                    [(ngModel)]="leperData.numberContacts" #numberContacts="ngModel"
                    [value]="leperData.numberContacts" />
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.LEPER.CONTACTS_BEEN_DOSED" | translate }}</label>
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.contactsBeenDosed">
                    <option *ngFor="let case of contactsBeenDoseds" [value]="case.id">
                      {{ currentLang === "ar" ? case.arabicName : case.englishName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.LEPER.DATE_DOSE_CONTACTS" | translate }}</label>
                  <app-date-field [(ngModel)]="leperData.dateDoseContacts"></app-date-field>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.LEPER.VACCINATED_BCG_VACCINE" | translate }}</label>
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.vaccinatedBcgVaccine">
                    <option *ngFor="let case of vaccinatedBcgVaccines" [value]="case.id">
                      {{ currentLang === "ar" ? case.arabicName : case.englishName }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-start">
        <button type="submit" class="btn bg rounded-2 text-light" (click)="save()">
          {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>