<!-- <div class="row">
  <div class="col-lg-6">
    <h2 class="titles">
      <font style="vertical-align: inherit"
        ><font style="vertical-align: inherit">الجذام</font></font
      >
    </h2>
  </div>
</div> -->
<div class="row mb-4">
  <div class="col-12">
    <div class="card shadow mt-4 color">
      <div class="card-body">
        <h5 style="text-align: center; border: 1px solid; padding: 1%">
          الجذام
        </h5>
        <br />
        <div class="row">
          <div class="col-6">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">حمي</font>
            </font>
          </div>
          <div class="col-6 has-labels">
            <label for=""><input type="radio" class="form-check-input" id="fever" name="fever"
                [(ngModel)]="leperData.fever" #fever="ngModel" [value]="0" />
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">{{ "NEDSS.COMMON.YES" | translate }}</font>
              </font>
            </label>
            <label for=""><input type="radio" class="form-check-input" id="fever" name="fever"
                [(ngModel)]="leperData.fever" #fever="ngModel" [value]="1" />
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">{{ "NEDSS.COMMON.NO" | translate }}</font>
              </font>
            </label>
            <label for=""><input type="radio" class="form-check-input" id="fever" name="fever"
                [(ngModel)]="leperData.fever" #fever="ngModel" [value]="2" />
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">{{ "NEDSS.REPORTS.UnKnown" | translate }}</font>
              </font>
            </label>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">مدة الحمي بالأيام</font>
                </font>
              </label>
              <input type="number" class="form-control" name="feverDurationDay" [(ngModel)]="leperData.feverDurationDay"
                #feverDurationDay="ngModel" [value]="leperData.feverDurationDay"/>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">{{ "NEDSS.COMPLETE_INVESTEGATION.Max_Temp" | translate }}
                  </font>
                </font>
              </label>
              <input type="number" class="form-control" name="maxTemperature" [(ngModel)]="leperData.maxTemperature"
                #maxTemperature="ngModel" [value]="leperData.maxTemperature" />
            </div>
          </div>

          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">{{ "NEDSS.HOME.GENERAL_DATA_CLINICAL_SYMPTOMS.FEVER" | translate
                    }}
                  </font>
                </font>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">اصابة جلدية ( لون باهت او بني محمر)
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.skinLesion">
                    <option *ngFor="let case of skinLesions" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">اذا الاجابة نعم اذكر نوع الاصابة
                      </font>
                    </font>
                  </label>
                  <input type="text" maxlength="100" class="form-control" name="typeInjury"
                    [(ngModel)]="leperData.typeInjury" #typeInjury="ngModel"  [value]="leperData.typeInjury" />
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">بقع بالجلد
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.patchesSkin">
                    <option *ngFor="let case of patchesSkins" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">عقد بالجلد
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.leatherNecklace">
                    <option *ngFor="let case of leatherNecklaces" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">ارتشاح
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.leak">
                    <option *ngFor="let case of leaks" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">تضخم بالعصب
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.nerveEnlargement">
                    <option *ngFor="let case of nerveEnlargements" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">فقد الاحساس
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.lossFeeling">
                    <option *ngFor="let case of lossFeelings" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">ضعف في العضلات
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.muscleWeakness">
                    <option *ngFor="let case of muscleWeaknesss" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">نوع الجذام
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >A little bitchy</font
                        ></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >polysely</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.typeLeprosy">
                    <option *ngFor="let case of typeLeprosys" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">هل المريض متعايش لفترة طويلة مع شخص مريض بنفس المرض</font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.patientCoexistingLongTime">
                    <option *ngFor="let case of patientCoexistingLongTimes" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">اذا الاجابة بنعم اذكر العلاقة مع المريض
                      </font>
                    </font>
                  </label>
                  <input type="text" maxlength="100" class="form-control" name="relationshipWithPatient"
                    [(ngModel)]="leperData.relationshipWithPatient" #relationshipWithPatient="ngModel" [value]="leperData.relationshipWithPatient" />
                </div>
              </div>
              <!-- /.col-lg-6 -->
            </div>
          </div>
        </div>

        <div class="row color">
          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">{{ "NEDSS.COMPLETE_INVESTEGATION.Risk_Factors" | translate }}
                  </font>
                </font>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">المخالطة اللصيقة لحالة مرضية - غير مكتشفة
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.closeContactMedicalCondition">
                    <option *ngFor="let case of closeContactMedicalConditions" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">هل تم تكملة العلاج
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.isTreatmentCompleted">
                    <option *ngFor="let case of isTreatmentCompleteds" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">هل تم اصابتك بهذا المرض
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.infectedWithDisease">
                    <option *ngFor="let case of infectedWithDiseases" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">اذا كان نعم اذكر تاريخ الإصابة
                      </font>
                    </font>
                  </label>
                  <input type="date" placeholder="dd/mm/yyyy" [class]="'form-control-'+ currentLang" name="dateInjury"
                    [(ngModel)]="leperData.dateInjury" #dateInjury="ngModel" [value]="leperData.dateInjury" />
                </div>
              </div>
              <!-- /.col-lg-6 -->
            </div>
            <!-- / .row -->
          </div>
          <!-- / .col-12 -->
        </div>
        <!-- / .row -->

        <div class="row color">
          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">المخالطين
                  </font>
                </font>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">عدد المخالطين
                      </font>
                    </font>
                  </label>
                  <input type="number" class="form-control" name="numberContacts"
                    [(ngModel)]="leperData.numberContacts" #numberContacts="ngModel" [value]="leperData.numberContacts" />
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">هل تم تجريع المخالطين
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">1</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">2</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">9</font></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.contactsBeenDosed">
                    <option *ngFor="let case of contactsBeenDoseds" [value]="case.id">
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">تاريخ تجريع المخالطين
                      </font>
                    </font>
                  </label>
                  <input type="date" [class]="'form-control-'+ currentLang" name="dateDoseContacts"
                    [(ngModel)]="leperData.dateDoseContacts" #dateDoseContacts="ngModel"  [value]="leperData.dateDoseContacts" />
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">هل تم تطعيم بطعم البى سى جى (BCG)
                      </font>
                    </font>
                  </label>
                  <!-- <select name="" id="" class="form-control">
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">Yes</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit">no</font></font
                      >
                    </option>
                    <option value="">
                      <font style="vertical-align: inherit"
                        ><font style="vertical-align: inherit"
                          >unknown</font
                        ></font
                      >
                    </option>
                  </select> -->
                  <select name="case" id="" class="form-control" [(ngModel)]="leperData.vaccinatedBcgVaccine">
                    <option *ngFor="let case of vaccinatedBcgVaccines" [value]="case.id" >
                      {{ case.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
            </div>
            <!-- / .row -->
          </div>
          <!-- / .col-12 -->
        </div>
        <!-- / .row -->
      </div>
      <div class="card-footer text-start">
        <button type="submit" class="btn bg rounded-2 text-light" (click)="save()">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">حفظ</font>
          </font>
        </button>
      </div>
    </div>
  </div>
</div>