<div class="row color mx-0" id="patientVisitHistory">
    <div class="col-12 px-0 card card-body bg-dark-mode rounded-2 card-alt">
        <div class="row">
            <div class="col-12 title fs-6 fwb">
                <span>{{"NOUR.word28" | translate}}</span>
            </div>

            <div class="col-lg-12" *ngIf="visits">
                <div class="table-responsive table-none-scroll">
                    <table class="table table-bordered mb-2">
                        <thead>
                            <tr>
                                <th>{{"NOUR.word29" | translate}}</th>
                                <th>{{"NOUR.word30" | translate}}</th>
                                <th>{{"NOUR.word31" | translate}}</th>
                                <th>{{"NOUR.word32" | translate}}</th>
                                <th>{{"NOUR.word33" | translate}}</th>
                                <th>{{"NOUR.word34" | translate}}</th>
                                <th>{{"NOUR.word35" | translate}}</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let visitControl of visitControls; index as idx" [formGroup]="visitControl">
                                <td><input formControlName="nameHealthFacility" type="text" class="form-control" /></td>
                                <td><input formControlName="healthFacilityBelongs" type="text" class="form-control" />
                                </td>
                                <td><app-date-field formControlName="dateVisit"></app-date-field></td>
                                <td><input formControlName="initialDiagnosis" type="text" class="form-control" /></td>
                                <td>
                                    <select formControlName="admissionHospital" class="form-control">
                                        <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                        <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                    </select>
                                </td>
                                <td><app-date-field formControlName="dateEntry"></app-date-field></td>
                                <td><app-date-field formControlName="exitDate"></app-date-field></td>
                                <td class="patient-visit-history__actions">
                                    <button type="button" class="btn btn-danger" (click)="removeVisit(idx)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button type="button" class="btn fw-bold px-4 text-white patient-visit-history__add"
                    (click)="addVisit()">{{"NOUR.word182" |
                    translate}}</button>
            </div>
        </div>
    </div>
</div>
