li:hover {
  cursor: pointer;
  color: aliceblue;
  background-color: #0a58ca;
  border-radius: 5px;
  padding: 6px;
  padding-bottom: 0px;
  /* width: 90%; */
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  transition: all .2s;
}

li h4,
li h5 {
  margin-bottom: 0;
}

.noConversation {
  text-align: center;
  align-self: center;

}

.attachBtn {

  border: none;
  background: transparent;
  color: #5246c1;
}

hr {
  width: 90%;
}

.Chats {
  max-height: 35rem;
  width: 116%;
  height: 99%;
  overflow-x: hidden !important;
  overflow: auto;
}

.chatsHead {
  display: inline-flex;
  align-items: baseline;
  margin-top: .6rem;
}

.Chatscontainer {
  height: 100%;
  max-width: 16rem;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  overflow-x: hidden;
}

.moreBtn {
  border: none;
  background: transparent;
  color: #0a58ca;
}

.searchBtn:focus {
  box-shadow: none !important;
  color: #0a58ca;
}

.searchBtn {
  border: 2px solid #0a58ca;
  border-left: none;
  color: #0a58ca;
  display: flex;
  align-items: center;
}

.searchinput {
  border: 2px solid #0a58ca;
  border-right: none;
  border-radius: 5px 0px 0px 5px !important;
  color: #0a58ca;
  display: flex;
  align-items: center;
}

.searchinput:focus {
  border: 2px solid #0a58ca !important;
  border-right: none !important;
  box-shadow: none !important;
  border-radius: 5px 0px 0px 5px !important;
  color: #0a58ca !important;
  display: flex !important;
  align-items: center !important;
}

.ConversationContianer {
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chatbody {
  background-color: rgba(240, 118, 74, 0.201);
  overflow-x: hidden;
  position: relative;
  width: 102%;
  display: flex;
  flex-direction: column-reverse;
}

.card-header img {
  width: 5rem;
}

.img-user {
  width: 100px;
  display: inline-block;
  align-self: center;
  aspect-ratio: 1/1;
}

.card-header h3 {
  display: flex;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0;
}

.card {
  overflow: hidden;
  max-height: 40rem;
}

.sentmessage {
  background-color: rgb(234, 231, 229);
  align-self: flex-start;
  padding: 2%;
  color: black;
  /* margin-left: 50%; */
  padding-bottom: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  text-align: start;
  width: 20rem;
  margin-bottom: 4%;
}

.receviedmessage {
  background-color: #075799;
  color: white;
  padding: 2%;
  align-self: flex-end;
  padding-bottom: 0;
  text-align: start;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  width: 20rem;
  margin-bottom: 4%;
}

.sendMessageBtn {
  border-radius: 25px;
  width: 14%;
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: antiquewhite;
  background-color: #0a58ca;
  margin-right: 2%;
}

.sendMessageinput:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #0a58ca !important;
}

.sendMessageinput:focus-visible {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid #0a58ca !important;
}

.sendMessageinput {
  border-radius: 25px;
  border: 2px solid #0a58ca;
}

.dark-mode .border-left-light {
  border-left: white;
  border-width: 1px;
  border-style: solid;
}

/* @media screen and (max-width:480px) and (min-width: 341px) {
  .chatbody {
    width: 98%;
  }
  .sentmessage,
  .receviedmessage {
    width: 85%;
    padding: 2px;
  }
  .receviedmessage p,
  .sentmessage p{
    margin: 0 !important;
  }
} */