controls option {
  background-color: gray !important;
}

.controls {
  width: 75%;
  height: 1.6rem;
  font-size: 14px;
  padding: 0;
  margin-bottom: 0;
  color: white !important;
  background-color: gray !important;
}
