<form [formGroup]="riftValley" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12">
            <div class="card shadow mt-4 color mb-4">
                <div class="card-body">
                    <h5 style="text-align: center; border: 1px solid; padding: 1%">
                        {{ "NEDSS.INVESTIGATIONS.PAGES.RiftValley" | translate }}
                    </h5>
                    <app-investigation-summary [patientName]="patientName"
                        [allFilledControlsCount]="allFilledControlsCount" [allControllesCount]="allControllesCount">
                    </app-investigation-summary>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <h3 class="fs-5 text-success fwb">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.QUESTIONNAIRE" | translate }}
                            </h3>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.VECTOR_ENVIRONMENT" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.MOSQUITO_BREEDING_NOTICEABLE" |
                                            translate }}
                                        </label>
                                        <select formControlName="contactSuspectedCase" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('contactSuspectedCase')?.value == 1">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.AUTHORITIES_NOTIFIED" |
                                            translate }}
                                        </label>
                                        <select formControlName="contactConfirmedCase" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6"></div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('contactConfirmedCase')?.value == 1 || hasAttachments(authoritiesAttachments)">
                                    <ng-container *ngTemplateOutlet="attachmentBlock; context: { group: authoritiesAttachments, label: 'AUTHORITIES_NOTIFICATION_FORM_UPLOAD_BTN' }"></ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_EXPOSURE" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_CONTACT" | translate }}
                                        </label>
                                        <select formControlName="contactDeceasedUnknownDisease" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('contactDeceasedUnknownDisease')?.value == 1">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.CONTACT_PLACE" | translate }}
                                        </label>
                                        <input formControlName="followD1Type" type="text" class="form-control"
                                            [placeholder]='"NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.CONTACT_PLACE_PLACEHOLDER" | translate'>
                                    </div>
                                </div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('contactDeceasedUnknownDisease')?.value == 1">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_TYPE" | translate }}
                                        </label>
                                        <input formControlName="followD1MixingType" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_HEALTH_STATUS" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_DEATHS_OR_ABORTIONS" |
                                            translate }}
                                        </label>
                                        <select formControlName="painEyeSocket" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('painEyeSocket')?.value == 1">
                                    <div class="form-group">
                                        <label for="">
                                            {{
                                            "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.VETERINARY_NOTIFIED_FOR_ANIMALS" |
                                            translate }}
                                        </label>
                                        <select formControlName="veterinaryServices" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6"></div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('veterinaryServices')?.value == 1 || hasAttachments(animalDeathsVetAttachments)">
                                    <ng-container *ngTemplateOutlet="attachmentBlock; context: { group: animalDeathsVetAttachments, label: 'VET_NOTIFICATION_FORM_UPLOAD_BTN' }"></ng-container>
                                </div>
                                <div class="col-12"></div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.VETERINARY_NOTIFIED_CASE" |
                                            translate }}
                                        </label>
                                        <select formControlName="neighboringHouses" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('neighboringHouses')?.value == 1 || hasAttachments(caseVetAttachments)">
                                    <ng-container *ngTemplateOutlet="attachmentBlock; context: { group: caseVetAttachments, label: 'VET_NOTIFICATION_FORM_UPLOAD_BTN' }"></ng-container>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.PATIENT_HISTORY" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.PREVIOUS_DIAGNOSIS" | translate
                                            }}
                                        </label>
                                        <select formControlName="hemorrhagicRash" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.SIMILAR_CASES" | translate }}
                                        </label>
                                        <select formControlName="bloodyVomiting" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6" [appShowIf]="riftValley.get('bloodyVomiting')?.value == 1">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.SIMILAR_CASES_LOCATION" |
                                            translate }}
                                        </label>
                                        <input formControlName="followD1RelationshipSituation" type="text"
                                            class="form-control"
                                            [placeholder]='"NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.SIMILAR_CASES_LOCATION_PLACEHOLDER" | translate'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-start">
                    <button type="submit" class="btn bg rounded-2 text-light">
                        {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template #attachmentBlock let-group="group" let-label="label">
    <div class="form-group">
        <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.IF_YES_ATTACH" | translate }}</label>
        <button type="button" (click)="fileInput.click()" class="rift-attach-upload-btn mb-2">
            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY." + label | translate }}
        </button>
        <input type="file" #fileInput style="display: none" (change)="onAttachmentSelect(group, $event.target)" multiple />
        <div class="small text-muted">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_MAX_FILES_NOTE" | translate }}</div>
        <div *ngIf="group.oldFiles.length > 0" class="mt-2">
            <div class="small text-muted mb-1">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_UPLOADED_FILES" | translate }}</div>
            <div *ngFor="let fileUrl of group.oldFiles; let i = index"
                class="d-flex align-items-center justify-content-between border rounded px-2 py-1 mb-1">
                <span class="text-truncate me-2">{{ fileUrl }}</span>
                <div class="d-flex gap-1">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="openSavedAttachment(fileUrl)">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_VIEW" | translate }}</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="removeSavedAttachment(group, i)">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_DELETE" | translate }}</button>
                </div>
            </div>
        </div>
        <div *ngIf="group.pendingFiles.length > 0" class="mt-2">
            <div class="small text-muted mb-1">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_PENDING_FILES" | translate }}</div>
            <div *ngFor="let file of group.pendingFiles; let i = index"
                class="d-flex align-items-center justify-content-between border rounded px-2 py-1 mb-1">
                <span class="text-truncate me-2">{{ file.name }}</span>
                <div class="d-flex gap-1">
                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="openPendingAttachment(group, i)">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_VIEW" | translate }}</button>
                    <button type="button" class="btn btn-sm btn-outline-danger" (click)="removePendingAttachment(group, i)">{{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_DELETE" | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
