<form [formGroup]="riftValley" (ngSubmit)="save()">
    <div class="row">
        <div class="col-12">
            <div class="card shadow mt-4 color mb-4">
                <div class="card-body">
                    <h5 style="text-align: center; border: 1px solid; padding: 1%">
                        {{ "NEDSS.INVESTIGATIONS.PAGES.RiftValley" | translate }}
                    </h5>
                    <app-investigation-summary [patientName]="patientName"
                        [allFilledControlsCount]="allFilledControlsCount" [allControllesCount]="allControllesCount">
                    </app-investigation-summary>

                    <div class="row">
                        <div class="col-12 mb-3">
                            <h3 class="fs-5 text-success fwb">
                                {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.QUESTIONNAIRE" | translate }}
                            </h3>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.VECTOR_ENVIRONMENT" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.MOSQUITO_BREEDING_NOTICEABLE" |
                                            translate }}
                                        </label>
                                        <select formControlName="contactSuspectedCase" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                        <small class="text-muted">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_NOTIFICATION_FORM_NOTE"
                                            | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.AUTHORITIES_NOTIFIED" |
                                            translate }}
                                        </label>
                                        <select formControlName="contactConfirmedCase" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_EXPOSURE" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_CONTACT" | translate }}
                                        </label>
                                        <select formControlName="contactDeceasedUnknownDisease" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.CONTACT_PLACE" | translate }}
                                        </label>
                                        <input formControlName="followD1Type" type="text" class="form-control"
                                            [placeholder]='"NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.CONTACT_PLACE_PLACEHOLDER" | translate'>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_TYPE" | translate }}
                                        </label>
                                        <input formControlName="followD1MixingType" type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_HEALTH_STATUS" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ANIMAL_DEATHS_OR_ABORTIONS" |
                                            translate }}
                                        </label>
                                        <select formControlName="painEyeSocket" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                        <small class="text-muted">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_NOTIFICATION_FORM_NOTE"
                                            | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{
                                            "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.VETERINARY_NOTIFIED_FOR_ANIMALS" |
                                            translate }}
                                        </label>
                                        <select formControlName="veterinaryServices" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.VETERINARY_NOTIFIED_CASE" |
                                            translate }}
                                        </label>
                                        <select formControlName="neighboringHouses" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                            <div class="row">
                                <div class="col-12 title fs-6 fwb">
                                    {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.PATIENT_HISTORY" | translate }}
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.PREVIOUS_DIAGNOSIS" | translate
                                            }}
                                        </label>
                                        <select formControlName="hemorrhagicRash" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12">
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.SIMILAR_CASES" | translate }}
                                        </label>
                                        <select formControlName="bloodyVomiting" class="form-control">
                                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                                            <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                                        </select>
                                        <small class="text-muted">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.ATTACH_INVESTIGATION_FORM_NOTE"
                                            | translate }}
                                        </small>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="">
                                            {{ "NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.SIMILAR_CASES_LOCATION" |
                                            translate }}
                                        </label>
                                        <input formControlName="followD1RelationshipSituation" type="text"
                                            class="form-control"
                                            [placeholder]='"NEDSS.COMPLETE_INVESTEGATION.RIFT_VALLEY.SIMILAR_CASES_LOCATION_PLACEHOLDER" | translate'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-start">
                    <button type="submit" class="btn bg rounded-2 text-light">
                        {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>