
// @import '/Content/Styles/CSS/pages/Home/navbar-top.css';
// @import '/Content/Styles/CSS/pages/Common/pageLoading.css';
// @import '/Content/Styles/CSS/bootstrap4NoConflict.css';
// @import '/node_modules/owl.carousel/dist/assets/owl.carousel.css';
// @import '/Content/CSSLibraries/Datepicker/jquery.calendars.picker.css';
// @import '/Content/CSSLibraries/AngularStrap/aside.css';

// margin
.bv_mg {
  // margin ( ex., bv_mg_1 )
  &_1 {
    margin: 5px;
  }

  // margin bottom ( ex., bv_mg_b_1 )
  &_b {
    &_1 {
      margin-bottom: 5px;
    }

    &_2 {
      margin-bottom: 5px * 2;
    }

    &_3 {
      margin-bottom: 5px * 3;
    }
  }
}

// padding
.bv_pd {
  // padding ( ex., bv_pd_1 )
  &_1 {
    padding: 5px;
  }

  &_2 {
    padding: 5px * 2;
  }
}

// width
.bv_w {
  &_33 {
    width: 33%;
  }
}

// flex
.bv_flex {
  display: flex;

  // justify-content ( ex., bv_flex_jc_sb )
  &_jc {
    &_sb {
      justify-content: space-between;
    }

    &_start {
      justify-content: start;
    }
  }

  // align-items ( ex., bv_flex_ai_center )
  &_ai {
    &_center {
      align-items: center;
    }

    &_start {
      align-items: start;
    }
  }

  // child
  &_1 {
    flex: 1;
  }
}

// global
.bv_label {
  color: $font-dark;
  font-weight: 500;
  font-size: 1.4rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 250%;
  margin: 0 $mg-1;
}

.bv_primary {
  background: $main-color;
  border: 1px solid darken($main-color, 5);
  transition: all 100ms !important;

  &:hover, &:focus, &:active {
    background: darken($main-color, 5) !important;
    border: 1px solid darken($main-color, 5) !important;
    //border-radius: 0;
  }
}

// animation
@keyframes page_navigation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// confirmation popover
.modal-dialog  {
  .modal-content {
    .modal-footer {
      .btn-primary {
        background: $main-color;
        border: 1px solid $main-color;

        &:hover {
          border: 1px solid darken($main-color, 5);
        }
      }
    }
  }
}

.fixed_popover_ {
  position: fixed;
  top: 130px !important;

  @media (max-width: 992px) {
    top: 200px !important;
  }
}

.entities_info_fixed {
  position: fixed;
  top: 130px !important;
}

.entities_info_fixed_before {
  position: fixed;
  top: 180px !important;
}

.page-title {
  display: inline-flex;
}

ul::-webkit-scrollbar,
section::-webkit-scrollbar,
div::-webkit-scrollbar {
  height: 1.5ex;
  width: 5px;
  -webkit-border-radius: 0;
  /*background: #e7e7e7;*/
  background: rgba(231, 231, 231, 0.85);
}

ul::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  border-left: 1px solid #999;
  border-top: 10px solid #999;
  background: #999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.z-index_1 {
  z-index: 1 !important;
}

.btn {
  border: 0;
}

// prevent table flickering when paginate table
.table > tbody > tr {
  transition: background 0ms;
}

.btn-link {
    color: #2da599;
    cursor: pointer;
    text-decoration: none;
    font-size:14px;
}


select {
    margin-bottom: 0em;
    padding: .25em;
    border: 0;
    border-bottom: 2px solid #2da599;
    border-radius: 0;
    width:100%;
    text-align:center;
    &:focus, &:active {
        outline: 0;
        border-bottom-color: #2da599;
    }
}

.mandatory::after {
    content: '*';
    color: #dc3545;
    padding:2px;
}
