/* confirmation popover */
.popover {
  .popover-content {
    > div {
      &.row {
        margin: 0 !important;

        .col-xs-6 {
          width: auto !important;
          padding: 0 !important;
        }
      }
    }
  }
}

/*styles for tutorial tips*/
.tippy-popper {
  .tippy-tooltip {
    font-size: 1.35rem;
    padding: 0;
    width: 350px;

    .tippy-content {
      .shepherd-element {
        &.shepherd-has-title {
          .shepherd-content {
            header {
              background: #303030;
              padding: 0.5em 1em !important;

              .shepherd-title {
                font-size: 1em !important;
              }
            }

            footer {
              .shepherd-buttons {

                li {
                  &:hover {

                    a {
                      text-decoration: none;
                    }
                  }

                  .shepherd-button {

                    background: #26a69a !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// style for highlighting searched value
.highlight {
  background: $main-color;
  color: $font-light;
}

// ui-gird table
.ui-grid {
  height: auto !important;

  .ui-grid-contents-wrapper {
    .ui-grid-pinned-container {

    }

    .ui-grid-render-container {
      .ui-grid-header {
        background: $main-color;
        color: $font-light;

        .ui-grid-top-panel {
          background-color: transparent !important;

          .ui-grid-tree-base-row-header-buttons {
            text-align: center !important;
            line-height: 3rem !important;
          }
        }
      }

      .ui-grid-viewport {
        overflow: visible !important;
        overflow-x: auto !important;
        height: auto !important;
        width: auto !important;

        .ui-grid-canvas {
          .ui-grid-row {
            .ui-grid-cell {
              border-bottom: 0 !important;

              .ui-grid-tree-base-row-header-buttons {
                text-align: center !important;
                line-height: 3rem !important;
              }
            }
          }
        }
      }
    }
  }
}
