<app-loader *ngIf="isLoading$ | async"></app-loader>
<div (click)="resetLogoutTimeout()">
  <!-- محتوى المكون الخاص بك -->
  <section [class]="lang">
    <!-- <button type="button" [style]="darked()"  name="dark_light" (click)="toggleDarkLight()"
      title="Toggle dark/light mode" class="darkAndLight" id="btn-color-dark">
      <span>{{dark ? 'Light 🌛' :'Dark 🌞'}}</span>
      <span>Light 🌛</span>
    </button> -->
    <!-- <div style="position: fixed;top: 2px; left: 30vw;" class="text-white">
        <span>Light</span>
        <label class="switch">
          <input type="checkbox" (click)="toggleDarkLight()" >
          <span class="slider round"></span>
        </label>
        <span>Dark</span>
      </div> -->
    <!-- <div class="checkbox-wrapper-5 darkAndLight" >
        <div class="check">
          <input checked="" (click)="toggleDarkLight()" id="check-5" type="checkbox">
          <label for="check-5"></label>
        </div>
      </div> -->
    <router-outlet></router-outlet>
  </section>
</div>
