.has-labels {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 1rem;
}

.has-labels label {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0;
  white-space: nowrap;
}
