<div class="col-11 col-lg-12 color-d-2">
  <form
    (ngSubmit)="save()"
    #incidentSourceForm="ngForm"
    id="incid-src"
    novalidate
  >
    <div class="form-titles">
      {{ "NEDSS.HOME.CONTROL_PANEL.CODES.INCIDENT_SOURCES" | translate }}
    </div>
    <div class="card shadow">
      <div class="card-body bg-dark-mode mb-2">
        <!-- first row code , arabic name , english name -->
        <div class="row">
          <!--start code -->
          <div class="col-lg-4">
            <div class="form-group">
              <label for="code">
                {{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_CODE" | translate }}
                <span class="text-danger mess-color">*</span>
              </label>
              <input type="text" 
              pInputText 
              [(ngModel)]="incidentSource.code" 
              [style]="{ width: '100%' }"
              name="code"
              />
              <!-- <input
                type="text"
                name="englishName"
                [(ngModel)]="incidentSource.code"
                #englishName="ngModel"
                class="form-control"
                required
                code
                (change)="codeChange()"
                #code="ngModel"
              /> -->
              <div
                *ngIf="incidentSourceForm.controls.code?.touched && incidentSourceForm.controls.code?.errors?.required"
                class="form-text text-danger mess-color"
              >
              
                {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
              </div>

              <div
                *ngIf="codeValidationMsg !== ''"
                class="form-text text-danger mess-color"
              >
                <!-- {{codeValidationMsg}} -->
                {{ "NEDSS.COMMON.CODEVALIDATEMSG" | translate }}
              </div>
            </div>
          </div>
          <!--end code -->

          <!--start arabic name -->
          <div class="col-lg-4">
            <div class="form-group">
              <label for="code">
                {{
                  "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_ARABIC_NAME"
                    | translate
                }}
                <span class="text-danger mess-color">*</span>
              </label>
              <input type="text" 
              pInputText 
              [(ngModel)]="incidentSource.arabicName" 
              [style]="{ width: '100%' }"
              name="arabicName"
              />
              <!-- <input
                type="code"
                name="arabicName"
                [(ngModel)]="incidentSource.arabicName"
                #arabicName="ngModel"
                class="form-control"
                required
                code
                (change)="arabicNameChange()"
              /> -->
              <div
                *ngIf="
                  incidentSourceForm.controls.arabicName?.touched &&
                  incidentSourceForm.controls.arabicName?.errors?.required
                "
                class="form-text text-danger mess-color"
              >
                {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
              </div>

              <div
                *ngIf="ArabicValidationMsg !== ''"
                class="form-text text-danger mess-color"
              >
                {{ "NEDSS.COMMON.ARABICNAMEVALIDATEMSG" | translate }}
              </div>
            </div>
          </div>
          <!--end arabic name -->

          <!--start english name -->
          <div class="col-lg-4">
            <div class="form-group">
              <label for="code">
                {{
                  "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_ENGLISH_NAME"
                    | translate
                }}
                <span class="text-danger mess-color">*</span>
              </label>
              <input type="text" 
              pInputText 
              [(ngModel)]="incidentSource.englishName" 
              [style]="{ width: '100%' }"
              name="englishName"
              />
              <!-- <input
                type="code"
                name="englishName"
                [(ngModel)]="incidentSource.englishName"
                #englishName="ngModel"
                class="form-control"
                required
                code
                (change)="englishNameChange()"
              /> -->
              <div
                *ngIf="
                  incidentSourceForm.controls.englishName?.touched &&
                  incidentSourceForm.controls.englishName?.errors?.required
                "
                class="form-text text-danger mess-color"
              >
                {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
              </div>

              <div
                *ngIf="EnglishNameValidationMsg !== ''"
                class="form-text text-danger mess-color"
              >
                {{ "NEDSS.COMMON.ENGLISHNAMEVALIDATEMSG" | translate }}
              </div>
            </div>
          </div>
          <!--end english name -->
        </div>
        <!-- end of first row -->

        <!-- second row  organization , government , adminstiration-->
        <div class="row">
          <!--start organization ( note for now orginazation will be disabled and only selection on id = 1)-->
          <div class="col-lg-4 mt-3">
            <div class="form-group">
              <label for="">
                {{"NEDSS.HOME.CONTROL_PANEL.CODES.ORGANIZATION" | translate}}
                <span class="text-danger mess-color">*</span>
              </label>
              <p-dropdown
                  [options]="organizations"
                  optionLabel="arabicName"
                  optionValue="id"
                  autoWidth="false"
                  [style]="{ width: '100%' }"
                  name="organization"
                  [filter]="true"
                  filterBy="arabicName"
                  [disabled]="true"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="incidentSource.organizationID"
                  [appDropdownLoading]="organizationsLoading"
                >
                </p-dropdown>
              <!-- <select
                [(ngModel)]="incidentSource.organizationID"
                class="form-control"
                name="organizationID"
                [disabled]="true"
              >
                <option
                  *ngFor="let organization of organizations"
                  [value]="organization.id"
                >
                  {{ organization.arabicName }}
                </option>
              </select> -->
            </div>
          </div>
          <!--end organization -->

          <!--start government -->
          <div class="col-lg-4 mt-3">
            <div class="form-group">
              <label for="">{{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_GOVERNMENT" | translate }}
                <span class="text-danger mess-color">*</span>
              </label>
              <p-dropdown
                  [options]="governments"
                  optionLabel="arabicName"
                  optionValue="id"
                  autoWidth="false"
                  [style]="{ width: '100%' }"
                  name="government"
                  [filter]="true"
                  filterBy="arabicName"
                  (onChange)="governmentSelected()"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="incidentSource.governmentID"
                  [appDropdownLoading]="governmentsLoading"
                >
                </p-dropdown>
              <!-- <select
                [(ngModel)]="incidentSource.governmentID"
                (ngModelChange)="governmentSelected()"
                class="form-control"
                name="governmentID"
              >
                <option
                  *ngFor="let government of governments"
                  [value]="government.id"
                >
                  {{ government.arabicName }}
                </option>
              </select> -->
            </div>
          </div>
          <!--end government -->

          <!--start healthAdministration -->
          <div class="col-lg-4 mt-3">
            <div class="form-group">
              <label for="">
                {{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_Department" | translate }}
                <span class="text-danger mess-color">*</span>
              </label>
              <p-dropdown
                  [options]="healthAdministrations"
                  optionLabel="arabicName"
                  optionValue="id"
                  autoWidth="false"
                  [style]="{ width: '100%' }"
                  name="healthAdministration"
                  [filter]="true"
                  filterBy="arabicName"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="incidentSource.healthAdministrationID"
                  [appDropdownLoading]="healthAdministrationsLoading"
                >
                </p-dropdown>
              <!-- <select
                [(ngModel)]="incidentSource.healthAdministrationID"
                class="form-control"
                name="healthAdministrationID"
              >
                <option
                  *ngFor="let healthAdministration of healthAdministrations"
                  [value]="healthAdministration.id"
                >
                  {{ healthAdministration.arabicName }}
                </option>
              </select> -->
            </div>
          </div>
          <!--end healthAdministration -->
        </div>
        <!-- end of 2nd row -->

        <!-- third row incidentSourceType -->
        <div class="row">
          <div class="col-lg-4 mt-3">
            <div class="form-group">
              <label for="">
                {{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_incidentSourceType" | translate }}
                <span class="text-danger mess-color">*</span>
              </label>
              <p-dropdown
                  [options]="incidentSourceTypes"
                  optionLabel="arabicName"
                  optionValue="id"
                  autoWidth="false"
                  [style]="{ width: '100%' }"
                  name="incidentSourceType"
                  [filter]="true"
                  filterBy="arabicName"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="incidentSource.incidentSourceTypeID"
                  [appDropdownLoading]="incidentSourceTypesLoading"
                >
              </p-dropdown>
              <!-- <select
                [(ngModel)]="incidentSource.incidentSourceTypeID"
                class="form-control"
                name="incidentSourceTypeID"
              >
                <option
                  *ngFor="let incidentSourceType of incidentSourceTypes"
                  [value]="incidentSourceType.id"
                >
                  {{ incidentSourceType.arabicName }}
                </option>
              </select> -->
            </div>
          </div>
          <div class="col-lg-4 mt-3">
            <div class="form-group">
              <label for="">
                {{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_reportingOrResidenceType" | translate }}
              </label>
              <p-dropdown
                  [options]="TypereportingOrResidence"
                  optionLabel="arabicName"
                  optionValue="id"
                  autoWidth="false"
                  [style]="{ width: '100%' }"
                  name="reportingOrResidence"
                  [ngModelOptions]="{ standalone: true }"
                  [(ngModel)]="incidentSource.reportingOrResidence"
                >
              </p-dropdown>
            </div>
          </div>
        </div>
        <!-- end of third row incidentSourceType -->
      </div>


      <div class="card-footer text-start">
        <button
          type="submit"
          class="btn btn-lg bg text-light"
          [disabled]="incidentSourceForm.form.invalid"
        >
          <span class="bi bi-check2-circle"></span>
          {{ "NEDSS.COMMON.SAVE" | translate }}
        </button>
        <button
          type="button"
          (click)="search()"
          class="btn btn-lg bg text-light float-end"
        >
          <span class="bi bi-check2-circle"></span>
          {{ "NEDSS.COMMON.SEARCH" | translate }}
        </button>
      </div>
    </div>
  </form>
  <div class="table-reponsive mt-4 shadow border rounded" *ngIf="!noData">
    <div class="row">
      <div class="col-lg-7 fwb p-4 pb-0">
        {{ "NEDSS.HOME.CONTROL_PANEL.CODES.INCIDENT_SOURCES" | translate }}
        {{ pages }}
      </div>
      <div class="col-lg-5 p-4 pb-0">
        <div class="row">
          <div class="col-8">
            <input
              type="search"
              name=""
              id=""
              class="form-control"
              placeholder=" {{ 'NEDSS.COMMON.SEARCH' | translate }} ..."
            />
          </div>
          <div class="col-4 pt-3">
            <!-- <a (click)="exportPatientsAsPdf()"><span class='bi bi-filetype-pdf'></span></a>
                    <button style="border: none;background: none;"  [useExistingCss]="true" printSectionId="myTableElementId" ngxPrint><span class='bi bi-printer-fill'></span></button >
                    <a (click)="exportPatiantsAsExcel()"><span class='bi bi-file-earmark-excel-fill'></span></a> -->
          </div>
        </div>
      </div>
      <div class="table-responsive table-none-scroll">
        <p-table
          class="table"
          [value]="incidentSources"
          (sortFunction)="sort($event)"
          [customSort]="true"
          [sortField]="'arabicName'"
          [sortOrder]="1"
          [paginator]="false"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="code">
                <span>{{
                  "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_CODE" | translate
                }}</span>
                <p-sortIcon field="code"></p-sortIcon>
              </th>
              <th pSortableColumn="arabicName">
                {{
                  "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_ARABIC_NAME"
                    | translate
                }}
                <p-sortIcon field="arabicName"></p-sortIcon>
              </th>

              <th pSortableColumn="englishName">
                <span>{{
                  "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_ENGLISH_NAME"
                    | translate
                }}</span>
                <p-sortIcon field="englishName"></p-sortIcon>
              </th>
              <th>
                <span>{{
                  "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_reportingOrResidenceType"
                    | translate
                }}</span>
              </th>
              <th>
                <span>{{
                  "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_TABLE_ACTIONS"
                    | translate
                }}</span>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
                <span
                  [innerHTML]="
                    item.code
                      | highlighter
                        : incidentSourceFilter.searchText
                        : 'partial'
                  "
                ></span>
              </td>

              <td>
                <span
                  [innerHTML]="
                    item.arabicName
                      | highlighter
                        : incidentSourceFilter.searchText
                        : 'partial'
                  "
                ></span>
              </td>
              <td>
                <span
                  [innerHTML]="
                    item.englishName
                      | highlighter
                        : incidentSourceFilter.searchText
                        : 'partial'
                  "
                ></span>
              </td>
              <td>
                <span>{{ getreportingOrResidenceType(item.reportingOrResidence) }}</span>
              </td>
              <td>
                <a
                  (click)="getById(item.id)"
                  class="text-primary pi pi-pencil"
                ></a>
                &nbsp;&nbsp;
                <a
                  data-bs-target="#exampleModal2"
                  data-bs-toggle="modal"
                  (click)="nameToDelete(item)"
                  class="text-danger mess-color bi bi-trash-fill"
                ></a>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="col-lg-12 p-0" style="margin-bottom: 4px">
          <p-paginator
            *ngIf="!noData"
            [rows]="incidentSourceFilter.pageSize"
            [totalRecords]="pages"
            (onPageChange)="paginate($event)"
            [first]="first"
            [currentPageReportTemplate]="
              'NEDSS.COMMON.CURRENT_PAGE_REPORT' | translate
            "
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[
              10,
              20,
              30,
              40,
              50,
              70,
              100,
              200,
              500,
              1000,
              2000,
              pages >= 5000 ? pages : 5000
            ]"
          ></p-paginator>
        </div>
        <div class="row" [hidden]="!noData">
          <div class="no-data content-center">
            <img src="../../../../../../../Content/Images/svg/no-data.svg" />

            <span>{{ "NEDSS.COMMON.NO_CONTENT" | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- confirm - modal -->

<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ "NEDSS.COMMON.SURE_DELETE_ATTENTION" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ "NEDSS.COMMON.SURE_DELETE" | translate
        }}<strong style="color: red"> {{ underDeleting.arabicName }} </strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          {{ "NEDSS.COMMON.CANCEL" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="delete(underDeleting.id)"
          data-bs-dismiss="modal"
        >
          {{ "NEDSS.COMMON.DELETE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>