/* 
 * Noto Kufi Arabic (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
    font-family: 'Noto Kufi Arabic';
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/normal/NotoKufiArabic-Regular.eot);
    src: url(./Fonts/normal/NotoKufiArabic-Regular.eot?#iefix) format('embedded-opentype'),
        url(./Fonts/normal/NotoKufiArabic-Regular.woff) format('woff'),
        url(./Fonts/normal/NotoKufiArabic-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Noto Kufi Arabic';
    font-style: normal;
    font-weight: 700;
    src: url(./Fonts/bold/NotoKufiArabic-Bold.eot);
    src: url(./Fonts/bold/NotoKufiArabic-Bold.eot?#iefix) format('embedded-opentype'), 
        url(./Fonts/bold/NotoKufiArabic-Bold.woff) format('woff'),
        url(./Fonts/bold/NotoKufiArabic-Bold.ttf) format('truetype');
}