<aside id="rightNav" class="border-start">
    <a href="#" id="menuToggle" class="text-dark d-block mt-3 mb-1">
        <span class="bi bi-list"></span>
        <span class="menu-text">القائمة</span>
    </a>
    <nav>
        <ul class='bg-hover'>
            <li data-bs-toggle="tooltip" data-bs-placement="right" title="فحص المرضى">
                <a routerLink="patient-checks" routerLinkActive="active">
                    <i class="bi bi-house-fill"></i>
                    <span class="menu-text">فحص المرضى</span>
                </a>
            </li>
            <li data-bs-toggle="tooltip" data-bs-placement="right" title="إضافة مريض جديد">
                <a routerLink="add-patient" routerLinkActive="active">
                    <span class='bi bi-plus-circle-fill'></span>
                    <span class="menu-text">إضافة مريض جديد</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>