<h2 class="titles">
  {{ "NEDSS.HOME.USERS.USER_DETAILS.VIEW_USER" | translate }}
</h2>
<div class="card shadow color input-group">
  <label class="form-label inline-block">{{ "NEDSS.HOME.USERS.USER_DETAILS.NAME" | translate }}
    <span>: {{user?.fullName}}</span></label>
</div>

<div class="card shadow color form-group">
  <label> {{ "NEDSS.HOME.USERS.USER_DETAILS.MOBILE" | translate }}: {{user?.phoneNo}}</label>
</div>

<div class="card shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.USER_DETAILS.ADDRESS" | translate }}: {{user?.address}}
  </label>
</div>

<div class="card shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.USER_DETAILS.USER_NAME" | translate }}: {{user?.userName}}
  </label>
</div>

<div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.USER_DETAILS.EMAIL" | translate }}: {{user?.email}}
  </label>
</div>
<div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.USER_DETAILS.LEVEL" | translate }}: {{user?.levelName}}
  </label>
</div>
<div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.ORGANIZATION" | translate }}: {{getOrgName(user?.organizationId)}}
  </label>
</div>
<div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_GOVERNMENT" | translate }}: {{user?.govenmentName}}
  </label>
</div>
<div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_THE_Department" | translate }}: {{user?.healthAdministrationName}}
  </label>
</div>
<div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.GENERAL_DATA_COMPLETION.INCIDENT_SOURCE" | translate }}: {{user?.incidentSourceName}}
  </label>
</div>
<!-- <div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.USER_DETAILS.ROLE" | translate }}: {{user?.roleId}}
  </label>
</div> -->
<div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.USER_DETAILS.POSITION" | translate }}: {{user?.positionName}}
  </label>
</div>
<!-- <div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.USERS.USER_DETAILS.DEPARTMENT" | translate }}: {{user?.departmentId}}
  </label>
</div> -->
<!-- <div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.CONTROL_PANEL.USER_ROLE_PERMISSION.PERMISSIONS" | translate }}: {{user?.userName}}
  </label>
</div> -->
<!-- <div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.CONTROL_PANEL.USER_ROLE_PERMISSION.DISEASES" | translate }}: {{user?.userName}}
  </label>
</div> -->
<!-- <div class="car shadow color form-group">
  <label>{{ "NEDSS.HOME.CONTROL_PANEL.USER_ROLE_PERMISSION.SELECTEDSITES" | translate }}: {{user?.userName}}
  </label>
</div> -->