<div class="row">
  <div class="col-12">
    <div class="card shadow mt-4 color">
      <div class="card-body">
        <h5 style="text-align: center; border: 1px solid; padding: 1%">
          {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.PAGE_TITLE" | translate }}
        </h5>
        <p class="text-center text-muted mb-4">
          {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.SUBTITLE" | translate }}
        </p>

        <app-investigation-summary
          [patientName]="patientName"
          [allFilledControlsCount]="allFilledControlsCount"
          [allControllesCount]="allControllesCount">
        </app-investigation-summary>

        <div class="row">
          <div class="col-12">
            <h3 class="fs-5 text-success fwb">
              {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.EPIDEMIOLOGICAL_INVESTIGATION" | translate }}
            </h3>
          </div>

          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.HUMAN_CONTACT" | translate }}
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-4">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.CONTACT_SUSPECTED_CASE" | translate }}</div>
                  <div class="col-8 has-labels">
                    <label for="contactSuspectedCaseYes">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactSuspectedCaseYes" name="contactSuspectedCase"
                        [(ngModel)]="MumpsData.contactSuspectedCase" [value]="0" />
                      {{ "NEDSS.COMMON.YES" | translate }}
                    </label>
                    <label for="contactSuspectedCaseNo">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactSuspectedCaseNo" name="contactSuspectedCase"
                        [(ngModel)]="MumpsData.contactSuspectedCase" [value]="1" />
                      {{ "NEDSS.COMMON.NO" | translate }}
                    </label>
                    <label for="contactSuspectedCaseUnknown">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactSuspectedCaseUnknown" name="contactSuspectedCase"
                        [(ngModel)]="MumpsData.contactSuspectedCase" [value]="2" />
                      {{ "NEDSS.REPORTS.UnKnown" | translate }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-4">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.CONTACT_CONFIRMED_CASE" | translate }}</div>
                  <div class="col-8 has-labels">
                    <label for="contactConfirmedCaseYes">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactConfirmedCaseYes" name="contactConfirmedCase"
                        [(ngModel)]="MumpsData.contactConfirmedCase" [value]="0" />
                      {{ "NEDSS.COMMON.YES" | translate }}
                    </label>
                    <label for="contactConfirmedCaseNo">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactConfirmedCaseNo" name="contactConfirmedCase"
                        [(ngModel)]="MumpsData.contactConfirmedCase" [value]="1" />
                      {{ "NEDSS.COMMON.NO" | translate }}
                    </label>
                    <label for="contactConfirmedCaseUnknown">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactConfirmedCaseUnknown" name="contactConfirmedCase"
                        [(ngModel)]="MumpsData.contactConfirmedCase" [value]="2" />
                      {{ "NEDSS.REPORTS.UnKnown" | translate }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-3">
                <div class="form-group">
                  <label for="numberDirectContacts">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.NUMBER_DIRECT_CONTACTS" | translate }}
                  </label>
                  <input type="number" class="form-control" id="numberDirectContacts"
                    (blur)="calculateCompletionPercentage()" name="numberDirectContacts"
                    [(ngModel)]="MumpsData.numberDirectContacts" />
                </div>
              </div>

              <div class="col-6 mt-3">
                <div class="row">
                  <div class="col-4">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.EPIDEMIC_OUTBREAK_OR_SIMILAR_CASES" | translate }}</div>
                  <div class="col-8 has-labels">
                    <label for="epidemicOutbreakYes">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="epidemicOutbreakYes" name="epidemicOutbreak"
                        [(ngModel)]="MumpsData.epidemicOutbreak" [value]="0" />
                      {{ "NEDSS.COMMON.YES" | translate }}
                    </label>
                    <label for="epidemicOutbreakNo">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="epidemicOutbreakNo" name="epidemicOutbreak"
                        [(ngModel)]="MumpsData.epidemicOutbreak" [value]="1" />
                      {{ "NEDSS.COMMON.NO" | translate }}
                    </label>
                    <label for="epidemicOutbreakUnknown">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="epidemicOutbreakUnknown" name="epidemicOutbreak"
                        [(ngModel)]="MumpsData.epidemicOutbreak" [value]="2" />
                      {{ "NEDSS.REPORTS.UnKnown" | translate }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-6 mt-3">
                <div class="row">
                  <div class="col-4">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.CONTACT_DECEASED_RESPIRATORY_CASE" | translate }}</div>
                  <div class="col-8 has-labels">
                    <label for="contactDeceasedPersonRespiratoryYes">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactDeceasedPersonRespiratoryYes" name="contactDeceasedPersonRespiratory"
                        [(ngModel)]="MumpsData.contactDeceasedPersonRespiratory" [value]="0" />
                      {{ "NEDSS.COMMON.YES" | translate }}
                    </label>
                    <label for="contactDeceasedPersonRespiratoryNo">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactDeceasedPersonRespiratoryNo" name="contactDeceasedPersonRespiratory"
                        [(ngModel)]="MumpsData.contactDeceasedPersonRespiratory" [value]="1" />
                      {{ "NEDSS.COMMON.NO" | translate }}
                    </label>
                    <label for="contactDeceasedPersonRespiratoryUnknown">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="contactDeceasedPersonRespiratoryUnknown" name="contactDeceasedPersonRespiratory"
                        [(ngModel)]="MumpsData.contactDeceasedPersonRespiratory" [value]="2" />
                      {{ "NEDSS.REPORTS.UnKnown" | translate }}
                    </label>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-3">
                <div class="form-group">
                  <label for="numberNonDirectContacts">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.NUMBER_NON_DIRECT_CONTACTS" | translate }}
                  </label>
                  <input type="number" class="form-control" id="numberNonDirectContacts"
                    (blur)="calculateCompletionPercentage()" name="numberNonDirectContacts"
                    [(ngModel)]="MumpsData.numberNonDirectContacts" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.VACCINATION_STATUS" | translate }}
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-4">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.MMR_DOSE_1" | translate }}</div>
                  <div class="col-8 has-labels">
                    <label for="mmrVaccineYes">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="mmrVaccineYes" name="mmrVaccine" [(ngModel)]="MumpsData.mmrVaccine" [value]="0" />
                      {{ "NEDSS.COMMON.YES" | translate }}
                    </label>
                    <label for="mmrVaccineNo">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="mmrVaccineNo" name="mmrVaccine" [(ngModel)]="MumpsData.mmrVaccine" [value]="1" />
                      {{ "NEDSS.COMMON.NO" | translate }}
                    </label>
                    <label for="mmrVaccineUnknown">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="mmrVaccineUnknown" name="mmrVaccine" [(ngModel)]="MumpsData.mmrVaccine" [value]="2" />
                      {{ "NEDSS.REPORTS.UnKnown" | translate }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6" [appShowIf]="MumpsData.mmrVaccine === 0">
                <div class="form-group">
                  <label for="dateMmrVaccine">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.VACCINE_DATE" | translate }}</label>
                  <app-date-field (blurred)="calculateCompletionPercentage()"
                    [(ngModel)]="MumpsData.dateMmrVaccine"></app-date-field>
                </div>
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-4">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.MMR_DOSE_2" | translate }}</div>
                  <div class="col-8 has-labels">
                    <label for="mmrVaccine2Yes">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="mmrVaccine2Yes" name="mmrVaccine2" [(ngModel)]="MumpsData.mmrVaccine2" [value]="0" />
                      {{ "NEDSS.COMMON.YES" | translate }}
                    </label>
                    <label for="mmrVaccine2No">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="mmrVaccine2No" name="mmrVaccine2" [(ngModel)]="MumpsData.mmrVaccine2" [value]="1" />
                      {{ "NEDSS.COMMON.NO" | translate }}
                    </label>
                    <label for="mmrVaccine2Unknown">
                      <input type="radio" (blur)="calculateCompletionPercentage()" class="form-check-input"
                        id="mmrVaccine2Unknown" name="mmrVaccine2" [(ngModel)]="MumpsData.mmrVaccine2" [value]="2" />
                      {{ "NEDSS.REPORTS.UnKnown" | translate }}
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-lg-6" [appShowIf]="MumpsData.mmrVaccine2 === 0">
                <div class="form-group">
                  <label for="dateMmrVaccine2">{{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.VACCINE_DATE" | translate }}</label>
                  <app-date-field (blurred)="calculateCompletionPercentage()"
                    [(ngModel)]="MumpsData.dateMmrVaccine2"></app-date-field>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.ADMIN_INFO" | translate }}
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label for="investigationDate">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.INVESTIGATION_DATE" | translate }}
                  </label>
                  <app-date-field (blurred)="calculateCompletionPercentage()"
                    [(ngModel)]="MumpsData.investigationDate"></app-date-field>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="healthObserverName">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.HEALTH_OBSERVER_NAME" | translate }}
                  </label>
                  <input type="text" id="healthObserverName" class="form-control"
                    (blur)="calculateCompletionPercentage()" name="healthObserverName"
                    [(ngModel)]="MumpsData.healthObserverName" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="surveillanceOfficerName">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.SURVEILLANCE_OFFICER" | translate }}
                  </label>
                  <input type="text" id="surveillanceOfficerName" class="form-control"
                    (blur)="calculateCompletionPercentage()" name="surveillanceOfficerName"
                    [(ngModel)]="MumpsData.surveillanceOfficerName" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="administrationDirectorName">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.MUMPS.ADMINISTRATION_DIRECTOR" | translate }}
                  </label>
                  <input type="text" id="administrationDirectorName" class="form-control"
                    (blur)="calculateCompletionPercentage()" name="administrationDirectorName"
                    [(ngModel)]="MumpsData.administrationDirectorName" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-start">
        <button type="button" (click)="save()" class="btn bg rounded-2 text-light">
          {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
