.btn-customBase,
.btn-customSecondary,
.btn-customView,
.btn-customDanger {
    border: none;
    border-radius: 4px;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    /*padding: 0 2rem;*/
    padding: 0 1rem;
    text-transform: capitalize;
    vertical-align: middle;
    font-size: 14px;
    width: auto;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    transition: .3s ease-out !important;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
}

.btn-customBase:hover,
.btn-customView:hover {
    background-color: #2bbbad;
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.btn-customBase:focus,
.btn-customView:focus {
    color: #fff;
    background-color: #1d7d74;
}

.btn-customView {
    height: 34px;
    line-height: 34px;
    padding: 0 1.5rem;
}

.btn-colorBlue {
    background: #26a69a !important;
}

.btn-colorBlue:hover,
.btn-colorBlue:focus,
.btn-colorBlue.focus,
.btn-colorBlue:active,
.btn-colorBlue.active,
.open>.dropdown-toggle.btn-warning {
    background-color: #2bbbad !important;
    border-color: #26a69a !important;
    color: #fff;
}

.btn-customDanger {
    background: #d9534f;
    color: #fff;
    margin: 0 5px;
}

.btn-customDanger:hover,
.btn-customDanger:focus {
    color: #fff;
    background: #c9302c;
}

.btn-customSecondary {
    background: #eee;
    color: #787878;
    margin: 0 5px
}

.btn-customSecondary:hover,
.btn-customSecondary:focus {
    background: #dddddd;
    color: #787878;
}

.btnDownload,
.btnEdit,
.btnDelete,
.btnDetails,
.btnPlus,
.btnView,
.btnGray,
.btnSteps,
.btnSettings,
.btnTick,
.btnTimes,
.btnCopy {
    display: inline-block;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-radius: 50%;
    margin: 0 10px
}

.btnEdit i,
.btnDelete i,
.btnDetails i,
.btnPlus i,
.btnView i,
.btnGray i,
.btnSteps i,
.btnSettings i,
.btnTick i,
.btnTimes i,
.btnCopy i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    line-height: 35px;
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #26a69a;
    font-size: 20px;
    line-height: 35px;
}


.btnDownload,
.btnDelete,
.btnDetails,
.btnEdit,
.btnPlus,
.btnPlus,
.btnView,
.btnGray,
.btnSteps,
.btnSettings,
.btnTick,
.btnTimes,
.btnCopy {
    background: transparent !important;
}

.btnDownload:hover,
.btnDelete:hover,
.btnDetails:hover,
.btnEdit:hover,
.btnPlus:hover,
.btnView:hover,
.btnGray:hover,
.btnSteps:hover,
.btnSettings:hover,
.btnTick:hover,
.btnTimes:hover,
.btnCopy:hover {
    background: transparent !important;
    opacity: .8;
}

.btnEdit i {
    color: #26a69a;
}

.btnDownload i {
    color: #58B8AF;
}

.btnDelete i {
    color: #d21a1a;
}

.btnDetails i {
    /*color: #33383e;*/
    color: #999;
}

.btnPlus i {
    color: #4CAF50;
}

.btnView i {
    color: #999;
}

.btnGray i {
    color: #444;
    font-size: 18px !important;
}

.btnSteps i {
    color: #26A69A;
}

.btnAddIcon {
    width: 35px;
    float: left !important;
    height: 37px;
    padding: 0px 7px;
}

.btnAddIcon i {
    line-height: 13px;
    font-size: 13px;
}

.btnSettings i {
    color: #636363;
}

.btnCopy i {
    color: #26A69A;
}


input[type='file'] {
    color: transparent;
}

::-webkit-file-upload-button {
    background-color: $main-color;
    color: white;
    font-family: inherit;
    font-size: 14px;
    padding: 0.5em;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;
}


::-webkit-file-upload-button:hover {
    background-color: #2bbbad;
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

::-webkit-file-upload-button:focus {
    background-color: #1d7d74;
    color: #fff;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.btn-bottom {
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
}

.cancel-button {
    background: #dddddd;
    color: #787878;
    margin-left: 5px;
    margin-right: 5px;
}