.ctrl-datepicker{
    font-family:Arial, FontAwesome;
}


/*.wrapperInner .ctrl-datepicker::-webkit-input-placeholder {

    color: red;
}*/


/* webkit solution */
.ctrl-datepicker::-webkit-input-placeholder {
    color: black;
    text-align: right;
}
/* mozilla solution */
.ctrl-datepicker input:-moz-placeholder {
    color: black;
    text-align: right;
}

.ctrl-datepicker .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: white;
}