.pageFooter {
    background: #666 url(/Content/Images/pattern-en.png);
    background-repeat: no-repeat;
    background-size: 29% 100%;
    padding: 20px 30px;
    
    height: 40px;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footerTxt {
    color: #fff;
    margin-top: -5px;
    font-size: 12px;
}
