
.lblCustomeGray {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 250%;
    margin-bottom: 0;
    text-align: inherit;
    vertical-align: text-bottom;
}

.lbl-Gray {
  text-align: left;
  font-family: 'Open Sans', sans-serif !important;
  color: $font-custom;
}


.lbl-Inline {
  line-height: 34px;
  margin-right: 5px;
  margin-left: 0px;
}

.lbl-sub {
    color: $main-color;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 250%;
    margin-bottom: 0;
    text-align: inherit;
    vertical-align: text-bottom;
}

.lbl-Form {
  float: left !important;
}



.lbl-Custome {
  float: left !important;
  margin-left: 14px;
}

.lbl-title {
    font-weight: 600;
    font-size:16px;
    color: $main-color;
}

.lbl-details {
    color: $font-dark;
    font-weight: 400;
}


.not-required-hint-en:after {
        font-size: 12px;
        color: grey;
        content: " optional";
    }.not-required-hint-ar:after {
        font-size: 12px;
        color: grey;
        content: " إختياري";
    }

.required-hint:after {
    color: $main-color;
    font-size:12px;
    content: " *";
}

.badge {
    font-size: 12px !important;
    text-align: center;
    border-radius: 2px !important;
    background-color: $color-gray-dark;
}

.badge.badge-outlined {
    background-color: transparent;
    border: 1.5px solid transparent;
}

.badge.badge-outlined.badge-default {
    border-color: #8888a2;
    color: #8888a2;
}


.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.help-block {
    margin: 0;
    font-size: 12px;
}