
    .line-vertical-main {
        border: 0;
        clear: both;
        display: block;
        width: 96%;
        background-color: $main-color;
        height: 1px;
    }




.actions-header-left {
    border-left: 3px solid $main-color !important;
    border-right: 0 !important;
}

.actions-header-right {
    border-right: 3px solid $main-color !important;
    border-left: 0 !important;
}