.overlay-menu {
    color: white;
    background: rgba(0, 0, 0, 0.9);
    transition: all 0.3s ease;
    width: 19%;
}

.overlay-menu-tabs ul {
    border-bottom: 0;
    margin-bottom: 5%;
}

.overlay-menu-tabs .nav-tabs > li {
    width: 33%;
    text-align: center;
}

.overlay-menu-tabs .nav-tabs > li > a,
.overlay-menu-tabs .nav-tabs > li > a:focus,
.overlay-menu-tabs .nav-tabs > li > a:hover {
    background-color: transparent;
    border: 0;
}

.overlay-menu-tabs .nav-tabs > li.active > a,
.overlay-menu-tabs .nav-tabs > li.active > a:focus,
.overlay-menu-tabs .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: 0;
}

.overlay-menu-tabs .nav-tabs > li > a {
    color: #e7e7e7;
}

.overlay-menu-tabs .nav-tabs > li > a:focus {
}

.overlay-menu-tabs .nav-tabs > li > a:hover {
}

.overlay-menu-tabs .nav-tabs > li.active > a {
    color: #FAE475;
    border-bottom: 1px solid #FAE475;
}

.overlay-menu-tabs .nav-tabs > li.active > a:focus {
    border-bottom: 1px solid #FAE475;
}

.overlay-menu-tabs .nav-tabs > li.active > a:hover {
    border-bottom: 1px solid #FAE475;
}


.overlay-menu.overlay-menu-brighter {
    color: white;
    background: rgba(0, 0, 0, 0.80) !important;
}

@media screen and (max-width: 750px) {
    .overlay-menu {
        width: 75%;
        position: absolute;
    }
    .overlay-menu.overlay-menu-brighter {
        color: white;
        background: rgba(0, 0, 0, 1) !important;
        position: absolute;
    }
}

@media (width: 768px) {
    .overlay-menu {
        width: 30%;
    }
}

@media only screen and (width: 1024px) {
    .overlay-menu {
        width: 25%;
    }
}