@import url("../../CSSLibraries/Open_Sans/font.css");
/* @import url('https://fonts.googleapis.com/css?family=Cairo'); */
/* @import url('https://fonts.googleapis.com/css?family=Tajawal'); */

html,
body {
  min-height: 100%;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff !important;
  font-family: Segoe UI, "Tajawal", "Cairo", serif !important;
  font-size: 1.5rem;
  /*this overrides the style written in index that add display none to body
    * this was made to hide the unstyled content till this file loads
    */
  display: block;
}

select,
input {
  /*font-family: 'Open Sans', sans-serif;*/
  direction: ltr !important;
}

label {
  direction: ltr !important;
  word-break: break-all;
  font-weight: 500;
}

.pull-start {
  float: left !important;
}

.ar .pull-start {
  float: right !important;
}

.pull-end {
  float: right !important;
}

.ar .pull-end {
  float: left !important;
}

/*==================== STYLE FOR LOGIN =====================*/

.btn.primary.loginBtn.pull-left {
  float: right !important;
}

.alert-login-cus {
  direction: ltr !important;
  float: left !important;
  text-align: left !important;
}

.login-intro {
  left: 0 !important;
  right: auto !important;
  text-align: left !important;
}

.login-form {
  right: 0 !important;
  left: auto !important;
  text-align: left !important;
  background: rgb(228, 228, 228) !important;
  /* Old browsers */
  background: rgb(255, 255, 255) !important;
  /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(228, 228, 228, 1) 100%
  ) !important;
  /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(228, 228, 228, 1) 100%
  ) !important;
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 1) 1%,
    rgba(228, 228, 228, 1) 100%
  ) !important;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e4e4e4', GradientType=1) !important;
  /* IE6-9 fallback on horizontal gradient */
}

.login-form h1 {
  text-align: left !important;
  direction: ltr !important;
  font-family: "Open Sans", sans-serif !important;
}

.login-text {
  text-align: left !important;
  padding-left: 20px !important;
}

.login-fill,
.login-text {
  font-family: "Open Sans", sans-serif !important;
}

.login-alert {
  text-align: left !important;
}

.ar .login-form h1 {
  text-align: right !important;
  direction: rtl !important;
  font-family: "Open Sans", sans-serif !important;
}

.ar .login-text {
  text-align: right !important;
  padding-right: 20px !important;
  padding-left: 0;
}

.login-form .btn-outline-secondary {
  color: #000;
}

.login-form .btn-primary {
  color: #fff;
  background-color: #26a69a;
  border-color: #2e6da4;
}

.ar .login-alert {
  text-align: right !important;
}

/*END*/
/*#endregion*/
/*==================== STYLE FOR SIDEBAR =====================*/

.cd-side-nav {
  position: relative;
  float: left;
  top: auto;
  width: 110px;
  min-height: 100vh;
  padding-top: 55px;
  visibility: visible;
  opacity: 1;
  overflow: visible;
  max-height: none;
}

.cd-nav {
  display: block;
  float: right;
  height: 100%;
}

.cd-logo {
  float: left;
  display: block;
  /*margin: 11px 0 0 5%;*/
}

.cd-top-nav .has-children ul li {
  text-align: left !important;
}

.cd-top-nav .has-children ul a {
  text-align: left;
}

/* END == SIDEBAR*/

/*==================== STYLE FOR UPLOADED TASKS /// GRID =====================*/

.ui-grid-viewport {
  direction: ltr;
}

.ui-grid-header-cell-wrapper {
  float: left;
}

.ui-grid[dir="rtl"] .ui-grid-header-cell,
.ui-grid[dir="rtl"] .ui-grid-footer-cell,
.ui-grid[dir="rtl"] .ui-grid-cell {
  float: left !important;
  direction: ltr !important;
  border-right: 1px solid #d4d4d4 !important;
}

.ui-grid-column-menu-button {
  position: absolute !important;
  right: 1px !important;
  top: 0 !important;
  left: inherit !important;
}

.collapseBtn {
  position: relative;
  float: right !important;
  left: 15px !important;
}

.wrapperInner .panel-title {
  /*width: 90% !important;*/
  /*Beacuse icons of eshtratat*/
  /*float: left !important;*/
  text-align: left !important;
}

/* END == UPLOADED TASKS*/

/*==================================DAILY DASHBOARD=====================================*/

div.wrapper {
  /*position: relative !important;*/
  right: 0px !important;
  direction: ltr !important;
  /*overflow-y: hidden;*/
}

.suprvisor-wrapper {
  overflow-y: hidden;
}

.wrapperInner {
  direction: ltr !important;
}

.ar .wrapperInner {
  direction: rtl !important;
}

.dark-container {
  background-color: #343435 !important;
}

.dark-font {
  color: #dbd6d6 !important;
}

.bv_title h2 {
  margin: 5px 0 6px;
  float: left !important;
  direction: ltr !important;
  display: block;
  text-overflow: ellipsis;
  /* overflow: hidden; */
  white-space: nowrap;
}

.bv_panel {
  direction: ltr;
}

.ar .bv_panel {
  direction: rtl;
}

.wrapperInner .row {
  margin: 0 10px 0 0;
  /*margin: 0 10px 0 0 !important;*/
  /* height: 100%; */
  /* width: 100%; */
  height: auto;
  width: 98%;
  direction: ltr !important;
  text-align: left !important;
  float: left !important;
  /*text-align: center !important;*/
}

.wrapperInner .row {
  /*margin: 0px !important;*/
  width: 100% !important;
  /*padding: 5px 0px;
  margin: 5px 0px;*/
}

.ar .wrapperInner .row {
  direction: rtl !important;
  text-align: right !important;
  float: right !important;
  margin-right: 0px;
  margin-left: 0px;
}

.row.marTop-7 {
  margin-top: 7px !important;
}

/*END*/

/*========================================COMMON======================================*/

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    float: left !important;
}*/

.tabs-style-underline nav ul li {
  float: left !important;
}

.tabs-style-underline nav a {
  font-weight: 600;
}

.another-subTitle {
  border-left: 3px solid #26a69a !important;
  border-right: 0 !important;
  padding-left: 6px !important;
  padding-right: 0 !important;
}

.no-data > div:before {
  left: 15%;
  right: auto;
  background-position: left;
}

.noData > div:before {
  left: 20%;
  right: auto;
  background-position: left;
}

.wrapperInner p,
.wrapperInner span,
.wrapperInner h1,
.wrapperInner h2,
.wrapperInner h3,
.wrapperInner h4,
.wrapperInner h5,
.wrapperInner h6 {
  text-align: left;
  direction: ltr !important;
}

.ar .wrapperInner p,
.ar .wrapperInner span,
.ar .wrapperInner h1,
.ar .wrapperInner h2,
.ar .wrapperInner h3,
.ar .wrapperInner h4,
.ar .wrapperInner h5,
.ar .wrapperInner h6 {
  text-align: right;
  direction: rtl !important;
}

.page-title:before {
  margin-right: 10px !important;
  margin-left: 0 !important;
}

.pull-left {
  float: right !important;
}

.ar .pull-left {
  float: left !important;
}

.pull-right {
  float: left !important;
}

.ar .pull-right {
  float: right !important;
}

.wrapperInner .left {
  float: right !important;
}

.ar .wrapperInner .left {
  float: left !important;
}

.txtLeft {
  text-align: left !important;
}

.txtRight {
  text-align: right !important;
}

.txtRight-en {
  text-align: right !important;
}

.txtLeft-en {
  text-align: left !important;
}

.fRight {
  float: right !important;
}

/*.marBtm-10 {
    margin-bottom: 10px !important;
}*/

.marLef10-en {
  margin-left: 10px !important;
}

.marLef0-en {
  margin-left: 0px !important;
}

.marRig8-en {
  margin-right: 8px !important;
}

.fLeft-en {
  float: left !important;
}

.fRight-en {
  float: right !important;
}

.mar-8 {
  margin: 0 8px !important;
}

.mar-lef0-en {
  margin-left: 0px !important;
  margin-right: 10px !important;
}

.mar-left-6-en {
  margin-left: -6px !important;
}

.dir-ltr {
  direction: ltr !important;
}

.lin-height-32 {
  line-height: 32px !important;
}

.alert-cus {
  text-align: left;
}

.alert-cus:before {
  margin: 0 4px 0 0;
}

.radio-inline,
.checkbox-inline {
  padding-left: 20px !important;
  padding-right: 0 !important;
  margin-bottom: 0 !important;
  line-height: 20px !important;
}

.ar .radio-inline,
.ar .checkbox-inline {
  padding-right: 20px !important;
  padding-left: 0 !important;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -20px !important;
  margin-right: auto !important;
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-right: 10px !important;
  margin-left: auto !important;
}

.wrapperInner .checkbox input[type="checkbox"],
.wrapperInner .checkbox-inline input[type="checkbox"] {
  /*left: 11px !important;*/
  /*float: left !important;*/
  /*right: 0 !important;*/
  /*position: relative;*/
  left: 0px !important;
}

.wrapperInner .radio input[type="radio"],
.wrapperInner .radio-inline input[type="radio"] {
  position: relative;
  right: 0 !important;
}

/*To Override on aside-placement*/

.aside.left {
  left: 0 !important;
  right: auto !important;
}

.aside .aside-dialog .aside-header .close {
  float: right;
}

.aside {
  direction: ltr;
}

.aside-title {
  text-align: left;
}

.aside .form-group {
  float: left;
  width: 100%;
}

.aside .aside-dialog .aside-body {
  text-align: left !important;
}

/*END*/

/*CONFIRMATION MESSAGE POPOVER*/

.popover {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  direction: ltr;
  position: absolute;
}

.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}

.col-xs-6 {
  /*to solve ok/cancel button*/
  float: left !important;
}

/*END*/

/*TAGS INPUT OVERIDE ON ARABIC*/

tags-input .tags .input {
  text-align: left !important;
  font: 12px "Open Sans", sans-serif !important;
  float: left !important;
}

tags-input .tags .tag-item {
  float: left !important;
  direction: ltr;
  font-family: "Open Sans", sans-serif !important;
}

/*END*/

/*======================================Tasks Reports======================================*/

.select2-container--default[dir="rtl"]
  .select2-selection--single
  .select2-selection__arrow {
  right: 1px;
  left: auto;
}

/*END*/

/*======================================Tasks Distribution======================================*/

section.top aside.right {
  background: #4d5b69;
  height: 102% !important;
  width: 14%;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center !important;
}

section.bottom aside.right {
  background: #4d5b69;
  position: absolute;
  left: 0 !important;
}

.users-filter {
  direction: ltr;
  margin-right: 2.5%;
  margin-left: 0px;
  float: left;
  position: absolute;
  top: 100%;
  left: 0%;
}

.userFilter {
  margin-right: 5% !important;
  margin-left: 5% !important;
}

section.top aside.right h1 {
  margin-left: 2.5% !important;
  float: left !important;
  text-align: left !important;
}

.user-tasks .day-tasks-container {
  float: left !important;
  border-left: 1px #ccc solid !important;
}

.days {
  left: 13.9% !important;
  right: auto !important;
}

.users-filter {
  direction: ltr !important;
  margin-left: 0 !important;
  margin-right: 0;
  float: left !important;
}

section.bottom aside.left {
  width: calc(100% - 14.5%);
  position: absolute;
  left: 14%;
  top: 0;
  padding-bottom: 300px;
}

.single-user img {
  float: left !important;
  direction: ltr !important;
}

.single-user span {
  float: left !important;
}

.overload-percentage {
  margin-right: 5% !important;
  float: right !important;
}

.auto-distributionDiv {
  position: absolute;
  top: 5px;
  left: 25.2% !important;
  border-radius: 4px;
  float: right;
}

.nameSearch {
  left: 0px !important;
  padding-left: 25px !important;
  padding-right: 12px !important;
}

.search-circle {
  position: absolute;
  top: 6px;
  left: 238px !important;
  cursor: default;
  padding: 8px 10px;
  border: 2px #fff solid;
  border-radius: 50%;
  color: white;
  z-index: 10;
  cursor: pointer !important;
}

.list-circle {
  position: absolute;
  top: 6px;
  left: 190px !important;
  cursor: default;
  padding: 8px 10px;
  border: 2px #fff solid;
  border-radius: 50%;
  color: white;
  z-index: 10;
  cursor: pointer !important;
}

.days div {
  border-right: 1px solid #097386;
  border-left: 0 !important;
  /*padding-left: 0px !important;*/
  text-align: center !important;
  float: left !important;
}

.days div:first-child {
  padding-right: 0px !important;
  border-left: 20px !important;
  padding-left: 20px !important;
}

.days div:last-child {
  border-right: 20px !important;
  border-left: 0 !important;
  padding-left: 0 !important;
}

.week-arrows .week-arrow-left {
  left: 165px !important;
}

.week-arrows .week-arrow-right {
  right: -8px !important;
}

section.top aside.left .row {
  text-align: left !important;
}

/*.selectCustome {
    margin-left: 12px;
}*/

/*ul#orderList input[type=checkbox] {
    margin: 0px -15px;
    vertical-align: middle;
        margin-top: 4px;
        float: left !important;
}*/

ul#orderList input[type="checkbox"] {
  margin: 14px -11px !important;
  float: left !important;
}

/*===========================================SUPERVISOR TASKS PAGE======================================*/

.wrapperInner .dropdown-menu > li > a {
  text-align: left !important;
}

.fa.pull-right {
  margin-right: 0.3em;
}

#orderList {
  transition: none;
  margin-bottom: 5px;
  overflow: hidden;
}

ul#orderList input {
  float: right !important;
}

.faBars-en {
  float: left;
  line-height: 42px;
  margin-right: 3px;
}

.jcarousel {
  padding: 0 10px !important;
}

.jcarousel ul {
  float: left !important;
  left: 0px !important;
}

.jcarousel li {
  float: left !important;
}

.select2-results__option,
.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  text-align: left !important;
}

section.top aside.left select,
section.top aside.left input {
  text-align: left !important;
}

/*==========================================SupervisorTasksNEWDESIGN======================*/

#responsive4 > .tns-item,
#Targetresponsive > .tns-item {
  float: left !important;
}

.tns-ovh {
  direction: ltr !important;
}

.targetContainer div.percentageValue {
  padding: 0 2px !important;
}

.bor-radius {
  border-radius: 4px 0 0 4px;
}

.bor-radius-RL-en {
  border-radius: 4px 0 0 4px !important;
}

.ar .bor-radius-RL-en {
  border-radius: 0px 6px 6px 0px !important;
}

.bor-radius-TB-en {
  border-radius: 0 4px 4px 0 !important;
}

.ar .bor-radius-TB-en {
  border-radius: 8px 0px 0px 9px !important;
}

.borRight {
  border-left: 1px solid #fff !important;
  border-right: 0 !important;
}

.ar .borRight {
  border-right: 1px solid #fff !important;
  border-left: 0 !important;
}

.supervisorTasksContainer .title {
  left: 35px;
  right: auto;
  text-align: left !important;
  direction: ltr !important;
}

.supervisorTasksContainer .user-img .banIcon {
  right: 0;
  left: auto !important;
}

.fa.infoIcon {
  right: 10px;
  left: auto !important;
}

.supervisorTasksContainer .banIcon-date {
  float: right !important;
}

.task-details .task-color {
  right: 5px !important;
  left: auto !important;
  float: right !important;
}

.supervisorTasksContainer .tbl-actions {
  text-align: right !important;
}

.supervisorTasksContainer table tbody tr td:last-child {
  padding: 6px 8px !important;
}

.add-popup {
  right: 65px !important;
  left: auto !important;
}

.add-popup::after {
  right: -4px !important;
  left: auto !important;
}

.btn-group > .btn.btn-white {
  float: left;
}

.btn-group > .btn.btn-white:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.ar
  .btn-group
  > .btn.btn-white:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.btn-group > .btn.btn-white:last-child:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.ar .btn-group > .btn.btn-white:last-child:not(:first-child) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.ar .ui-calendar.ui-calendar-w-btn .ui-datepicker-trigger.ui-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.ar .ui-calendar.ui-calendar-w-btn .ui-inputtext {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: 0 none;
  border-left: 0;
  border-right: 1px solid #8d8d8d;
}

.btn-pre {
  left: -22px !important;
  right: auto !important;
}

.btn-next {
  right: -2px !important;
  left: auto !important;
}

ul.task-details {
  margin-right: 0 !important;
}

.dropdown-custom {
  left: auto !important;
  right: 0 !important;
}

/*ZOOMING*/

.zoom-in {
  transform-origin: top right !important;
}

.supervisorTasksContainer table tbody tr td.zoom-in:last-child {
  transform-origin: top right;
}

div.entity-weight {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*=============================================END=============*/

/*===========================================Operation Room Page======================================*/

.user-donut-percentage {
  position: absolute;
  top: 22px;
  left: 50%;
  right: 50%;
  font-size: 65%;
}

/*Media queries*/

@media only screen and (width: 1024px) {
  .user-donut-percentage {
    padding: 2px 0px;
  }

  .nav > li > a {
    position: relative;
    display: block;
    padding: 10px 3px;
  }
}

@media only screen and (min-width: 1366px) {
  .user-donut-percentage {
    padding: 4px 5px;
  }
}

/*=============================================END=============*/

/*=======================STYLE FOR myTasks PAGE============================*/

.ui-grid-pager-control {
  float: right !important;
}

.ui-grid-pager-count-container {
  float: left !important;
  line-height: 40px !important;
}

.ui-grid-pager-container {
  direction: ltr;
  float: right !important;
  text-align: right !important;
  line-height: 40px !important;
}

.ui-grid-pager-row-count-picker select {
  height: 27px !important;
  vertical-align: middle;
  padding: 2px !important;
}

.wrapperInner .ui-grid-pager-control input {
  vertical-align: middle !important;
  position: relative;
  top: 8px;
  right: -130px;
  /* float: left !important; */
}

.ui-grid-pager-control .next-triangle {
  margin-right: 1px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-grid-pager-control .first-triangle {
  margin-left: 2px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-grid-pager-control .first-bar-rtl {
  margin-left: -3px;
}

.ui-grid-pager-control .last-triangle {
  margin-right: 2px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-grid-pager-control .last-bar-rtl {
  margin-right: -3px;
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
  margin-left: 55px;
}

.ui-grid-pager-row-count-picker {
  margin-right: -50px;
}

.ui-sidebar-right {
  left: 0;
  right: auto;
}

.ar .ui-sidebar-right {
  right: 0;
  left: auto;
}

/*===========================================ADMIN PAGES======================================*/

.wrapperInner .caution {
  position: absolute;
  right: 30px;
  top: 16px;
  float: right !important;
}

.wrapperInner .caution img {
  float: right !important;
}

.wrapperInner .tab-content {
  /*float: left !important;*/
  /*width: 92%;*/
}

.wrapperInner .nav-tabs {
  float: left !important;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 0px solid #ddd;
}

.wrapperInner input.stepHeaderName {
  border: 0px;
  width: 100%;
  background: #fff;
  border-bottom: 1px #333 solid !important;
  font-size: 18px !important;
  font-weight: normal !important;
  color: #333 !important;
  padding-bottom: 15px;
  height: inherit;
  text-align: left;
  margin-bottom: 15px;
}

.wrapperInner .form-group input,
.wrapperInner .form-group label,
.wrapperInner .form-group select {
  /*margin: 5px;*/
  direction: ltr !important;
}

#viewForm input,
#viewForm select,
#viewForm .radio,
#viewForm textarea {
  text-align: left !important;
  direction: ltr !important;
}

.wrapperInner .steps_container {
  min-height: 640px;
}

.btn-addRequirement {
  border-radius: 50%;
  border: 1px solid #2f8b8e;
  color: #2f8b8e;
  float: left;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
}

.btnAddIcon {
  float: left !important;
}

.vertical-menu {
  /* min-width: 200px; */
  width: auto;
  background: #fff;
  border: 1px solid #ececec;
  padding: 10px;
  min-height: 400px;
  direction: ltr !important;
}

.ar .vertical-menu {
  direction: rtl !important;
}

.titleOfFileds {
  text-align: left !important;
}

.ar .titleOfFileds {
  text-align: right !important;
}

.fa.fa-nav,
.glyphicon-record {
  margin-right: 2px;
  margin-left: 0px;
}

.switchTitle {
  text-align: left !important;
  float: left !important;
  font-family: "Open Sans", sans-serif !important;
}

.ar .switchTitle {
  float: right !important;
}

/*#region MATERIAL SWITCH*/

.material-switch {
  float: unset;
  /*float: left !important;*/
}

.material-switch > label::after {
  left: 0;
  right: auto;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  right: 0px;
  left: auto;
}

.material-switch > label::after {
  transition: all 0.3s ease-in-out;
}

.inheret-material-switch .material-switch {
  float: inherit !important;
}

/*#endregion MATERIAL SWITCH*/
/*For UserGroups Only [Material-switch-English]*/
.fLeft-en {
  float: left !important;
}

.wrapperInner .deleteStep {
  position: absolute;
  right: 35px;
  left: 0;
  top: 26px;
}

.actions {
  float: right !important;
}

.wrapperInner ul li {
  text-align: left !important;
}

.ar .wrapperInner ul li {
  text-align: right !important;
}

/*Resolving Nav-tabs Issue in Formsteps Page*/

.wrapperInner .nav-tabs {
  float: left !important;
  /*border-bottom: 0 !important;*/
}

.ar .wrapperInner .nav-tabs {
  float: right !important;
  /* border-bottom: 0 !important; */
}

.wrapperInner .nav-tabs li,
.nav-tabs li.active,
.nav-tabs li.hover {
  float: none !important;
}

.nav-tabs > li > a {
  margin-right: auto !important;
  margin-left: 5px !important;
}

/*END*/

.material-switch {
  float: unset;
  text-align: left;
}

.ar .material-switch {
  float: unset;
  text-align: right;
}

/*END*/

.subTitle {
  text-align: left !important;
}

div.accordion:before {
  float: left !important;
}

div.accordion .fa.accordion-arrow {
  float: left !important;
}

div.accordion {
  text-align: right !important;
}

.paddLef0-en {
  padding-left: 0px !important;
  padding-right: 15px !important;
}

.paddRig0-en {
  padding-right: 0px !important;
  padding-left: 15px !important;
}

/*#region FORMS */

.isActive {
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-left: 8px solid #28a745 !important;
}

.isDeactive {
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-left: 8px solid #b3b3b3 !important;
}

.isInprogress {
  border-right: 1px solid rgba(0, 0, 0, 0.125) !important;
  border-left: 8px solid #ffc107 !important;
}

/*#endregion*/

/*#region PAGINATION STYLE*/

.pagination {
  float: left !important;
  margin-left: 1px;
}

.pagination ul li {
  float: left !important;
}

.pagination ul li:first-child {
  border-left: 1px #ccc solid !important;
  display: inline !important;
}

.pagination ul li:last-child {
  border-left: 0px #ccc solid !important;
}

/*#endregion == PAGINATION STYLE*/

.table.history > thead > tr > th:last-child {
  text-align: left !important;
  padding-left: 8px;
}

/*==============================style Supervisor Tasks Page============================= */

.user-tasks .day-tasks-container ul {
  direction: ltr;
}

.user-tasks .day-tasks-container ul li span.task-color {
  float: right !important;
  right: 10px;
  left: auto !important;
}

/*.states {
float: left !important;
left:-45px;
right:auto !important;
}*/

.states {
  float: left !important;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  position: relative;
  left: 0px !important;
  right: auto !important;
}

.user-tasks .day-tasks-container ul li span.task-name {
  float: left !important;
  left: 5px;
  right: auto !important;
}

/*==============================DISIGN FOR LOGOUT=========================*/

.current-user {
  /*padding: 1em 18px;*/
  padding: 1em !important;
  color: wheat;
  text-align: left !important;
  /*line-height: 1.5;*/
  direction: ltr;
}

.cd-top-nav .has-children ul {
  background-color: #1c1f22;
  width: 151px;
  top: 100%;
  right: 0;
  left: auto;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
}

.has-children > a::after {
  /* arrow icon */
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 5%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  /* TODO image not found*/
  /*background: url(../../../Content/Images/cd-arrow.svg);*/
}

.cd-top-nav img {
  position: absolute;
  left: 1.6em;
  right: auto;
  top: 50%;
  bottom: auto;
}

/*==============================DISIGN FOR LANGUAGE DROPDOWN=========================*/

.langIcon {
  padding: 0 1px;
  height: 55px;
  /* float: right; */
  text-align: center;
  position: absolute;
  top: 0;
  right: 160px;
  width: 45.16px;
}

.langIcon a.dropdown-menu {
  left: 0 !important;
  right: auto !important;
  float: right;
  text-align: left;
}

/*END*/

/*#region BRAVO MAIN-MENU*/

.navbar-top-custom {
  background-image: url(/Content/Images/pattern-en.png);
  direction: ltr;
  background-position: right center;
  background-size: 28% 100%;
}

.navbar-header-custom {
  margin-left: 0 !important;
  margin-right: 10px !important;
  float: left;
}

.navbar-header-custom {
  float: left !important;
}

.menuItems li a {
  direction: ltr;
}

.navbar-header-custom > .navbar-brand {
  float: left;
  margin-right: 0 !important;
  margin-left: -15px !important;
}

.item-container {
  float: left !important;
}

.navbar-collapse-custom .navbar-right {
  float: right !important;
}

.navbar-nav > li > .dropdown-menu-cus {
  direction: ltr;
}

.dropdown-menu-cus > li > a:first-child {
  cursor: pointer;
}

.dropdown-menu-cus > li > a:first-child:hover,
.dropdown-menu-cus > li > a:first-child:focus {
  background-color: transparent;
  border: none;
  padding-left: 10px !important;
  padding-right: 5px !important;
}

.dropdown-menu-cus > li > a {
  border-left: 5px solid transparent;
  border-right: 0;
  text-align: left !important;
}

.dropdown-menu-cus > li > a:hover,
.dropdown-menu-cus > li > a:focus {
  border-left: 5px solid #58b8af;
  border-right: 0;
  text-align: left;
}

.openNav-btn {
  float: right;
}

.font-english {
  font-family: "Open Sans", sans-serif !important;
}

/*#endregion BRAVO MAIN-MENU*/

/*#region ENGLISH NOTIFICATION*/

.ns-box {
  direction: ltr !important;
}

.ns-bar .ns-close {
  right: 20px !important;
  left: auto !important;
}

.ns-effect-slidetop {
  box-shadow: inset 4.5em 0 rgba(0, 0, 0, 0.6) !important;
}

.ns-type-warning.ns-effect-slidetop {
  box-shadow: inset 4.5em 0 #ffe066 !important;
}

.ns-effect-slidetop p {
  text-align: left !important;
}

.ns-effect-slidetop .icon {
  left: 0.9em !important;
  right: auto !important;
}

/*#endregion*/

.select2-container--default .select2-selection--multiple {
  border: none !important;
  outline: none;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  height: 34px !important;
  overflow: auto;
  direction: ltr;
}

/*STYLE FOR FORMLY FORM*/

.formly-field {
  direction: ltr !important;
  display: grid;
  /*float: left;*/
}

.wrapperInner .form-group input,
.wrapperInner .form-group label,
.wrapperInner .form-group select {
  text-align: left !important;
  direction: ltr !important;
}

.ar .wrapperInner .form-group input,
.ar .wrapperInner .form-group label,
.ar .wrapperInner .form-group select {
  text-align: right !important;
  direction: rtl !important;
}

/*form-group in English*/

/*.wrapperInner .form-group {
    float: left;
}*/

/*form-group in popup inEnglish*/

.wrapperInner .modal-body .form-group {
  float: left;
}

/*END*/

.radio-group {
  overflow: hidden;
  display: block;
  width: 100%;
}

.text-muted {
  display: block;
  width: 100%;
  text-align: left;
  word-break: break-all;
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.input-group-addon:last-child {
  border-right: 1px solid #ccc;
  border-left: 0 !important;
}

/*#region DYNAMIC ENTITY PAGE*/

.addLookUpData-div {
  right: 0 !important;
  left: auto !important;
}

/*#endregion DYNAMIC ENTITY PAGE*/

/*Solving ISSUE of progress wizarsd in ENGLISH*/

.circle {
  position: relative;
  float: left !important;
  margin-right: 7% !important;
  margin-left: 7% !important;
  left: 0 !important;
  right: auto !important;
}

.ar .circle {
  float: right !important;
}

.circle::after {
  position: relative;
  left: 12px !important;
  right: auto !important;
}

/*END*/
/*style for multipleSelect*/
.multipleSelectList.dropdown-menu > li > a {
  display: inline-block;
  width: 100%;
  padding: 3px 20px;
  float: left;
  text-align: left;
  height: 32px;
}

.multipleSelectInput {
  text-align: left !important;
}

.caret {
  right: 15px !important;
  left: auto !important;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.supervisorTasksContainer .tbl-actions {
  text-align: left !important;
}

/*End*/
/*===============================HACKING FIREFOX================================*/
@-moz-document url-prefix() {
  .selectCustome {
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .btn-colorBlue {
    float: left !important;
  }
}

/*END*/

/*===============================HACKING IE10 & IEedge12 & ================================*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    direction: ltr;
    /*overflow: auto;*/
  }

  body {
    direction: ltr;
  }

  .login-ie {
    margin-left: 310px;
  }

  #loginContainer .loginForm {
    position: relative;
    left: 0%;
  }

  #loginContainer .loginForm label {
    position: absolute;
    /*top: 27%;*/
    top: -31%;
  }

  /* IE10+ CSS styles go here */
  .langIcon {
    padding: 0 1px;
    height: 55px;
    /* float: right; */
    text-align: center;
    position: absolute !important;
    top: 0;
    right: 162px;
    width: 45.16px;
  }

  .langIcon .dropdown-menu {
    left: 0 !important;
    right: auto !important;
    float: right;
    text-align: left;
  }

  .wrapperInner {
    width: 100% !important;
  }

  .entityContainer {
    /*float: left;*/
    margin-top: 0px !important;
  }

  .wrapperInner table,
  th,
  td,
  tr,
  .table {
    direction: ltr;
    text-align: center !important;
  }

  .wrapperInner table {
    width: 100% !important;
  }

  /*div.wrapper {
right: 50px !important;
direction: ltr !important;
float: right;
margin-left: 110px;
}*/
  /*div.wrapper {
position: fixed;
width: calc(100% - 110px);
left: 0px !important;
height: 100%;
top: 55px;
z-index: 1000;
}*/
  /*Supervisor Tasks Page - STYLE*/
  .supervisorTasksPage {
    right: 50px !important;
    direction: ltr !important;
    float: right;
    margin-left: 110px;
    position: fixed;
    width: calc(100% - 110px);
    left: 0px !important;
    height: 100%;
    top: 55px;
    z-index: 1000;
  }

  .supTodayView {
    /*border:5px solid red;*/
  }

  .days {
    right: 0px;
    background: #0f8ba1;
    width: calc(100% - (14% + 95px) + 2px);
    float: right;
    position: fixed;
    border-top: 1px #0a5f6e solid;
    z-index: 10;
    margin-left: 285px;
  }

  .days div:first-child {
    padding-left: 20px !important;
  }

  /*For Supervisor tasks page (SCROLL)*/
  section.bottom {
    margin-right: 15px !important;
    overflow-x: hidden;
  }

  section.bottom aside.right {
    left: 15px !important;
  }

  section.bottom aside.left {
    left: 190px !important;
  }

  .select2-container--default .select2-results > .select2-results__options {
    direction: ltr;
  }

  .select2-container--default .select2-selection--multiple {
    border: none !important;
    outline: none;
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
    height: 34px !important;
    overflow: auto;
    direction: ltr;
  }
}

/*#region MEDIA QUERIES*/

/*General Styles for media queries*/

@media only screen and (max-width: 767px) {
  html {
    /* force scrollbars */
    height: 101%;
  }

  body {
    margin: 0;
    padding: 0;
    /*white-space: nowrap;*/
    height: 101%;
    font-size: 1.4rem !important;
  }

  #effect-1 {
    display: none;
  }

  /*NAV-MOBILE-STYLE-ENGLISH*/
  .sidenav-mobile {
    display: block !important;
  }

  .sidenav a {
    text-align: left;
  }

  .sidenav-item .arrow {
    float: right;
  }

  /*END*/
  .navbar-header-custom {
    width: 100%;
    float: left !important;
  }

  .navbar-header-custom > .navbar-brand {
    float: left !important;
    padding: 15px 0;
  }

  .navbar-top-custom .navbar-header-custom {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .openNav-btn {
    padding: 0;
  }

  section::-webkit-scrollbar,
  div::-webkit-scrollbar {
    height: 0.5ex;
  }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 320px) {
  .navbar-top-custom {
    background-size: 100% 100%;
  }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .navbar-top-custom {
    background-size: 100% 100%;
  }

  .navbar-header-custom .navbar-brand {
    margin-left: 0 !important;
  }
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
  .navbar-header-custom .navbar-brand {
    float: left;
    margin-left: 0 !important;
  }

  .navbar-top-custom {
    background-size: 70% 100%;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 990px) {
  .navbar-header-custom .navbar-brand {
    float: left;
  }

  .col-xs-1,
  .col-sm-1,
  .col-md-1,
  .col-lg-1,
  .col-xs-2,
  .col-sm-2,
  .col-md-2,
  .col-lg-2,
  .col-xs-3,
  .col-sm-3,
  .col-md-3,
  .col-lg-3,
  .col-xs-4,
  .col-sm-4,
  .col-md-4,
  .col-lg-4,
  .col-xs-5,
  .col-sm-5,
  .col-md-5,
  .col-lg-5,
  .col-xs-6,
  .col-sm-6,
  .col-md-6,
  .col-lg-6,
  .col-xs-7,
  .col-sm-7,
  .col-md-7,
  .col-lg-7,
  .col-xs-8,
  .col-sm-8,
  .col-md-8,
  .col-lg-8,
  .col-xs-9,
  .col-sm-9,
  .col-md-9,
  .col-lg-9,
  .col-xs-10,
  .col-sm-10,
  .col-md-10,
  .col-lg-10,
  .col-xs-11,
  .col-sm-11,
  .col-md-11,
  .col-lg-11,
  .col-xs-12,
  .col-sm-12,
  .col-md-12,
  .col-lg-12 {
    float: left !important;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .navbar-header-custom > .navbar-brand {
    padding: 15px 10px;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1024px) and (orientation: landscape) {
  .navbar-header-custom > .navbar-brand {
    padding: 15px 10px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .navbar-header-custom > .navbar-brand {
    padding: 15px 10px;
  }
}

/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .menuItems li a {
    direction: ltr;
  }
}

/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
  .menuItems li a {
    direction: ltr;
  }
}

/* iPhone 4 ----------- */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/*#endregion MEDIA QUERIES*/

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
}

.ar .col-md-1,
.ar .col-md-2,
.ar .col-md-3,
.ar .col-md-4,
.ar .col-md-5,
.ar .col-md-6,
.ar .col-md-7,
.ar .col-md-8,
.ar .col-md-9,
.ar .col-md-10,
.ar .col-md-11,
.ar .col-md-12 {
  float: right;
}

.ui-notification {
  width: 30% !important;
  margin-bottom: 30px !important;
}

.ui-notification-message {
  width: 30%;
  margin-bottom: 0px;
}

.ui-notification-error {
  width: 30%;
  margin-bottom: 30px;
}

.ui-notification-success {
  width: 30%;
  margin-bottom: 30px;
}

.ui-notification.killed {
  width: 30% !important;
  margin-bottom: 30px !important;
}

.ui-notification-fullscreen {
  width: 30% !important;
  margin-bottom: 30px !important;
}

.not-begin-yet-state::after,
.late-state::after,
.incompleted-state::after,
.completed-state::after {
  float: left;
}

.percentageValue {
  left: auto;
  right: 0;
}

.total-title {
  font-size: 14px !important;
  white-space: nowrap;
}

.lat-title {
  font-size: 14px !important;
  white-space: nowrap;
}

.tile-stats {
  position: relative;
  display: block;
  margin-bottom: 12px;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 5px;
  overflow: hidden;
  padding-bottom: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  background: #fff;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  padding: 10px;
  max-height: 130px;
  height: 130px;
}

.task-weight {
  float: right;
  margin: 10px 10px 0 0px !important;
}

.supervisorTasksContainer table tbody tr td:last-child {
  transform-origin: 125% 50% !important;
}

.supervisorTasksContainer table tbody tr:last-child td {
  transform-origin: center 190% !important;
}

.supervisorTasksContainer table tbody tr:last-child td:last-child {
  transform-origin: 125% 190% !important;
}

/*chat window english*/
.bottom_wrapper .message_input_wrapper {
  float: left;
}

.bottom_wrapper .send_message {
  float: right;
}

.minimizeAnimation {
  position: fixed;
  bottom: 20px;
  right: auto;
  left: 20px;
  transform: translate(0px, 0px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: auto;
}

@media screen and (max-width: 768px) {
  .ui-notification {
    width: 100% !important;
    margin-bottom: 30px !important;
  }

  .ui-notification-message {
    width: 100% !important;
    margin-bottom: 0px;
  }

  .ui-notification-error {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .ui-notification-success {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .ui-notification.killed {
    width: 100% !important;
    margin-bottom: 30px !important;
  }

  .ui-notification-fullscreen {
    width: 100% !important;
    margin-bottom: 30px !important;
  }

  .pull-end {
    float: right !important;
    right: 0;
    left: auto;
  }
}

@media only screen and (min-width: 991px) and (max-width: 1024px) {
  .wrapperInner .btn-group .btn {
    padding: 6px 11px !important;
  }
}

.popover-content {
  padding: 9px 28px;
  max-height: 250px;
  overflow-y: auto;
}

#filteration-form-container {
}

#filteration-form-container .popover-top

/*[uib-popover-template-popup]*/ {
  top: 130px !important;
}

@media (min-width: 992px) {
  .col-md-4 {
    width: 33.33333333% !important;
  }
}

.wrapperInner .table > thead > tr > th > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  /*float: right;*/
}

/***Announcement****/
.Announce {
  background: #dadada;
  padding: 10px;
  float: left;
  width: 25%;
  font-size: 18px;
  text-transform: uppercase;
}

.Announce-content {
  background: #f1f1f1;
  padding: 10px;
  width: 75%;
  float: left;
}

.Announce-div {
  display: flex;
  margin-bottom: 2px;
  padding: 0px;
}

.right-Announc {
  background: #f1f1f1;
  padding: 10px;
  position: fixed;
  display: inline-grid;
  /* right: 0; */
  float: right !important;
  text-align: center;
  height: 170px;
}

.glyphicon {
  font-size: inherit;
  margin: 0px 5px;
}

ul.dropdown-menu.dropdown-menu-cus {
  right: 0;
  left: -123px;
  top: 60px;
}

.notifications .messages .message:hover {
  border-left: 5px solid #58b8af;
  border-right: 0;
}

.notifications .messages :before {
  right: 208px !important;
}

.aside .aside-dialog .aside-body {
  display: inline-block;
}

.wrapperInner input {
  text-align: left !important;
  direction: ltr !important;
  font-size: 12px;
}

.ar .wrapperInner input {
  text-align: right !important;
  direction: rtl !important;
  font-size: 12px;
}

article .menuItem {
  color: #333;
  font-weight: 500;
  font-family: Segoe UI;
  /* letter-spacing: 0; */
  color: #000000;
  font-size: 13px !important;
}

/*-------- Angular 2 Styles*/

.sidebar-header {
  left: auto;
  padding: 22px;
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
  background: #26a69a;
  color: white;
  /*width: 112%;*/
  margin-top: -38px;
  max-height: 72px;
  /*margin-left: -15px;*/
  margin-bottom: 17px;
}

.sidebar-header h4 {
  font-size: 16px !important;
  padding: 15px 15px 7px;
  vertical-align: middle;
}

.form-builder-container .ui-accordion .ui-accordion-content {
  height: calc(100vh - 286px);
  overflow-x: hidden;
}

div.wrapper {
  height: calc(100% - 70px);
  min-height: auto;
}

.dark-container {
  background-color: #343435 !important;
}
