/* @import url('https://fonts.googleapis.com/css?family=Tajawal'); */

body {
  font-family: Tajawal, sans-serif !important;
}

.green {
  padding-left: 19px !important;
}

body .ui-messages.ui-messages-error .ui-messages-close {
  position: absolute;
  left: 10px;
  right: auto
}

.multiselect-dropdown .dropdown-btn .selected-item {
  float: right !important
}

.multiselect-dropdown .dropdown-btn .selected-item {
  margin-right: 10px !important;
}

.ui-dropdown .ui-dropdown-clear-icon {
  left: 1em !important;
  right: auto !important;
}

.multiselect-item-checkbox input+div {
  padding-right: 2em;
}

.multiselect-item-checkbox :before {
  right: 0 !important;
  left: auto !important;

}

.ar .multiselect-item-checkbox :before {
  right: -4px !important;
  left: auto !important;

}

.multiselect-item-checkbox :after {
  right: 2px !important;
  left: auto !important
}

.dropdown-list li {
  padding: 6px 10px;
  cursor: pointer;
  text-align: right !important;
}

/****wizard****/

.deledt-wizard {
  position: absolute;
  left: 90px !important;
  /* top: 65px;*/
  z-index: 1;
  opacity: inherit;
  right: auto !important;
  transform: translate(0px, 48px);
}

.wizard-add {
  position: absolute;
  left: 44px !important;
  right: auto !important;
  /*margin-top: 46px;*/
  transform: translate(0px, 48px);
  z-index: 1;
}

.pending-text {
  float: right;
  margin-right: 12px;
  text-align: start;
  width: calc(100% - 40px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pending-icon {
  float: right;
  font-size: 35px;
  line-height: 63px;
}

.wizard-next {
  position: absolute;
  right: 0px !important;
  /*margin-top: 46px;*/
  transform: translate(0px, 48px) rotate(180deg) !important;
  z-index: 1;
  left: auto !important;

}

.wizard-prev {
  position: absolute;
  left: 0px !important;
  /*margin-top: 46px;*/
  transform: translate(0px, 48px) rotate(180deg) !important;
  z-index: 1;
  right: auto !important;

}

.task-details-container .map {
  padding-left: 0 !important;
}


.form-builder-container.form-builder-panel-container .panel-first {
  left: auto;
  right: 9px;
}

.form-builder-container.form-builder-panel-container .panel-first .toggle-btn {
  right: auto !important;
  left: -25px;
}


.form-builder-container.form-builder-panel-container .panel-first.toggled {
  left: auto;
  right: -24%;
}

.form-builder-container.form-builder-panel-container .panel-second {
  right: auto;
  left: 0;
}

.form-builder-container.form-builder-panel-container .panel-second .toggle-btn {
  left: auto !important;
  right: -25px;
}

.form-builder-container.form-builder-panel-container .panel-second.toggled {
  right: auto;
  left: -24%;
}

.form-builder-container.form-builder-panel-container .form-builder {
  width: 98% !important;
  margin-left: 10px !important;
}



.N-Card-image {
  position: absolute;
  left: 27px !important;
  font-size: 26px !important;
  color: #000;
  fill: black;
  font-weight: bold;
  right: auto !important
}

.N-card-number {

  right: 6px !important;
  left: auto !important;

}


.builder-pannl .popover {
  font-family: inherit !important;
  min-width: 177px !important;
  max-width: initial !important;
  white-space: normal !important;
  margin-right: 37px;
  margin-left: 13px !important;
}

.builder-pannl .popover.top {
  margin-top: -4px !important;
}

.builder-pannl .popover.top>.arrow {
  right: 57%;
}




.Clear-button {}

.Clear-button .popover {
  margin-left: 28px !important;
  font-family: inherit !important;
  min-width: 177px !important;
  max-width: initial !important;
  white-space: normal !important;
}

.Clear-button .popover.top {
  margin-top: 0px !important;
}


.wizard-container .buttons .dropdown {
  left: 137px;
  right: auto;
}

.wizard-preview .wizard-container .steps-dropdown {
  right: 0;
  right: auto;
  left: 0;
}

.circle {
  margin-right: 7% !important;
  margin-left: 7% !important;
}

.configuration-actions {
  left: 10px;
  right: auto !important;
}