.green { 
    padding-right: 19px !important;
}

.form-builder-container .ui-accordion .ui-accordion-content {
    height: calc(100vh - 286px);
    overflow-x: hidden;
}

#Build .builder-container .wizard-container {
    padding: 0 10px;
}

div.wrapper {
    height: calc(100% - 70px);
    min-height: auto !important;
}