<!-- routerLink="/home/caseResultCatesgReport" -->
<aside
  id="rightNav"
  [class]="'border-start position-relative mt-0 pt-0 ' + lang"
  #sidebar
>
  <a
    style="position: relative; min-height: 54px; z-index: 2"
    id="menuToggle"
    class="menu-toggles text-dark d-block mb-1 d-flex justify-content-center gap-2 position-sticky top-0 py-4 shadow-sm w-100"
  >
    <span class="menu-text">
      <img class="img-fluid" src="../../../../Content/Images/logo.png" />
    </span>
    <span class="bi bi-list" style="cursor: pointer !important"></span>
  </a>
  <nav>
    <ul id="MainSidbar" class="bg-hover">
      <li>
        <a routerLink="./welcome" routerLinkActive="active">
          <i class="nav-icon bi bi-house-door"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_HOME" | translate
          }}</span>
        </a>
      </li>
      <li
        id="1"
        style="display: none"
      >
        <a routerLink="./chart" routerLinkActive="active" id="home">
          <i class="nav-icon bi bi-speedometer2"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_DASHBOARD" | translate
          }}</span>
        </a>
      </li>
      <li
        id="2"
        style="display: none"
      >
        <a
          routerLink="./general-data"
          routerLinkActive="active"
          id="incidentInfo"
        >
          <i class="nav-icon bi bi-person-vcard"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_GENERAL_DATA" | translate
          }}</span>
        </a>
      </li>
      <li
        id="3"
        style="display: none"
      >
        <a
          routerLink="./search/fast-search"
          routerLinkActive="active"
          id="fastSearch"
        >
          <i class="nav-icon bi bi-search"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ADVANCED_SEARCH" | translate
          }}</span>
        </a>
      </li>
      <li
        id="4"
        style="display: none"
      >
        <a routerLink="./general-data-completion" routerLinkActive="active">
          <i class="nav-icon bi bi-clipboard2-check"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_GENERAL_DATA_COMPLETION" | translate
          }}</span>
        </a>
      </li>

      <li
        id="5"
        style="display: none"
      >
        <a routerLink="./repeated-records" routerLinkActive="active">
          <i class="nav-icon bi bi-intersect"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_REPEATED_RECORDS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="6"
        style="display: none"
      >
        <a
          routerLink="./zero-notification//zero-report"
          routerLinkActive="active"
        >
          <i class="nav-icon bi bi-bell-slash"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ZERO_NOTIFICATION" | translate
          }}</span>
        </a>
      </li>

      <li
        id="8"
        style="display: none"
      >
        <a routerLink="./lab-cases" routerLinkActive="active">
          <i class="nav-icon bi bi-prescription2"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_LAB_CASES" | translate
          }}</span>
        </a>
      </li>
      <li
        id="51"
        style="display: none"
      >
        <a routerLink="patient-checks" routerLinkActive="active">
          <i class="nav-icon bi bi-clipboard2-pulse"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_PATIENT_CHECK" | translate
          }}</span>
        </a>
      </li>
      <li
        id="52"
        style="display: none"
      >
        <a routerLink="add-patient" routerLinkActive="active">
          <i class="nav-icon bi bi-person-plus"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ADD_NEW_PATIENT" | translate
          }}</span>
        </a>
      </li>
      <li
        id="9"
        style="display: none"
      >
        <a routerLink="./events" routerLinkActive="active">
          <i class="nav-icon bi bi-calendar-event"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_EVENTS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="10"
        style="display: none"
      >
        <a
          routerLink="./investigations"
          routerLinkActive="active"
          (click)="navigateTo()"
        >
          <i class="nav-icon bi bi-clipboard2-data"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_INVESTIGATIONS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="10"
        style="display: none"
      >
        <a routerLink="./epidemiological-thresholds" routerLinkActive="active">
          <i class="nav-icon bi bi-graph-up-arrow"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_EPIDEMILOGICAL" | translate
          }}</span>
        </a>
      </li>
      <!-- <li data-bs-toggle="tooltip" data-bs-placement="right" title="{{'NEDSS.HOME.SIDE_BAR.ITEM_TRACKING_SELECTED_LOCATIONS'|translate}}"><a routerLink="./selected-locations" routerLinkActive="active"> <i class="bi bi-pin-map"></i> <span class="menu-text">{{'NEDSS.HOME.SIDE_BAR.ITEM_TRACKING_SELECTED_LOCATIONS'|translate}}</span> </a></li> -->
      <li
        id="12"
        style="display: none"
      >
        <a routerLink="./not-inferring" routerLinkActive="active">
          <i class="nav-icon bi bi-geo-alt"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_NOT_INFERRING" | translate
          }}</span>
        </a>
      </li>
      <li
        id="13"
        style="display: none"
      >
        <a
          routerLink="./population-data/populationExpectation"
          routerLinkActive="active"
        >
          <i class="nav-icon bi bi-people"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_POPULATION_DATA" | translate
          }}</span>
        </a>
      </li>
      <li
        id="15"
        style="display: none"
      >
        <a routerLink="./preparations" routerLinkActive="active">
          <i class="nav-icon bi bi-hospital"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_PREPARATIONS" | translate
          }}</span>
        </a>
      </li>
      <!--
      <li id="16" style="display: none;">
        <a routerLink="./users" routerLinkActive="active">
          <i class="bi bi-person-fill"></i> <span class="menu-text">{{'NEDSS.HOME.SIDE_BAR.ITEM_USERS'|translate}}</span>
        </a>
      </li>
    -->
      <li
        id="17"
        style="display: none; z-index: 1"
      >
        <a
          class="reports-nav-link no-sidebar-arrow"
          routerLink="./reports"
          [class.active]="isReportsActive()"
        >
          <i class="nav-icon bi bi-file-earmark-bar-graph"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_REPORTS" | translate
          }}</span>
        </a>
      </li>

      <li
        id="18"
        style="display: none"
      >
        <a routerLink="./announcements" routerLinkActive="active">
          <i class="nav-icon bi bi-megaphone"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ANNOUNCEMENTS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="19"
        style="display: none"
      >
        <a routerLink="./help" routerLinkActive="active">
          <i class="nav-icon bi bi-question-circle"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_HELP" | translate
          }}</span>
        </a>
      </li>

      <li
        id="50"
        style="display: none"
      >
        <a routerLink="./control-panel" routerLinkActive="active">
          <i class="nav-icon bi bi-sliders"></i>
          <span class="menu-text">
            {{ "NEDSS.HOME.SIDE_BAR.ITEM_CONTROL_PANEL" | translate }}
          </span>
        </a>
      </li>
      <!-- <li>
        <ul class='bg-hover'>
        <ng-container *ngFor="let item of forms" >
        <li style="display: none;"><a routerLink="./control-panel/view-form/{{item.id}}" routerLinkActive="active"> <i class="bi bi-toggles2"></i> <span class="menu-text">{{item.nameAr|translate}}</span> </a> </li>


        <li>
          <ul class="bg-hover">
            <ng-container *ngFor="let item of forms">
              <li
                style="display: none"
              >
                <a
                  routerLink="./control-panel/view-form/{{ item.id }}"
                  routerLinkActive="active"
                >
                  <i class="bi bi-toggles2"></i>
                  <span class="menu-text">{{ item.nameAr | translate }}</span>
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
        </ng-container>
        </ul>
       </li> -->
    </ul>
  </nav>
</aside>
