<!-- routerLink="/home/caseResultCatesgReport" -->
<aside
  id="rightNav"
  [class]="'border-start position-relative mt-0 pt-0 ' + lang"
  #sidebar
>
  <a
    style="position: relative; min-height: 54px; z-index: 2"
    id="menuToggle"
    class="menu-toggles text-dark d-block mb-1 d-flex justify-content-center gap-2 position-sticky top-0 py-4 shadow-sm w-100"
  >
    <span class="menu-text">
      <img class="img-fluid" src="../../../../Content/Images/logo.png" />
    </span>
    <span class="bi bi-list" style="cursor: pointer !important"></span>
  </a>
  <nav>
    <ul id="MainSidbar" class="bg-hover">
      <li
        id="1"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_DASHBOARD' | translate }}"
      >
        <a routerLink="./chart" routerLinkActive="active" id="home">
          <i class="nav-icon fas fa-tachometer-alt"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_DASHBOARD" | translate
          }}</span>
        </a>
      </li>
      <li
        id="2"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_GENERAL_DATA' | translate }}"
      >
        <a
          routerLink="./general-data"
          routerLinkActive="active"
          id="incidentInfo"
        >
          <i class="nav-icon fas fa-clipboard"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_GENERAL_DATA" | translate
          }}</span>
        </a>
      </li>
      <li
        id="3"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_ADVANCED_SEARCH' | translate }}"
      >
        <a
          routerLink="./search/fast-search"
          routerLinkActive="active"
          id="fastSearch"
        >
          <i class="nav-icon fas fa-search"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ADVANCED_SEARCH" | translate
          }}</span>
        </a>
      </li>
      <li
        id="4"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{
          'NEDSS.HOME.SIDE_BAR.ITEM_GENERAL_DATA_COMPLETION' | translate
        }}"
      >
        <a routerLink="./general-data-completion" routerLinkActive="active">
          <i class="nav-icon fas fa-quote-right"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_GENERAL_DATA_COMPLETION" | translate
          }}</span>
        </a>
      </li>

      <li
        id="5"
        style="display: none"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_REPEATED_RECORDS' | translate }}"
      >
        <a routerLink="./repeated-records" routerLinkActive="active">
          <i class="nav-icon fas fa-clipboard"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_REPEATED_RECORDS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="6"
        style="display: none"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_ZERO_NOTIFICATION' | translate }}"
      >
        <a
          routerLink="./zero-notification//zero-report"
          routerLinkActive="active"
        >
          <i class="nav-icon fas fa-file"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ZERO_NOTIFICATION" | translate
          }}</span>
        </a>
      </li>

      <li
        id="8"
        style="display: none"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_LAB_CASES' | translate }}"
      >
        <a routerLink="./lab-cases" routerLinkActive="active">
          <i class="bi bi-house-fill"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_LAB_CASES" | translate
          }}</span>
        </a>
      </li>
      <li
        id="51"
        style="display: none"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_PATIENT_CHECK' | translate }}"
      >
        <a routerLink="patient-checks" routerLinkActive="active">
          <i class="bi bi-house-fill"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_PATIENT_CHECK" | translate
          }}</span>
        </a>
      </li>
      <li
        id="52"
        style="display: none"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_ADD_NEW_PATIENT' | translate }}"
      >
        <a routerLink="add-patient" routerLinkActive="active">
          <span class="bi bi-plus-circle-fill"></span>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ADD_NEW_PATIENT" | translate
          }}</span>
        </a>
      </li>
      <li
        id="9"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_EVENTS' | translate }}"
      >
        <a routerLink="./events" routerLinkActive="active">
          <i class="bi bi-file-earmark-ruled-fill"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_EVENTS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="10"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_INVESTIGATIONS' | translate }}"
      >
        <a
          routerLink="./investigations"
          routerLinkActive="active"
          (click)="navigateTo()"
        >
          <i class="bi bi-person-check"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_INVESTIGATIONS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="10"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_EPIDEMILOGICAL' | translate }}"
      >
        <a routerLink="./epidemiological-thresholds" routerLinkActive="active">
          <i class="bi bi-person-check"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_EPIDEMILOGICAL" | translate
          }}</span>
        </a>
      </li>
      <!-- <li data-bs-toggle="tooltip" data-bs-placement="right" title="{{'NEDSS.HOME.SIDE_BAR.ITEM_TRACKING_SELECTED_LOCATIONS'|translate}}"><a routerLink="./selected-locations" routerLinkActive="active"> <i class="bi bi-pin-map"></i> <span class="menu-text">{{'NEDSS.HOME.SIDE_BAR.ITEM_TRACKING_SELECTED_LOCATIONS'|translate}}</span> </a></li> -->
      <li
        id="12"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_NOT_INFERRING' | translate }}"
      >
        <a routerLink="./not-inferring" routerLinkActive="active">
          <i class="bi bi-pin-map"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_NOT_INFERRING" | translate
          }}</span>
        </a>
      </li>
      <li
        id="13"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_POPULATION_DATA' | translate }}"
      >
        <a
          routerLink="./population-data/populationExpectation"
          routerLinkActive="active"
        >
          <i class="bi bi-building"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_POPULATION_DATA" | translate
          }}</span>
        </a>
      </li>
      <li
        id="15"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_PREPARATIONS' | translate }}"
      >
        <a routerLink="./preparations" routerLinkActive="active">
          <i class="bi bi-bandaid"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_PREPARATIONS" | translate
          }}</span>
        </a>
      </li>
      <!--
      <li id="16" data-bs-toggle="tooltip" style="display: none;" data-bs-placement="right"
          title="{{'NEDSS.HOME.SIDE_BAR.ITEM_USERS'|translate}}">
        <a routerLink="./users" routerLinkActive="active">
          <i class="bi bi-person-fill"></i> <span class="menu-text">{{'NEDSS.HOME.SIDE_BAR.ITEM_USERS'|translate}}</span>
        </a>
      </li>
    -->
      <li
        id="17"
        data-bs-toggle="tooltip"
        style="display: none; z-index: 1"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_REPORTS' | translate }}"
      >
        <a
          class=""
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          <i class="bi bi-file-earmark-spreadsheet-fill"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_REPORTS" | translate
          }}</span>
        </a>
      </li>

      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <ul>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/disease-based-on-gender"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.DiseseBasedOnGender" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/disease-based-on-result"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.DiseseBasedOnResult" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/disease-based-on-diagnosis"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.DiseseBasedOnDiagnosis" | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/disease-based-on-age"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.DiseseBasedOnAge" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/disease-based-on-patient"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.DiseseBasedOnPatient" | translate }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/user-report"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.UserReports" | translate }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/zero-reporting-report"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.ZeroReportingReport" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/immediate-reporting-report"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.ImmediateReportingReport" | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/diseases-rules-report"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.DISEASES_RULES_REPORT" | translate
                }}</a
              >
            </li>

            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/roles-report"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.RulesReport" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/notInferring-report"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.NotInferringReport" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/populations-report"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.POPULATIONS_REPORT" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/monitorUnitsPeparations-report"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.MonitorUnitsPeparationsReport"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/epidemiologicalThresholds-report"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.EpidemiologicalThresholdsSourcesReport"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/monitor-units-report"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.MonitorUnitsReport"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/monitor-units-team-members-report"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.MonitorUnitsTeamMembers"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/monitor-units-team-members-details-report"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.MonitorUnitsTeamDetailsMembers"
                    | translate
                }}</a
              >
            </li>



            
            <!-- <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/report1"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.CasesreportingAdministration"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/report2"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.Casesreportingsources" | translate }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/report3"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Cases-DiseaseReportingSection"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/report4"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Cases-sectionreportingsources"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/caseResultCatesgReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.Cases-Diagnostics" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/incedentSourceToCase"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Cases-Diagnosticswithsources"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/DiseaseByWeekReport"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Cases-reportingtimesperweek" | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/DiseaseByMonthReport"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Cases-reportingtimesperMonth"
                    | translate
                }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/finalResultToDiseasReport"
                routerLinkActive="active"
                >{{
                  "NEDSS.REPORTS_LABELS.Cases-Comingoutwithdisease" | translate
                }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/finalResultToIncedentReport"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Cases-Comingoutwithsources" | translate
                }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/ageCategoriesReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.Casesbyagegroups" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/withGenderReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.Numberofcasesbytype" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/withJobTitleReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.Numberofcasesbyjob" | translate }}</a
              >
            </li>
            <hr />
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/PrevalenceRateToHealthAdministration"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Reportingrate-housingdepartments"
                    | translate
                }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/PrevalenceRateToDiseaseReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.DiseasereportingRate" | translate }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/PrevalenceRateToDiseaseFinalReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.DiseaseprevalenceRate" | translate }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/PrevalenceRateToDeathReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.DiseaseMortalityRate" | translate }}</a
              >
            </li>
            <hr />
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/UsersMonitoring"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.Surveillancereports" | translate }}
              </a>
            </li>
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/DataMonitoringReport"
                routerLinkActive="active"
              >
                {{
                  "NEDSS.REPORTS_LABELS.Datacompletenessreports" | translate
                }}</a
              >
            </li>
            <hr />
            <li>
              <a
                (click)="changeReport(1)"
                style="font-size: 12px"
                routerLink="/home/UsersReport"
                routerLinkActive="active"
              >
                {{ "NEDSS.REPORTS_LABELS.UserReports" | translate }}
              </a>
            </li>
            <hr /> -->
          </ul>
        </div>
      </div>

      <li
        id="18"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_ANNOUNCEMENTS' | translate }}"
      >
        <a routerLink="./announcements" routerLinkActive="active">
          <i class="bi bi-file-post"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_ANNOUNCEMENTS" | translate
          }}</span>
        </a>
      </li>
      <li
        id="19"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_HELP' | translate }}"
      >
        <a routerLink="./help" routerLinkActive="active">
          <i class="bi bi-file-earmark-ruled-fill"></i>
          <span class="menu-text">{{
            "NEDSS.HOME.SIDE_BAR.ITEM_HELP" | translate
          }}</span>
        </a>
      </li>

      <li
        id="50"
        data-bs-toggle="tooltip"
        style="display: none"
        data-bs-placement="right"
        title="{{ 'NEDSS.HOME.SIDE_BAR.ITEM_CONTROL_PANEL' | translate }}"
      >
        <a routerLink="./control-panel" routerLinkActive="active">
          <i class="bi bi-toggles2"></i>
          <span class="menu-text">
            {{ "NEDSS.HOME.SIDE_BAR.ITEM_CONTROL_PANEL" | translate }}
          </span>
        </a>
      </li>
      <!-- <li>
        <ul class='bg-hover'>
        <ng-container *ngFor="let item of forms" >
        <li data-bs-toggle="tooltip" style="display: none;" data-bs-placement="right" title="{{item.nameAr|translate}}"><a routerLink="./control-panel/view-form/{{item.id}}" routerLinkActive="active"> <i class="bi bi-toggles2"></i> <span class="menu-text">{{item.nameAr|translate}}</span> </a> </li>


        <li>
          <ul class="bg-hover">
            <ng-container *ngFor="let item of forms">
              <li
                data-bs-toggle="tooltip"
                style="display: none"
                data-bs-placement="right"
                title="{{ item.nameAr | translate }}"
              >
                <a
                  routerLink="./control-panel/view-form/{{ item.id }}"
                  routerLinkActive="active"
                >
                  <i class="bi bi-toggles2"></i>
                  <span class="menu-text">{{ item.nameAr | translate }}</span>
                </a>
              </li>
            </ng-container>
          </ul>
        </li>
        </ng-container>
        </ul>
       </li> -->
    </ul>
  </nav>
</aside>
