<div class="light-mode small-screen" id="body">
  <!-- <div [class]="darked?'light-mode':'dark-mode'"> -->
  <div [class]="'container-fluid g-0 main-container nav-collapsed lan' + lang">
    <page-loading></page-loading>
    <app-sidebar></app-sidebar>

    <main
      class="main-page border-start bg-light animate__animated animate__backInDown px-0 mx-0"
    >
      <app-navbar></app-navbar>

      <!-- <div class="alert alert-warning" style="Margin: 0PX" *ngIf="!this.isOnline()">
          <strong>{{ "NEDSS.HOME.WARNING" | translate }}</strong>
          {{ "NEDSS.HOME.OFFLINE_MESSAGE" | translate }}
        </div> -->
      <main class="rout-layout px-3 pt-4">
        <router-outlet></router-outlet>
      </main>
    </main>
  </div>
</div>
