.auth{
    background-color: #ded7d7;
    padding: 20px;
    border-radius: 6px;

}
.form-login .form-group{
    display: flex;
    justify-content: space-evenly;
  }
  .form-login .form-check-input{
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .form-group button {
     border-radius: 20px;
     background-color: black;
     color: #fff;
     padding: 5px 20px ;
     transition:5ms;
  }
  .form-group button:hover{
    background-color: #ce361b;
  }

  ::ng-deep .p-dialog{
    background-color: white !important;
    padding: 10px 20px;
  }
