<!-- <div class="container">
  <div class="row ">
      <div class="col-md-12 mt-5 auth">
          <form class="form-login" [formGroup]="LoginForm" (ngSubmit)="login(LoginForm)">
              <div class="form-group ">
                  <label for="exampleInputEmail1"> Email : <span style="color: red;">*</span></label>
                  <div class="w-50">
                    <input #name type="email" formControlName="email" class="form-control w-100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small *ngIf="LoginForm.controls['email'].touched &&
                      LoginForm.controls['email'].errors" class="form-text  text-danger">Enter Invaled
                      Email
                    </small>
                  </div>
              </div>
              <div class="form-group ml-2">
                  <label for="exampleInputPassword1"> Password : <span style="color: red;">*</span></label>
                  <div class="w-50 mr-4">
                      <input #password type="password" formControlName="password" class="form-control w-100 " id="exampleInputPassword1" placeholder="Password">
                      <small *ngIf="LoginForm.controls['password'].touched &&
                        LoginForm.controls['password'].errors" class="form-text  text-danger">
                        password must be more than 8 charactors</small>
                  </div>
                </div>
              <div class="form-group">
                <button type="submit" class="btn "  >Sign in</button>
              </div>
          </form>
      </div>
  </div>
</div> -->

<main class="login-page">
  <h1 class="visually-hidden">{{ "NEDSS.HOME.LOGIN.LOGIN" | translate }}</h1>
  <header class="login-header">
    <div class="login-header__group login-header__group--main">
      <img src="../../../Content/Images/mohp.png" class="login-header__logo"
        alt="{{ 'NEDSS.HOME.LOGIN.MINISTRY_LOGO_ALT' | translate }}" width="82" height="82">
      <div class="login-header__titles">
        <span class="login-header__title">{{ "NEDSS.HOME.LOGIN.HEADER_SECTOR" | translate }}</span>
        <span class="login-header__subtitle">{{ "NEDSS.HOME.LOGIN.HEADER_ADMIN" | translate }}</span>
      </div>
    </div>
    <span class="login-header__divider"></span>
    <div class="login-header__group login-header__group--gov">
      <div class="login-header__titles login-header__titles--gov">
        <span class="login-header__title">{{ "NEDSS.HOME.LOGIN.HEADER_REPUBLIC" | translate }}</span>
        <span class="login-header__subtitle">{{ "NEDSS.HOME.LOGIN.HEADER_MINISTRY" | translate }}</span>
      </div>
      <img *ngIf="!emblemMissing" src="../../../Content/Images/egypt-emblem.png"
        class="login-header__emblem" width="64" height="74" (error)="emblemMissing = true"
        [alt]="'NEDSS.HOME.LOGIN.EMBLEM_ALT' | translate">
      <div *ngIf="emblemMissing" class="login-header__emblem login-header__emblem--placeholder" role="img"
        [attr.aria-label]="'NEDSS.HOME.LOGIN.EMBLEM_ALT' | translate">
        <i class="bi bi-image"></i>
      </div>
    </div>
  </header>
  <section class="login-shell">
    <div class="login-card">
      <span class="login-card__badge">
        <svg class="login-card__badge-icon" viewBox="0 0 52 60" aria-hidden="true">
          <defs>
            <linearGradient id="loginBadgeGrad" x1="0" y1="0" x2="0" y2="1">
              <stop offset="0" stop-color="#2e7bc4" />
              <stop offset="1" stop-color="#1c5fa8" />
            </linearGradient>
          </defs>
          <path d="M26 2 48 10V29C48 44 39 54 26 59 13 54 4 44 4 29V10Z" fill="url(#loginBadgeGrad)" />
          <g fill="#ffffff">
            <rect x="15.5" y="31" width="6" height="13" rx="1.6" />
            <rect x="23" y="24" width="6" height="20" rx="1.6" />
            <rect x="30.5" y="18" width="6" height="26" rx="1.6" />
          </g>
        </svg>
      </span>
      <h2 class="login-card__welcome">{{ "NEDSS.HOME.LOGIN.WELCOME" | translate }}</h2>
      <p class="login-card__hint">{{ "NEDSS.HOME.LOGIN.PLEASE_LOGIN" | translate }}</p>

      <form [formGroup]="LoginForm" (ngSubmit)="login(LoginForm)" novalidate>
        <div class="login-field">
          <input id="loginUsername" #name type="text" formControlName="username"
            class="login-field__input" autocomplete="username"
            placeholder="{{ 'NEDSS.HOME.LOGIN.USERNAME' | translate }}">
          <i class="bi bi-envelope-fill login-field__icon"></i>
        </div>
        <small *ngIf="LoginForm.controls['username'].touched && LoginForm.controls['username'].errors"
          class="login-field__error">{{ "NEDSS.HOME.LOGIN.USERNAME_ERROR" | translate }}</small>

        <div class="login-field">
          <input id="loginPassword" #password [type]="showPassword ? 'text' : 'password'"
            formControlName="password" class="login-field__input" autocomplete="current-password"
            placeholder="{{ 'NEDSS.HOME.LOGIN.PASSWORD' | translate }}">
          <i class="bi bi-lock-fill login-field__icon"></i>
          <button type="button" class="login-field__toggle" (click)="showPassword = !showPassword"
            [attr.aria-label]="'NEDSS.HOME.LOGIN.PASSWORD' | translate">
            <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>
        <small *ngIf="LoginForm.controls['password'].touched && LoginForm.controls['password'].errors"
          class="login-field__error">{{ "NEDSS.HOME.LOGIN.PASS_MANDATORY" | translate }}</small>

        <div class="login-card__forgot">
          <a href="#" (click)="forgotPassword()">{{ "NEDSS.HOME.LOGIN.FORGET_PASSWORD" | translate }}</a>
        </div>

        <button type="submit" class="login-submit" [disabled]="loading">
          <span *ngIf="loading" class="login-spinner" aria-hidden="true"></span>
          <ng-container *ngIf="!loading">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>{{ "NEDSS.HOME.LOGIN.LOGIN" | translate }}</span>
          </ng-container>
        </button>

        <div class="login-lang">
          <label for="select1" class="login-lang__label">
            <i class="bi bi-globe2"></i>
            {{ "NEDSS.HOME.LOGIN.LANGUAGE" | translate }}
          </label>
          <select name="select1" id="select1" class="login-lang__select" (change)="langChanged()"
            [(ngModel)]="language" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let lang of appLanguages" [value]="lang.code">{{ lang.code === 'ar' ? 'العربية' : (lang.code === 'en' ? 'English' : lang.name) }}</option>
          </select>
        </div>
      </form>
    </div>
  </section>
  <footer class="login-footer">
    <img src="../../../Content/Images/logo.png" class="login-footer__logo"
      alt="{{ 'NEDSS.HOME.LOGIN.DES_LOGO_ALT' | translate }}" width="70" height="70">
    <div class="login-footer__titles">
      <span class="login-footer__title">{{ "NEDSS.HOME.LOGIN.FOOTER_ORG" | translate }}</span>
      <span class="login-footer__subtitle">{{ "NEDSS.HOME.LOGIN.FOOTER_SECTOR" | translate }}</span>
      <span class="login-footer__subtitle">{{ "NEDSS.HOME.LOGIN.FOOTER_MINISTRY" | translate }}</span>
    </div>
  </footer>
</main>


<div class="modal modal-lg fade" id="changePassword" style="overflow: initial;" tabindex="-1" role="dialog"
  aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog color" role="document">
    <div class="modal-content" style="margin-right: -14rem !important;">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId"> تغير كلمه المرور</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">

              <div class="col-lg-6">
                <div class="form-group">
                  <label for="password"> كلمة المرور</label>
                  <input type="text" name="password" id="password" class="form-control" [ngModel]="password">
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="confirmPassword"> تاكيد كلمة المرور</label>
                  <input type="time" name="confirmPassword" id="confirmPassword" class="form-control"
                    [ngModel]="confirmPassword">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <div class="row w-100">
            <div class="col-lg-6 text-start">
              <button type="button" class="btn btn-warning border border-color rounded-3 pr-3 pl-3 btn-lg"
                data-bs-dismiss="modal">إنهاء</button>
            </div>
            <div class="col-lg-6">
              <button type="button" class="btn btn-info bg text-light rounded-3 pr-3 pl-3 btn-lg"
                data-bs-dismiss="modal" (click)="chngPassword()"> تغير كلمه المرور</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<p-dialog [draggable]="false" [resizable]="false" header="تغيير كلمة المرور" [(visible)]="visible"
  [style]="{ width: '50vw' }">

  <app-change-password></app-change-password>
  <button class="btn btn-primary" (click)="onSendForm()">{{"NEDSS.COMMON.SAVE"| translate }}</button>

</p-dialog>