<h2 class="titles">
  {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_CHECKS" | translate }}
</h2>

<div class="card shadow color rounded">
  <div class="card-body bg-dark-mode">
    <div class="row">
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_NAME" | translate }}
          </label>
          <input
            type="text"
            [(ngModel)]="patientsFilter.fullName"
            class="w-100"
            pInputText
            (blur)="
              generalDataService.isFirstNameValid =
                generalDataService.validateFirstName(
                  patientsFilter.fullName,
                  false
                )
            "
            (keypress)="generalDataService.onNameKeyPress($event)"
          />
          <small
            *ngIf="!generalDataService.isFirstNameValid"
            class="form-text text-danger mess-color"
          >
            {{ generalDataService.firstNameValidationMessage | translate }}
          </small>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.NATIONALID" | translate }}
          </label>
          <input
            type="text"
            [(ngModel)]="patientsFilter.nationalId"
            class="w-100"
            pInputText
            (keypress)="generalDataService.onIdentityCardKeyPress($event)"
            (blur)="
              generalDataService.isCardIdValid =
                generalDataService.validateNationalID(
                  patientsFilter.nationalId,
                  false
                )
            "
          />
          <div
            *ngIf="!generalDataService.isCardIdValid"
            class="form-text text-danger mess-color"
          >
            {{ generalDataService.cardIdValidationMessage | translate }}
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.GOVERBMENT" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="onGovernmentChanged()"
              tabindex="-1"
              [(ngModel)]="selectedGovernment"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="this.levelId != 1"
            >
              <option
                value="item.id"
                *ngFor="let item of governments"
                [ngValue]="item.id"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              [appDropdownLoading]="governmentsLoading"
              (onChange)="onGovernmentChanged()"
              [options]="governments"
              [(ngModel)]="selectedGovernment"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="governments"
              [required]="true"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              [appDropdownLoading]="governmentsLoading"
              (onChange)="onGovernmentChanged()"
              [options]="governments"
              [(ngModel)]="selectedGovernment"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="governments"
              [required]="true"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.HEALTHADMIN" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="onHealthAdministrationChanged()"
              tabindex="-1"
              [(ngModel)]="selectedHealthAdministration"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
              [disabled]="this.levelId != 1 && this.levelId != 2"
            >
              <option
                value="item.id"
                *ngFor="let item of healthAdministrations"
                [ngValue]="item.id"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              [appDropdownLoading]="healthAdministrationsLoading"
              (onChange)="onHealthAdministrationChanged()"
              [options]="healthAdministrations"
              [(ngModel)]="selectedHealthAdministration"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthAdministrations"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              [appDropdownLoading]="healthAdministrationsLoading"
              (onChange)="onHealthAdministrationChanged()"
              [options]="healthAdministrations"
              [(ngModel)]="selectedHealthAdministration"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthAdministrations"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.CITY" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="onCityChanged()"
              tabindex="-1"
              [(ngModel)]="selectedCity"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of cities"
                [ngValue]="item.id"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              [appDropdownLoading]="citiesLoading"
              (onChange)="onCityChanged()"
              [options]="cities"
              [(ngModel)]="selectedCity"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="cities"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              [appDropdownLoading]="citiesLoading"
              (onChange)="onCityChanged()"
              [options]="cities"
              [(ngModel)]="selectedCity"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="cities"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.HEALTH_OFFICE" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="onHealthOfficeChanged()"
              tabindex="-1"
              [(ngModel)]="selectedHealthOffice"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of healthOffices"
                [ngValue]="item.id"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              [appDropdownLoading]="healthOfficesLoading"
              (onChange)="onHealthOfficeChanged()"
              [options]="healthOffices"
              [(ngModel)]="selectedHealthOffice"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthOffices"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              [appDropdownLoading]="healthOfficesLoading"
              (onChange)="onHealthOfficeChanged()"
              [options]="healthOffices"
              [(ngModel)]="selectedHealthOffice"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthOffices"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.NATIONALITY" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="onNationalityChanged()"
              tabindex="-1"
              [(ngModel)]="selectedNationality"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of nationalities"
                [ngValue]="item.id"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              [appDropdownLoading]="nationalitiesLoading"
              (onChange)="onNationalityChanged()"
              [options]="nationalities"
              [(ngModel)]="selectedNationality"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="nationalities"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              [appDropdownLoading]="nationalitiesLoading"
              (onChange)="onNationalityChanged()"
              [options]="nationalities"
              [(ngModel)]="selectedNationality"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="nationalities"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{
              "NEDSS.HOME.GENERAL_DATA_DIAGONOSISTIC_INFO.START_DISEASES"
                | translate
            }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <p-dropdown
              [appDropdownLoading]="diseasesLoading"
              (onChange)="setDiseaseValue()"
              [options]="diseases"
              [(ngModel)]="selectedDiseaseId"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="diseaseGroup"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              [appDropdownLoading]="diseasesLoading"
              (onChange)="setDiseaseValue()"
              [options]="diseases"
              [(ngModel)]="selectedDiseaseId"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="diseaseGroup"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.MOBILE" | translate }}
          </label>
          <input
            type="text"
            [(ngModel)]="patientsFilter.phoneNo"
            class="w-100"
            pInputText
            (keypress)="generalDataService.onPhoneNumberKeyPress($event)"
            (blur)="
              generalDataService.isPhoneNumber1Valid =
                generalDataService.validatePhoneNumber1(
                  patientsFilter.phoneNo,
                  false
                )
            "
          />
          <small
            *ngIf="!generalDataService.isPhoneNumber1Valid"
            class="form-text text-danger mess-color"
          >
            {{ generalDataService.phoneNo1ValidationMessage | translate }}
          </small>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.FROM_DATE" | translate }}
          </label>

          <mat-form-field appearance="fill">
            <mat-label>
              {{
                "NEDSS.GENERAL_DATA_SIDEMENU.DATEPLACEHOLDER" | translate
              }}</mat-label
            >
            <input
              matInput
              [matDatepicker]="picker"
              [(ngModel)]="patientsFilter.fromDate"
              [min]="minDate"
              [max]="maxDate"
            />

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-6 mt-3">
        <div class="form-group">
          <label for="">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.TO_DATE" | translate }}
          </label>

          <mat-form-field appearance="fill">
            <mat-label>
              {{
                "NEDSS.GENERAL_DATA_SIDEMENU.DATEPLACEHOLDER" | translate
              }}</mat-label
            >
            <input
              matInput
              [matDatepicker]="picker1"
              [(ngModel)]="patientsFilter.toDate"
              [min]="patientsFilter.fromDate"
              [max]="maxDate"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker1"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="col-lg-6 mt-3">
        <div class="d-flex align-items-center gap-4">
          <div class="fw-bold fs-7">
            {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.CHECK" | translate }}:
          </div>
          <div class="d-flex gap-3 align-items-center">
            <label class="m-0" for="Done">
              <input
                id="Done"
                type="radio"
                name="hasCheck"
                [(ngModel)]="patientsFilter.hasLabChecks"
                value="true"
              />
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.DONE" | translate }}
            </label>
            <label class="m-0" for="NotDone">
              <input
                id="NotDone"
                type="radio"
                name="hasCheck"
                [(ngModel)]="patientsFilter.hasLabChecks"
                value="false"
              />
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.NOT_DONE" | translate }}
            </label>
            <label class="m-0" for="All">
              <input
                id="All"
                type="radio"
                name="hasCheck"
                [(ngModel)]="patientsFilter.hasLabChecks"
                value="null"
              />
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.ALL" | translate }}
            </label>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-6">
        <button class="btn bg text-white pr-5 pl-5 m-auto d-block mt-2" (click)="getPatients()">
          <span class="bi bi-search"></span>
          {{"NEDSS.COMMON.SEARCH" | translate }}
        </button>
      </div> -->
    </div>
  </div>
  <div class="card-footer text-start mb-0">
    <button class="btn bg text-white rounded-2" (click)="getPatients()">
      <i class="bi bi-search"></i>
      {{ "NEDSS.COMMON.SEARCH" | translate }}
    </button>
  </div>
</div>

<div class="mt-4 shadow border rounded" *ngIf="!noData" [appScrollIntoViewOnResults]="patientsForLab">
  <div class="row">
    <div class="col-lg-7 fwb p-4 pb-0" *ngIf="totalCount !== null || countLoading">
      {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_COUNT" | translate }}
      (<span *ngIf="countLoading"><i class="pi pi-spin pi-spinner"></i></span><span *ngIf="!countLoading && totalCount !== null">{{ totalCount | number }}</span>)
    </div>
    <div class="col-lg-5 p-4 pb-0"></div>
    <div class="col-12 table-responsive table-none-scroll">
      <p-table
        class="table"
        [style.direction]="dir"
        [value]="patientsForLab"
        [paginator]="false"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_NAME" | translate }}
            </th>
            <!-- <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.CHECK" | translate }}
            </th> -->
            <th>
              {{ "NEDSS.INVESTIGATIONS.PATIENTDISEASES" | translate }}
            </th>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.GOVERBMENT" | translate }}
            </th>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.HEALTHADMIN" | translate }}
            </th>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.HEALTH_OFFICE" | translate }}
            </th>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.CITY" | translate }}
            </th>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.INCIDENT_SOURCE" | translate }}
            </th>
            <th>
              {{
                "NEDSS.LAB_VIEW.PATIENT_CHECKS.CASE_DICAVARY_DATE" | translate
              }}
            </th>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.NATIONALITY" | translate }}
            </th>
            <th>
              {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.MOBILE" | translate }}
            </th>
            <th>
              {{ "NEDSS.COMMON.ACTIONS" | translate }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td><span [innerHTML]="item.fullName"> </span></td>
            <!-- <td><span [innerHTML]="item.labChecksExistance"> </span></td> -->
            <td>
              <span
                *ngIf="currentLang == 'ar'"
                [innerHTML]="item.diseaseGroupArabicName"
              >
              </span>
              <span
                *ngIf="currentLang == 'en'"
                [innerHTML]="item.diseaseGroupEnglishName"
              >
              </span>
            </td>
            <td><span [innerHTML]="item.homeGovernmentName"> </span></td>
            <td>
              <span [innerHTML]="item.homeHealthAdministrationName"> </span>
            </td>
            <td><span [innerHTML]="item.homeHealthOfficeName"> </span></td>
            <td><span [innerHTML]="item.homeCityName"> </span></td>
            <td><span [innerHTML]="item.incidentSourceName"> </span></td>
            <td>
              <span [innerHTML]="item.caseDiscoveryDate | date : 'dd/MM/yyyy'">
              </span>
            </td>
            <td><span [innerHTML]="item.nationality"> </span></td>
            <td><span [innerHTML]="item.phoneNo1"> </span></td>
            <td>
              <a
                [routerLink]="['/home/add-checks', item.id]"
                target="_blank"
                class="btn btn-sm bg text-white"
                style="min-width: max-content"
              >
                {{
                  "NEDSS.LAB_VIEW.PATIENT_CHECKS.ADD_AND_UPDATE_CHECK"
                    | translate
                }}
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <app-recent-days-note></app-recent-days-note>
      <div class="col-11 col-md-12 p-0 d-flex align-items-center justify-content-between flex-wrap gap-3 px-3 py-3 border-top" *ngIf="!noData">
        <div class="d-flex align-items-center gap-2">
          <label class="mb-0 text-muted">{{ 'NEDSS.COMMON.ROWS_PER_PAGE' | translate }}:</label>
          <select class="form-select" style="width: 80px" [ngModel]="patientsFilter.pageSize" (ngModelChange)="onPageSizeChange($event)" name="pageSizeSelect">
            <option *ngFor="let size of [10, 20, 30, 50, 100, 200, 500, 1000]" [ngValue]="size">{{ size }}</option>
          </select>
        </div>
        <div class="d-flex align-items-center gap-2">
          <span class="fw-bold">{{ 'NEDSS.COMMON.PAGE' | translate }} {{ patientsFilter.pageIndex + 1 }}</span>
          <button class="btn" [ngClass]="patientsFilter.pageIndex === 0 || loadingPanel ? 'btn-light text-muted' : 'btn-outline-secondary'" [disabled]="patientsFilter.pageIndex === 0 || loadingPanel" (click)="previousPage()">
            <i class="pi pi-angle-{{ currentLang === 'ar' ? 'right' : 'left' }}"></i>
            {{ 'NEDSS.COMMON.PREV' | translate }}
          </button>
          <button class="btn" [ngClass]="!hasNextPage || loadingPanel ? 'btn-light text-muted' : 'btn-primary'" [disabled]="!hasNextPage || loadingPanel" (click)="nextPage()">
            {{ 'NEDSS.COMMON.NEXT' | translate }}
            <i class="pi pi-angle-{{ currentLang === 'ar' ? 'left' : 'right' }}"></i>
          </button>
        </div>
      </div>
      <div class="row" [hidden]="!noData || loadError">
        <div class="no-data content-center">
          <img src="../../../../../../../Content/Images/svg/no-data.svg" />

          <span>{{ "NEDSS.COMMON.NO_CONTENT" | translate }}</span>
        </div>
      </div>
      <div class="row" *ngIf="loadError">
  <div class="load-error-panel">
    <span class="load-error-icon"><i class="pi pi-exclamation-triangle"></i></span>
    <p class="load-error-text">{{ "NEDSS.COMMON.COULD_NOT_LOAD_RESULTS" | translate }}</p>
    <button type="button" class="load-error-retry" (click)="getPatients()">
      <i class="pi pi-refresh"></i>
      {{ "NEDSS.COMMON.TRY_AGAIN" | translate }}
    </button>
  </div>
</div>

      <div class="col-lg-5 p-4 pb-0"></div>
      <div class="col-lg-5 p-4 pb-0"></div>
    </div>
  </div>
</div>
