<form [formGroup]="falseChickenpoxForm">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4 color">
        <div class="card-body">
          <h5 style="text-align: center; border: 1px solid; padding: 1%">
            {{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.TITLE" | translate }}
          </h5>
          <app-investigation-summary [patientName]="patientName" [allFilledControlsCount]="allFilledControlsCount"
            [allControllesCount]="allControllesCount" />

          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DATE_ONSET_SYMPTOMS" | translate
                    }}</label>
                  <app-date-field formControlName="dateOnsetSymptoms" (blurred)="calculateCompletionPercentage()"></app-date-field>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.SAMPLE_TYPE_FIRST" | translate
                    }}</label>
                  <input formControlName="sampleTypeSample1" type="text" name="sampleTypeSample1" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DATE_SAMPLE_TAKEN" | translate
                    }}</label>
                  <app-date-field formControlName="dateSampleTakenSample1" (blurred)="calculateCompletionPercentage()"></app-date-field>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.LAB_TEST_TYPE" | translate
                    }}</label>
                  <input formControlName="labTestTypeSample1" type="text" name="labTestTypeSample1" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.RESULT" | translate }}</label>
                  <input formControlName="resultSample1" type="text" name="resultSample1" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()" />
                </div>
              </div>

              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.SAMPLE_TYPE_SECOND" | translate
                    }}</label>
                  <input formControlName="sampleTypeSample2" type="text" name="sampleTypeSample2" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DATE_SAMPLE_TAKEN" | translate
                    }}</label>
                  <app-date-field formControlName="dateSampleTakenSample2" (blurred)="calculateCompletionPercentage()"></app-date-field>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.LAB_TEST_TYPE" | translate
                    }}</label>
                  <input formControlName="labTestTypeSample2" type="text" name="labTestTypeSample2" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.RESULT" | translate }}</label>
                  <input formControlName="resultSample2" type="text" name="resultSample2" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CASE_DIAGNOSIS" | translate
                    }}</label>
                  <select formControlName="caseDiagnosis" name="caseDiagnosis" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DIAGNOSIS_CONFIRMED" |
                      translate }}</option>
                    <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DIAGNOSIS_PROBABLE" |
                      translate }}</option>
                    <option value="3">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DIAGNOSIS_SUSPECTED" |
                      translate }}</option>
                    <option value="4">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DIAGNOSIS_UNKNOWN" |
                      translate }}</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="form-group">
                  <label for="">{{
                    "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.DATE_ESCALATED_TO_HIGHER_AUTHORITY" | translate
                    }}</label>
                  <app-date-field formControlName="dateEscelatedToHigherAuthority" (blurred)="calculateCompletionPercentage()"></app-date-field>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.TREATING_PHYSICIAN_NAME" | translate
                    }}</label>
                  <input formControlName="treatingPhysicianName" type="text" name="treatingPhysicianName" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                {{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.EPIDEMIOLOGICAL_INVESTIGATION" | translate }}
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACT_CONFIRMED_CASE" | translate
                    }}</label>
                  <select formControlName="contactConfirmedCase" name="contactConfirmedCase" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                      {{ item.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.EPIDEMIC_OUTBREAK" | translate
                    }}</label>
                  <select formControlName="epidemicOutbreak" name="epidemicOutbreak" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                      {{ item.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACTS_CONTACTED" | translate
                    }}</label>
                  <select formControlName="contactsContacted" name="contactsContacted" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                      {{ item.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{
                    "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.HAS_CONTACT_STUDENT_OR_EDUCATIONAL_STAFF" |
                    translate }}</label>
                  <select formControlName="hasContactStudentOrEducationalStaff"
                    name="hasContactStudentOrEducationalStaff" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                      {{ item.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-8" [appShowIf]="falseChickenpoxForm.get('hasContactStudentOrEducationalStaff')?.value == 1">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.EDUCATIONAL_FACILITY_DETAILS" |
                    translate }}</label>
                  <div class="row">
                    <div class="col-lg-6">
                      <input formControlName="educationalFacilityName" type="text" name="educationalFacilityName" id=""
                        class="form-control"
                        placeholder="{{ 'NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.EDUCATIONAL_FACILITY_NAME_PLACEHOLDER' | translate }}"
                        (blur)="calculateCompletionPercentage()" />
                    </div>
                    <div class="col-lg-6">
                      <input formControlName="mandatoryLeaveDuration" type="number" name="mandatoryLeaveDuration" id=""
                        class="form-control"
                        placeholder="{{ 'NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.MANDATORY_LEAVE_DURATION_PLACEHOLDER' | translate }}"
                        (blur)="calculateCompletionPercentage()" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.NUMBER_DIRECT_CONTACTS" | translate
                    }}</label>
                  <input formControlName="numberDirectContacts" type="number" min="0" name="numberDirectContacts" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.NUMBER_NON_DIRECT_CONTACTS" |
                    translate }}</label>
                  <input formControlName="numberNonDirectContacts" type="number" min="0" name="numberNonDirectContacts"
                    id="" class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.PRESENCE_RASH" | translate
                    }}</label>
                  <select formControlName="presenceRash" name="presenceRash" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                      {{ item.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4" [appShowIf]="falseChickenpoxForm.get('presenceRash')?.value == 1">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.ONSET_RASH" | translate }}</label>
                  <app-date-field formControlName="onsetRash" (blurred)="calculateCompletionPercentage()"></app-date-field>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.HAS_OTHER_SYMPTOMS" | translate
                    }}</label>
                  <select formControlName="hasOtherSymptoms" name="hasOtherSymptoms" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                      {{ item.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4" [appShowIf]="falseChickenpoxForm.get('hasOtherSymptoms')?.value == 1">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.IF_YES_SPECIFY" | translate
                    }}</label>
                  <input formControlName="otherSymptomsDetails" type="text" name="otherSymptomsDetails" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.HAS_OTHER_COMPLICATIONS" | translate
                    }}</label>
                  <select formControlName="hasOtherComplications" name="hasOtherComplications" id=""
                    class="form-control" (blur)="calculateCompletionPercentage()">
                    <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                      {{ item.arabicName }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-lg-4" [appShowIf]="falseChickenpoxForm.get('hasOtherComplications')?.value == 1">
                <div class="form-group">
                  <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.IF_YES_SPECIFY" | translate
                    }}</label>
                  <input formControlName="otherComplicationsDetails" type="text" name="otherComplicationsDetails"
                    id="" class="form-control" (blur)="calculateCompletionPercentage()" />
                </div>
              </div>

              <div class="col-12 mt-3">
                <h6>{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACTS_LIST" | translate }}</h6>
                <div formArrayName="contacts" class="table-responsive">
                  <table class="table table-bordered table-striped align-middle">
                    <thead>
                      <tr>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACT_SEQ" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACT_NAME" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACT_AGE" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACT_HAS_SYMPTOMS" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.CONTACT_SYMPTOMS_DATE" | translate }}
                        </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let contact of contacts.controls; let i = index" [formGroupName]="i">
                        <td><input type="number" class="form-control" formControlName="contactSeq" readonly /></td>
                        <td><input class="form-control" formControlName="contactName"
                            (blur)="calculateCompletionPercentage()" /></td>
                        <td><input type="number" class="form-control" formControlName="contactAge"
                            (blur)="calculateCompletionPercentage()" /></td>
                        <td>
                          <select class="form-control" formControlName="hasSymptoms"
                            (blur)="calculateCompletionPercentage()">
                            <option *ngFor="let item of answerOptions" value="{{ item.id }}">
                              {{ item.arabicName }}
                            </option>
                          </select>
                        </td>
                        <td><div [appShowIf]="contact.get('hasSymptoms')?.value == 1"><app-date-field formControlName="symptomsDate" (blurred)="calculateCompletionPercentage()"></app-date-field></div></td>
                        <td class="text-center">
                          <button class="btn btn-danger" type="button" (click)="removeContact(i)">
                            <i class="bi bi-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn bg rounded-2 text-light" type="button" (click)="addContact()">
                    {{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.ADD_CONTACT" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.INVESTIGATION_DATE" | translate
                      }}</label>
                    <app-date-field formControlName="investigationDate"></app-date-field>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.HEALTH_OBSERVER_NAME" | translate
                      }}</label>
                    <input type="text" name="" id="" class="form-control" formControlName="healthObserverName" />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.SURVEILLANCE_OFFICER" | translate
                      }}</label>
                    <input type="text" name="" id="" class="form-control" formControlName="surveillanceOfficerName" />
                  </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.FALSE_CHICKENPOX.APPROVED_BY_ADMIN_DIRECTOR" |
                      translate }}</label>
                    <input type="text" name="" id="" class="form-control"
                      formControlName="administrationDirectorName" />
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer text-start">
          <button type="submit" class="btn bg rounded-2 text-light" (click)="save()">
            {{ "NEDSS.COMMON.SAVE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
