<form [formGroup]="hivForm" (ngSubmit)="save()" (focusout)="calculateCompletionPercentage()">

  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4 color">
        <div class="card-body">
          <div id="jump_to_this_location"></div>
          <h5 style="text-align: center; border: 1px solid; padding: 1%">
            {{"NEDSS.COMPLETE_INVESTEGATION.HIV.PAGE_TITLE"| translate}}
          </h5>
          <br />
          <div class="row">

            <app-investigation-summary [patientName]="patientName" [allFilledControlsCount]="allFilledControlsCount"
              [allControllesCount]="allControllesCount">
            </app-investigation-summary>

            <div class="col-12">
              <div class="row color">
                <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                  <div class="row">
                    <div class="col-12 title fs-6 fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.EPIDEMIOLOGICAL_INVESTIGATION" |
                      translate }} </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.NAME" | translate}}</label>
                        <input formControlName="name" type="text" name="" id="" class="form-control">
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for=""> {{ "NEDSS.COMPLETE_INVESTEGATION.HIV.PRACTICAL_NUMBER" | translate }}</label>
                        <input formControlName="laboratoryName" type="text" name="" id="" class="form-control">
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.POSITIVE_CASE_HISTORY" | translate
                          }}</label>
                        <input formControlName="positiveCaseHistory" type="date" name="" id="dp1684613397926"
                          class="form-control datePicker hasDatepicker" placeholder="dd/mm/yyyy">
                      </div>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">
                          {{"NEDSS.COMPLETE_INVESTEGATION.HIV.EPIDEMIOLOGICAL_INVESTIGATION_DATE" |
                          translate}} </label>
                        <input formControlName="dateEpidemiologicalInvestigation" type="date" name=""
                          id="dp1684613397927" class="form-control datePicker hasDatepicker" placeholder="dd/mm/yyyy">
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.HUSBAND_WIFE_NAME" | translate}}</label>
                        <input (keypress)="generalDataService.onNameKeyPress($event)" formControlName="husbandName"
                          type="text" name="" id="" class="form-control">
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.AIDS_TEST_POSITIVE" | translate}}</label>
                        <select formControlName="aidsTest" name="" id="" class="form-control">
                          <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                          <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                          <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                        </select>
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.IF_YES_DATE" | translate}}</label>
                        <input formControlName="dateIfYes" type="date" name="" id="dp1684613397928"
                          class="form-control datePicker hasDatepicker" placeholder="dd/mm/yyyy">
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.CHILDREN_NUMBER" | translate}}</label>
                        <input formControlName="kidsNumber" type="text" name="" id="" class="form-control">
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.PREGNANCY_FOR_WOMEN" | translate}}</label>
                        <select formControlName="pregnancy" name="" id="" class="form-control">
                          <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                          <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                          <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                        </select>
                      </div>
                    </div><!-- /.col-lg-6 -->

                    <div class="col-lg-12 titles fs-6 fw-bold mb-4 color-d-2">
                      {{"NEDSS.COMPLETE_INVESTEGATION.HIV.MEDICAL_EXAMINATION_REASON" |
                      translate}}
                    </div>
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="suspectedSymptoms" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.SUSPECTED_SYMPTOMS"
                          | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="injectionDrugAddict" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.INJECTION_DRUG_ADDICT" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="bloodDonation" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.BLOOD_DONATION" |
                          translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="tuberculosisPatient" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.TUBERCULOSIS_PATIENT" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="affectedSpousePartner" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.AFFECTED_SPOUSE_PARTNER" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="dialysis" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.DIALYSIS" |
                          translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="venerealDisease" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.VENEREAL_DISEASE" |
                          translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="injuredMother" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.INJURED_MOTHER"
                          | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="travelAbroad" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.TRAVEL_ABROAD" |
                          translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="FollowUpPregnancy" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.FOLLOW_UP_PREGNANCY" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="voluntaryExamination" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.VOLUNTARY_EXAMINATION" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.OTHER" | translate}}</label>
                        <input formControlName="otherReasons" type="text" name="" id="" class="form-control">
                      </div>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-12 titles fs-6 fw-bold mb-4 color-d-2">
                      {{"NEDSS.COMPLETE_INVESTEGATION.HIV.EXPOSURE_MODE" | translate}}
                    </div>
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="sexualRelationshipWithAnotherGender" class="form-check-input"
                          type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.SEXUAL_RELATIONSHIP_ANOTHER_GENDER" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="commercialSex" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.COMMERCIAL_SEX" |
                          translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="motherOfInjuredChild" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.MOTHER_OF_INJURED_CHILD" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="sexualRelationshipWithSpouse" class="form-check-input" type="checkbox"
                          id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.SEXUAL_RELATIONSHIP_SPOUSE_PARTNER" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="drugInjection" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.DRUG_INJECTION" |
                          translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="undefined" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.UNDEFINED" |
                          translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="sameSexSexualRelationship" class="form-check-input" type="checkbox"
                          id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.SEXUAL_RELATIONSHIP_SAME_SEX" | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-check mt-4">
                        <input formControlName="injuredMotherExposure" class="form-check-input" type="checkbox" id="">
                        <label class="form-check-label" for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.INJURED_MOTHER"
                          | translate}}</label>
                      </div>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label for="">{{"NEDSS.COMPLETE_INVESTEGATION.HIV.MOTHER_NAME" | translate}}</label>
                        <input formControlName="motherName" type="text" name="" id="" class="form-control">
                      </div>
                    </div><!-- /.col-lg-4 -->
                  </div><!-- / .row -->
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.EXPOSURE_NOTE" | translate }}</label>
                    </div>
                  </div>
                  <br />
                  <br />
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.OTHER_NOTES" | translate }}</label>
                      <ul>
                        <li>{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.COUNSELING_SESSION_NOTE" | translate }}</li>
                        <li>{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.CLINICAL_REPORT_NOTE" | translate }}</li>
                      </ul>
                    </div>
                  </div>
                </div><!-- / .col-12 -->
              </div><!-- / .row -->
            </div><!-- / .col-12 -->

            <div class="col-12">
              <div class="row color">
                <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.INVESTIGATION_DATE" | translate
                          }}</label>
                        <input type="date" name="" id="" class="form-control" placeholder="dd/mm/yyyy"
                          formControlName="investigationDate" />
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.HEALTH_OBSERVER_NAME" | translate
                          }}</label>
                        <input type="text" name="" id="" class="form-control" formControlName="healthObserverName" />
                      </div>
                    </div>
                    <div class="col-lg-3">
                      <div class="form-group">
                        <label for="">{{ "NEDSS.COMPLETE_INVESTEGATION.HIV.APPROVED_BY_ADMIN_DIRECTOR" |
                          translate
                          }}</label>
                        <input type="text" name="" id="" class="form-control"
                          formControlName="administrationDirectorName" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer text-start pt-4">
            <button type="submit" class="btn bg rounded-2 text-light mb-5"> {{
              "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}</button>
          </div>
        </div>
      </div>
