// colors
$main-color: #2da599;
$secondary-color: #e7e7e7;
$color-danger: #A62626;
$color-select: #2ecc71;
$color-warning: #f0ad4e;
// fonts
$font-white: #fff;
$font-light: #e8e8e8;
$font-dark: #181818;
$font-custom: #787878;

// bg
$bg-light-1: #ffffff;
$bg-light-2: #f5f5f5;
$bg-light-3: #dedede;
$bg-light-4: #bfbfbf;

$bg-dark-1: #181818;
$bg-dark-2: #585858;
$bg-dark-3: #676767;
$bg-dark-4: #757575;

$color-gray-light: #F8F8F8;
$color-gray-medium: #bfbfbf;
$color-gray-dark: #808080;

// fontawesome icons size
$fa-size-1: 16px;
$fa-size-2: 18px;
$fa-size-3: 20px;

// width & height
$table-row-height: 40px;

// margin, padding
$mg-1: 5px;
$mg-2: 10px;
$mg-3: 15px;
$mg-4: 20px;

$pd-1: 5px;
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 20px;

//Media Queries
$mediaMaxWidth: 1260px;
$mediaBp1Width: 960px;
$mediaMinWidth: 480px;