<form (ngSubmit)="save()" #preparationsTeamForm="ngForm" novalidate>
  <div class="card shadow rounded mt-4">
    <div class="card-body color">
      <div class="row">
        <div class="col-lg-6 mb-3">
          <div class="form-group">
            <label for="">
              {{ "NEDSS.PREPARATION.RESPONSIPILTY_TYPE" | translate }}
              <Span style="color: red">*</Span>
            </label>

            <!-- <p-multiSelect
              [options]="unitResponsibilityLevels"
              [(ngModel)]="selectedunitResponsibilityLevel"
              optionLabel="arabicName"
              (onClick)="unitResponsibilityLevelIdSelected($event)"
              name="unitResponsibilityLevelId"
              [ngModelOptions]="{ standalone: true }"
              [style]="{ width: '100%', height: '40px' }"
            /> -->
            <p-dropdown
            [options]="unitResponsibilityLevels"
            [(ngModel)]="preparationsTeam.unitResponsibilityLevelId"
            optionLabel="arabicName"
            optionValue="id"
            autoWidth="false"
            [style]="{ width: '100%' }"
            name="governments"
            [filter]="true"
            filterBy="arabicName"
          >
          
          </p-dropdown>


            <!-- <ng-multiselect-dropdown
              [settings]="singleDropdownSettings"
              [data]="unitResponsibilityLevels"
              name="unitResponsibilityLevelId"
              [(ngModel)]="selectedunitResponsibilityLevel"
              [ngModelOptions]="{ standalone: true }"
              (onSelect)="unitResponsibilityLevelIdSelected($event)"
            >
            </ng-multiselect-dropdown> -->

            <small *ngIf="!isUnitRespLevelValid" class="form-text text-danger">
              {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
            </small>
          </div>
        </div>
        <div class="col-lg-6 mb-3">
          <div class="form-group">
            <label for=""
              >{{ "NEDSS.PREPARATION.NAME" | translate }}
              <Span style="color: red">*</Span></label
            >
            <!-- <input
              type="text"
              name="name"
              [(ngModel)]="preparationsTeam.name"
              #name="ngModel"
              class="form-control"
            /> -->

            <input
              type="text"
              name="name"
              id=""
              class="w-100"
              pInputText
              [(ngModel)]="preparationsTeam.name"
              #name="ngModel"
            />

            <small *ngIf="!isNameValid" class="form-text text-danger">
              {{ "NEDSS.COMMON.FILEDREQUIRED" | translate }}
            </small>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="">
              {{ "NEDSS.PREPARATION.PHONE1" | translate }}
              <Span style="color: red">*</Span>
            </label>

            <input
              type="text"
              name="phoneNo1"
              id=""
              class="w-100"
              pInputText
              [(ngModel)]="preparationsTeam.phoneNo1"
              #phoneNo1="ngModel"
              (keypress)="generalDataService.onPhoneNumberKeyPress($event)"
              (blur)="
                isPhone1Valid = generalDataService.validatePhoneNumber1(
                  preparationsTeam.phoneNo1,
                  true
                )
              "
              class="w-100"
            />

            <!-- <input
              type="text"
              name="phoneNo1"
              [(ngModel)]="preparationsTeam.phoneNo1"
              #phoneNo1="ngModel"
              class="form-control"
              (keypress)="generalDataService.onPhoneNumberKeyPress($event)"
              (blur)="
                isPhone1Valid = generalDataService.validatePhoneNumber1(
                  preparationsTeam.phoneNo1,
                  true
                )
              "
            /> -->
            <small *ngIf="!isPhone1Valid" class="form-text text-danger">
              {{ generalDataService.phoneNo1ValidationMessage | translate }}
            </small>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="">
              {{ "NEDSS.PREPARATION.PHONE2" | translate }}
              <Span style="color: red">*</Span>
            </label>

            <input
              type="text"
              name="phoneNo2"
              id=""
              class="w-100"
              pInputText
              [(ngModel)]="preparationsTeam.phoneNo2"
              #phoneNo2="ngModel"
              (keypress)="generalDataService.onPhoneNumberKeyPress($event)"
              (blur)="
                isPhone2Valid = generalDataService.validatePhoneNumber2(
                  preparationsTeam.phoneNo2,
                  true
                )
              "
            />

            <!-- <input
              type="text"
              name="phoneNo2"
              [(ngModel)]="preparationsTeam.phoneNo2"
              #phoneNo2="ngModel"
              class="form-control"
              (keypress)="generalDataService.onPhoneNumberKeyPress($event)"
              (blur)="
                isPhone2Valid = generalDataService.validatePhoneNumber2(
                  preparationsTeam.phoneNo2,
                  true
                )
              "
            /> -->
            <small *ngIf="!isPhone2Valid" class="form-text text-danger">
              {{ generalDataService.phoneNo2ValidationMessage | translate }}
            </small>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="form-group">
            <label for="">
              {{ "NEDSS.PREPARATION.NATIONALI_ID" | translate }}
              <Span style="color: red">*</Span>
            </label>

            <input
              type="text"
              name="nationalId"
              id=""
              class="w-100"
              pInputText
              [(ngModel)]="preparationsTeam.nationalId"
              #nationalId="ngModel"
              maxlength="14"
              (keypress)="generalDataService.onIdentityCardKeyPress($event)"
              (blur)="
                isNationalIdValid = generalDataService.validateNationalID(
                  preparationsTeam.nationalId,
                  true
                )
              "
            />

            <!-- <input
              type="text"
              name="nationalId"
              [(ngModel)]="preparationsTeam.nationalId"
              #nationalId="ngModel"
              class="form-control"
              maxlength="14"
              (keypress)="generalDataService.onIdentityCardKeyPress($event)"
              (blur)="
                isNationalIdValid = generalDataService.validateNationalID(
                  preparationsTeam.nationalId,
                  true
                )
              "
            /> -->

            <small *ngIf="!isNationalIdValid" class="form-text text-danger">
              {{ generalDataService.cardIdValidationMessage | translate }}
            </small>
          </div>
        </div>
      </div>
      <div class="card-footer mt-4">
        <span
          class="float-end"
          style="color: red; font-size: large; font-weight: 800"
          *ngIf="pleaseComplete"
          >{{ "NEDSS.PREPARATION.ALL_FIELDS_MENDATORY" | translate }}</span
        >
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <button
      type="submit"
      class="btn bg pr-4 pl-4 btn-lg text-white rounded-3 btn-light mt-4"
    >
      {{ "NEDSS.PREPARATION.SAVE" | translate }}
    </button>
  </div>
</form>
<div class="card shadow rounded mt-4">
  <div class="table-reponsive mt-4 shadow border rounded" *ngIf="!noData">
    <div class="d-flex m-0 justify-content-between m-3">
      <div class="fwb">
        {{ "NEDSS.PREPARATION.NUMER_OF_TEAM_TARASOD" | translate }}
        {{ pages }}
      </div>
      <div class="">
        <a (click)="exportPatientsAsPdf()"
          ><span class="bi bi-filetype-pdf button-export"></span
        ></a>
        <button
          style="border: none; background: none"
          [useExistingCss]="true"
          [printStyle]="{ '.exclude-pdf': { display: 'none' } }"
          printTitle="{{
            'NEDSS.PREPARATION.MONITOR_UNIT_LIST.PREPARATIONS' | translate
          }}"
          printSectionId="myTableElementId"
          ngxPrint
        >
          <span class="bi bi-printer-fill button-export"></span>
        </button>
        <a (click)="exportPatiantsAsExcel()"
          ><span class="bi bi-file-earmark-excel-fill button-export"></span
        ></a>
      </div>
    </div>

    <div
      class="table-responsive table-none-scroll"
      id="myTableElementId"
      #myTableElementId
    >
      <p-table
        class="table table-borderedable-bordered"
        [value]="preparationsTeams"
        [style.direction]="dir"
        (sortFunction)="sort($event)"
        [customSort]="true"
        [sortField]="'name'"
        [sortOrder]="1"
        [paginator]="false"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>
              {{ "NEDSS.PREPARATION.RESPONSIPILTY_TYPE" | translate }}
            </th>
            <th pSortableColumn="name">
              <span> {{ "NEDSS.PREPARATION.NAME" | translate }}</span>
              <p-sortIcon class="exclude-pdf" field="name"></p-sortIcon>
            </th>
            <th pSortableColumn="phoneNo1">
              <span> {{ "NEDSS.PREPARATION.PHONE1" | translate }}</span>
              <p-sortIcon class="exclude-pdf" field="phoneNo1"></p-sortIcon>
            </th>
            <th pSortableColumn="phoneNo2">
              {{ "NEDSS.PREPARATION.PHONE2" | translate }}
              <p-sortIcon class="exclude-pdf" field="phoneNo2"></p-sortIcon>
            </th>

            <th pSortableColumn="nationalId">
              <span> {{ "NEDSS.PREPARATION.NATIONALI_ID" | translate }}</span>
              <p-sortIcon class="exclude-pdf" field="nationalId"></p-sortIcon>
            </th>
            <th class="exclude-pdf">
              <span>{{
                "NEDSS.HOME.CONTROL_PANEL.CODES.LOOKUP_TABLE_ACTIONS"
                  | translate
              }}</span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>
              <span [innerHTML]="item.unitResponsibilityLevelName"></span>
            </td>

            <td>
              <span [innerHTML]="item.name"></span>
            </td>
            <td>
              <span [innerHTML]="item.phoneNo1"></span>
            </td>
            <td>
              <span [innerHTML]="item.phoneNo2"></span>
            </td>
            <td>
              <span [innerHTML]="item.nationalId"></span>
            </td>
            <td class="exclude-pdf">
              <a
                (click)="getById(item.id)"
                class="text-primary pi pi-pencil"
              ></a>
              &nbsp;&nbsp;
              <a
                data-bs-target="#exampleModal2"
                data-bs-toggle="modal"
                (click)="nameToDelete(item)"
                class="text-danger bi bi-trash-fill"
              ></a>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="col-11 col-lg-12 p-0 exclude-pdf" style="margin-bottom: 4px">
        <p-paginator
          *ngIf="!noData"
          [rows]="preparationsTeamFilter.pageSize"
          [totalRecords]="pages"
          (onPageChange)="paginate($event)"
          [first]="first"
          [currentPageReportTemplate]="
            'NEDSS.COMMON.CURRENT_PAGE_REPORT' | translate
          "
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="[
            10,
            20,
            30,
            40,
            50,
            70,
            100,
            200,
            500,
            1000,
            2000,
            pages >= 5000 ? pages : 5000
          ]"
        ></p-paginator>
      </div>
      <div class="row m-0" [hidden]="!noData">
        <div class="no-data content-center">
          <img src="../../../../../../../Content/Images/svg/no-data.svg" />

          <span>{{ "NEDSS.COMMON.NO_CONTENT" | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade opast"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog bord-round">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ "NEDSS.COMMON.SURE_DELETE_ATTENTION" | translate }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        {{ "NEDSS.COMMON.SURE_DELETE" | translate }}.
        <strong style="color: red">
          <td>{{ underDeleting2.name }}</td>
        </strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          {{ "NEDSS.COMMON.CANCEL" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="delete(underDeleting2.id)"
          data-bs-dismiss="modal"
        >
          {{ "NEDSS.COMMON.DELETE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
