
<!-- <build-form-container (OnValidForm) ="OnValidForm($event)"     [projectFileds]="form"></build-form-container> -->
<div class="title">
  <div class=" my-1">
    <div class=" col-md-1">
      <img width="50" height="50" src="../../../../Content/Images/logo.png" alt="">
    </div>
    <div class="col-12 col-md-10">
      <p class="h3 text-center">{{form.nameAr}}</p>

    </div>
  </div>
</div>
<div class="bg-white p-1">

<build-form (OnValidForm) ="OnValidForm($event)"  [projectFileds]="formDto" ></build-form>
</div>
