
.icon-user:before { content: '\e800'; } /* '' */
.icon-manager:before { content: '\e801'; } /* '' */
.icon-warning:before { content: '\e802'; } /* '' */
.icon-watch:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-sms:before { content: '\e805'; } /* '' */
.icon-actions:before { content: '\e806'; } /* '' */
.icon-user-outline:before { content: '\e807'; } /* '' */
.icon-committee:before { content: '\e808'; } /* '' */
.icon-release:before { content: '\e809'; } /* '' */
.icon-notification:before { content: '\e80a'; } /* '' */
.icon-on-entry:before { content: '\e80b'; } /* '' */
.icon-reload:before { content: '\e80c'; } /* '' */
.icon-condition:before { content: '\e80d'; } /* '' */
.icon-inspector:before { content: '\e80e'; } /* '' */
.icon-supervisor:before { content: '\e80f'; } /* '' */
.icon-approve:before { content: '\e810'; } /* '' */
.icon-pick:before { content: '\e811'; } /* '' */
.icon-reject:before { content: '\e812'; } /* '' */
.icon-resend:before { content: '\e813'; } /* '' */
.icon-picked:before { content: '\e814'; } /* '' */
.icon-cog:before { content: '\e815'; } /* '' */
.icon-doc-text:before { content: '\e816'; } /* '' */
.icon-chart-bar:before { content: '\e817'; } /* '' */
.icon-delete:before { content: '\e81a'; } /* '' */