<div>
  <div class="card-body bg-dark-mode">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="form-group">
          <label for="" class="form-label">
            {{ "NEDSS.EVENTS.GOVERNMENT" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="governmentSelected()"
              tabindex="-1"
              [(ngModel)]="selectedgovernment"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of governments"
                [ngValue]="item.id"
                [selected]="item.id === selectedgovernment"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              (onChange)="governmentSelected()"
              [options]="governments"
              [(ngModel)]="selectedgovernment"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="governments"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              (onChange)="governmentSelected()"
              [options]="governments"
              [(ngModel)]="selectedgovernment"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="governments"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="form-group">
          <label for="" class="form-label">
            {{ "NEDSS.EVENTS.ADMINISTRATION" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="healthAdministrationSelected()"
              tabindex="-1"
              [(ngModel)]="selectedhealthAdministration"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of healthAdministration"
                [ngValue]="item.id"
                [selected]="item.id === selectedhealthAdministration"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              (onChange)="healthAdministrationSelected()"
              [options]="healthAdministration"
              [(ngModel)]="selectedhealthAdministration"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthAdministration"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              (onChange)="healthAdministrationSelected()"
              [options]="healthAdministration"
              [(ngModel)]="selectedhealthAdministration"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthAdministration"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="form-group">
          <label for="" class="form-label">
            {{ "NEDSS.SEARCH.HEALTH_OFFICE" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="homeHealthOfficeSelected()"
              tabindex="-1"
              [(ngModel)]="selectedhealthOfficcie"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of healthOfficcies"
                [ngValue]="item.id"
                [selected]="item.id === selectedhealthOfficcie"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              (onChange)="homeHealthOfficeSelected()"
              [options]="healthOfficcies"
              [(ngModel)]="selectedhealthOfficcie"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthOfficcies"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              (onChange)="homeHealthOfficeSelected()"
              [options]="healthOfficcies"
              [(ngModel)]="selectedhealthOfficcie"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="healthOfficcies"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="form-group">
          <label for="" class="form-label">
            {{ "NEDSS.SEARCH.CITY" | translate }}
          </label>
          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="homeCitySelected()"
              tabindex="-1"
              [(ngModel)]="Selectedcity"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of cities"
                [ngValue]="item.id"
                [selected]="item.id === Selectedcity"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              (onChange)="homeCitySelected()"
              [options]="cities"
              [(ngModel)]="Selectedcity"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="cities"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              (onChange)="homeCitySelected()"
              [options]="cities"
              [(ngModel)]="Selectedcity"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="cities"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="form-group">
          <label for="" class="form-label">
            {{ "NEDSS.SEARCH.PRINCIPALITY" | translate }}
          </label>

          <div *ngIf="currentLang == 'ar'">
            <!-- <select
              class="form-control select2 select2-hidden-accessible"
              (change)="homePrincipalitySelected()"
              tabindex="-1"
              [(ngModel)]="selectedhomePrincipaly"
              aria-hidden="true"
              [ngModelOptions]="{ standalone: true }"
            >
              <option
                value="item.id"
                *ngFor="let item of Principalities"
                [ngValue]="item.id"
                [selected]="item.id === selectedhomePrincipaly"
              >
                {{ item.arabicName }}
              </option>
            </select> -->
            <p-dropdown
              (onChange)="homePrincipalitySelected()"
              [options]="Principalities"
              [(ngModel)]="selectedhomePrincipaly"
              optionLabel="arabicName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="Principalities"
              [filter]="true"
              filterBy="arabicName"
            >
            </p-dropdown>
          </div>
          <div *ngIf="currentLang == 'en'">
            <p-dropdown
              (onChange)="homePrincipalitySelected()"
              [options]="Principalities"
              [(ngModel)]="selectedhomePrincipaly"
              optionLabel="englishName"
              optionValue="id"
              autoWidth="false"
              [style]="{ width: '100%' }"
              name="Principalities"
              [filter]="true"
              filterBy="englishName"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-4">
        <div class="form-outline">
          <label for="" class="form-label">
            {{ "NEDSS.SEARCH.DETAILD_ADDRESS" | translate }}
          </label>
          <textarea
            name=""
            id=""
            class="w-100"
            pInputText
            [(ngModel)]="patient.livingAddress"
            (blur)="
              generalDataService.isAdressValid =
                generalDataService.validateAddress(patient.livingAddress, false)
            "
          ></textarea>
        </div>
        <small
          *ngIf="!generalDataService.isAdressValid"
          class="form-text text-danger mess-color"
        >
          {{ generalDataService.addressValidationMessage | translate }}
        </small>
      </div>

      <div class="col-lg-12 d-flex justify-content-end">
        <button
          type="submit"
          class="btn btn-lg bg text-light"
          (click)="clearAll()"
        >
          <span class="pi pi-times"></span>
          {{ "NEDSS.SEARCH.CLEAR_ALL" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
