<form [formGroup]="ariForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4 color mb-4">
        <div class="card-body">
          <h5 style="text-align: center; border: 1px solid; padding: 1%">
            {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.TITLE" | translate }}
          </h5>
          <br />

          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>
                  {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_NAME" | translate }}: {{ patientName }}
                </label>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>
                  {{ "NEDSS.INVESTIGATIONS.percentage" | translate }}
                  <span class="mx-4" style="font-size: larger; color: red">
                    {{ allControllesCount === 0 ? "0.00" : ((allFilledControlsCount / allControllesCount) * 100 | number: "1.0-2") }} %
                  </span>
                </label>
                <input
                  type="range"
                  class="form-range bg"
                  [readonly]="true"
                  style="border-radius: 11.7px; border: 5.5px solid white"
                  min="0"
                  max="100"
                  step="1"
                  [value]="allControllesCount === 0 ? 0 : (allFilledControlsCount / allControllesCount) * 100"
                  formControlName="investigationCompletePercentage"
                />
              </div>
            </div>
            <div class="col-lg-4">
              {{ "NEDSS.INVESTIGATIONS.Filled" | translate }}
              {{ allFilledControlsCount }}
              {{ "NEDSS.INVESTIGATIONS.Field" | translate }}
              {{ "NEDSS.INVESTIGATIONS.From" | translate }}
              {{ allControllesCount }}
              {{ "NEDSS.INVESTIGATIONS.Field" | translate }}
            </div>
          </div>

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SUSPECT_TYPE" | translate }}
                </div>
                <div class="col-lg-12 has-labels d-flex gap-4 flex-wrap align-items-center">
                  <label>
                    <input type="checkbox" formControlName="seasonalInfluenza" />
                    {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SEASONAL_INFLUENZA" | translate }}
                  </label>
                  <label>
                    <input type="checkbox" formControlName="avianInfluenza" />
                    {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.AVIAN_INFLUENZA" | translate }}
                  </label>
                  <label>
                    <input type="checkbox" formControlName="mersCov" />
                    {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.MERS_COV" | translate }}
                  </label>
                  <label>
                    <input type="checkbox" formControlName="ncov" />
                    {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.NCOV" | translate }}
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.GENERAL_DATA" | translate }}</div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ICU_ADMISSION" | translate }}</label>
                  <select formControlName="icuAdmission" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ICU_ADMISSION_DATE" | translate }}</label>
                  <input type="date" formControlName="icuAdmissionDate" class="form-control" />
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ICU_DISCHARGE_DATE" | translate }}</label>
                  <input type="date" formControlName="icuDischargeDate" class="form-control" />
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.MECHANICAL_VENTILATOR" | translate }}</label>
                  <select formControlName="mechanicalVentilatorUse" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.EXPOSURE_DATA" | translate }}</div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.TRAVEL_OUTSIDE_14_DAYS" | translate }}</label>
                  <select formControlName="travelOutsideEgypt" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.COUNTRY_NAME" | translate }}</label>
                  <input type="text" formControlName="travelCountryName" class="form-control" />
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.TRAVEL_REASON" | translate }}</label>
                  <input type="text" formControlName="travelReason" class="form-control" />
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.RETURN_DATE" | translate }}</label>
                  <input type="date" formControlName="travelReturnDate" class="form-control" />
                </div>

                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DIRECT_CONTACT_POSITIVE_CASE" | translate }}</label>
                  <select formControlName="directContactPositiveCase" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CASE_DIAGNOSIS" | translate }}</label>
                  <input type="text" formControlName="positiveCaseDiagnosis" class="form-control" />
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CASE_NAME" | translate }}</label>
                  <input type="text" formControlName="positiveCaseName" class="form-control" />
                </div>

                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DIRECT_CONTACT_WITH" | translate }}</label>
                  <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                    <label><input type="checkbox" formControlName="directContactBirds" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.BIRDS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactPigs" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PIGS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactBats" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.BATS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactCamels" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CAMELS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactOther" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OTHER" | translate }}</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OTHER_MENTION" | translate }}</label>
                  <input type="text" formControlName="directContactOtherText" class="form-control" />
                </div>

                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VISIT_ANIMAL_MARKETS" | translate }}</label>
                  <select formControlName="visitedAnimalMarkets" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VISIT_HEALTHCARE" | translate }}</label>
                  <select formControlName="visitedHealthcareFacility" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.HEALTHCARE_VISIT_REASON" | translate }}</label>
                  <input type="text" formControlName="healthcareVisitReason" class="form-control" />
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CASE_OUTCOME" | translate }}</label>
                  <select formControlName="caseOutcome" class="form-control">
                    <option value="1">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OUTCOME_RECOVERY" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OUTCOME_TRANSFER" | translate }}</option>
                    <option value="3">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OUTCOME_ESCAPE" | translate }}</option>
                    <option value="4">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OUTCOME_DEATH" | translate }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VACCINATION_DATA" | translate }}</div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.COVID_VACCINE_TAKEN" | translate }}</label>
                  <select formControlName="covid19VaccineTaken" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DOSE_COUNT" | translate }}</label>
                  <input type="number" formControlName="covid19DoseCount" class="form-control" />
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.LAST_DOSE_DATE" | translate }}</label>
                  <input type="date" formControlName="covid19LastDoseDate" class="form-control" />
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SEASONAL_FLU_VACCINE_TAKEN" | translate }}</label>
                  <select formControlName="seasonalFluVaccineTaken" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SEASONAL_FLU_VACCINE_DATE" | translate }}</label>
                  <input type="date" formControlName="seasonalFluVaccineDate" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <app-lab-samples [labSamples]="labSamples" (labSamplesChanged)="calculateCompletionPercentage()"></app-lab-samples>
        </div>
        <div class="card-footer text-start">
          <button type="submit" class="btn bg rounded-2 text-light">
            {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>