<form [formGroup]="ariForm" (ngSubmit)="save()">
  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4 color mb-4">
        <div class="card-body">
          <h5 style="text-align: center; border: 1px solid; padding: 1%">
            {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.TITLE" | translate }}
          </h5>
          <br />

          <!-- Patient Name -->
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <label>
                  {{ "NEDSS.LAB_VIEW.PATIENT_CHECKS.PATIENT_NAME" | translate }}: {{ patientName }}
                </label>
              </div>
            </div>
          </div>

          <!-- Progress Bar -->
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label>
                  {{ "NEDSS.INVESTIGATIONS.percentage" | translate }}
                  <span class="mx-4" style="font-size: larger; color: red">
                    {{ allControllesCount === 0 ? "0.00" : ((allFilledControlsCount / allControllesCount) * 100 | number: "1.0-2") }} %
                  </span>
                </label>
                <input
                  type="range"
                  class="form-range bg"
                  [readonly]="true"
                  style="border-radius: 11.7px; border: 5.5px solid white"
                  min="0"
                  max="100"
                  step="1"
                  [value]="allControllesCount ? (allFilledControlsCount / allControllesCount) * 100 : 0"
                />
              </div>
            </div>
            <div class="col-lg-4">
              {{ "NEDSS.INVESTIGATIONS.Filled" | translate }}
              {{ allFilledControlsCount }}
              {{ "NEDSS.INVESTIGATIONS.Field" | translate }}
              {{ "NEDSS.INVESTIGATIONS.From" | translate }}
              {{ allControllesCount }}
              {{ "NEDSS.INVESTIGATIONS.Field" | translate }}
            </div>
          </div>

          <!-- ===== 1. Clinical Data ===== -->
          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CLINICAL_DATA" | translate }}
                </div>

                <!-- Virus Type -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-12">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VIRUS_TYPE" | translate }}</label>
                      <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                        <label>
                          <input type="radio" formControlName="virusType" [value]="1" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SEASONAL_INFLUENZA" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="virusType" [value]="2" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.COVID19" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="virusType" [value]="3" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.RSV" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="virusType" [value]="4" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OTHER" | translate }}
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VIRUS_TYPE_OTHER" | translate }}</label>
                      <input type="text" formControlName="virusTypeOther" class="form-control" />
                    </div>
                  </div>
                </div>

                <!-- Case Assessment -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-12">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CASE_ASSESSMENT" | translate }}</label>
                      <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                        <label>
                          <input type="radio" formControlName="caseAssessment" [value]="1" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ASSESSMENT_MILD" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="caseAssessment" [value]="2" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ASSESSMENT_MODERATE" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="caseAssessment" [value]="3" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ASSESSMENT_SEVERE" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="caseAssessment" [value]="4" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ASSESSMENT_CRITICAL" | translate }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Pneumonia Diagnosis -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PNEUMONIA_DIAGNOSIS" | translate }}</label>
                      <select formControlName="pneumoniaDiagnosis" class="form-control">
                        <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                        <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- Pneumonia Details -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-12">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PNEUMONIA_DIAGNOSIS_METHOD" | translate }}</label>
                      <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                        <label>
                          <input type="radio" formControlName="pneumoniaDiagnosisMethod" [value]="1" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CLINICALLY" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="pneumoniaDiagnosisMethod" [value]="2" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CHEST_XRAY" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="pneumoniaDiagnosisMethod" [value]="3" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CHEST_CT" | translate }}
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PNEUMONIA_DIAGNOSIS_DATE" | translate }}</label>
                      <input type="date" formControlName="pneumoniaDiagnosisDate" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PNEUMONIA_TYPE" | translate }}</label>
                      <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                        <label>
                          <input type="radio" formControlName="pneumoniaType" [value]="1" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.UNILATERAL" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="pneumoniaType" [value]="2" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.BILATERAL" | translate }}
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Hospitalization Date -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.HOSPITALIZATION_DATE" | translate }}</label>
                      <input type="date" formControlName="hospitalizationDate" class="form-control" />
                    </div>
                  </div>
                </div>

                <!-- ICU Admission -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ICU_ADMISSION" | translate }}</label>
                      <select formControlName="icuAdmission" class="form-control">
                        <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <!-- ICU Details -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ICU_NEEDS_RESPIRATORY" | translate }}</label>
                      <select formControlName="needsRespiratoryDevice" class="form-control">
                        <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                        <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      </select>
                    </div>
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ICU_ADMISSION_DATE" | translate }}</label>
                      <input type="date" formControlName="icuAdmissionDate" class="form-control" />
                    </div>
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ICU_DAYS_COUNT" | translate }}</label>
                      <input type="number" formControlName="icuDaysCount" class="form-control" />
                    </div>
                  </div>
                </div>

                <!-- Respiratory Device -->
                <div class="col-12 mt-2">
                  <div class="row">
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.RESPIRATORY_DEVICE_TYPE" | translate }}</label>
                      <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                        <label>
                          <input type="radio" formControlName="respiratoryDeviceType" [value]="1" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OXYGEN_MASK" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="respiratoryDeviceType" [value]="2" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.MECHANICAL_VENTILATOR" | translate }}
                        </label>
                        <label>
                          <input type="radio" formControlName="respiratoryDeviceType" [value]="3" />
                          {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ECMO" | translate }}
                        </label>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.RESPIRATORY_DEVICE_DATE" | translate }}</label>
                      <input type="date" formControlName="respiratoryDeviceDate" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ===== 2. Health Facility Timeline ===== -->
          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.HEALTH_FACILITY_TIMELINE" | translate }}
                </div>
                <div class="col-12 table-responsive">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th class="col-wide">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.FACILITY_NAME" | translate }}</th>
                        <th class="col-wide">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.FACILITY_ADMIN" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VISIT_DATE" | translate }}</th>
                        <th class="col-wide">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.INITIAL_DIAGNOSIS" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.HOSPITAL_ADMISSION" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ENTRY_DATE" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.EXIT_DATE" | translate }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody formArrayName="healthFacilityTimeline">
                      <tr *ngFor="let row of healthFacilityTimeline.controls; let i = index" [formGroupName]="i">
                        <td>{{ i + 1 }}</td>
                        <td><input type="text" formControlName="facilityName" class="form-control" /></td>
                        <td><input type="text" formControlName="administration" class="form-control" /></td>
                        <td><input type="date" formControlName="visitDate" class="form-control" /></td>
                        <td><input type="text" formControlName="initialDiagnosis" class="form-control" /></td>
                        <td>
                          <select formControlName="hospitalAdmission" class="form-control">
                            <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                            <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                          </select>
                        </td>
                        <td><input type="date" formControlName="entryDate" class="form-control" /></td>
                        <td><input type="date" formControlName="exitDate" class="form-control" /></td>
                        <td>
                          <button type="button" class="btn btn-delete" (click)="removeHealthFacilityRow(i)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="addHealthFacilityRow()">
                    <i class="fas fa-plus"></i> {{ "NEDSS.COMMON.ADD" | translate }}
                  </button>
                </div>
                <div class="col-12 mt-2">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.NOTES" | translate }}</label>
                  <textarea formControlName="healthFacilityNotes" class="form-control" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>

          <!-- ===== 3. Vaccination Data ===== -->
          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VACCINATION_DATA" | translate }}
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SEASONAL_FLU_VACCINE_TAKEN" | translate }}</label>
                  <select formControlName="seasonalFluVaccineTaken" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SEASONAL_FLU_VACCINE_DATE" | translate }}</label>
                  <input type="date" formControlName="seasonalFluVaccineDate" class="form-control" />
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PNEUMOCOCCAL_VACCINE_TAKEN" | translate }}</label>
                  <select formControlName="pneumococcalVaccineTaken" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PNEUMOCOCCAL_VACCINE_DATE" | translate }}</label>
                  <input type="date" formControlName="pneumococcalVaccineDate" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <!-- ===== 4. Treatment ===== -->
          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.TREATMENT" | translate }}
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OSELTAMIVIR_GIVEN" | translate }}</label>
                  <select formControlName="oseltamivirGiven" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OSELTAMIVIR_FIRST_DOSE_DATE" | translate }}</label>
                  <input type="date" formControlName="oseltamivirFirstDoseDate" class="form-control" />
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OSELTAMIVIR_REPEATED" | translate }}</label>
                  <select formControlName="oseltamivirRepeatedOver5Days" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OTHER_ANTIVIRAL_GIVEN" | translate }}</label>
                  <select formControlName="otherAntiviralGiven" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OTHER_ANTIVIRAL_NAME" | translate }}</label>
                  <input type="text" formControlName="otherAntiviralName" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <!-- ===== 5. Exposure Data ===== -->
          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.EXPOSURE_DATA" | translate }}
                </div>

                <!-- Occupational Contact -->
                <div class="col-12 mt-2">
                  <label class="fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OCCUPATIONAL_CONTACT" | translate }}</label>
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OCCUPATIONAL_CONTACT_Q" | translate }}</label>
                  <select formControlName="occupationalContact" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-12">
                  <div class="has-labels d-flex gap-4 flex-wrap align-items-center mt-1">
                    <label>
                      <input type="checkbox" formControlName="worksWithPoultry" />
                      {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.WORKS_POULTRY" | translate }}
                    </label>
                    <label>
                      <input type="checkbox" formControlName="worksInLab" />
                      {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.WORKS_LAB" | translate }}
                    </label>
                    <label>
                      <input type="checkbox" formControlName="worksInHealthcare" />
                      {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.WORKS_HEALTHCARE" | translate }}
                    </label>
                    <label>
                      <input type="checkbox" formControlName="worksAsVet" />
                      {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.WORKS_VET" | translate }}
                    </label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OCCUPATIONAL_OTHER" | translate }}</label>
                  <input type="text" formControlName="occupationalOther" class="form-control" />
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.HEALTHCARE_DIRECT_CARE" | translate }}</label>
                  <select formControlName="healthcareDirectCare" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                  </select>
                </div>

                <!-- Shared / Animal Contact -->
                <div class="col-12 mt-3">
                  <label class="fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SHARED_CONTACT" | translate }}</label>
                </div>
                <div class="col-lg-12">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DIRECT_CONTACT_14_DAYS" | translate }}</label>
                  <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                    <label><input type="checkbox" formControlName="directContactBirds" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.BIRDS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactPigs" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PIGS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactBats" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.BATS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactCamels" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CAMELS" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactNone" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.NONE" | translate }}</label>
                    <label><input type="checkbox" formControlName="directContactOther" /> {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OTHER" | translate }}</label>
                  </div>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.OTHER_MENTION" | translate }}</label>
                  <input type="text" formControlName="directContactOtherText" class="form-control" />
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.VISIT_ANIMAL_MARKETS" | translate }}</label>
                  <select formControlName="visitedAnimalMarkets" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                  </select>
                </div>

                <!-- Human Contact -->
                <div class="col-12 mt-3">
                  <label class="fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.HUMAN_CONTACT" | translate }}</label>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CONTACT_SEVERE_RESPIRATORY" | translate }}</label>
                  <select formControlName="contactSevereRespiratoryCase" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PART_OF_OUTBREAK" | translate }}</label>
                  <select formControlName="partOfOutbreak" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CONTACT_DECEASED_RESPIRATORY" | translate }}</label>
                  <select formControlName="contactDeceasedRespiratoryCase" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.CONTACT_CROWDS" | translate }}</label>
                  <select formControlName="contactCrowds" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>

                <!-- Travel -->
                <div class="col-12 mt-3">
                  <label class="fwb">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.TRAVEL" | translate }}</label>
                </div>

                <!-- Domestic Travel -->
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DOMESTIC_TRAVEL" | translate }}</label>
                  <select formControlName="domesticTravel" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-12 table-responsive mt-2">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DATE_FROM" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DATE_TO" | translate }}</th>
                        <th class="col-wide">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PLACE_GOV_CITY" | translate }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody formArrayName="domesticTravelEntries">
                      <tr *ngFor="let row of domesticTravelEntries.controls; let i = index" [formGroupName]="i">
                        <td><input type="date" formControlName="dateFrom" class="form-control" /></td>
                        <td><input type="date" formControlName="dateTo" class="form-control" /></td>
                        <td><input type="text" formControlName="place" class="form-control" /></td>
                        <td>
                          <button type="button" class="btn btn-delete" (click)="removeDomesticTravelRow(i)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="addDomesticTravelRow()">
                    <i class="fas fa-plus"></i> {{ "NEDSS.COMMON.ADD" | translate }}
                  </button>
                </div>

                <!-- International Travel -->
                <div class="col-lg-4 mt-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.INTERNATIONAL_TRAVEL" | translate }}</label>
                  <select formControlName="internationalTravel" class="form-control">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
                <div class="col-12 table-responsive mt-2">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DATE_FROM" | translate }}</th>
                        <th>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DATE_TO" | translate }}</th>
                        <th class="col-wide">{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.COUNTRY_CITY" | translate }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody formArrayName="internationalTravelEntries">
                      <tr *ngFor="let row of internationalTravelEntries.controls; let i = index" [formGroupName]="i">
                        <td><input type="date" formControlName="dateFrom" class="form-control" /></td>
                        <td><input type="date" formControlName="dateTo" class="form-control" /></td>
                        <td><input type="text" formControlName="country" class="form-control" /></td>
                        <td>
                          <button type="button" class="btn btn-delete" (click)="removeInternationalTravelRow(i)">
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <button type="button" class="btn btn-sm btn-outline-primary" (click)="addInternationalTravelRow()">
                    <i class="fas fa-plus"></i> {{ "NEDSS.COMMON.ADD" | translate }}
                  </button>
                </div>

                <!-- Arrival Point -->
                <div class="col-12 mt-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ARRIVAL_POINT" | translate }}</label>
                  <div class="has-labels d-flex gap-4 flex-wrap align-items-center">
                    <label>
                      <input type="radio" formControlName="arrivalPointType" [value]="1" />
                      {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.AIRPORT" | translate }}
                    </label>
                    <label>
                      <input type="radio" formControlName="arrivalPointType" [value]="2" />
                      {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.PORT" | translate }}
                    </label>
                    <label>
                      <input type="radio" formControlName="arrivalPointType" [value]="3" />
                      {{ "NEDSS.COMPLETE_INVESTEGATION.ARI.LAND_CROSSING" | translate }}
                    </label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ARRIVAL_POINT_NAME" | translate }}</label>
                  <input type="text" formControlName="arrivalPointName" class="form-control" />
                </div>
                <div class="col-lg-4">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.ARRIVAL_DATE" | translate }}</label>
                  <input type="date" formControlName="arrivalDate" class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <!-- ===== 6. Footer ===== -->
          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.INVESTIGATION_DATE" | translate }}</label>
                  <input type="date" formControlName="investigationDate" class="form-control" />
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.HEALTH_INSPECTOR_NAME" | translate }}</label>
                  <input type="text" formControlName="healthInspectorName" class="form-control" />
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.SURVEILLANCE_OFFICER" | translate }}</label>
                  <input type="text" formControlName="surveillanceOfficer" class="form-control" />
                </div>
                <div class="col-lg-3">
                  <label>{{ "NEDSS.COMPLETE_INVESTEGATION.ARI.DIRECTOR_NAME" | translate }}</label>
                  <input type="text" formControlName="directorName" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-start">
          <button type="submit" class="btn bg rounded-2 text-light">
            {{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
