/* You can add global styles to this file, and also import other style files */

/* regular style toast */

@import "ngx-toastr/toastr";
@import "../node_modules/c3/c3.min.css";
@import "./../node_modules/primeng/resources/primeng.min.css";
@import "./Content/Styles/CSS/Nedss/reponsive.css";
@import "./Content/Styles/CSS/Nedss/bootstrap.rtl.min.css";
@import "./Content/Styles/CSS/Nedss/bootstrap-utilities.min.css";
@import "./Content/Styles/CSS/Nedss/bootstrap-icons.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "./Content/Styles/CSS/Nedss/theme.css";
@import "./Content/Styles/CSS/Nedss/theme-en.css";

/* font */
@import "../node_modules/@fontsource/cairo/arabic.css";
@import "../node_modules/@fontsource/ibm-plex-sans-arabic/arabic.css";
@import "../node_modules/@fontsource/noto-naskh-arabic/arabic.css";
@import "../node_modules/@fontsource/readex-pro/arabic.css";
@import "../node_modules/@fontsource/tajawal/arabic.css";

* {
  font-family: "Tajawal", sans-serif;
  /* font-family: 'IBM Plex Sans Arabic', sans-serif; */
  /* font-family: 'Noto Naskh Arabic', serif; */
  /* font-family: 'Readex Pro', sans-serif; */
}

*::selection {
  background: #007bff3f;
}

* {
  margin: 0;
  padding: 0;
}

/* @page {
  margin-bottom: 300mm !important;
} */

@page {
  margin: 100px 100px;
  /* قيمة الهوامش: أعلى أسفل يمين يسار */
}

/* .body{
  width: 100%;
}
.main{
  width: 100%;
} */
.c3-grid line {
  stroke: #c52929 !important;
  stroke-width: 2;
}

/* .c3-xgrid-line line {
fill: none !important;
  stroke: #9c7a7a !important;
}
.c3-target{
  stroke: #9c7a7a !important;
} */

.ar {
  direction: rtl;
}

.en {
  direction: ltr;
}
.pointer {
  cursor: pointer;
}

.login {
  /* background-image: url(../src/assets/bg-1.webp);
  background-size: cover; */
  background: #fff url(../src/assets/bg-1.jpg) no-repeat center/cover;
  background-blend-mode: multiply;
  width: 100vw;
  height: 100vh;
}

body {
  /* font-family: DroidNaskh;*/
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  /* line-height: 1.5;*/
  color: #212529;
  /* text-align: left;*/
  background-color: #fff;
}

/* 2023/04/14 */
a:hover {
  text-decoration: none !important;
}

.card-box-shadow {
  box-shadow: 0 0.1875rem 0.75rem 0 rgba(47, 43, 61, 0.14);
}
.avatar {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
.bg-label {
  background-color: #7fceff;
  color: #fff;
}
.ar .ml-2 {
  margin-right: 2em;
  margin-left: unset;
}
.ar .mr-2 {
  margin-left: 2em;
  margin-right: unset;
}
.fas {
  font-size: 1rem;
}
.highcharts-credits {
  display: none;
}

.no-filtered-data h5 {
  font-size: 12px;
}

/* .ng-star-inserted opast {
  background: #0000004f !important;
} */

.change_lang_select {
  border: 1px solid rgba(204, 204, 204, 0.404);
  border-radius: 50px;
  font-size: 16px;
  background: #222533 !important;
  color: #fff;
  width: 60px;
  height: 30px;
}

.p-paginator {
  color: #6c757d;
  border: solid #e9ecef;
  border-width: 0;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  direction: ltr !important;
}

/* .p-paginator .p-component
{
  padding-bottom: 30px;

} */

.p-paginator .p-paginator-current {
  margin-right: 15px;
  line-height: 1.1;
}

.p-paginator button.p-ripple {
  margin: 0 5px;
}

.p-datatable-thead th,
.table thead th {
  font-size: 12px !important;
  color: #fff;
  border: 1px solid #c9c9c9 !important;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.p-datatable-thead td,
.table tbody td {
  font-size: 12px !important;
  /* border: 1px solid hsl(0, 0%, 79%) !important; */
  vertical-align: middle;
  text-align: center;
  padding: 1rem 1rem;
}

.table tbody td {
  font-size: 12px !important;
  /* color: #fff; */
  /* border: 1px solid #c9c9c9 !important; */
  /* padding: 5px 10px; */
}

#tableChart table thead > tr > th {
  text-align: right !important;
}

body .dark-mode .p-datatable-table td,
body .dark-mode .table td {
  border: 1px solid #9e9e9e60 !important;
  vertical-align: middle;
  text-align: center;
}

body .dark-mode .p-datatable-table td:last-child,
body .dark-mode .table td:last-child {
  border: none !important;
}

.p-datatable-table tbody tr:nth-child(even) td,
.table tbody tr:nth-child(even) td {
  background-color: #f8f8f89d;
}

body .dark-mode .p-datatable-table tbody tr:nth-child(even) td,
body .dark-mode .table tbody tr:nth-child(even) td {
  background-color: #6b6e7c !important;
  color: #fff !important;
}

/* .p-datatable-table tbody tr:nth-child(odd) td,
.table tbody tr:nth-child(odd) td {
  text-align: center;
} */
body .dark-mode .p-datatable-table tbody tr:nth-child(odd) td,
body .dark-mode .table tbody tr:nth-child(odd) td {
  background-color: var(--dark-color) !important;
  color: #fff;
  padding: 3px !important;
}

.p-dropdown-item {
  background-color: #fff;
  padding: 0 5px;
  white-space: pre-wrap !important;
}

.dropdown-item:hover {
  background-color: #2196f3 !important;
}

.bi-x-circle {
  color: #000 !important;
  display: flex;
  justify-content: end !important;
  margin: 0 20px;
}

p-dropdownitem::after {
  display: block;
  width: 100%;
  padding: 3px auto;
  border-bottom: 1px solid rgba(207, 207, 207, 0.45);
  height: 1px;
  content: "";
  background-color: #fff;
}

p-dropdownitem li {
  background-color: #fff;
}

p-dropdownitem:nth-child(odd) li {
  background-color: #fafafa;
}

p-dropdownitem:last-child::after {
  border-bottom: 0;
}

.p-datatable > .p-datatable-wrapper {
  overflow-y: hidden !important;
}

.multiselect-dropdown {
  background-color: #fff;
}

.form-check-input {
  margin-left: 5px;
  margin-right: 15px;
  position: relative;
  border: var(--bs-border-width) solid #707273 !important;
}

.help-cards .card a {
  font-size: 10pt;
}

/* Added Styles*/

.content-center {
  text-align: center;
  /* padding: 10px; */
  padding: 50px;
}

.highlighted-text {
  color: #000;
  background-color: yellow;
  margin: 0 !important;
}

.p-tabmenu-nav .p-menuitem-text {
  line-height: 0 !important;
  white-space: nowrap;
}

.p-tabmenuitem a {
  color: aliceblue;
  padding-bottom: 3px;
}

.p-tabmenuitem {
  background-color: #383838;
  display: flex;
  padding: 1rem;
  /* box-shadow: 1px 0px 10px 3px rgba(34, 161, 235, 0.753); */
  color: white !important;
  border-radius: 15px 15px 0 0;
  margin: 1rem;
  margin-bottom: 0;
  border: 2px solid #0e7ba7;
}

li:has(> .p-menuitem-link-active) {
  box-shadow: 1px 0px 10px 3px rgba(34, 161, 235, 0.753);
  color: #0e7ba7 !important;
  background-color: white;
}

.p-menuitem-link-active {
  color: #0e7ba7 !important;
  background-color: white;
}

.mat-mdc-table {
  background-color: transparent !important;
}

.mdc-data-table__pagination-total,
.mdc-data-table__pagination-rows-per-page-label,
.mdc-data-table__cell {
  color: rgb(63, 63, 63) !important;
}

html,
body {
  height: 100%;
}

/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

.controls .multiselect-dropdown .dropdown-btn {
  /* background-color: gray !important; */
  max-height: 1.8rem;
  overflow: hidden;
}

.multiselect-dropdown .dropdown-btn {
  /* max-height: 2.2rem; */
  overflow: hidden !important;
  height: 35px;
  font-size: 10pt;
  /* border: 1px solid #adadad; */
  width: 100%;
  /* padding: 2px 12px !important; */
  font-size: 10pt;
}

.controls .multiselect-dropdown {
  /* background-color: gray !important; */
  color: white !important;
  border-radius: 5px;
}

.mat-h5,
.mat-typography .mat-h5,
.mat-typography h5 {
  font: 400 calc(25px * 0.83) / 25px Roboto, sans-serif !important;
  margin: 0 0 12px;
}

.mat-h6,
.mat-typography .mat-h6,
.mat-typography h6 {
  font: 400 calc(28px * 0.67) / 20px Roboto, sans-serif !important;
  margin: 0 0 12px;
}

#mat-mdc-form-field-label- #mat-mdc-form-field-label-36,
#mat-mdc-form-field-label-35,
#mat-mdc-form-field-label-34,
#mat-mdc-form-field-label-33,
#mat-mdc-form-field-label-32,
#mat-mdc-form-field-label-31,
#mat-mdc-form-field-label-30,
#mat-mdc-form-field-label-29,
#mat-mdc-form-field-label-28,
#mat-mdc-form-field-label-27,
#mat-mdc-form-field-label-26,
#mat-mdc-form-field-label-25,
#mat-mdc-form-field-label-24,
#mat-mdc-form-field-label-23,
#mat-mdc-form-field-label-22,
#mat-mdc-form-field-label-21,
#mat-mdc-form-field-label-20,
#mat-mdc-form-field-label-19,
#mat-mdc-form-field-label-18,
#mat-mdc-form-field-label-17,
#mat-mdc-form-field-label-16,
#mat-mdc-form-field-label-15,
#mat-mdc-form-field-label-14,
#mat-mdc-form-field-label-13,
#mat-mdc-form-field-label-12,
#mat-mdc-form-field-label-10,
#mat-mdc-form-field-label-9,
#mat-mdc-form-field-label-8,
#mat-mdc-form-field-label-7,
#mat-mdc-form-field-label-6,
#mat-mdc-form-field-label-5,
#mat-mdc-form-field-label-4,
#mat-mdc-form-field-label-3,
#mat-mdc-form-field-label-2,
#mat-mdc-form-field-label-1,
#mat-mdc-form-field-label-0 {
  margin-top: -15px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #ffffff;
  direction: ltr;
  border: 1px solid rgba(22, 22, 22, 0.493) !important;
  border-radius: 5px !important;
  height: 2.3rem;
  position: relative;
}

.filter-textbox {
  padding: 0px 10px !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: rgb(0 0 0 / 87%);
  position: absolute;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(0, 0, 0, 0.6);
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: rgb(5, 5, 5) !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: rgb(10, 10, 10) !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-form-field-label {
  /*change color of label*/
  color: rgb(0, 0, 0) !important;
}

mat-datepicker-toggle {
  color: rgb(0, 0, 0) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: rgba(12, 12, 12, 0.6);
  font-size: smaller;
  margin-top: -5%;
}

.c3-axis-y text {
  font-size: 14px;
  text-anchor: start !important;
}

.c3-axis-y2 text {
  font-size: 14px;
  text-anchor: end !important;
}

.c3-axis-x text {
  font-size: 14px;
}

/* .nav-collapsed .accordion-collapse {
  position: absolute;
  width: 200px;
  height: 350px;
  background: #fff;
  right: 35px;
  z-index: 999;
  border: 1px solid #e9e6e6cc;
  display: none;
  margin-top: -50px;
  overflow: auto;
} */

.nav-collapsed li:hover .accordion-collapse {
  display: block;
}

.nav-collapsed #rightNav nav ul a {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-mdc-form-field {
  width: 100%;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  border-color: rgb(214 214 214) !important;
}

.mat-datepicker-content {
  background-color: #fff;
}

.mat-datepicker-content .mat-calendar {
  padding: 0px 10px 0px 0px;
}

.mat-datepicker-content .mat-calendar .mat-calendar-body-cell-content,
.mat-mdc-button:not(:disabled),
.mat-calendar-body-label,
.mat-datepicker-content .mat-calendar-previous-button,
.mat-datepicker-content .mat-calendar-next-button {
  color: #111 !important;
}

.mat-calendar-table th {
  background: inherit;
}

.mat-calendar-arrow {
  fill: #111;
}

.mat-calendar-content th {
  padding-top: 15px !important;
  padding-bottom: 0 !important;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(
    .mat-calendar-body-comparison-identical
  ) {
  background-color: #dadada;
}

th {
  background-color: transparent !important;
  border: 0px none transparent !important;
  border-bottom: 1px solid #c2c2c2 !important;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: transparent !important;
}

.bolds {
  font-weight: bold;
}

.box-header.with-border {
  background-color: #f7f7f7bb !important;
  padding-top: 15px !important;
}

button[name="search"] {
  /* background-color: #000 !important; */
  color: #fff !important;
  border-radius: 0 !important;
  margin-top: 28px !important;
}

.multiselect-dropdown .dropdown-btn {
  border-color: #ced4da !important;
  border-radius: 6px !important;
  overflow: hidden !important;
  height: 45px !important;
  padding: 0.75rem 0.75rem !important;
}

.multiselect-item-checkbox[_ngcontent-aes-c29]
  input[type="checkbox"]
  + div[_ngcontent-aes-c29]:before {
  width: 8px !important;
  height: 8px !important;
}

.ar .multiselect-item-checkbox input[type="checkbox"] + div {
  text-align: right !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div {
  margin: 4px !important;
  font-size: 10px !important;
}

.page-item.active .page-link {
  z-index: 300;
  color: #ffffff;
  font-weight: 700;
  border-radius: 5px !important;
  background-color: #00000000;
  border-color: #00000000;
}

.multiselect-dropdown
  .dropdown-btn
  .selected-item-container
  .selected-item
  span {
  color: #000000;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item a {
  color: #000000 !important;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: none !important;
  margin-right: 4px;
  margin-bottom: 4px;
  background: #f1f1f1 !important;
  padding: 2px 12px;
  color: #000000;
  border-radius: 2px;
  float: left;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  margin-top: -20px !important;
}

.dateField .mat-mdc-icon-button svg {
  vertical-align: baseline;
  margin-top: -84% !important;
}

.dateField .mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  margin-top: -10% !important;
}

.dateField
  .mdc-text-field:not(.mdc-text-field--disabled)
  .mdc-text-field__input {
  color: rgb(0 0 0 / 87%);
}

.c3-legend-item {
  font-size: 15px;
  direction: ltr;
}

/* .ng-multiselect-dropdown .multiselect-dropdown .multiselect-radio input[type="radio"] {
  border-color: #007bff;
}

.ng-multiselect-dropdown .multiselect-dropdown .multiselect-radio input[type="radio"]:checked::before {
  background-color: #007bff;
} */

.multiselect-dropdown[_ngcontent-nyc-c29]
  .disabled[_ngcontent-nyc-c29]
  > span[_ngcontent-nyc-c29] {
  background-color: white !important;
}

.multiselect-dropdown.disabled[_ngcontent-aej-c29] > span[_ngcontent-aej-c29] {
  background-color: white !important;
}

::ng-deep
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 0px;
  padding-bottom: 16px;
}

::ng-deep
  .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 16px !important;
}

.form-control {
  border: 1px solid rgba(0, 0, 0, 0.1607843137);
  padding: 5px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  animation: _move_inputs 1s;
  animation-delay: 0.8s;
  position: relative;
  padding: 5px;
}

/* 
input[type=date]:required:invalid::-webkit-datetime-edit {
  color: transparent;
}

input[type=date]:focus::-webkit-datetime-edit {
  color: black !important;
}

input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  color: #fff;
  position: relative;
}

input[type="date"]::-webkit-datetime-edit-year-field {
  position: absolute !important;
  border-left: 0px solid #8c8c8c;
  padding: 2px;
  color: #000;
  left: 60px;
}

input[type="date"]::-webkit-datetime-edit-month-field {
  position: absolute !important;
  border-left: 0px solid #8c8c8c;
  padding: 2px;
  color: #000;
  left: 30px;
}


input[type="date"]::-webkit-datetime-edit-day-field {
  position: absolute !important;
  color: #000;
  padding: 2px;
  left: 4px;
} */

.mdc-text-field--disabled.mdc-text-field--filled {
  background-color: #e9ecef;
  height: 40px;
}

.form-check-input {
  height: 20px;
  width: 20px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/* Dark Mode Style */

/* body .dark-mode input[type="date"]::-webkit-datetime-edit-year-field {
  position: absolute !important;
  border-left: 0px solid #8c8c8c;
  padding: 2px;
  color: var(--light-color) !important;
  left: 60px;
}
body .dark-mode input[type="date"]::-webkit-datetime-edit-month-field {
  position: absolute !important;
  border-left: 0px solid #8c8c8c;
  padding: 2px;
  color: var(--light-color) !important;
  left: 30px;
}
body .dark-mode input[type="date"]::-webkit-datetime-edit-day-field {
  position: absolute !important;
  color: var(--light-color) !important;
  padding: 2px;
  left: 4px;
} */
body .dark-mode input[type="checkbox"] {
  /* text-align: right !important;
  margin: 4px !important;
  font-size: 10px !important; */
  background-color: transparent !important;
  border: 1px solid #007bff !important;
}

:root {
  --dark-color: #222533;
  --light-color: #e9ecef;
  --btn-bg-dark-color: #7b828a;
  --btn-text-light-color: #222533;
  --border-color: rgba(162, 162, 162, 0.7);
}

.ar .darkAndLight {
  position: fixed;
  top: 8px;
  left: 29vw;
}

.en .darkAndLight {
  position: fixed;
  top: 10px;
  right: 27vw;
}

.shadow-bord {
  width: 98% !important;
  height: 100%;
  margin: 20px auto;
  box-shadow: rgba(53, 53, 53, 0.35) 0px 0px 0px 2px,
    rgba(230, 230, 230, 0.35) 0px 4px 6px -1px,
    rgba(230, 230, 230, 0.35) 0px 1px 0px inset !important;
}

body.dark-mode {
  background-color: var(--dark-color);
  color: var(--light-color);
}

body
  .dark-mode
  *:not(
    svg,
    a,
    tspan,
    i,
    span,
    rect,
    path,
    label,
    input,
    table,
    li,
    ul,
    tr,
    td,
    th,
    p-sorticon,
    tbody,
    thead,
    button,
    font,
    .bg-non
  ) {
  background-color: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.bg-non {
  background: transparent !important;
}

body .dark-mode .dropdown-btn,
body .dark-mode .bg-input {
  background-color: var(--dark-color) !important;
}

body .dark-mode .form-control,
body .dark-mode .mul,
body .dark-mode .multiselect-dropdown,
body .dark-mode input[type="date"] {
  border: 1px solid var(--border-color) !important;
  background: var(--input-dark-mode) !important;
}

/* body .dark-mode .selected-item-container
 {
  background-color: var(--dark-color) !important;
 } */
body
  .dark-mode
  .multiselect-dropdown
  .dropdown-btn
  .selected-item-container
  .selected-item
  span {
  color: #fff;
}

body
  .dark-mode
  .multiselect-dropdown
  .dropdown-btn
  .selected-item-container
  .selected-item
  a {
  color: #fff !important;
}

body
  .dark-mode
  .multiselect-dropdown
  .dropdown-btn
  .selected-item-container
  .selected-item {
  border: none !important;
  margin-right: 4px;
  margin-bottom: 4px;
  background: var(--input-dark-mode) !important;
  padding: 2px 12px;
  color: #fff;
  border-radius: 2px;
  float: left;
}

body .dark-mode .accordion .accordion-button:not(.collapsed) {
  background-color: var(--input-dark-mode) !important;
  color: var(--light-color);
}

body .dark-mode .accordion .accordion-button {
  background-color: var(--input-dark-mode) !important;
  color: var(--light-color);
}

body .dark-mode .accordion-button::after {
  color: var(--light-color) !important;
}

body .dark-mode span .btn,
body .dark-mode span,
body .dark-mode svg {
  color: var(--light-color) !important;
  fill: var(--light-color) !important;
}

body .dark-mode svg .domain,
body .dark-mode svg line {
  stroke: var(--light-color) !important;
}

body .dark-mode input::placeholder,
body .dark-mode option {
  color: var(--light-color) !important;
}

body .dark-mode input[type="search"] {
  background: var(--input-dark-mode) !important;
}

body .dark-mode input[type="time"],
body .dark-mode #dis {
  background: var(--input-dark-mode) !important;
  color: var(--light-color) !important;
}

body .dark-mode input {
  color: var(--light-color) !important;
}

body .dark-mode input::-webkit-calendar-picker-indicator {
  filter: invert(1);
  color-scheme: #000;
}

/* Change the Datepicker text color */
body.dark-mode input[type="date"]::placeholder {
  color: #999999 !important;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-top: 4px;
  color: var(--light-color) !important;
  /* background: var(--input-dark-mode) !important; */
  border: 1px solid var(--border-color) !important;
}

body
  .dark-mode
  .mat-mdc-form-field-has-icon-suffix
  .mat-mdc-text-field-wrapper {
  padding-top: 4px;
  color: var(--light-color) !important;
  background: var(--input-dark-mode) !important;
  border: 1px solid var(--border-color) !important;
}

/* Hide the default radio button */
input[type="radio"] {
  border: 2px solid gray !important;
}

body .dark-mode .dropdown-list .filter-textbox input {
  background: var(--dark-color);
}

body .dark-mode .sendMessColor {
  background: var(--dark-color);
}

.nav-tabs .nav-link-en {
  background: #007bff !important;
}

.nav-tabs .nav-link-all {
  background: #007bff !important;
}

body .dark-mode .box-header.with-border {
  background: none !important;
}

body .dark-mode .moreDetals {
  color: var(--light-color) !important;
}

body .dark-mode td {
  border-bottom: 1px solid transparent !important;
}

body .dark-mode tr {
  border-bottom: 1px solid var(--border-color) !important;
  text-align: center;
  /* padding: 10px; */
}

body .dark-mode .card-primary:not(.card-outline) > .card-header {
  background-color: #007bff !important;
}

body .dark-mode .card-primary:not(.card-outline) > .card-header ul {
  background-color: #007bff !important;
}

.en .border-cheack-box {
  border-right: 1px solid var(--border-color);
}

.ar .border-cheack-box {
  border-left: 1px solid var(--border-color);
}

.btn .btn-lg .bg .text-light {
  position: relative;
  /* top: -50px; */
}

body
  .dark-mode
  .p-dropdown-panel
  .p-dropdown-items
  .p-dropdown-item.p-highlight {
  color: var(--light-color) !important;
  background: var(--dark-color) !important;
}

body .dark-mode .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover {
  background: var(--dark-color) !important;
}

/* table style */
.hiddenCol {
  display: none;
}

.showCol {
  display: table-cell;
}

.p-datatable,
table {
  margin-bottom: 5px;
}

.p-datatable .p-datatable-tbody > tr,
.table tbody > tr {
  page-break-inside: avoid !important;
}

.p-datatable .p-datatable-thead > tr > th,
.table thead > tr > th {
  color: #000 !important;
}

.p-datatable .p-datatable-thead > tr > th,
.table thead > tr > th,
body
  .dark-mode
  .p-datatable
  .p-datatable-thead
  > tr
  > th
  body
  .dark-mode
  table
  thead
  > tr
  > th {
  color: #fff;
  text-align: center !important;
  transition: box-shadow 0.2s;
  vertical-align: middle;
  border: 1px solid #ebe9e9 !important;
}

.p-datatable .p-datatable-tbody > tr {
  height: 40px !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: center !important;
  border-color: #ebe9e9 !important;
}

/* .p-datatable  tr > td{
  font-weight: 500 !important;
  font-size: 16px !important;
} */
/* .p-datatable .p-datatable-thead > tr > td {
  text-align: left;
  padding: 1rem 1rem;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  font-weight: 700;
  color: #343a40;
  background: #f8f9fa;
  transition: box-shadow 0.2s;
} */
.p-datatable .p-datatable-thead,
.table thead {
  border: none !important;
  background: #ebe9e9 !important;
  color: #000 !important;
  transition: box-shadow 0.2s;
}

body .dark-mode .p-datatable thead,
body .dark-mode table thead {
  border: none !important;
  background-color: #606786 !important;
  color: #000 !important;
  transition: box-shadow 0.2s;
}

.p-datatable .p-sortable-column.p-highlight {
  color: #1d4ed8 !important;
}

body .dark-mode .p-datatable .p-sortable-column.p-highlight {
  color: #fff !important;
}

body .dark-mode .dropdown ul li {
  padding: 5px;
  margin: 0;
  color: #fff;
  border-bottom: 1px solid #9e9e9ebd;
  transition: all 0.2s ease-in-out;
}

body .dark-mode .dropdown-list ul li:hover,
body .dark-mode .dropdown-list ul li:hover > div {
  background: var(--select-color-dark) !important;
}

/* /////////////// dropdown button //////////////// */
/* /////////////// start basic table //////////////// */

.basic-table thead {
  border: none !important;
  background: #ebe9e9 !important;
  color: #000 !important;
  transition: box-shadow 0.2s;
}

.basic-table thead th {
  text-align: center !important;
  transition: box-shadow 0.2s;
  vertical-align: middle;
  border: 1px solid #ebe9e9 !important;
  padding: 1rem 1rem;
  font-weight: 700;
}

.basic-table tbody td {
  text-align: center !important;
  border-color: #ebe9e9 !important;
  text-align: left;
  border: 1px solid #dee2e6;
  border-width: 0 0 1px 0;
  padding: 1rem 1rem;
}

.ar .example-element-description {
  text-align: right !important;
}

/* /////////////// end basic table //////////////// */
/* Boring button styles */
a.button {
  /* background-image: linear-gradient(to right, #101116, #007BFF); */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  margin: auto;
  background: #007bff;
  margin-bottom: 10px !important;
}

a.button:hover {
  background: #0270e5;
}

body .dark-mode a.button {
  background-image: linear-gradient(to right, #101116, #8c97c4);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
  margin: auto;
  margin-bottom: 10px !important;
}

body .dark-mode a.button:hover {
  background: #8c97c4;
}

a.button:active {
  filter: brightness(75%);
}

/* Dropdown styles */
.dropdown {
  /* padding: 0; */
  border: none;
  margin-bottom: 5px !important;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
  display: inline-block;
  margin-bottom: 1px;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus a.button {
  border: 2px solid white;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  padding: 5px 0;
  width: 10vw !important;
  box-sizing: border-box;
  z-index: 2;
  background: #007bff !important;
  color: #fff !important;
  border-radius: 6px;
  border: none !important;
  list-style: none;
  position: absolute;
}

body .dark-mode .dropdown ul {
  padding: 5px 0;
  width: 10vw !important;
  box-sizing: border-box;
  z-index: 2;
  background: #606786 !important;
  color: #fff !important;
  border-radius: 6px;
  border: none !important;
  list-style: none;
  position: absolute;
}

.dropdown ul li {
  padding: 1px;
  margin: 0;
  color: #fff;
  border-bottom: 1px solid #9e9e9e4f;
  transition: all 0.2s ease-in-out !important;
}

.dropdown ul li:hover {
  padding-right: 15px !important;
}

.dropdown ul li button {
  background: transparent !important;
  border: none;
  color: #fff !important;
}

.dropdown ul li button span {
  background: transparent;
  border: none;
  color: #fff !important;
}

.dropdown ul li a:link,
.dropdown ul li a:visited {
  display: inline-block;
  padding: 10px 0.8rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--dropdown-color);
  text-decoration: none;
}

/* .dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
  color: var(--dropdown-background);
} */

/* Close the dropdown with outside clicks */
.dropdown > summary::before {
  display: none;
}

/* .dropdown[open] > summary::before {
    content: ' ';
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
} */
.button-detals {
  background-image: linear-gradient(to right, #101116, #007bff);
  padding: 3px 6px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
  margin: auto;
}

body .dark-mode .button-detals {
  background-image: linear-gradient(to right, #101116, #8c97c4);
  padding: 3px 6px;
  border-radius: 5px;
  /* font-size: 20px; */
  color: #fff;
  cursor: pointer;
  transition: all 1s ease-in-out;
  margin: auto;
}

/* //////////////design button */
.edit {
  background: blue !important;
  border-radius: 10px;
  border: none;
  color: #fff;
  /* margin: 3px auto; */
}

.edit:hover {
  color: blue !important;
  background: #fff !important;
}

.delet {
  background: red !important;
  border-radius: 10px;
  border: none;
  color: #fff;
  /* margin: 3px auto; */
}

.delet:hover {
  color: red !important;
  background: #fff !important;
}

body .dark-mode .bg-dark-mode {
  width: 98% !important;
  height: 100%;
  margin: 20px auto;
  box-shadow: rgba(230, 230, 230, 0.35) 0px 0px 0px 2px,
    rgba(230, 230, 230, 0.35) 0px 4px 6px -1px,
    rgba(230, 230, 230, 0.35) 0px 1px 0px inset !important;
}

/* .bg-dark-mode{
  margin: 200px auto;
} */
.button-export {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: #0875e210 !important;
  padding: 8px;
  border-radius: 5px;
  font-size: 28px;
  margin-right: 2px;
}

.button-export:hover {
  background: #0875e23d !important;
}

body .dark-mode .button-export {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background: #c8c8c910 !important;
  padding: 8px;
  border-radius: 5px;
  font-size: 28px;
  margin-right: 2px;
}

.btn {
  cursor: pointer !important;
}

body .dark-mode .button-export:hover {
  background: #efeff04f !important;
}

body .dark-mode .event-button-des,
body .dark-mode .add-event-button-des,
body .dark-mode .btn-light-color,
body .dark-mode .chang-color-drop {
  color: var(--light-color) !important;
}

.save-button-des {
  background: #007bff !important;
  color: var(--light-color);
}

body .dark-mode .add-event-button-des {
  border: 1px solid #007bff;
}

.chang-color-drop {
  color: var(--dark-color) !important;
}

body .dark-mode .moreDetals-ar:hover {
  color: rgb(75, 75, 255) !important;
  font-size: 13px;
}

body .dark-mode .moreDetals-ar {
  margin: auto;
  position: relative;
  right: 37.6%;
  font-size: 12px;
  display: flex;
  float: left !important;
  margin-top: 5.9%;
  margin-bottom: 1%;
  cursor: pointer;
  color: #007bff !important;
}

body .dark-mode .moreDetals-en {
  margin: auto;
  position: relative;
  left: 37.6%;
  font-size: 12px;
  display: flex;
  float: right !important;
  margin-top: 5.9%;
  margin-bottom: 1%;
  cursor: pointer;
  color: #007bff !important;
}

body .dark-mode .moreDetals-en:hover {
  color: rgb(75, 75, 255) !important;
  font-size: 13px;
}

body .dark-mode .button-export:hover {
  background: #efeff04f !important;
}

body .dark-mode .colorWait {
  color: #fff !important;
}

.spaceLable {
  margin-bottom: 10px !important;
}

.feverMaxTemptyle {
  margin-top: 23px;
}

body .dark-mode .mess-color {
  color: rgb(182, 64, 64) !important;
}

body .dark-mode .modal-header .btn-close {
  padding: calc(var(--bs-modal-header-padding-y) * 0.5)
    calc(var(--bs-modal-header-padding-x) * 0.5);
  margin: 0 !important;
  background-color: #007bff !important;
}

body .dark-mode .modal-content {
  border: solid !important;
  border-radius: 18px !important;
}

body .dark-mode .modal-footer button {
  background: #efeff04f !important;
}

body .dark-mode .modal-header .modal-title {
  font-size: 20px;
  font-weight: BOLD;
}

.main-container.nav-collapsed #rightNav .menu-text {
  display: none;
}

body .dark-mode .opast {
  background: #0000004f !important;
}

body .dark-mode .bord-round {
  border-radius: 15px !important;
}

.cDate {
  color: #000 !important;
}

.mw-xc {
  min-width: max-content !important;
}

.mh-xc {
  min-height: max-content !important;
}

a[routerLink] {
  cursor: pointer !important;
}

body .dark-mode .btn-clin {
  background: var(--dark-color) !important;
  color: var(--light-color) !important;
}

.chart-condense .c3-axis-x .tick text {
  transform: translateY(16px) !important;
}

.chart-condense .c3-axis-x .tick text {
  font-size: 13px;
  transform: translateX(2px) translateY(16px) rotate(66deg) !important;
}

.chart-straight .c3-axis-x .tick text {
  font-size: 15px;
  transform: rotate(0deg) translateY(16px) !important;
}

a {
  cursor: pointer !important;
}

/* dark mode radio button */

body .dark-mode .radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #606786 !important;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0;
  width: 300px;
  font-size: 14px;
}

body .dark-mode .radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

body .dark-mode .radio-inputs .radio input {
  display: none;
}

body .dark-mode .radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.25rem 0;
  /* color: rgba(51, 65, 85, 1); */
  color: #fff;
  transition: all 0.15s ease-in-out;
}

body .dark-mode .radio-inputs .radio input:checked + .name {
  background-color: #fff;
  color: rgba(51, 65, 85, 1) !important;
  font-weight: 600;
}

body .dark-mode .burger {
  background: #ffffff60 !important;
}

body .dark-mode .burger span {
  background: #fff !important;
}

/* .form-title{
  background-color: white !important; 
  color: rgb(67, 67, 67) !important;
} */

.titles {
  font-size: 28px !important;
}

.text-warning {
  --bs-text-opacity: 1;
  color: rgb(153 116 6) !important;
}

@media screen and (max-width: 480px) and (min-width: 341px) {
  .small-screen-card {
    width: 85% !important;
  }

  .small-screen-nav-codes {
    display: inline-block !important;
  }

  .larg-screen-nav-codes {
    display: none;
  }

  .small-screen-nav-codes a {
    background: none !important;
    color: var(--burger-color) !important;
    border: none !important;
  }

  body .dark-mode .small-screen-nav-codes a {
    background: none !important;
    color: #fff !important;
    border: none !important;
  }

  .table > div,
  p-table > div {
    overflow-x: auto !important;
  }

  .table-none-scroll {
    width: 82vw !important;
  }

  .table-none-scroll-report {
    width: 78vw !important;
  }

  .btn-block-small {
    display: block;
    text-align: start;
    margin: 5px;
    float: none !important;
    border: 1px solid #007bff !important;
  }

  .dropdown ul {
    width: 30vw !important;
  }

  body .dark-mode .dropdown ul {
    width: 30vw !important;
  }

  .helpMargin {
    margin-bottom: 20px !important;
  }

  .modal {
    overflow-y: auto !important;
  }

  .svg-scroll {
    width: 70vw;
    margin: auto;
    overflow-x: auto !important;
    direction: ltr;
  }

  .svg-scroll-div {
    max-width: 93%;
    overflow-x: auto !important;
  }

  .svg-scroll-div svg {
    min-width: 65vw !important;
    direction: rtl;
  }

  .small-modal {
    position: fixed;
    left: 0 !important;
  }

  .modal-content-width {
    width: 95% !important;
    margin: auto !important;
  }

  .m-top-div {
    margin-top: 20px !important;
  }

  .notifica-card {
    width: 100% !important;
  }

  .chatbody {
    width: 98% !important;
  }

  .sentmessage,
  .receviedmessage {
    width: 85% !important;
    padding: 2px !important;
  }

  .receviedmessage p,
  .sentmessage p {
    margin: 0 !important;
  }
}

@media screen and (max-width: 769px) and (min-width: 481px) {
  /* .card {
    width: 95% !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 1px !important;
    overflow: auto !important;
  } */

  .small-screen-card {
    width: 85% !important;
  }

  .small-screen-nav-codes {
    display: inline-block !important;
  }

  .larg-screen-nav-codes {
    display: none;
  }

  .small-screen-nav-codes a {
    background: none !important;
    color: var(--burger-color) !important;
    border: none !important;
  }

  body .dark-mode .small-screen-nav-codes a {
    background: none !important;
    color: #fff !important;
    border: none !important;
  }

  .table > div,
  p-table > div {
    overflow-x: auto !important;
  }

  .table-none-scroll {
    width: 90vw !important;
  }

  .table-none-scroll-report {
    width: 78vw !important;
  }

  .btn-block-small {
    display: block;
    text-align: start;
    margin: 5px;
    float: none !important;
    border: 1px solid #007bff !important;
  }

  .dropdown ul {
    width: 30vw !important;
  }

  body .dark-mode .dropdown ul {
    width: 30vw !important;
  }

  .helpMargin {
    margin-bottom: 20px !important;
  }

  .modal {
    overflow-y: auto !important;
  }

  .svg-scroll {
    width: 70vw;
    margin: auto;
    overflow-x: auto !important;
    direction: ltr;
  }

  .svg-scroll-div {
    max-width: 93%;
    overflow-x: auto !important;
  }

  .svg-scroll-div svg {
    min-width: 65vw !important;
    direction: rtl;
  }

  .small-modal {
    position: fixed;
    left: 0 !important;
  }

  .modal-content-width {
    width: 95% !important;
    margin: auto !important;
  }

  .m-top-div {
    margin-top: 20px !important;
  }

  .notifica-card {
    width: 100% !important;
  }

  .chatbody {
    width: 98%;
  }

  .sentmessage,
  .receviedmessage {
    width: 85%;
    padding: 2px;
  }

  .receviedmessage p,
  .sentmessage p {
    margin: 0 !important;
  }
}

.p-paginator {
  pointer-events: painted;
}

h2.titles {
  color: #04160e;
  font-size: 21px !important;
  font-weight: bold;
}

body .dark-mode rect {
  fill: lightslategray;
}

ul::-webkit-scrollbar,
section::-webkit-scrollbar,
div::-webkit-scrollbar {
  height: 1.5ex;
  width: 5px;
  -webkit-border-radius: 0;
  /*background: #e7e7e7;*/
  background: rgba(231, 231, 231, 0.85);
}

ul::-webkit-scrollbar-thumb,
section::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
  border-left: 1px solid #999999;
  border-top: 1px solid #999999;
  background: #999999;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  margin: 0;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
  text-align: center;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  line-height: normal !important;
  height: 100% !important;
}

.dropdown-list .filter-textbox {
  padding: 10px !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:before {
  border: 1px solid #ced4da !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  width: 6px !important;
}

.multiselect-item-checkbox:hover {
  background-color: #f1f1f1 !important;
}

.p-inputtext {
  padding: 0.5rem 0.75rem;
}

.p-dropdown-item {
  font-size: 14px;
}

.accordion-button::after {
  margin-left: auto;
  margin-right: unset;
}

[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
  direction: ltr;
}

.p-paginator .p-dropdown {
  height: 2.5rem;
}

.p-paginator .p-paginator-current {
  font-size: 15px;
}

.add-img-wrapper {
  max-width: 130px;
}

.add-img-wrapper img {
  cursor: pointer;
  border-radius: 8px;
}

.p-sidebar .p-sidebar-header {
  padding: 0.6rem 1rem;
}

.p-sidebar-header {
  background-color: #f6f6f6;
}

.p-sidebar .p-sidebar-content {
  padding: 1rem;
  margin-top: 1rem;
}

.p-button {
  padding: 0.5rem 1.25rem;
  font-size: 0.8rem;
}

.toast-container {
  z-index: 9999;
}

/********* Arabic version *****/
.ar .p-dropdown-panel .p-dropdown-header .p-dropdown-filter-icon {
  right: auto;
  left: 1rem;
}

.ar .multiselect-dropdown .dropdown-btn {
  direction: rtl;
  text-align: right !important;
}

.ar .multiselect-dropdown .dropdown-btn .selected-item-container {
  float: right !important;
}

.ar .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  left: 1px;
  right: unset !important;
}

.ar .multiselect-item-checkbox input[type="checkbox"] + div {
  padding-right: 2rem !important;
}

.ar .multiselect-item-checkbox input[type="checkbox"] + div:before {
  right: 0 !important;
  left: unset !important;
}

.ar .multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
  right: 0 !important;
  left: unset !important;
}

.ar .multiselect-item-checkbox input[type="checkbox"] + div:after {
  right: 4px !important;
  left: unset !important;
}

.ar .p-inputtext {
  font-family: "Cairo";
  font-size: 14px;
}

.ar .accordion-button::after {
  margin-right: auto;
  margin-left: unset;
}

.ar [type="email"],
.ar [type="number"],
.ar [type="tel"],
.ar [type="url"] {
  direction: rtl;
}

.ar .p-sidebar-icon {
  margin-right: auto;
  margin-left: unset;
}

/*Reports and PDF*/

.ar #tableChart table thead > tr > th {
  text-align: right !important;
}

#tableChart table thead > tr > th {
  text-align: left !important;
}

.ar #tableChart table td {
  text-align: right !important;
}

#tableChart table td {
  text-align: left !important;
}

.ar#pdfTables table thead > tr > th {
  text-align: right !important;
}

#pdfTables table thead > tr > th {
  text-align: left !important;
}

.ar#pdfTables table td {
  text-align: right !important;
}

#pdfTables table td {
  text-align: left !important;
}

.ar#pdfTables {
  direction: rtl;
  text-align: right !important;
}

#pdfTables .transparent-bg {
  background-color: transparent !important;
}

#pdfTables table thead.transparent-bg tr th.text-center {
  text-align: center !important;
}

@media print {
  .hide-print {
    display: none;
  }

  #pdfTable {
    display: block !important;
    margin: auto !important;
  }

  app-sidebar,
  nav {
    display: none;
  }

  .rout-layout {
    overflow-x: visible !important;
    overflow-y: visible !important;
  }

  .table_report {
    overflow-x: initial !important;
  }
}

/*******dark mode*****/
body.theme_7 .dark-mode #rightNav ul a.active {
  background-color: #6c757d !important;
}

body.theme_7 .dark-mode #rightNav ul a:hover {
  color: #fff !important;
  background-color: #6c757d !important;
}

.dark-mode .top-nav {
  border-bottom: 1px solid #6c757d;
}

.dark-mode #rightNav #menuToggle {
  background-color: #222533;
  font-size: unset;
  padding-left: 0.5em;
}

/***** media query ******/
@media (min-width: 768px) {
  .p-sidebar {
    width: 25rem !important;
  }
}
