<form [formGroup]="leishmaniaForm" (ngSubmit)="save()">
  <!-- <div class="row">
    <div class="col-lg-6">
      <h2 class="titles">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">ليشمانيا
          </font>
        </font>
      </h2>
    </div>

  </div> -->
  <div class="row">
    <div class="col-12">
      <div class="card shadow mt-4 color mb-4">
        <div class="card-body">
          <h5 style="text-align: center; border: 1px solid; padding: 1%">
            {{'NOUR.word1' | translate }}

          </h5>
          <app-investigation-summary [patientName]="patientName" [allFilledControlsCount]="allFilledControlsCount"
            [allControllesCount]="allControllesCount">
          </app-investigation-summary>


          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Clinical_Data" | translate
                      }}</font>
                  </font>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">{{"NOUR.word9" | translate }}</font>
                      </font>
                    </label>
                    <input formControlName="numberUlcers" type="number" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()" />
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">{{"NOUR.word10" | translate }} </font>
                      </font>
                    </label>
                    <!-- <select name="" id="" class="form-control" (blur)="calculateCompletionPercentage()">
                      <option value="">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">moist</font>
                        </font>
                      </option>
                      <option value="">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">dry</font>
                        </font>
                      </option>
                    </select> -->
                    <select formControlName="ulcerType" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">رطبة</option>
                      <option value="2">جافة</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">{{"NOUR.word181" | translate }}</label>
                    <input formControlName="ulcerPlace" type="text" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()" />
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">{{"NOUR.word11" | translate }}</font>
                      </font>
                    </label>
                    <!-- <select name="" id="" class="form-control" (blur)="calculateCompletionPercentage()">
                      <option value="">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">grain</font>
                        </font>
                      </option>
                      <option value="">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">a scar</font>
                        </font>
                      </option>
                      <option value="">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">Water ulcer</font>
                        </font>
                      </option>
                      <option value="">
                        <font style="vertical-align: inherit;">
                          <font style="vertical-align: inherit;">purulent ulcer;</font>
                        </font>
                      </option>
                    </select> -->
                    <select formControlName="ulcerStage" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">حبة</option>
                      <option value="2">ندبة</option>
                      <option value="3">قرحة مائية</option>
                      <option value="4">قرحة صديدية</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- / .row -->
            </div>
            <!-- / .col-12 -->
          </div>
          <!-- / .row -->

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">{{"NOUR.word13" | translate }}</font>
                  </font>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">{{"NOUR.word12" | translate }}</font>
                      </font>
                    </label>
                    <select formControlName="leishmaniaTreatmentProtocolImplemented" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div id="treatmentForm" class="col-lg-6 border-right">
                  <p class="mt-4 mb-4">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit"> {{"NOUR.word14" | translate }}</font>
                    </font>
                  </p>
                  <!-- / .mt-4 mb-4 -->
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">{{"NOUR.word15" | translate }}</font>
                          </font>
                        </label>
                        <input formControlName="treatmentStartDate" type="date" (blur)="calculateCompletionPercentage()"
                          name="" id="" [class]="'form-control-'+ currentLang" placeholder="dd/mm/yyyy" />
                      </div>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">{{"NOUR.word16" | translate }}</font>
                          </font>
                        </label>
                        <input formControlName="typeTreatment" type="text" name="" id="" class="form-control"
                          (blur)="calculateCompletionPercentage()" />
                      </div>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit"> {{"NOUR.word17" | translate }}</font>
                          </font>
                        </label>
                        <input formControlName="numberSessions" type="text" name="" id="" class="form-control"
                          (blur)="calculateCompletionPercentage()" />
                      </div>
                    </div>
                    <!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label for="">
                          <font style="vertical-align: inherit">
                            <font style="vertical-align: inherit">{{"NOUR.word18" | translate }}</font>
                          </font>
                        </label>
                        <input formControlName="dose" type="text" name="" id="" class="form-control"
                          (blur)="calculateCompletionPercentage()" />
                      </div>
                    </div>
                    <!-- /.col-lg-6 -->
                  </div>
                  <!-- / .row -->
                </div>
              </div>
              <!-- / .row -->
            </div>
            <!-- / .col-12 -->
          </div>
          <!-- / .row -->

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">{{"NOUR.word19" | translate }}</font>
                  </font>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">{{"NOUR.word20" | translate }}</font>
                      </font>
                    </label>
                    <select formControlName="conditionAssessment" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit">{{"NOUR.word21" | translate }}</font>
                        </font>
                      </option>
                      <option value="2">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit">{{"NOUR.word22" | translate }}</font>
                        </font>
                      </option>
                      <option value="3">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit">{{"NOUR.word23" | translate }}</font>
                        </font>
                      </option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">{{"NOUR.word24" | translate }}</font>
                      </font>
                    </label>
                    <select formControlName="result" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit">{{"NOUR.word25" | translate }}</font>
                        </font>
                      </option>
                      <option value="2">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit"> {{"NOUR.word26" | translate }}</font>
                        </font>
                      </option>
                      <option value="3">
                        <font style="vertical-align: inherit">
                          <font style="vertical-align: inherit">{{"NOUR.word27" | translate }}</font>
                        </font>
                      </option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
              </div>
              <!-- / .row -->
            </div>
            <!-- / .col-12 -->
          </div>
          <!-- / .row -->

          <app-patient-visit-history [visits]="patientVisitHistory"
            (visitsChanged)="calculateCompletionPercentage()"></app-patient-visit-history>

          <div class="row color">
            <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
              <div class="row">
                <div class="col-12 title fs-6 fwb">
                  <font style="vertical-align: inherit">
                    <font style="vertical-align: inherit">
                      {{ "NEDSS.COMPLETE_INVESTEGATION.Risk_Factors" | translate }}
                    </font>
                  </font>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">
                          {{
                          "NEDSS.COMPLETE_INVESTEGATION.Chronic_Chest_Diseases" |
                          translate
                          }}
                        </font>
                      </font>
                    </label>
                    <select formControlName="chronicChestDiseases" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Chronic_Heart_Disease" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="chronicHeartDisease" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit">{{"NOUR.word37" | translate }}</font>
                      </font>
                    </label>
                    <select formControlName="highBloodPressure" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Excessive_Obesity" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="excessiveObesity" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.immune_disease" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="immuneDisease" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.HIV_NAME" | translate }}
                        </font>
                      </font>
                    </label>
                    <select formControlName="aids" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Pregnant_Women" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="pregnantWomen" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Pregnant_Women" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="diabetes" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Liver_Diseases" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="liverDiseases" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Liver_Diseases" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="kidneyDisease" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{
                          "NEDSS.COMPLETE_INVESTEGATION.Diseases_NervousMuscular_System" | translate }}</font>
                      </font>
                    </label>
                    <select formControlName="diseasesNervousMuscular" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Blood_Diseases" |
                          translate }}</font>
                      </font>
                    </label>
                    <select formControlName="bloodBiseases" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()">
                      <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                      <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                      <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                    </select>
                  </div>
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-12">
                  <div class="form-group">
                    <label for="">
                      <font style="vertical-align: inherit">
                        <font style="vertical-align: inherit"> {{ "NEDSS.COMPLETE_INVESTEGATION.Other_Remember" |
                          translate }}</font>
                      </font>
                    </label>
                    <input formControlName="other" type="text" name="" id="" class="form-control"
                      (blur)="calculateCompletionPercentage()" />
                  </div>
                </div>
                <!-- /.col-lg-12 -->
              </div>
              <!-- / .row -->
            </div>
            <!-- / .col-12 -->
          </div>

          <div class="col-12 card card-body bg-dark-mode rounded-2 mx-2 mb-4 card-alt">
            <div class="row">
              <div class="col-12 title fs-6 fwb">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">{{"NOUR.word38" | translate }}</font>
                </font>
              </div>

              <div class="col-lg-12 color-d-2 fwb mb-4">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">{{"NOUR.word39" | translate }}</font>
                </font>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">
                    <font style="vertical-align: inherit">
                      <font style="vertical-align: inherit">{{"NOUR.word40" | translate }}</font>
                    </font>
                  </label>
                  <select formControlName="routineMonitoring" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{"NOUR.word43" | translate }}</label>
                  <select formControlName="followUpContacts" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{"NOUR.word44" | translate }}</label>
                  <select formControlName="historyTravelOutsideEgypt" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="">{{"NOUR.word45" | translate }}</label>
                  <select formControlName="medicalTeam" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-12 mb-4">
                <div class="form-group">
                  <label for="">{{"NOUR.word46" | translate }}</label>
                  <select formControlName="placeConfirmedCases" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-12 mb-4 -->

              <div class="col-lg-12 color-d-2 fwb mb-4">{{"NOUR.word47" | translate }}</div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{"NOUR.word48" | translate }}</label>
                  <select formControlName="contactSuspectedCase" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{"NOUR.word49" | translate }}</label>
                  <select formControlName="epidemicOutbreak" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{"NOUR.word50" | translate }}</label>
                  <select formControlName="contactConfirmedCase" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()">
                    <option value="1">{{ "NEDSS.COMMON.YES" | translate }}</option>
                    <option value="2">{{ "NEDSS.COMMON.NO" | translate }}</option>
                    <option value="3">{{ "NEDSS.REPORTS.UnKnown" | translate }}</option>
                  </select>
                </div>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{"NOUR.word52" | translate }}</label>
                  <input formControlName="numberDirectContacts" type="number" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <div class="form-group">
                  <label for="">{{"NOUR.word53" | translate }} </label>
                  <input formControlName="numberNonDirectContacts" type="number" name="" id="" class="form-control"
                    (blur)="calculateCompletionPercentage()" />
                </div>
              </div>
              <!-- /.col-lg-4 -->
              <!-- /.col-lg-4 -->
            </div>
            <!-- / .row -->
          </div>

        </div>
        <div class="card-footer text-start">
          <button type="submit" class="btn bg rounded-2 text-light">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">{{ "NEDSS.HOME.USERS.AUDIT-TRIAL.SAVE" | translate}}</font>
            </font>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>