<partial-loading
  *ngIf="loadingPanel"
  height="175"
  width="175"
  color="#26a69a"
  left="50%"
  top="50%"
  pathColor="#000"
>
</partial-loading>
<div class="row mt-4 help-cards">
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="codes/dashBoardControlers" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_CODES" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="permissions" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_PERMISSIONS" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="disease-rules" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_DISEASE_RULES" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="audit-trial" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_SYSTEM_MONITORING" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="disease-symptoms" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{
              "NEDSS.HOME.CONTROL_PANEL.ITEM_ADD_SPECIAL_SYMPTOMS" | translate
            }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="disease-clinical-symptoms" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_DISEASE_CLINICAL_SYMPTOMS" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="dynamic-forms" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_DYNAMIC_FORMS" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="user-manual" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_HELP" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <!-- <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="selected-locations-questions" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{
            "NEDSS.HOME.CONTROL_PANEL.ITEM_SELECTED_LOCATIONS_Q" | translate
            }}
          </span>
        </a>
      </div>
    </div>
  </div> -->
  <!-- <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="change-colors" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_CHANGE_COLOR" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div> -->
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="evaluation-questions" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.ITEM_ADD_EVALUATION_Q" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="connected-users" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{
              "NEDSS.HOME.CONTROL_PANEL.ITEM_Display_Connected_Users"
                | translate
            }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="./users" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.SIDE_BAR.ITEM_USERS" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="system-settings" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{
              "NEDSS.HOME.CONTROL_PANEL.ITEM_NVESTIGTIONPERCENTAGE" | translate
            }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="Visit-new-review" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.Visit new review" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
    <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="period-of-cards" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.EDIT_PERIOD_OF_CARDS" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="data-fetch-days" class="">
          <span class="bi bi-boxes"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.DATA_FETCH_DAYS" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="charts-tab-visibility" class="">
          <span class="bi bi-bar-chart-line"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.CHARTS_TAB_VISIBILITY" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6">
    <div class="card">
      <div class="card-body">
        <a routerLink="password-expiry-days" class="">
          <span class="bi bi-shield-lock"></span>
          <span class="card__text">
            {{ "NEDSS.HOME.CONTROL_PANEL.PASSWORD_EXPIRY_DAYS" | translate }}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
