#rightNav #menuToggle .bi-ar {
  color: #fff !important;
  cursor: pointer;
  background-color: #222533 !important;
  float: right;
}

#rightNav #menuToggle .menu-text-ar {
  color: #fff !important;
  margin-right: 10px !important;
  float: right;
}
#rightNav #menuToggle .bi-en {
  color: #fff !important;
  cursor: pointer;
  background-color: #222533 !important;
  float: left;
}

#rightNav #menuToggle .menu-text-en {
  color: #fff !important;
  margin-right: 10px !important;
  float: left;
}
