<h2 class="titles">{{ "NEDSS.SEARCH.SEARCH" | translate }}</h2>
<div class="row">
  <div class="pb-1">
    <div class="col-12 col-md-6 sub-nav rounded list-group d-flex flex-wrap">
      <div>
        <a
          routerLink="./fast-search"
          class="list-group-item active"
          routerLinkActive="active"
        >
          {{ "NEDSS.SEARCH.SEARCH" | translate }}
        </a>
      </div>
      <div>
        <a
          routerLink="./advanced-search/general-report"
          class="list-group-item"
          routerLinkActive="active"
        >
          {{ "NEDSS.SEARCH.ADVANCED_SEARCH" | translate }}
        </a>
      </div>

      <!-- <a routerLink="./fast-search" class="list-group-item active" routerLinkActive="active">نموذج الإبلاغ العام</a>
                        <a routerLink="./advanced-search" class="list-group-item " routerLinkActive="active">البيانات الديموجرافية</a>
                        <a class="list-group-item" routerLink="place-of-residence" routerLinkActive="active">محل الإقامة</a> -->
    </div>
  </div>
  <div class="col-12 col-lg-12 color-d-2">
    <router-outlet></router-outlet>
  </div>

  <!-- <button class="btn searchbtn btn-info"> Search </button> -->
</div>
