.searchbtn {
  width: 6rem;
  margin: auto;
  margin-top: 3em;
  color: white;
  border: 1px solid #1094c9;
  box-shadow: 0px 0px 5px 2px gray;
  position: relative;
  background-color: #11b2f0;
  align-self: center;
  transition: all .3s;
}

.searchbtn:hover {

  color: #1094c9;
  border: 1px solid #1094c9;
  background-color: #ffffff;

}

.rounded {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
